Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

refactor: refactor for t
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
Due: web, web-beta

refactor: add description to range types and remove redundant code
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
Due: web, web-beta

feat(web): plugin playground presets - create timeline playback control (#1421)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
Due: web, web-beta

fix: attempt to fix golang lint file error
  server/.golangci.yml
Due: server

fix: update import path for goimports
  server/.golangci.yml
Due: server

fix(server): attempt to fix golang lint file error (#1431)
  server/.golangci.yml
Due: server

refactoring id project and workspace
  server/internal/infrastructure/memory/project.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/id.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/scene.go
Due: server

remove comment
  server/pkg/project/id.go
  server/pkg/scene/id.go
Due: server

remove comment
  server/pkg/dataset/id.go
  server/pkg/layer/id.go
  server/pkg/nlslayer/id.go
  server/pkg/plugin/id.go
  server/pkg/project/id.go
  server/pkg/property/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
  server/pkg/tag/id.go
Due: server

remove comment
  server/pkg/nlslayer/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
  server/pkg/storytelling/page.go
  server/pkg/storytelling/page_bulider.go
  server/pkg/storytelling/page_bulider_test.go
  server/pkg/storytelling/page_test.go
Due: server

remove comment
  server/pkg/layer/id.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_collection.go
  server/pkg/nlslayer/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
Due: server

refactor(web): support import plugin with zip file instead of single js file in plugin playground (#1420)
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

scene.IDList
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/dataset.go
  server/internal/infrastructure/mongo/mongodoc/dataset_schema.go
  server/internal/infrastructure/mongo/mongodoc/layer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/property.go
  server/internal/infrastructure/mongo/mongodoc/property_schema.go
  server/internal/infrastructure/mongo/mongodoc/style.go
  server/internal/infrastructure/mongo/mongodoc/tag.go
  server/internal/infrastructure/mongo/mongodoc/tag_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/container_test.go
  server/pkg/scene/id.go
Due: server

accountdomain.WorkspaceIDList
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container_test.go
Due: server

reviwe fix
  server/pkg/asset/id.go
Due: server

remove comment
  server/pkg/layer/id.go
  server/pkg/nlslayer/id.go
  server/pkg/plugin/id.go
  server/pkg/property/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
Due: server

Style Initialize
  server/internal/usecase/interactor/style.go
  server/pkg/scene/sceneops/style_initializer.go
Due: server

LayerSimple Initialize
  server/internal/usecase/interactor/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
Due: server

review fix
  server/internal/usecase/interactor/style.go
Due: server

fix DeepCopy gen error
  server/pkg/property/initializer_gen.go
Due: none

remove commnet
  server/pkg/layer/id.go
Due: server

update submit logic
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(server): removed unnecessary initializer (#1432)
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/style.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/scene/sceneops/style_initializer.go
Due: server

feat: add permission for role
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/UpdateRoleModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
Due: web, web-beta

chore: update core version
  web/package.json
  web/yarn.lock
Due: web

chore: update yarn.lock
  web/yarn.lock
Due: web

chore: update yarn version to 4.6.0
  web/package.json
Due: web

refactor(web): update type on plugin api spatial id (#1422)
  web/package.json
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/spatialId.ts
  web/yarn.lock
Due: web, web-beta

wip: basic structure of photo overlay
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/PhotoOverlayCollapse.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/PhotoOverlayEditor/index.tsx
  web/src/beta/features/Editor/Map/index.tsx
  web/src/beta/features/Editor/Map/state.ts
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/index.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/lib/reearth-ui/components/Panel/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/fields/RadioGroupField.tsx
  web/src/beta/ui/fields/index.ts
  web/src/beta/ui/layout/Area/index.tsx
  web/src/beta/utils/sketch.ts
  web/src/services/theme/reearthTheme/common/zIndex.ts
Due: web, web-beta, web-utils

refactor(web): sketch layer and the custom properties (#1414)
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldItem.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/LayersPanel/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/General/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/type.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/hooks.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Float.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LinkSimpleHorizontal.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/NumberNine.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ToggleLeft.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/ui/components/ConfirmModal/index.tsx
  web/src/services/api/layersApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/layer.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Update package.json
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.3.3 (#1433)
  web/package.json
Due: web

v1.0.0-beta.3.3
  CHANGELOG.md
Due: none

feat: add example file
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableTerrain.ts
Due: web, web-beta
