Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

remove console logs
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/infobox/hooks.ts
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/infobox/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web, web-beta

chore(web): keep selecting id which is same even if the feature is updated
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/hooks/index.ts
  web/src/beta/lib/core/hooks/useRefValue.ts
Due: web, web-beta

update test
  server/e2e/gql_nlslayer_test.go
Due: none

update manifests
  server/e2e/gql_nlslayer_test.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

fix array of objects not being returned in gql request
  server/internal/adapter/gql/gqlmodel/convert_value.go
Due: server

chore(web): add layer select with drag event
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks/useLayerSelectWithDrag.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/utils/mouse.ts
Due: web, web-beta

fix
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks/useLayerSelectWithRect.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

chore(web): add layer select with drag event (#932)
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks/useLayerSelectWithRect.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/utils/mouse.ts
Due: web, web-beta

fix web and refactor server for ga
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-classic, web-beta, server

server lint
  server/pkg/project/builder_test.go
Due: none

update web translations
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web, server): support google analytics for beta (#925)
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/PublishedVisualizer/googleAnalytics/useGA.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-classic, web-beta, server

chore: ga config from data
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
Due: web, web-beta

support ga in published scene json
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
Due: server

Revert "support ga in published scene json"
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
Due: server

feat(server): support ga in published scene json
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
Due: server

yarn gql
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-classic, web-beta

remove sceneId from project for now
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/mongodoc/project.go
Due: server

remove ga from story publishing for now
  server/internal/usecase/interactor/storytelling.go
Due: server

fix e2e
  server/e2e/gql_storytelling_test.go
Due: none

chore(web, server): fix ga on published page (#933)
  server/e2e/gql_storytelling_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-classic, web-beta, server

Revert "fix(web): mvt with worker (#928)"
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/yarn.lock
Due: web, web-beta

Revert "fix(web): mvt with worker" (#934)
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/yarn.lock
Due: web, web-beta

pkg
  server/pkg/id/id.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_collection.go
  server/pkg/nlslayer/geometry.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/sketch_info.go
Due: server

fix newlayer.graphql
  server/gql/newlayer.graphql
Due: server

fix mongodoc
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
Due: server

init commmit
  server/gql/featureCollection.graphql
  server/gql/newlayer.graphql
Due: server

pkg
  server/pkg/nlslayer/sketch_info.go
Due: server

usecase interface
  server/internal/usecase/interfaces/nlslayer.go
Due: server

fix mutationResolver
  server/internal/adapter/gql/resolver_mutation_featureCollection.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
Due: server

gql converter
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
Due: server

mutationResolver
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
Due: server

make gql
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: none

fix pkg
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_collection.go
  server/pkg/nlslayer/sketch_info.go
Due: server

fix usecase
  server/internal/usecase/interactor/nlslayer.go
Due: server

mutationResolver AddGeoJSONFeature
  server/gql/featureCollection.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_featureCollection.go
Due: server

fix pkg
  server/pkg/nlslayer/feature_collection.go
Due: server

mutationResolver
  server/internal/adapter/gql/resolver_mutation_featureCollection.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
