Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(server): project sort with reverting options (#1089)
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/project.go
Due: server

invoke EnforceNLSLayersCount
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/repo/nlslayer.go
Due: server

chore(web): show only viz assets
  web/src/services/api/assetsApi.ts
Due: web, web-beta

chore(server, web): filter out classic asset from visualizer
  server/internal/infrastructure/mongo/asset.go
  web/src/services/api/assetsApi.ts
Due: web, web-beta, server

chore(server, web): filter out classic asset from visualizer (#1095)
  server/internal/infrastructure/mongo/asset.go
  web/src/services/api/assetsApi.ts
Due: web, web-beta, server

refactor link button
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Content.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/constants.ts
Due: web, web-beta

fix translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(server, web): add sort direction to project sort
  server/e2e/gql_project_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/project.go
  server/pkg/project/sort_type.go
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta, server

lint
  server/internal/infrastructure/mongo/project.go
  server/pkg/project/sort_type.go
Due: server

chore(server, web): add sort direction to project sort (#1097)
  server/e2e/gql_project_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/project.go
  server/pkg/project/sort_type.go
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta, server

fix button click and icon
  web/src/beta/components/Icon/Icons/linkStoryBlockButton.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Camera/Content.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Content.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
Due: web, web-beta

add NLSLayer dbCountByScene method
  server/internal/infrastructure/memory/nlslayer.go
  server/internal/infrastructure/mongo/nlslayer.go
Due: server

chore(server): upgrade reearthx version
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/project.go
Due: server

chore(server): upgrade reearthx version (#1098)
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/project.go
Due: server

refactor: sort for projects
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/provider/index.tsx
Due: web, web-beta

refactor: update i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor(web): sort for projects (#1099)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(server): add sort direction to assets
  server/e2e/gql_project_test.go
  server/go.sum
  server/gql/_shared.graphql
  server/gql/asset.graphql
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/asset.go
  server/pkg/asset/sort_type.go
  server/pkg/asset/sort_type_test.go
Due: server

lint
  server/internal/adapter/gql/resolver_query.go
  server/pkg/asset/sort_type.go
Due: server

feat(server): add sort direction to assets (#1100)
  server/e2e/gql_project_test.go
  server/go.sum
  server/gql/_shared.graphql
  server/gql/asset.graphql
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/asset.go
  server/pkg/asset/sort_type.go
  server/pkg/asset/sort_type_test.go
Due: server

chore(web): update package.json ver
  web/package.json
Due: web

fix: sort
  web/src/beta/features/Assets/hooks.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/asset.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

refactor(web): update sort for projects and assets (#1101)
  web/src/beta/features/Assets/hooks.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/asset.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

fix: test
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/UI/index.test.tsx
Due: none

refactor(web): link block (#1096)
  web/src/beta/components/Icon/Icons/linkStoryBlockButton.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Content.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/constants.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/UI/index.test.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: several fix around sketch feature
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/features/Visualizer/Crust/Infobox/hooks.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
Due: web, web-beta

refactor: remove project cache after delete project
  web/src/services/api/projectApi.ts
Due: web, web-beta

fix: disable link when id undefined
  web/src/beta/features/Navbar/LeftSection/index.tsx
Due: web, web-beta

fix(web): disable link when id undefined (#1104)
  web/src/beta/features/Navbar/LeftSection/index.tsx
Due: web, web-beta

chore: upgrade core
  web/package.json
  web/yarn.lock
Due: web

feat: delete sketch feature
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/services/api/featureCollectionApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/featureCollection.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): support delete sketch feature (#1105)
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/services/api/featureCollectionApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/featureCollection.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore: upgrade vite plugin cesium
  web/package.json
  web/vite.config.ts
  web/yarn.lock
Due: web

fix camera duration
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
  web/src/beta/ui/fields/CamersField/index.tsx
Due: web, web-beta

refactor(web): evict project cache after delete project (#1103)
  web/src/services/api/projectApi.ts
Due: web, web-beta

refactor: add try catch
  web/vite.config.ts
Due: web

refactor: clean up
  web/vite.config.ts
Due: web

improve fields
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
Due: web, web-beta

chore(web): upgrade vite plugin cesium (#1106)
  web/package.json
  web/vite.config.ts
  web/yarn.lock
Due: web
