Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

removed file
  web/src/beta/features/Editor/Story/TempContentStory/Action/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/Action/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/PageItemWrapper/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/PageItemWrapper/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/features/Modals/LayerStyleModal/hooks.ts
  web/src/beta/features/Modals/LayerStyleModal/index.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
Due: web, web-beta

fix translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

remove pointerEvent
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
Due: web, web-beta

fix(web): support content input scroll (#1122)
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
Due: web, web-beta

feat(server): Add new policy enforcement for visualizer (#1094)
  server/Makefile
  server/gql/workspace.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/memory/nlslayer.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/config.go
  server/internal/infrastructure/mongo/mongodoc/policy.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/nlslayer.go
  server/pkg/config/config.go
  server/pkg/policy/policy.go
  server/pkg/policy/policy_test.go
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

Update package.json version
  web/package.json
Due: web

chore(web): update package.json version (#1123)
  web/package.json
Due: web

update dependencies
  web/package.json
  web/yarn.lock
Due: web

fix type error
  web/package.json
  web/src/beta/components/Flex/index.stories.tsx
  web/src/beta/components/FloatedPanel/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/yarn.lock
Due: web, web-beta

re-do web stream package
  web/package.json
  web/yarn.lock
Due: web

fix: refactor typos with text copy
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix render project
  web/package.json
  web/src/services/gql/provider/index.tsx
  web/yarn.lock
Due: web, web-beta

fix type
  web/src/services/gql/provider/index.tsx
Due: web, web-beta

fix bugs
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/index.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): upgrade dependencies (#1124)
  web/package.json
  web/src/beta/components/Flex/index.stories.tsx
  web/src/beta/components/FloatedPanel/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/services/gql/provider/index.tsx
  web/yarn.lock
Due: web, web-beta

update the warning
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/type.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update the warning
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
Due: web, web-beta

trim leading and tailing space
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/CustomPropertyItem.tsx
Due: web, web-beta

fix trim
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
Due: web, web-beta

feat: add extension
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
Due: web, web-beta

refactor: update translations
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): support custom domain function (#1130)
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: leading and trailling space shows up again when edit, format code
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
Due: web, web-beta

fix: rename and refactor for publish status func
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
Due: web, web-beta

publish project based on status
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/storytellingApi/utils.ts
Due: web, web-beta

fix(web): custom sketch property name (#1126)
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/type.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/index.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: simplify & rename
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
Due: web, web-beta

fix(web): publish status (#1129)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/storytellingApi/utils.ts
Due: web, web-beta

Update package.json
  web/package.json
Due: web

chore(web): Update version to 1.0.0-alpha.4 (#1131)
  web/package.json
Due: web

chore: downgrade to 0.24
  web/package.json
  web/yarn.lock
Due: web

chore(web): downgrade quickjs-emscripten to v0.24.0 (#1132)
  web/package.json
  web/yarn.lock
Due: web

feat: add textarea field
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
Due: web, web-beta

feat(web): add textarea field in property field (#1133)
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
Due: web, web-beta

feat: make infobox of plugin layer functional
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
Due: web, web-beta

refactor: check data layer first
  web/src/beta/features/Visualizer/Crust/index.tsx
Due: web, web-beta

feat(web): support infobox for plugin layer (#1134)
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
Due: web, web-beta

feat(server, web): mock auth server for local
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/config.go
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/mockAuth.ts
  web/src/services/config/authInfo.ts
Due: web, web-beta, server
