Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

ci(server): remove condition for ci-server-test on ci_server.yml
  .github/workflows/ci_server.yml
Due: none

chore: revert CHANGELOG.md to same as main
  CHANGELOG.md
Due: none

v0.18.0
  CHANGELOG.md
Due: none

fix: import builtin plugin from external url
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/unsafeBlocks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/unsafeWidgets.ts
  web/src/beta/lib/unsafeBuiltinPlugins/.gitignore
  web/src/beta/lib/unsafeBuiltinPlugins/index.ts
  web/src/beta/lib/unsafeBuiltinPlugins/load.ts
  web/src/beta/lib/unsafeBuiltinPlugins/types.ts
  web/src/services/config/index.ts
  web/src/services/config/unsafeBuiltinPlugin.ts
Due: web, web-beta

chore: upgrade resium/cesium/storybook/vite
  web/.storybook/main.ts
  web/.storybook/preview-head.html
  web/.storybook/preview.tsx
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/Tileset/index.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Globe.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/presets.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/classic/core/engines/Cesium/core/Globe.tsx
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
  web/src/classic/core/engines/Cesium/core/presets.ts
  web/src/classic/core/engines/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/utils.ts
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
  web/yarn.lock
Due: web, web-classic, web-beta

fix storybooks
  web/src/beta/features/Editor/tabs/story/PageIndicator/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentPage/index.stories.tsx
Due: none

readd deps needed for classic gql
  web/package.json
  web/yarn.lock
Due: web

fix classic gql's codegen config
  web/codegen.ts
Due: web

update storytelling queries/generated files
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
  web/src/services/gql/fragments/storyPage.ts
  web/src/services/gql/queries/storytelling.ts
Due: web, web-beta

show installed story blocks
  web/src/beta/features/Editor/tabs/story/StoryPanel/Page/hooks.ts
  web/src/beta/features/Editor/tabs/story/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/tabs/story/StoryPanel/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/index.ts
Due: web, web-beta

fix page/block mutations
  web/src/beta/features/Editor/tabs/story/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/features/Editor/tabs/story/StoryPanel/Page/hooks.ts
  web/src/beta/features/Editor/tabs/story/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/tabs/story/StoryPanel/hooks.ts
  web/src/beta/features/Editor/tabs/story/StoryPanel/index.tsx
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/pages.ts
Due: web, web-beta

fix type error
  web/src/classic/util/value.ts
Due: web, web-classic

fix review
  web/src/beta/lib/unsafeBuiltinPlugins/README.md
  web/src/beta/lib/unsafeBuiltinPlugins/index.ts
  web/src/beta/lib/unsafeBuiltinPlugins/load.ts
  web/src/beta/lib/unsafeBuiltinPlugins/types.ts
  web/src/services/config/index.ts
  web/src/services/config/unsafeBuiltinPlugin.ts
Due: web, web-beta

fix(web): import builtin plugin from external url (#625)
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/unsafeBlocks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/unsafeWidgets.ts
  web/src/beta/lib/unsafeBuiltinPlugins/.gitignore
  web/src/beta/lib/unsafeBuiltinPlugins/README.md
  web/src/beta/lib/unsafeBuiltinPlugins/index.ts
  web/src/services/config/index.ts
  web/src/services/config/unsafeBuiltinPlugin.ts
Due: web, web-beta

fix block popover showing multiple
  web/src/beta/features/Editor/tabs/story/StoryPanel/Page/index.tsx
Due: web, web-beta

refactor: add event listener when tileset ready
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/classic/core/engines/Cesium/Feature/Tileset/hooks.ts
Due: web, web-classic, web-beta

rename scene tab to map tab
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useSecondaryNavbar.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
Due: web, web-beta

move storypanel out of tab dir
  web/src/beta/features/Editor/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/features/Editor/StoryPanel/Page/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta

wip: block system setup + image block
  web/src/beta/features/Editor/StoryPanel/Block/Template.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/index.ts
  web/src/beta/features/Editor/StoryPanel/Block/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/types.ts
  web/src/services/api/storytellingApi/blocks.ts
Due: web, web-beta

fix typo
  web/src/beta/features/Editor/hooks.ts
Due: web, web-beta

gen i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

regen server gql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: none

fix wrong navigation path
  web/src/classic/components/molecules/Dashboard/Project.tsx
  web/src/classic/components/molecules/Settings/SettingPage/index.tsx
Due: web, web-classic

refactor storyblock builtin
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/index.ts
  web/src/beta/features/Editor/StoryPanel/Block/types.ts
Due: web, web-beta

move storypanel in to vis context, etc
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/index.tsx
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/index.tsx
  web/src/beta/features/Editor/Visualizer/CanvasArea/index.tsx
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/lib/core/Visualizer/index.tsx
Due: web, web-beta

add storyblock icons
  web/src/beta/components/Icon/Icons/cameraButtonStoryBlock.svg
  web/src/beta/components/Icon/Icons/dndHandle.svg
  web/src/beta/components/Icon/Icons/imageStoryBlock.svg
  web/src/beta/components/Icon/Icons/infoboxIcon copy.svg
  web/src/beta/components/Icon/Icons/mdTextStoryBlock.svg
  web/src/beta/components/Icon/Icons/textStoryBlock.svg
  web/src/beta/components/Icon/Icons/titleStoryBlock.svg
  web/src/beta/components/Icon/Icons/videoStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
Due: web, web-beta

update block wrapper and imageblock
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/types.ts
Due: web, web-beta

fix: imagery layers
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
Due: web, web-classic

refactor: update implement for tiles
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
Due: web, web-classic

refactor: cleanup
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
Due: web, web-classic

refactor icons, fix styles
  web/src/beta/components/Icon/Icons/audio.svg
  web/src/beta/components/Icon/Icons/buttonBlock.svg
  web/src/beta/components/Icon/Icons/camera.svg
  web/src/beta/components/Icon/Icons/clock.svg
  web/src/beta/components/Icon/Icons/mdFile.svg
  web/src/beta/components/Icon/Icons/storyBlockEdit.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/NotFound/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
  web/src/services/routing/index.tsx
Due: web, web-beta

add icons
  web/src/beta/components/Icon/Icons/exit.svg
  web/src/beta/components/Icon/Icons/padding.svg
  web/src/beta/components/Icon/icons.ts
Due: web, web-beta

add styled comp support to popover
  web/src/beta/components/Popover/index.tsx
Due: web, web-beta

wip: block settings
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
Due: web, web-beta

fix types
  web/src/beta/features/Editor/StoryPanel/Block/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/types.ts
Due: web, web-beta

block remove func
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Page/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
Due: web, web-beta

refactor: update imagery for classic nls
  web/src/classic/core/engines/Cesium/core/Imagery.test.ts
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
Due: web, web-classic

move template to Wrapper
  web/src/beta/features/Editor/StoryPanel/Block/Template.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Wrapper.tsx
Due: web, web-beta

setup basic func structure to textblock
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Text/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
