Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

chore(web): czml and kml local not working (#777)
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
Due: web, web-beta

chore(web): fix local name is random when added through asset (#779)
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
Due: web, web-beta

chore(web): layerName random on upload in beta
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
Due: web, web-beta

chore(web): fix layerName random on upload directly (#781)
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
Due: web, web-beta

update time and playmode
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useTimelineBlock.ts
  web/src/beta/lib/core/StoryPanel/types.ts
Due: web, web-beta

update clock on page
  web/src/beta/components/fields/DateTimeField/EditPanel/hooks.ts
  web/src/beta/components/fields/DateTimeField/EditPanel/index.tsx
  web/src/beta/components/fields/DateTimeField/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
Due: web, web-beta

refactor storypanel
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/services/state/index.ts
Due: web, web-beta

refactor story constants, add fallback flyto duration
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/services/api/storytellingApi/blocks.ts
Due: web, web-beta

words
  web/src/beta/lib/core/StoryPanel/constants.ts
Due: web, web-beta

feat(web): upgrade deps for patch
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/classic/core/engines/Cesium/Feature/Raster/mvt.ts
  web/yarn.lock
Due: web, web-classic, web-beta

fix stuttering a bit
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
Due: web, web-beta

update minor
  web/package.json
  web/src/test/setup.ts
  web/yarn.lock
Due: web

remove ^
  web/package.json
Due: web

chore(server): add layers in pageJSON of published story
  server/pkg/scene/builder/story.go
Due: server

ci fix
  server/pkg/scene/builder/story.go
Due: server

feat(web): upgrade dependencies which don't include breaking changes (#783)
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/classic/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/test/setup.ts
  web/yarn.lock
Due: web, web-classic, web-beta

ci fix
  server/e2e/gql_storytelling_test.go
Due: none

chore(server): add layers in pageJSON of published story (#785)
  server/e2e/gql_storytelling_test.go
  server/pkg/scene/builder/story.go
Due: server

wip: get layers/blocks working in published
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/features/PublishedVisualizer/types.ts
  web/yarn.lock
Due: web, web-beta

refactor beta properties
  server/pkg/builtin/manifest.yml
  web/src/beta/components/fields/Property/PropertyField/hooks.ts
  web/src/beta/components/fields/Property/PropertyField/index.tsx
  web/src/beta/components/fields/Property/PropertyItem/index.tsx
  web/src/beta/components/fields/Property/PropertyList/index.stories.tsx
  web/src/beta/components/fields/Property/PropertyList/index.tsx
  web/src/beta/components/fields/Property/hooks.ts
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/utils.ts
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/SidePanel/Settings/index.tsx
  web/yarn.lock
Due: web, web-beta, server

fix story
  web/src/beta/components/fields/Property/PropertyList/index.stories.tsx
Due: none

i18n
  web/src/beta/components/fields/Property/PropertyItem/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/SidePanel/Settings/index.tsx
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): refactor beta properties (#786)
  server/pkg/builtin/manifest.yml
  web/src/beta/components/fields/Property/PropertyField/hooks.ts
  web/src/beta/components/fields/Property/PropertyField/index.tsx
  web/src/beta/components/fields/Property/PropertyItem/index.tsx
  web/src/beta/components/fields/Property/PropertyList/index.stories.tsx
  web/src/beta/components/fields/Property/PropertyList/index.tsx
  web/src/beta/components/fields/Property/hooks.ts
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/utils.ts
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/SidePanel/Settings/index.tsx
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Due: web, web-beta, server

chore(server): add position & title to page & block json respectively
  server/pkg/scene/builder/story.go
Due: server

chore(server): add story background setting (#774)
  server/pkg/builtin/manifest.yml
Due: server

split conversion between story and rest
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
Due: web, web-beta

Hide title if no page title in pub
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
Due: web, web-beta

chore(web): refactor property and revert core (#788)
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
Due: web, web-beta

fix publishing
  web/src/beta/features/PublishedVisualizer/convert-story.ts
  web/src/beta/features/PublishedVisualizer/convert.ts
  web/src/beta/features/PublishedVisualizer/googleAnalytics/ga.ts
  web/src/beta/features/PublishedVisualizer/googleAnalytics/ga4.ts
  web/src/beta/features/PublishedVisualizer/googleAnalytics/useGA.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
Due: web, web-beta

fix layers not showing
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
Due: web, web-beta

add story position support
  web/src/beta/features/PublishedVisualizer/index.tsx
Due: web, web-beta

refactor play in timeline
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useTimelineBlock.ts
Due: web, web-beta

pr-fix4
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useScene.ts
Due: web, web-beta

pr-2
  web/src/beta/components/fields/ColorField/index.tsx
  web/src/beta/components/fields/ColorField/types.ts
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
Due: web, web-beta

pr-3
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

add scene property defaults
  server/pkg/builtin/manifest.yml
Due: server

refactor Editor/Vis/hooks
  web/src/beta/features/Editor/Visualizer/hooks.ts
Due: web, web-beta

fix types
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/pages/Page.tsx
  web/src/services/api/sceneApi.ts
Due: web, web-beta
