Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

feat: bump up version to 13.7
  web/package.json
Due: web

fix: remove condition to check operator
  server/internal/usecase/interactor/project.go
Due: server

feat: add new plugin api to open url in new tab
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/utils.ts
Due: web

fix(server): remove condition to check operator (#1983)
  server/internal/usecase/interactor/project.go
Due: server

fix: storybook
  web/src/app/features/Visualizer/Crust/Plugins/storybook.tsx
Due: web

refactor: improve validation & add unit test
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/utils.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/utils.ts
Due: web

Refines project access control logic
  server/internal/usecase/interactor/project.go
Due: server

feat(web): add new plugin api to open url in new tab (#1984)
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/utils.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/utils.ts
  web/src/app/features/Visualizer/Crust/Plugins/storybook.tsx
Due: web

fix(server): allow public project access without workspace permissions for GetProjectByWorkspaceAliasAndProjectAlias (#1985)
  server/internal/usecase/interactor/project.go
Due: server

feat(server): bump up version to 1.0.0-beta.13.7 (#1982)
  web/package.json
Due: web

v1.0.0-beta.13.7
  CHANGELOG.md
Due: none

upgrade react-align & fix type
  web/package.json
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/app/features/Visualizer/shared/components/BlockAddBar/index.tsx
  web/src/app/lib/reearth-ui/components/Icon/index.tsx
  web/src/app/lib/reearth-ui/components/RadioButton/index.tsx
  web/yarn.lock
Due: web

feat: Add case-insensitive unique alias support for scenes and storytelling
  server/internal/infrastructure/mongo/migration/251222111112_add_case_insensitive_scene_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111112_add_case_insensitive_scene_alias_index_test.go
  server/internal/infrastructure/mongo/migration/251222111113_add_case_insensitive_storytelling_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111113_add_case_insensitive_storytelling_alias_index_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: run lint
  server/internal/infrastructure/mongo/migration/251222111112_add_case_insensitive_scene_alias_index_test.go
  server/internal/infrastructure/mongo/migration/251222111113_add_case_insensitive_storytelling_alias_index_test.go
Due: none

fix: update comment
  server/internal/infrastructure/mongo/migration/251222111112_add_case_insensitive_scene_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111113_add_case_insensitive_storytelling_alias_index.go
Due: server

fix: current page keep flashing on some edge cases
  web/STORY_PANEL_IMPROVEMENTS.md
  web/src/app/features/Editor/Story/PagesPanel/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/shared/components/ContentWrapper/index.tsx
  web/src/app/features/Visualizer/shared/components/SelectableArea/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useElementOnScreen.tsx
  web/src/app/features/Visualizer/shared/hooks/useStableIntersectionOptions.ts
Due: web

refactor(web): refactor button widget to using tailwindcss and shadcn
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/app/lib/reearth-widget-ui/components/ui/button.tsx
Due: web

Update web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
Due: web

Update web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
Due: web

refactor: remove memo of the rootElement to avoid undifined
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
Due: web

refactor: close indicator when mouse leave
  web/src/app/features/Visualizer/Crust/StoryPanel/PageIndicator/IndicatorSection.tsx
Due: web

fix(web): current story page could keep switching in loop on some edge cases (#1988)
  web/STORY_PANEL_IMPROVEMENTS.md
  web/src/app/features/Editor/Story/PagesPanel/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PageIndicator/IndicatorSection.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/shared/components/ContentWrapper/index.tsx
  web/src/app/features/Visualizer/shared/components/SelectableArea/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useElementOnScreen.tsx
  web/src/app/features/Visualizer/shared/hooks/useStableIntersectionOptions.ts
Due: web

refactor: refactor type
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
Due: web

fix: create unified alias for scene and storytelling
  server/internal/infrastructure/mongo/migration/251222111112_add_case_insensitive_scene_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111112_add_case_insensitive_scene_alias_index_test.go
  server/internal/infrastructure/mongo/migration/251222111113_add_case_insensitive_storytelling_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111113_add_case_insensitive_storytelling_alias_index_test.go
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: run lint
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index_test.go
Due: none

Add case-insensitive alias index and improve alias handling
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index_test.go
Due: server

fix: run lint
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index_test.go
Due: server

chore: upgrade react-align and remove unused dependencies
  web/package.json
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/yarn.lock
Due: web

chore(ci): add prefix deployment workflow group name
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
Due: none

feat(server): Add unique index support for scenes and storytelling (#1987)
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index.go
  server/internal/infrastructure/mongo/migration/251222111114_add_unified_case_insensitive_alias_index_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

refactor: strict types
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/Content.tsx
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/app/features/Visualizer/Crust/hooks.tsx
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/lib/lexical/RichTextEditor/index.tsx
Due: web

test
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/public.go
Due: server

feat: bump up version to 1.0.0-beta.13.6 (#1980)
  web/package.json
Due: web

fix(server): add GetProjectByWorkspaceAliasAndProjectAlias to read-only methods (#1981)
  server/internal/usecase/interactor/project.go
Due: server

fix test error
  server/e2e/gql_validate_geojson_test.go
Due: none

test fix
  server/e2e/common.go
Due: server
