Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix(server): make plugin export resilient to missing JS files
  server/internal/usecase/interactor/plugin.go
Due: server

refactor(server): improve 429 error detection with typed interface
  server/internal/app/auth_client.go
  server/internal/app/auth_client_test.go
Due: server

fix(server): make plugin export resilient to missing JS files (#2089)
  server/internal/usecase/interactor/plugin.go
Due: server

test(server): add api tests for property operations, published endpoints, and workspace management (#2097)
  .gitignore
  CLAUDE.md
  e2e/api/config/env.ts
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/property-operations.api.spec.ts
  e2e/api/tests/published-endpoints.api.spec.ts
  e2e/api/tests/workspace-management.api.spec.ts
  e2e/playwright.config.ts
  e2e/tests/accountWorkspaceSettings.spec.ts
  e2e/tests/photoOverlay.spec.ts
Due: none

feat(server): migrate user/workspace dataloaders to reearth-accounts API
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/pkg/user/builder.go
  server/pkg/user/id.go
  server/pkg/user/metadata.go
  server/pkg/user/metadata_builder.go
  server/pkg/user/mockrepo/mockrepo.go
  server/pkg/user/repo.go
  server/pkg/user/user.go
  server/pkg/workspace/builder.go
  server/pkg/workspace/id.go
  server/pkg/workspace/metadata.go
  server/pkg/workspace/metadata_builder.go
  server/pkg/workspace/workspace.go
Due: server

fix(server): add usecase fallback for loaders when accounts client is nil
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
Due: server

chore(server): go mod tidy after removing local user/workspace packages
  server/go.mod
  server/go.sum
Due: server

feat(server): migrate workspace mutations to reearth-accounts gqlclient API
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/http/user.go
  server/internal/usecase/interactor/workspace_account.go
  server/internal/usecase/interfaces/common.go
Due: server

support old version
  docker-compose.yml
  server/.env.docker.example
  server/.env.example
  server/Makefile
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/public.go
  server/internal/app/repo.go
Due: server

lint
  server/internal/adapter/gql/resolver_mutation_workspace.go
Due: server

feat(server): migrate workspace mutations to reearth-accounts API (Phase 3) (#2085)
  docker-compose.yml
  server/.env.docker.example
  server/.env.example
  server/Makefile
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/http/user.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/public.go
  server/internal/app/repo.go
  server/internal/usecase/interactor/workspace_account.go
  server/internal/usecase/interfaces/common.go
  server/pkg/user/builder.go
  server/pkg/user/id.go
  server/pkg/user/metadata.go
  server/pkg/user/metadata_builder.go
  server/pkg/user/mockrepo/mockrepo.go
  server/pkg/user/repo.go
  server/pkg/user/user.go
  server/pkg/workspace/builder.go
  server/pkg/workspace/id.go
  server/pkg/workspace/metadata.go
  server/pkg/workspace/metadata_builder.go
  server/pkg/workspace/workspace.go
Due: server

fix: use onChangeComplete instead of onBlur
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/app/ui/fields/NumberField/index.tsx
Due: web

refactor: add missing key
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.tsx
Due: web

refactor: convert value type & add unit test
  web/src/app/ui/fields/NumberField/index.test.tsx
  web/src/app/ui/fields/NumberField/index.tsx
Due: web

fix(server): return 429 instead of 500 for rate limit errors from accounts API (#2092)
  server/internal/app/auth_client.go
  server/internal/app/auth_client_test.go
Due: server

Revert "fix(server): return 429 instead of 500 for rate limit errors from acc…"
  server/internal/app/auth_client.go
  server/internal/app/auth_client_test.go
Due: server

Revert "fix(server): return 429 instead of 500 for rate limit errors from accounts API" (#2100)
  server/internal/app/auth_client.go
  server/internal/app/auth_client_test.go
Due: server

add e2e test for plugin
  server/e2e/gql_plugin_widget_test.go
Due: none

add test case
  server/e2e/common.go
  server/e2e/gql_file_io_test.go
Due: server

chore(server): add e2e test case for pulgin (#2098)
  server/e2e/common.go
  server/e2e/gql_file_io_test.go
  server/e2e/gql_plugin_widget_test.go
Due: server

fix: apply gap between blocks
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
Due: web

fix(web): use onChangeComplete instead of onBlur on number field (#2099)
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/app/ui/fields/NumberField/index.test.tsx
  web/src/app/ui/fields/NumberField/index.tsx
Due: web

test(server): add MongoDB-based integration tests for internal API
  server/internal/adapter/internalapi/internalapimodel/project_test.go
  server/internal/adapter/internalapi/server_test.go
  server/internal/testutil/factory/scene.go
Due: server

refactor(server): convert table-driven tests to explicit t.Run style
  server/internal/adapter/internalapi/internalapimodel/project_test.go
Due: none

fix(server): address PR review comments
  server/internal/adapter/internalapi/internalapimodel/project_test.go
  server/internal/adapter/internalapi/server_test.go
Due: none

test(server): add MongoDB-based integration tests for internal API (#2101)
  server/internal/adapter/internalapi/internalapimodel/project_test.go
  server/internal/adapter/internalapi/server_test.go
  server/internal/testutil/factory/scene.go
Due: server

chore(server): bump version to v1.0.0-beta.15.3
  web/package.json
Due: web

chore(server): bump version to v1.0.0-beta.15.3 (#2102)
  web/package.json
Due: web

v1.0.0-beta.15.3
  CHANGELOG.md
Due: none

test(server): add API tests for asset management
  e2e/api/graphql/client.ts
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/asset-management.api.spec.ts
  e2e/api/tests/project-lifecycle.api.spec.ts
  e2e/api/tests/property-operations.api.spec.ts
  e2e/api/tests/published-endpoints.api.spec.ts
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

update
  e2e/api/tests/asset-management.api.spec.ts
  e2e/api/tests/project-lifecycle.api.spec.ts
  e2e/api/tests/property-operations.api.spec.ts
  e2e/api/tests/test-helpers.ts
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

test(server): add API tests for asset management (#2103)
  e2e/api/graphql/client.ts
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/asset-management.api.spec.ts
  e2e/api/tests/project-lifecycle.api.spec.ts
  e2e/api/tests/property-operations.api.spec.ts
  e2e/api/tests/published-endpoints.api.spec.ts
  e2e/api/tests/test-helpers.ts
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

test(server): add api tests for layer infobox and storytelling
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/layer-infobox.api.spec.ts
  e2e/api/tests/storytelling.api.spec.ts
Due: none

update mutations.ts
  e2e/api/graphql/mutations.ts
Due: none

copilot fix
  e2e/api/graphql/mutations.ts
  e2e/api/tests/layer-infobox.api.spec.ts
Due: none

test(server): add api tests for layer infobox and storytelling (#2106)
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/layer-infobox.api.spec.ts
  e2e/api/tests/storytelling.api.spec.ts
Due: none

chore(web): upgrade patch version of package
  web/package.json
  web/yarn.lock
Due: web

ci: playwright API tests workflow
  .github/workflows/playwright_api_tests.yml
Due: none

env update
  .github/workflows/playwright_api_tests.yml
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
