Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

feat(server): auto-fetch Auth0 config from reearth-accounts API
  server/.env.docker.example
  server/internal/app/config/config.go
  server/internal/app/config/fetch_auth_config.go
Due: server

fix(ci): use sed to replace REEARTH_MOCK_AUTH instead of appending
  .github/workflows/ci_server.yml
Due: none

chore: update reearth-accounts dependency to latest branch
  server/go.mod
  server/go.sum
Due: server

chore: update reearth-accounts to include test fix
  server/go.mod
  server/go.sum
Due: server

chore: update reearth-accounts to fix lint errors
  server/go.mod
  server/go.sum
Due: server

fix(ci): add .env.docker setup and fix TestWeb/disabled
  .github/workflows/ci_server.yml
  server/internal/app/web.go
Due: server

fix(test): prevent auto-fetch of auth config in TestReadConfig
  server/internal/app/config/config_test.go
Due: none

chore: update reearth-accounts to fix role auto-creation
  server/go.mod
  server/go.sum
Due: server

perf: optimize air build configuration for faster rebuilds
  server/.air.toml
Due: server

fix lint
  server/go.sum
Due: server

Change the reference branch of reearth-accounts to main
  .github/workflows/ci_server.yml
Due: none

refarence reearth-account main branch
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

lint fix
  server/internal/usecase/gateway/policy_checker.go
Due: server

update README.md
  README.md
  server/Makefile
  server/README.md
  server/dev.bat
Due: server

chore(web): upgrade googlemaps/js-api-loader to version 2
  web/package.json
  web/src/app/features/Editor/Map/MapGoogleSearch/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/yarn.lock
Due: web

refactor: add and clean up styles
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/area.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/bridge.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/building.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/buildingColorByUsage.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/highTideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/inlandFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landSlideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landuse.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/riverFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/traffic.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/tsunamiRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/urbanPlanning.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/vegetation.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/types.ts
Due: web

refactor: optimize style code
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/highTideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/inlandFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landSlideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landuse.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/riverFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/tsunamiRisk.ts
Due: web

refactor: naming
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landslide.ts
Due: web

refactor: clean up
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau.ts
Due: web

refactor: renaming
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landslideRisk.ts
Due: web

refactor: test for styles
  web/src/app/utils/layer-style.test.ts
Due: none

refactor: improve the util for get style name
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/utils.ts
Due: web

ci: allure report upload to GCS
  .github/workflows/playwright_ui_tests.yml
Due: none

update
  .github/workflows/playwright_ui_tests.yml
Due: none

update github workflow for allure report
  .github/workflows/playwright_ui_tests.yml
Due: none

update1
  .github/workflows/playwright_ui_tests.yml
  e2e/package-lock.json
  e2e/package.json
Due: none

refactor: Reintroduce defensive type checks (non-essential)
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/AreaTree.tsx
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/City.tsx
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/DatasetType.tsx
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/Prefecture.tsx
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/TypeTree.tsx
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/hooks.ts
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/index.tsx
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.test.ts
Due: web

ci: update Playwright UI tests workflow for allure report
  .github/workflows/playwright_ui_tests.yml
Due: none

refactor: Reintroduce defensive type checks (non-essential)
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/services/api/project/useProjectQueries.ts
  web/src/services/api/scene/useSceneQueries.ts
  web/src/services/api/storytelling/useStoryQueries.ts
Due: web, web-beta

feat(server): street view definition (#2053)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

feat(web): add preset styles for plateau data (#2046)
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/basicGeometry.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/default.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/geojson.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/building.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/highTideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/inlandFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landslideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landuse.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/riverFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/tsunamiRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/professional.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/types.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/utils.ts
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/utils/layer-style.test.ts
  web/src/app/utils/layer-style.ts
Due: web

chore(web): upgrade googlemaps/js-api-loader to version 2 (#2054)
  web/package.json
  web/src/app/features/Editor/Map/MapGoogleSearch/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/yarn.lock
Due: web

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
