Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix: load more on projects
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/index.tsx
  web/src/beta/hooks/useLoadMore.ts
  web/src/beta/utils/infinite-scroll.ts
Due: web, web-beta, web-utils

initial implemention
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.tsx
  web/src/beta/features/Visualizer/Crust/context.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/atoms.ts
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils, server

feat(web): project recycle bin (#1181)
  server/e2e/gql_project_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/pkg/project/builder.go
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectRemoveModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/ProjectDeleteModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/Published/NotFound.tsx
  web/src/beta/features/Published/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ArrowCounterClockWise.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/switch.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/pages/Page.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

fix(web): dashboard projects is loading more than expected (#1193)
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/index.tsx
  web/src/beta/hooks/useLoadMore.ts
  web/src/beta/utils/infinite-scroll.ts
Due: web, web-beta, web-utils

refactor: type
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
  web/src/services/state/index.ts
Due: web, web-beta

refactor: set state
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

refactor: fix type for dashboard
  web/src/beta/features/Dashboard/type.ts
Due: web, web-beta

refactor: fix type for dashboard
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

fix: gql cursor indicator position in workspace settings page
  web/src/beta/features/WorkspaceSetting/index.tsx
Due: web, web-beta

refactor: sidebar style
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
Due: web, web-beta

style: update height
  web/src/beta/ui/components/Sidebar/index.tsx
Due: web, web-beta

WidgetLayout
  server/internal/adapter/gql/gqlmodel/convert_plugin.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/story.go
Due: server

fix(web): sidebar layout (#1194)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
Due: web, web-beta

fix test
  server/e2e/gql_storytelling_test.go
Due: none

feat: add tooltip for asset url
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/beta/features/AssetsManager/item/type.ts
  web/src/beta/ui/components/Tooltip/Tooltip.tsx
  web/src/services/api/assetsApi.ts
Due: web, web-beta

fix: remove unused tooltip component
  web/src/beta/ui/components/Tooltip/Tooltip.tsx
Due: web, web-beta

fix: revert change to asset name width
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
Due: web, web-beta

add credit popup
  server/pkg/builtin/manifest.yml
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/services/api/widgetsApi/utils.ts
Due: web, web-beta, server

add stories and translation
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat file upload todo refactor
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix comment
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

fixup! fix comment
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

refactor: refactor hooks and onclick method
  web/src/beta/features/WorkspaceSetting/hooks.ts
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

refactor: refactor color
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

change pfoject import api
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/app/auth_server.go
  server/internal/app/graphql.go
  server/internal/app/public.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/plugin_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_plugin.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interactor/tag.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/interfaces/style.go
  server/pkg/property/schema_field_builder.go
  server/pkg/property/schema_field_choice_builder.go
  server/pkg/property/schema_field_choice_builder_test.go
  server/pkg/property/schema_linkable_field.go
  server/pkg/scene/builder/decoder.go
Due: server

WidgetLayout replaceWidgetIDs Infobox and SketchInfo replaceNLSLayerIDs
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/gqlmodel/convert_plugin.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/story.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/story.go
Due: server

refactor: fix type
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

fix: fix bug
  web/src/beta/features/WorkspaceSetting/index.tsx
Due: web, web-beta

feat(server): change project import api (#1178)
  server/e2e/gql_storytelling_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/convert_plugin.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/app/auth_server.go
  server/internal/app/graphql.go
  server/internal/app/public.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/plugin_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_plugin.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interactor/tag.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/interfaces/style.go
  server/pkg/property/schema_field_builder.go
  server/pkg/property/schema_field_choice_builder.go
  server/pkg/property/schema_field_choice_builder_test.go
  server/pkg/property/schema_linkable_field.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/story.go
Due: server

add improvement
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
Due: web, web-beta

chore: use env var with prefix
  web/vite.config.ts
Due: web

chore(web): use env var with prefix for cesium ion token (#1197)
  web/vite.config.ts
Due: web

update get credits
  web/package.json
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.tsx
  web/src/beta/features/Visualizer/Crust/context.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
  web/yarn.lock
Due: web, web-beta

show image/logo
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
Due: web, web-beta

fix type issue
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
Due: web, web-beta

update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: refactor css to col component and run translate command
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update the imprort project query
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

refactor(web): update Code component and FileListItem component
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix: update translation text and refactor styling to column
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
