Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

update the migration
  server/internal/infrastructure/mongo/migration/260701000000_set_tile_category.go
Due: server

v1.0.0-beta.16.13
  CHANGELOG.md
Due: none

refactor(web): localize preset style categories and styles[VIZ-DEV-94] (#2293)
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/basicGeometry.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/default.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/geojson.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/professional.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/types.ts
Due: web

chore(web): bump @reearth/core to 0.0.7-alpha.72 for conditional Cesium Ion credit (#2290)
  web/package.json
  web/yarn.lock
Due: web

fix(server): add WarnErrorWithCallerLogging and use it at known-benign sites
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/published.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/visualizer/visualizer.go
Due: server

remove unused code
  e2e/api/config/env.ts
Due: none

revert e2e files
  e2e/api/tests/auth-utils.ts
  e2e/env.example
Due: none

ci: added video recording for the visualizer tests (#2304)
  e2e/playwright.config.ts
  e2e/utils/iap-auth-common.ts
  e2e/utils/iap-auth-id-token.ts
  e2e/utils/iap-auth.ts
Due: none

fix(e2e): update multipleStyles test to expect Empty.01 instead of Style.01
  e2e/tests/multipleStyles.spec.ts
Due: none

refactor(e2e): restructure projects.spec.ts to per-test contexts
  e2e/tests/projects.spec.ts
Due: none

fix(e2e): add missing recordVideo, switch trace to always-on
  e2e/playwright.config.ts
Due: none

fix(e2e): use retain-on-failure instead of always-on trace
  e2e/playwright.config.ts
Due: none

refactor(e2e): roll out per-test-context fixture to dashboardFeatures.spec.ts
  e2e/fixtures/ui-test-fixtures.ts
  e2e/tests/dashboardFeatures.spec.ts
Due: none

Revert "refactor(e2e): restructure projects.spec.ts to per-test contexts"
  e2e/tests/projects.spec.ts
Due: none

Revert "refactor(e2e): roll out per-test-context fixture to dashboardFeatures.spec.ts"
  e2e/fixtures/ui-test-fixtures.ts
  e2e/tests/dashboardFeatures.spec.ts
Due: none

fix(e2e): use retain-on-failure trace instead of on-first-retry
  e2e/playwright.config.ts
Due: none

fix(server): gate split-upload session creation on workspace permission [SCA-03] (#2303)
  server/e2e/gql_project_import_split_test.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

fix(e2e): stop concurrency-group collision, switch trace to retain-on-failure (#2299)
  .github/workflows/ci.yml
  e2e/playwright.config.ts
Due: none

refactor(e2e): parallelize playwright suite, split tests into feature folders (#2301)
  .github/workflows/playwright_api_tests.yml
  e2e/ONBOARDING.md
  e2e/api/config/env.ts
  e2e/env.example
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/account/accountWorkspaceSettings.spec.ts
  e2e/tests/account/members.spec.ts
  e2e/tests/auth/login.spec.ts.Skip
  e2e/tests/dashboard/dashboard.spec.ts
  e2e/tests/dashboard/dashboardFeatures.spec.ts
  e2e/tests/layer/externalLayers.spec.ts
  e2e/tests/layer/layerDeletionReorder.spec.ts
  e2e/tests/layer/multipleStyles.spec.ts
  e2e/tests/layer/page-refresh-on-mutation.spec.ts
  e2e/tests/layer/photoOverlay.spec.ts
  e2e/tests/project/projectSettings.spec.ts
  e2e/tests/project/projects.spec.ts
  e2e/tsconfig.json
Due: none

fix(e2e): update multipleStyles test to expect Empty.01 instead of Style.01
  e2e/tests/layer/multipleStyles.spec.ts
Due: none

refactor(web): improve alias validation in project settings[VIZ-DEV-87] (#2287)
  e2e/tests/layer/multipleStyles.spec.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/app/ui/fields/InputField/index.tsx
  web/src/services/api/project/useProjectQueries.ts
  web/src/services/api/scene/useSceneQueries.ts
  web/src/services/api/storytelling/useStoryQueries.ts
  web/src/services/gql/index.ts
  web/src/services/gql/provider/links/taskLink.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): bump @reearth/core to 0.0.7-alpha.75
  web/package.json
Due: web

chore(web): update yarn.lock for @reearth/core 0.0.7-alpha.75
  web/yarn.lock
Due: web

ci(e2e): remove unused dev environment from Playwright test jobs
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
Due: none

chore(web): bump @reearth/core to 0.0.7-alpha.75 for scene.backgroundColor and skyBox fix (#2307)
  web/package.json
  web/yarn.lock
Due: web

refactor(web): migrate to zushi for plugin system [VIZ-DEV-70] (#2289)
  web/docs/README.md
  web/docs/modules/features/plugin-system.md
  web/package.json
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/index.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginInstance.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/useIFrame.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/utils.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/utils.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.test.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/context.tsx
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useExtension.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/exposedReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
  web/src/app/features/Visualizer/Crust/Plugins/usePluginInstances.ts
  web/src/app/features/Visualizer/Crust/hooks.tsx
  web/yarn.lock
Due: web

fix(web): support object values in PropertyList block custom fields
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/index.tsx
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
Due: web

fix(web): address Copilot review on PropertyList object value support
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/index.tsx
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
Due: web

chore(web): bump @reearth/core to 0.0.7-alpha.76 for scene.backgroundColor and skyBox fix
  web/package.json
  web/yarn.lock
Due: web

fix(web): explicit return type on map callback to fix TS2677/TS2345
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
Due: web

chore(web): bump @reearth/core to 0.0.7-alpha.76 for scene.backgroundColor and skyBox fix (#2315)
  web/package.json
  web/yarn.lock
Due: web

fix: passing property for infobox block and story block property
  web/src/app/features/PluginPlayground/Code/hook.ts
  web/src/app/features/PluginPlayground/types.ts
Due: web

fix(web): plugin playground: infobox block and story block cannot get block properties [VIZ-DEV-137] (#2316)
  web/src/app/features/PluginPlayground/Code/hook.ts
  web/src/app/features/PluginPlayground/types.ts
Due: web

replace osm-buildings with reearth-buildings
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
Due: web

refactor(web): replace osm-buildings with reearth-buildings in Plugin Playground (#2317)
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
Due: web

fix(web): support object values in PropertyList block custom fields (#2314)
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/index.tsx
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
Due: web

chore(web): fix pages build failure caused by ADR template `date` placeholder (#2318)
  web/docs/templates/adr-template.md
Due: web

ci(e2e): remove unused dev environment from Playwright test jobs (#2308)
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
Due: none
