Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

chore(web): fix gap field component
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
Due: web, web-beta

chore(web): fix gap field component (#801)
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
Due: web, web-beta

fix default page background
  web/src/beta/features/Editor/Visualizer/convert-story.ts
Due: web, web-beta

fix camera block not creating first button
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/services/api/propertyApi/index.ts
Due: web, web-beta

fix duration
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
Due: web, web-beta

chore(web): bug fixes (#803)
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/services/api/propertyApi/index.ts
Due: web, web-beta

chore(web): handle misfiring of singleClick on doubleClick at layerName and layerStyleName (#800)
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
Due: web, web-beta

chore(web): fix story panel bg in published project
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

chore(web): fix error in Timeline block
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
Due: web, web-beta

fix state interfering with shared classic/beta stuff
  web/package.json
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/classic/components/atoms/Notification/index.stories.tsx
  web/src/classic/components/atoms/Notification/index.test.tsx
  web/src/classic/components/atoms/Notification/index.tsx
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/Common/AssetContainer/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DataSourcePane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/ExportPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/LeftMenu/hooks.ts
  web/src/classic/components/organisms/EarthEditor/OutlinePane/hooks.tsx
  web/src/classic/components/organisms/EarthEditor/PrimitiveHeader/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks-queries.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/RightMenu/hooks.ts
  web/src/classic/components/organisms/EarthEditor/TagPane/commonHooks.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/classic/components/organisms/GlobalModal/index.tsx
  web/src/classic/components/organisms/Notification/hooks.ts
  web/src/classic/components/organisms/Notification/index.tsx
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Settings/Account/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Plugin/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Public/hooks.ts
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/Asset/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/classic/components/pages/EarthEditor/hooks.ts
  web/src/classic/components/pages/Preview/index.tsx
  web/src/classic/state/index.ts
  web/src/services/state/index.ts
Due: web, web-classic, web-beta

chore(web): fix classic notification bar (#804)
  web/package.json
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/classic/components/atoms/Notification/index.stories.tsx
  web/src/classic/components/atoms/Notification/index.test.tsx
  web/src/classic/components/atoms/Notification/index.tsx
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/Common/AssetContainer/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DataSourcePane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/ExportPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/LeftMenu/hooks.ts
  web/src/classic/components/organisms/EarthEditor/OutlinePane/hooks.tsx
  web/src/classic/components/organisms/EarthEditor/PrimitiveHeader/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks-queries.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/RightMenu/hooks.ts
  web/src/classic/components/organisms/EarthEditor/TagPane/commonHooks.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/classic/components/organisms/GlobalModal/index.tsx
  web/src/classic/components/organisms/Notification/hooks.ts
  web/src/classic/components/organisms/Notification/index.tsx
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Settings/Account/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Plugin/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Public/hooks.ts
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/Asset/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/classic/components/pages/EarthEditor/hooks.ts
  web/src/classic/components/pages/Preview/index.tsx
  web/src/classic/state/index.ts
  web/src/services/state/index.ts
Due: web, web-classic, web-beta

fix notification disappearing before fadeout complete
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/useActionPropertyApi.ts
Due: web, web-beta

improve drag when not playing
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
Due: web, web-beta

in editor working condition
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
Due: web, web-beta

fix publish
  web/src/beta/features/PublishedVisualizer/convert-story.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
Due: web, web-beta

i18n
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

small UI fixes
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
Due: web, web-beta

chore(web): Multi layer Select (#757)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/components/Icon/Icons/layer.svg
  web/src/beta/components/Icon/Icons/showLayersStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/fields/SelectField/index.stories.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
  web/src/beta/features/PublishedVisualizer/convert-story.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/useActionPropertyApi.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

changes
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/BottomPanel/index.tsx
  web/src/beta/features/Editor/SecondaryNav/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyle.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
Due: web, web-beta

chore(web): UI updates (#805)
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/BottomPanel/index.tsx
  web/src/beta/features/Editor/SecondaryNav/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyle.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
Due: web, web-beta

remove clickaway in page
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Due: web, web-beta

chore: modify zoom level field
  web/src/beta/components/RangeSlider/index.stories.tsx
  web/src/beta/components/RangeSlider/index.tsx
  web/src/beta/components/fields/Property/PropertyField/index.tsx
  web/src/beta/components/fields/RangeField/index.stories.tsx
  web/src/beta/components/fields/RangeField/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
Due: web, web-beta

chore: modify zoom level in manifest
  server/pkg/builtin/manifest.yml
Due: server

remove-console
  web/src/beta/components/fields/RangeField/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
Due: web, web-beta

pr-fix-ts
  web/src/beta/components/fields/RangeField/index.stories.tsx
Due: none

update camera editPanel
  web/src/beta/components/fields/CameraField/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
Due: web, web-beta

gap in right panel
  web/src/beta/components/SidePanelSectionField/index.tsx
Due: web, web-beta

fixes
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
Due: web, web-beta

fix timeline icon
  web/src/beta/components/Icon/Icons/timelineStoryBlock.svg
  web/src/beta/components/Icon/Icons/timelineStoryBlockSolid.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
Due: web, web-beta

semi update page add button
  web/src/beta/features/Editor/tabs/story/LeftPanel/Action/index.tsx
Due: web, web-beta

fix padding
  web/src/beta/features/Editor/SidePanel/index.tsx
Due: web, web-beta

update block names
  server/pkg/builtin/manifest.yml
Due: server

fix layer button block
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): ui and ux fixes (#809)
  server/pkg/builtin/manifest.yml
  web/src/beta/components/Icon/Icons/timelineStoryBlock.svg
  web/src/beta/components/Icon/Icons/timelineStoryBlockSolid.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/Action/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

add onclick
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Due: web, web-beta

chore(web): move doubleClick with debounce to utils
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/utils/use-double-click.ts
Due: web, web-beta, web-utils

chore(web): move doubleClick with debounce to utils (#811)
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/utils/use-double-click.ts
Due: web, web-beta, web-utils

fix(web): feature unselection
  web/src/beta/lib/core/Map/Layers/hooks.ts
Due: web, web-beta

chore(web): add an API to get description from entity
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/utils.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/beta/lib/core/mantle/types/index.ts
Due: web, web-beta

chore: remove the timeOut from text input
  web/src/beta/components/CatalogCard/index.tsx
  web/src/beta/components/fields/TextField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
