Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

add new camera type
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

refactor: remove take another functionality
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web, web-beta

fix: fix selector undefind of label
  web/src/beta/features/PluginPlayground/Settings/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
Due: web, web-beta

back selectedItems definition
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
Due: web, web-beta

fix(web): fix selector undefined of label (#1510)
  web/src/beta/features/PluginPlayground/Settings/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
Due: web, web-beta

Update package.json
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.4.1 (#1511)
  web/package.json
Due: web

refactor: documentation note
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web, web-beta

refactor: documentation note
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
Due: web, web-beta

refactor: documentation note
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
Due: web, web-beta

refactor: default as en
  web/src/beta/features/PluginPlayground/Settings/index.tsx
Due: web, web-beta

refactor: documentation note
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
Due: web, web-beta

v1.0.0-beta.4.1
  CHANGELOG.md
Due: none

refactor(web): add reference to developer documentation links in plugin playground [VIZ-1410] (#1506)
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

improve tooltip to support react component
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
Due: web, web-beta

update
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

add kmz in kml format
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
Due: web, web-beta

add link to doc
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web, web-beta

refactor: remove unused styling and add link to doc
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web, web-beta

refactor(web): plugin playground presets - refactor screenshot example [VIZ-1414] (#1507)
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web, web-beta

fix: ci
  server/go.mod
  server/go.sum
Due: server

updated height value
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

change offset
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
Due: web, web-beta

chore(web): support kmz file in kml format [VIZ-1402] (#1513)
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
Due: web, web-beta

adjust padding
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
Due: web, web-beta

Refactoring ProjectID,WorkspaceID
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/app/web_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/id.go
  server/pkg/id/id.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/scene.go
Due: server

fix test error
  server/internal/infrastructure/memory/asset.go
  server/internal/usecase/interactor/asset_test.go
Due: server

update value types
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

fix test error
  server/internal/usecase/interactor/project_test.go
Due: none

remove comment
  server/internal/infrastructure/memory/asset.go
Due: server

chore(web): camera type correction [VIZ-1355] (#1509)
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

chore(server): refactoring id project and workspace [VIZ-BE-574] (#1515)
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/app/web_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/memory/project.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/id.go
  server/pkg/id/id.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/scene.go
Due: server

fix test error
  server/internal/infrastructure/memory/asset.go
Due: server

remove debug log
  server/internal/infrastructure/memory/asset.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
