Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

chore: git ignore
  web/.gitignore
Due: web

refactor: load remote cesium ion token
  web/vite.config.ts
Due: web

refactor: remove local txt
  web/cesium_ion_token.txt
Due: web

add sketch layer in publish
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/utils.tsx
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
Due: web, web-beta

fix: check token by length
  web/src/services/config/index.ts
  web/vite.config.ts
Due: web, web-beta

fix(web): load cesium token from separate file (#949)
  .github/workflows/cron_ion_token_test.yml
  .github/workflows/deploy_web_nightly.yml
  web/.gitignore
  web/src/services/config/index.ts
  web/vite.config.ts
Due: web, web-beta

refactor custom properties component
  web/src/beta/components/TabMenu/index.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/PropertyEditor.tsx
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/hooks.ts
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/index.tsx
  web/src/beta/features/Editor/SketchLayerManager/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/utils.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

ci(server): add snapshot to goreleaser.yml
  .github/workflows/build_server.yml
  server/.goreleaser.yml
Due: server

refactor
  .github/workflows/build_server.yml
  server/.goreleaser.yml
Due: server

improvement base on comments
  web/src/beta/components/TabMenu/index.tsx
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/PropertyItem.tsx
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/utils.tsx
Due: web, web-beta

Save property when change tab
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/hooks.ts
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/index.tsx
  web/src/beta/features/Editor/SketchLayerManager/index.tsx
Due: web, web-beta

unselect layer on click away
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useScene.ts
Due: web, web-beta

fix(server): new account cannot be created in multitenant mode
  server/go.mod
  server/go.sum
Due: server

fix type
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/PropertyItem.tsx
Due: web, web-beta

chore(web): sketch layer step3 (#937)
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/TabMenu/index.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/PropertyItem.tsx
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/hooks.ts
  web/src/beta/features/Editor/SketchLayerManager/CustomedProperties/index.tsx
  web/src/beta/features/Editor/SketchLayerManager/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useSketch.tsx
  web/src/beta/features/Editor/utils.tsx
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/services/api/featureCollectionApi/index.ts
  web/src/services/api/index.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/featureCollection.ts
  web/src/services/gql/fragments/index.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/queries/featureCollection.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add redis to config
  server/internal/app/config/config.go
Due: server

add redisAdapter to NewContainer
  server/internal/usecase/interactor/common.go
Due: server

add run-redis to Makefile
  server/Makefile
Due: server

use miniredis in TestStyleCRUD
  server/e2e/common.go
  server/e2e/gql_style_test.go
  server/go.mod
  server/go.sum
Due: server

RedisGateway
  server/internal/usecase/gateway/redis.go
Due: server

use resdis in UpdateStyle
  server/internal/usecase/interactor/style.go
Due: server

docker-compose.yml
  docker-compose.yml
Due: none

main.go
  server/internal/app/main.go
Due: server

fix /redis to gitignore
  .gitignore
Due: none

fix pkg
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
Due: server

UsecaseMiddleware
  server/internal/app/usecase.go
Due: server

fix e2e
  server/e2e/gql_style_test.go
Due: none

RedisAdapter
  server/internal/infrastructure/redis/redis_adapter.go
Due: server

app.go
  server/internal/app/app.go
Due: server

fix ping_test
  server/e2e/ping_test.go
Due: none

get go-redis and go mod tidy
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

fix e2e
  server/e2e/common.go
Due: server

get msgpack
  server/go.mod
  server/go.sum
Due: server

.env.example
  server/.env.example
Due: server

init uptrace
  go.work.sum
  server/.env.example
  server/go.mod
  server/go.sum
  server/internal/app/config/config.go
  server/internal/app/main.go
Due: server

Introduction of uptrace
  server/internal/adapter/gql/resolver_mutation_style.go
  server/internal/usecase/interactor/style.go
Due: server

feat(web): update cesium
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/useDrawClipping.ts
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/labels/JapanGSIOptimalBVmapVectorMapLabel/JapanGSIOptimalBVmapLabelImagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/useOverrideGlobeShader.ts
  web/src/beta/lib/core/engines/Cesium/utils/utils.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/Tileset/index.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Globe.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/presets.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/classic/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/classic/core/engines/Cesium/core/Globe.tsx
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
  web/src/classic/core/engines/Cesium/core/presets.ts
  web/src/classic/core/engines/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/utils.ts
  web/yarn.lock
Due: web, web-classic, web-beta

improve and add new storybook
  web/.storybook/preview.tsx
  web/src/beta/components/FloatedPanel/index.stories.tsx
  web/src/beta/components/InsertionBar/index.stories.tsx
  web/src/beta/components/Slide/index.stories.tsx
  web/src/beta/components/fields/SelectField/index.stories.tsx
  web/src/beta/features/Editor/SketchLayerManager/index.stories.tsx
  web/vite.config.ts
Due: web

improve and add new storybook
  web/.storybook/preview.tsx
Due: none

add comments
  web/src/beta/components/fields/SelectField/index.stories.tsx
  web/vite.config.ts
Due: web
