Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix(server): init tracer for otel (#1942)
  server/e2e/common.go
  server/internal/app/main.go
  server/internal/app/server.go
Due: server

chore: upgrade core to 0.0.7-alpha.49
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade core to 0.0.7-alpha.49 (#1943)
  web/package.json
  web/yarn.lock
Due: web

test: allure report generation and deployment to GitHub Pages
  .github/workflows/playwright_ui_tests.yml
Due: none

fix(server): init tracer for otel (#1942)
  go.work.sum
  server/internal/app/server.go
Due: server

feat: bump up visualizer version
  web/package.json
Due: web

feat(web): bump up visualizer version (#1945)
  web/package.json
Due: web

v1.0.0-beta.13.2
  CHANGELOG.md
Due: none

chore(web): upgrade P1 batch packages (15 patch updates)
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade P1+P2 packages (26 packages)
  web/package.json
  web/src/app/features/Dashboard/ContentsContainer/Members/PermissionService.ts
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/app/utils/sketch.ts
  web/src/app/utils/value.ts
  web/src/services/i18n/locale.ts
  web/src/services/theme/publishTheme/types.ts
  web/src/services/theme/reearthTheme/common/fonts.ts
  web/yarn.lock
Due: web, web-beta

refactor: hide download button
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Video/VideoPlayer.tsx
Due: web

chore(web): comprehensive package upgrade (48 packages)
  web/package.json
  web/yarn.lock
Due: web

refactor: implement common hook useVideoAspectRatio
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Video/VideoPlayer.tsx
  web/src/app/features/Visualizer/hooks/useVideoAspectRatio.ts
Due: web

refactor(web): hide download button from builtin infobox video block and story video block (#1947)
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Video/VideoPlayer.tsx
  web/src/app/features/Visualizer/hooks/useVideoAspectRatio.ts
Due: web

ci: added steps to deploy Allure report to GCS
  .github/workflows/playwright_ui_tests.yml
Due: none

made changes
  .github/workflows/playwright_ui_tests.yml
Due: none

Implementing reearth account as a library
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/grpc.go
  server/internal/app/public.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/accounts_operator.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_policy_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
  server/pkg/id/common.go
Due: server

lint
  server/internal/adapter/gql/loader.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
Due: server

comment
  server/internal/app/server.go
Due: server

update hash
  server/go.mod
  server/go.sum
Due: server

chore: update reearthx
  server/go.mod
  server/go.sum
Due: server

chore: update reearthx
  server/go.sum
Due: server

add wrapper for to run it from dashboard repo
  .github/workflows/playwright_ui_tests.yml
Due: none

chore: update reearthx module to the latest version (#1949)
  server/go.mod
  server/go.sum
Due: server

chore: upgrade latest package
  web/package.json
  web/yarn.lock
Due: web

Changed Go version from 1.24.4 to 1.25.4
  .github/workflows/build_release.yml
  .github/workflows/ci_server.yml
  go.work
  go.work.sum
  server/Dockerfile
  server/Dockerfile.dev
  server/Makefile
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/pkg/user/repo.go
Due: server

chore(web): bump version from 1.0.0-beta.13.2 to 1.0.0-beta.13.3
  go.work.sum
  web/package.json
Due: web

revert go.work.sum
  go.work.sum
Due: none

chore(web): bump version from 1.0.0-beta.13.2 to 1.0.0-beta.13.3 (#1951)
  web/package.json
Due: web

Implementing reearth account as a library
  go.work
  go.work.sum
  server/.tool-versions
  server/Dockerfile
  server/Dockerfile.dev
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/grpc.go
  server/internal/app/public.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/accounts_operator.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_policy_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
  server/pkg/id/common.go
Due: server

v1.0.0-beta.13.3
  CHANGELOG.md
Due: none

refactor: update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): upgrade web package[VIZ-2349] (#1950)
  web/package.json
  web/src/app/features/Dashboard/ContentsContainer/Members/PermissionService.ts
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/app/utils/sketch.ts
  web/src/app/utils/value.ts
  web/src/services/i18n/locale.ts
  web/src/services/theme/publishTheme/types.ts
  web/src/services/theme/reearthTheme/common/fonts.ts
  web/yarn.lock
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
