Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

test: add test for range selector component
  web/src/beta/lib/reearth-ui/components/Selector/index.test.tsx
Due: none

test: add unit test for slide component
  web/src/beta/lib/reearth-ui/components/Slide/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Slide/index.tsx
Due: web, web-beta

test: add unit test for slider component
  web/src/beta/lib/reearth-ui/components/Slider/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.tsx
Due: web, web-beta

test: add unit test for switcher component
  web/src/beta/lib/reearth-ui/components/Switcher/index.test.tsx
Due: none

test: add unit test for tabs component
  web/src/beta/lib/reearth-ui/components/Tabs/index.test.tsx
Due: none

test: add unit test for text area component
  web/src/beta/lib/reearth-ui/components/TextArea/index.test.tsx
Due: none

test: add unit test for text input component
  web/src/beta/lib/reearth-ui/components/TextInput/index.test.tsx
Due: none

test: add unit test for time picker component
  web/src/beta/lib/reearth-ui/components/TimePicker/index.test.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
Due: web, web-beta

test: add unit test for tooltip component
  web/src/beta/lib/reearth-ui/components/Tooltip/index.test.tsx
Due: none

test: add unit test for typography component
  web/src/beta/lib/reearth-ui/components/Typography/index.test.tsx
Due: none

test: refatored unit test for collapse component
  web/src/beta/lib/reearth-ui/components/Collapse/index.test.tsx
Due: none

test: refactor test to markdown component
  web/src/beta/lib/reearth-ui/components/Markdown/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
Due: web, web-beta

test: refactor test to markdown component
  web/src/beta/lib/reearth-ui/components/Markdown/index.test.tsx
Due: none

test: refactored numberinput test
  web/src/beta/lib/reearth-ui/components/NumberInput/index.test.tsx
Due: none

test(web): add unit tests to components [VIZ-1465] (#1577)
  web/src/beta/lib/reearth-ui/components/CodeInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.test.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.test.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.test.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/ModalPanel.test.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.test.tsx
  web/src/beta/ui/fields/SelectField/index.test.tsx
  web/src/test/utils.tsx
Due: web, web-beta

ci: update license check
  .github/workflows/license_checker.yml
Due: none

chore(web): implement several components
  web/src/beta/lib/reearth-ui/components/ClickAway/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.tsx
Due: web, web-beta

add clarification file license
  .github/clarification_file_license.json
Due: none

ci: update license check (#1578)
  .github/clarification_file_license.json
  .github/workflows/license_checker.yml
Due: none

test: refactored unit tests
  web/src/beta/lib/reearth-ui/components/Popup/index.test.tsx
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.test.tsx
Due: web, web-beta

test: add unit test to tooltip component
  web/src/beta/lib/reearth-ui/components/Tooltip/index.test.tsx
Due: none

test: remove unused test id
  web/src/beta/lib/reearth-ui/components/Slider/index.tsx
Due: web, web-beta

test(web): added tests for project screen
  web/e2e/playwright-tests/env.example
  web/e2e/playwright-tests/package-lock.json
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/pages/dashBoardPage.ts
  web/e2e/playwright-tests/pages/loginPage.ts
  web/e2e/playwright-tests/pages/projectsPage.ts
  web/e2e/playwright-tests/pages/recycleBinPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/projects.spec.ts
Due: web

chore(web): implement more components
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Panel/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
Due: web, web-beta

improve alias updated in edit panel
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

improve error handling
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/api/utils.ts
Due: web, web-beta

test(web): added tests for project screen (#1581)
  web/e2e/playwright-tests/env.example
  web/e2e/playwright-tests/package-lock.json
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/pages/dashBoardPage.ts
  web/e2e/playwright-tests/pages/loginPage.ts
  web/e2e/playwright-tests/pages/projectsPage.ts
  web/e2e/playwright-tests/pages/recycleBinPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/projects.spec.ts
Due: web

update error handling
  web/src/services/api/projectApi/index.ts
  web/src/services/api/utils.ts
Due: web, web-beta

remove fucntion dumplicates in error handling
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/services/api/projectApi/index.ts
Due: web, web-beta

initial refactor
  web/src/beta/features/AccountSetting/index.tsx
  web/src/beta/features/CursorStatus/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/beta/ui/layout/Panel/index.tsx
Due: web, web-beta

test: fix unit test for tooltip component
  web/src/beta/lib/reearth-ui/components/Tooltip/index.test.tsx
Due: none

test: refactor test coverage for unit tests
  web/vite.config.ts
Due: web

test: add unit test to components
  web/src/beta/ui/components/ConfirmModal/index.test.tsx
  web/src/beta/ui/components/EntryItem/index.test.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerHeader.tsx
  web/src/beta/ui/components/ManagerBase/index.test.tsx
  web/src/beta/ui/components/Sidebar/index.test.tsx
  web/src/beta/ui/fields/CameraField/index.test.tsx
  web/src/beta/ui/layout/Area/index.test.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/beta/ui/layout/Panel/index.test.tsx
  web/src/beta/ui/widgetui/Button/index.test.tsx
Due: web, web-beta

test: add test for text component
  web/src/beta/ui/widgetui/Text/index.test.tsx
Due: none

fix: add unit test step to ci build
  .github/workflows/ci_web.yml
Due: none

test: refactor tests
  web/src/beta/ui/layout/Area/index.test.tsx
  web/src/beta/ui/widgetui/Text/index.test.tsx
Due: none

test: check if ci step for tests fail when failed test is pushed
  web/src/beta/ui/widgetui/Text/index.test.tsx
Due: none

refactor: rename mersuredHeight
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
Due: web, web-beta

Revert "test: check if ci step for tests fail when failed test is pushed"
  web/src/beta/ui/widgetui/Text/index.test.tsx
Due: none

chore(web): implement remaining components
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/Switcher/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
Due: web, web-beta
