Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

modify query
  server/internal/infrastructure/mongo/project.go
Due: server

update filter
  server/internal/infrastructure/mongo/project.go
Due: server

fix: wrap values for style conditions
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.ts
Due: web, web-beta

refactor: update test & clean up
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.ts
Due: web, web-beta

fix(web): style code condition values need to be wrapped (#1295)
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.ts
Due: web, web-beta

fix(server): coresupport query missmatch (#1293)
  server/e2e/gql_project_test.go
  server/internal/infrastructure/mongo/project.go
Due: server

chore: update core version
  web/package.json
  web/yarn.lock
Due: web

chore(web): update core version to 0.0.7-alpha.21 (#1296)
  web/package.json
  web/yarn.lock
Due: web

feat(web): Improve time point input with ISO8601 (#1292)
  web/src/beta/ui/fields/TimePointField/EditPanel/hooks.ts
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
Due: web, web-beta, web-utils

chore: update version to 1.0.0-beta.1.0
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.1.0 (#1287)
  web/package.json
Due: web

ci: support custom versioning for release action
  .github/workflows/release.yml
Due: none

v1.0.0-beta.1.0
  CHANGELOG.md
Due: none

fix(web): add missing UNSAFE_PLUGIN_URLS environment variable
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

ci: migrate to secret manager for cesium ion token updater
  .github/workflows/_upload_cesium_token_txt.yml
  .github/workflows/update_cesium_ion_token_nightly.yml
Due: none

chore: ignore files that dont need type check and remove unused types
  web/e2e/utils/index.ts
  web/eslint.config.mjs
  web/src/types.ts
Due: web

fix: refactor types
  web/eslint.config.mjs
  web/src/sentry.ts
  web/src/services/auth/cognitoAuth.ts
Due: web, web-beta

chore: remove any types in files
  web/src/beta/pages/GraphQLPlayground/index.tsx
  web/src/beta/types/sceneProperty.ts
  web/src/beta/utils/value.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/gql/provider/pagination.ts
  web/src/services/i18n/provider.tsx
  web/src/services/theme/provider.tsx
  web/src/services/theme/reearthTheme/common/fonts.ts
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
  web/src/test/utils.tsx
  web/vite.config.ts
Due: web, web-beta, web-utils

chore: add types
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/hooks.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/atoms.ts
  web/src/sentry.ts
Due: web, web-beta

refactor: basic structure for presets
  web/src/beta/features/PluginPlayground/Code/HtmlEditModal.tsx
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

refactor: add key
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

refactor: remove button text
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

feat: basic widget ui
  server/pkg/builtin/manifest.yml
  web/components.json
  web/package.json
  web/postcss.config.js
  web/src/app.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/types.ts
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/button.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/card.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/input.tsx
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/src/beta/lib/reearth-widget-ui/utils.ts
  web/src/publishedapp.tsx
  web/src/services/api/widgetsApi/utils.ts
  web/tailwind.config.js
  web/tsconfig.json
  web/yarn.lock
Due: web, web-beta, server

responsive panel plugin first draft
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
Due: web, web-beta

chore(web): clean up usage of "any" type in code-base (#1294)
  web/e2e/utils/index.ts
  web/eslint.config.mjs
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/hooks.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/atoms.ts
  web/src/beta/pages/GraphQLPlayground/index.tsx
  web/src/beta/types/sceneProperty.ts
  web/src/beta/utils/value.ts
  web/src/sentry.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/gql/provider/pagination.ts
  web/src/services/i18n/provider.tsx
  web/src/services/theme/provider.tsx
  web/src/services/theme/reearthTheme/common/fonts.ts
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
  web/src/test/utils.tsx
  web/src/types.ts
  web/vite.config.ts
Due: web, web-beta, web-utils

chore: update core version to '0.0.7-alpha.22'
  web/package.json
Due: web

fix: run yarn install
  web/yarn.lock
Due: web

feat: add functionality to share plugin in plugin-playground
  web/package.json
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/yarn.lock
Due: web, web-beta

fix: amend base url for share-url
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
Due: web, web-beta

responsive panel plugin: refactor and reduce complexity
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
Due: web, web-beta

chore(web): update core version to '0.0.7-alpha.22' (#1303)
  web/package.json
  web/yarn.lock
Due: web

feat(web): support preset plugins on plugin playground (#1299)
  web/src/beta/features/PluginPlayground/Code/HtmlEditModal.tsx
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

style: update dark color
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
Due: web, web-beta

refactor: add experimental in title
  server/pkg/builtin/manifest.yml
Due: server

feat(web): setup basic widget ui (#1302)
  server/pkg/builtin/manifest.yml
  web/components.json
  web/package.json
  web/postcss.config.js
  web/src/app.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/types.ts
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/button.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/card.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/input.tsx
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/src/beta/lib/reearth-widget-ui/utils.ts
  web/src/publishedapp.tsx
  web/src/services/api/widgetsApi/utils.ts
  web/tailwind.config.js
  web/tsconfig.json
  web/yarn.lock
Due: web, web-beta, server

fix: add missing BRAND
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
