Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix lint error
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
Due: server

feat: wip
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/services/routing/index.tsx
Due: web, web-classic, web-beta

feat: wip
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/classic/components/molecules/Dashboard/Project.tsx
Due: web, web-classic, web-beta

feat: wip
  web/src/beta/components/Accordion/AccordionItem.tsx
  web/src/beta/components/Accordion/index.stories.tsx
  web/src/beta/components/Accordion/index.test.tsx
  web/src/beta/components/Accordion/index.tsx
  web/src/beta/components/Button/index.tsx
  web/src/beta/components/Icon/Icons/bin.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/deleteModal.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemBody.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemHeader.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/index.stories.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
  web/src/classic/components/molecules/Dashboard/Project.tsx
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/services/routing/index.tsx
Due: web, web-classic, web-beta

fix: type and import path
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
Due: web, web-beta

chore(web): revert cesium and resium (#641)
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/core/Imagery.test.ts
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/Tileset/index.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Globe.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.test.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/presets.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/classic/core/engines/Cesium/core/Globe.tsx
  web/src/classic/core/engines/Cesium/core/Imagery.test.ts
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
  web/src/classic/core/engines/Cesium/core/presets.ts
  web/src/classic/core/engines/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/utils.ts
  web/yarn.lock
Due: web, web-classic, web-beta

chore(server): upgrade reearthx
  server/go.mod
  server/go.sum
Due: server

feat: wip
  web/src/beta/components/Accordion/AccordionItem.tsx
  web/src/beta/components/Button/index.tsx
  web/src/beta/components/Icon/Icons/checkCircle.svg
  web/src/beta/components/Icon/Icons/install.svg
  web/src/beta/components/Icon/Icons/search.svg
  web/src/beta/components/Icon/Icons/uploadSimple.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Loading/index.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetCard/index.stories.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetCard/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetDeleteModal/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/deleteModal.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemHeader.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/common/spacing.ts
Due: web, web-beta

comments refactor
  server/go.mod
  server/gql/_shared.graphql
  server/gql/style.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/models.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/style_value.go
Due: server

revert back go ver
  server/go.mod
Due: server

fix lint error for writer
  server/internal/adapter/gql/gqlmodel/models.go
Due: server

fix lint error for writer with log
  server/internal/adapter/gql/gqlmodel/models.go
Due: server

comments refactors
  server/go.sum
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/pkg/nlslayer/config.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

revert unrelated changes
  server/go.sum
Due: server

number-input
  web/src/beta/components/fields/NumberInput/index.stories.tsx
  web/src/beta/components/fields/NumberInput/index.tsx
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: routes
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/classic/components/molecules/Dashboard/Project.tsx
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/services/routing/index.tsx
Due: web, web-classic, web-beta

fix(web): include single selection to the selection mode (#643)
  web/src/beta/lib/core/Crust/interactionMode.ts
Due: web, web-beta

refactor: infinite scroll load on asset
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/utils/infinite-scroll.ts
Due: web, web-beta, web-utils

refactor: use classic gql for plugin
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/services/config/extensions.ts
Due: web, web-beta

i18n: update i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: clear code
  web/src/services/routing/index.tsx
Due: web, web-beta

refactor: workspace id
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/pages/Page.tsx
Due: web, web-beta

refactor: clean up
  web/src/beta/components/Accordion/index.tsx
  web/src/beta/components/Collapse/index.stories.tsx
  web/src/beta/components/Collapse/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
Due: web, web-beta

fix(web): allow mouse event for react-dnd (#638)
  web/src/beta/utils/use-dnd/index.tsx
Due: web, web-beta, web-utils

update ToStyleValue
  server/internal/adapter/gql/gqlmodel/convert_scene.go
Due: server

comment out nls layer test
  server/e2e/gql_nlslayer_test.go
Due: none

lint error
  server/e2e/gql_nlslayer_test.go
Due: none

story publishing
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/app/web_test.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/memory/storytelling.go
  server/internal/infrastructure/s3/s3.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/published.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/published.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/repo/storytelling.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/page.go
  server/pkg/storytelling/page_list.go
  server/pkg/storytelling/story.go
Due: server

fix merge
  server/internal/usecase/interactor/storytelling.go
Due: server

fix
  server/internal/infrastructure/mongo/container.go
Due: server

chore(server): support appearance in server (#644)
  server/go.sum
  server/gql/_shared.graphql
  server/gql/scene.graphql
  server/gql/style.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/models.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/id/id.go
  server/pkg/scene/builder.go
  server/pkg/scene/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/style.go
  server/pkg/scene/style_value.go
  server/pkg/scene/styles_list.go
Due: server

chore(server): fix lint error from #644
  server/internal/adapter/gql/gqlmodel/convert_scene.go
Due: server

replace ANY with JSON
  server/go.sum
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: server

add config to layergroup from convert
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
Due: server

chore(server): add NLS layer support (#632)
  server/e2e/gql_nlslayer_test.go
  server/go.sum
  server/gql/layer.graphql
  server/gql/newlayer.graphql
  server/gql/scene.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/adapter/gql/resolver_nlslayer.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/nlslayer.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/nlslayer.go
  server/pkg/id/id.go
  server/pkg/layer/infobox.go
  server/pkg/layer/infobox_field.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/cloner.go
  server/pkg/nlslayer/config.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/id_list.go
  server/pkg/nlslayer/layer_type.go
  server/pkg/nlslayer/loader.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
Due: server

move-numberinput-out
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.stories.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
Due: web, web-beta

chore(server): add min/max to spacing fields
  server/e2e/gql_property_test.go
  server/pkg/builtin/manifest.yml
Due: server

refactor: svg config fullId
  web/src/beta/components/Icon/Icons/uploadSimple.svg
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/hooks.ts
Due: web, web-beta

- Basic UI with fields - Currently static, added todos for more work
  web/src/beta/components/fields/Camera/hooks.ts
  web/src/beta/components/fields/Camera/index.stories.tsx
  web/src/beta/components/fields/Camera/index.tsx
Due: web, web-beta
