Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix: resolve conflicts
  web/src/app/features/Editor/Widgets/WidgetInspectorPanel/hooks.ts
  web/src/services/api/widget/useWidgetMutations.ts
  web/src/services/api/widget/useWidgetQueries.ts
Due: web, web-beta

feat(server): was mobile support for project import [VIZ-2162] (#1785)
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_uploader.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/file/zip.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/scene.go
Due: server

refactor: clean up welcome component and improve types
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/hooks.ts
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/PhotoOverlaySettings/hooks.ts
  web/src/app/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/processNewProperty.ts
  web/src/app/features/Editor/hooks/useLayers.ts
  web/src/app/features/Published/convert-new-property.ts
  web/src/app/features/Published/convert.ts
  web/src/app/features/Published/hooks.ts
  web/src/app/features/Published/types.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
  web/src/app/features/Visualizer/shared/types.ts
  web/src/app/features/Visualizer/utils/useOverriddenProperty.test.ts
  web/src/app/features/Visualizer/utils/useOverriddenProperty.ts
  web/src/ee/features/Welcome/index.tsx
  web/src/services/api/layer/types.ts
  web/src/services/api/project/useProjectImportExportMutations.ts
  web/src/services/state/index.ts
  web/src/test/setup.ts
Due: web, web-beta

refactor: disable global modal
  web/src/app.tsx
Due: web

refactor(web): temporarily disable global modal (#1820)
  web/src/app.tsx
Due: web

chore(web): bump up version to 1.0.0-beta.10.0
  web/package.json
Due: web

chore(web): bump up version to 1.0.0-beta.10.0 (#1821)
  web/package.json
Due: web

v1.0.0-beta.10.0
  CHANGELOG.md
Due: none

refactor: check project id
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/project/types.ts
Due: web, web-beta

fix: field name
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
Due: web

chore: format
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/processNewProperty.ts
  web/src/app/features/Editor/hooks/useLayers.ts
  web/src/app/features/ProjectSettings/innerPages/ReadMeSettings/index.tsx
  web/src/app/features/Published/convert-new-property.ts
  web/src/app/features/Published/convert.ts
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/DefaultFields/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/types.ts
  web/src/app/features/Visualizer/Crust/hooks.tsx
  web/src/app/features/Visualizer/shared/components/BlockWrapper/hooks.ts
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/app/features/Visualizer/shared/types.ts
  web/src/app/features/Visualizer/utils/useOverriddenProperty.ts
  web/src/services/api/project/useProjectImportExportMutations.ts
  web/tsconfig.json
Due: web, web-beta

refactor: making code more readable
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
Due: web

refactor: simplify type
  web/src/app/features/Visualizer/Crust/StoryPanel/ClickAwayListener.tsx
Due: web

refactor: improve type
  web/src/services/api/layer/utils.ts
Due: web, web-beta

refactor: update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor(web): initialize widgets with default values and merge with extensions
  web/src/app/features/PluginPlayground/Code/hook.ts
Due: web

feat(web): add data attribution widget to plugin playground (#1823)
  web/src/app/features/PluginPlayground/Code/hook.ts
Due: web

chore: add script for scan yarn.lock
  web/bin/scan-yarn-lock.sh
  web/package.json
Due: web

chore: update reviewer
  .github/reviewer-lottery.yml
Due: none

chore(web): add script for scan yarn.lock, update reviewer (#1824)
  .github/reviewer-lottery.yml
  web/bin/scan-yarn-lock.sh
  web/package.json
Due: web

test
  server/internal/app/file_signature_uploader.go
Due: server

refactor: use new import api
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/app/features/Dashboard/type.ts
  web/src/services/api/project/useProjectImportExportMutations.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
Due: web, web-beta

refactor: update translation and test
  web/src/services/api/project/useProjectImportExportMutations.test.ts
  web/src/services/api/project/useProjectImportExportMutations.test.tsx
  web/src/services/api/project/useProjectImportExportMutations.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: unset Authorization on put request
  web/src/services/api/project/useProjectImportExportMutations.ts
Due: web, web-beta

fix: missing clear interval
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
Due: web

fix: json stringfy error log
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
Due: web

Allow access from storage trigger
  server/internal/app/app.go
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
Due: server

fix lint
  server/internal/app/file_import_common.go
Due: server

feat(server): Allow access from storage trigger [VIZ-2232] (#1825)
  server/internal/app/app.go
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
Due: server

fix(i18n): correct formatting of Japanese translation entries for error log download and import failure
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor(web): apply new project import API & update UI/UX [VIZ-2267] (#1813)
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectImportErrorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/app/features/Dashboard/type.ts
  web/src/services/api/project/useProjectImportExportMutations.test.ts
  web/src/services/api/project/useProjectImportExportMutations.test.tsx
  web/src/services/api/project/useProjectImportExportMutations.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): integrate workspace policy check to manage custom domain extension availability
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web

refactor: use enable instead of disable for better understanding
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web

refactor(web): integrate workspace policy check to manage custom domain extension availability [VIZ-2268] (#1826)
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web

fix(server): delete validation of url geojson
  server/e2e/gql_validate_geojson_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/pkg/visualizer/visualizer.go
Due: server
