Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

feat(server): migrate project/story alias [VIZ-1478] (#1590)
  server/e2e/gql_publish_test.go
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/migration/250507125156_update_alias.go
  server/internal/infrastructure/mongo/migration/250507125156_update_alias_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/scene.go
  server/pkg/alias/check.go
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
Due: server

refactor: update i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat: add photogrammetric 3d model example in playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
Due: web, web-beta

feat: update csv file and style
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
Due: web, web-beta

feat: add point cloud example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
Due: web, web-beta

refactor: update a translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

test(web): add unit tests for hooks [VIZ-1577] (#1592)
  web/src/beta/hooks/index.test.ts
  web/src/beta/hooks/useLoadMore.test.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/beta/ui/components/ManagerBase/index.test.tsx
  web/src/beta/ui/fields/Properties/index.test.tsx
  web/src/test/utils.tsx
Due: web

refactor(web): update alias prefix in public settings for consistency (#1596)
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
Due: web, web-beta

feat(web): add sceneId prop to PublicSettings and AliasSetting components
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Due: web, web-beta

refactor(web): use scene.id when reset alias of published map [VIZ-1601] (#1599)
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Due: web, web-beta

fix(server): use scene.id when id is checked in project.Publish
  server/e2e/gql_publish_test.go
  server/internal/testutil/factory/scene.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/project/builder.go
  server/pkg/scene/scene.go
Due: server

add alias to scene
  server/e2e/gql_publish_test.go
  server/gql/project.graphql
  server/gql/scene.graphql
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/adapter/http/published.go
  server/internal/app/public.go
  server/internal/app/public_test.go
  server/internal/app/web_test.go
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/published.go
  server/internal/usecase/interactor/published_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/published.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/repo/scene.go
  server/pkg/alias/check.go
  server/pkg/project/builder.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/publishment.go
  server/pkg/scene/scene.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Due: server

fix: review
  server/e2e/gql_publish_test.go
Due: none

fix(server): use scene.id when id is checked in project.Publish (#1598)
  server/e2e/gql_publish_test.go
  server/internal/testutil/factory/scene.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/project/builder.go
  server/pkg/scene/scene.go
Due: server

Update package.json
  web/package.json
Due: web

chore(ci): enable Corepack and set Yarn version in license checker workflow
  .github/workflows/license_checker.yml
Due: none

chore(web): enable Corepack and set Yarn version in license checker workflow (#1601)
  .github/workflows/license_checker.yml
Due: none

chore(web): update package version to 1.0.0-beta.6.0 (#1600)
  web/package.json
Due: web

feat: add new geojson example in playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-large-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
Due: web, web-beta

fix(api): disable caching for project alias check query
  web/src/services/api/projectApi/index.ts
Due: web, web-beta

fix(api): disable caching for checkStoryAlias query
  web/src/services/api/storytellingApi/index.ts
Due: web, web-beta

fix(publish): update alias handling in PublishOrUpdateModal and hooks
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
Due: web, web-beta

fix(server): fix alias duplicate check
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
Due: server

feat(publish): add update functionality for publishing projects and stories
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/services/api/projectApi/index.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: test
  server/e2e/gql_publish_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
Due: server

fix(i18n): correct typo in error message for story update
  web/src/services/api/storytellingApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: test
  server/e2e/gql_publish_test.go
Due: none

fix(web): disable cache on valid alias queries & fix ui around alias (#1603)
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/services/api/projectApi/index.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: test
  server/e2e/gql_publish_test.go
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): fix alias duplicate check (#1602)
  server/e2e/gql_publish_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
Due: server

v1.0.0-beta.6.0
  CHANGELOG.md
Due: none

ci(migration): update gcloud auth to use GC_WORKLOAD_IDENTITY_PROVIDER
  .github/workflows/run_migration.yml
Due: none

test(web): project tests fix
  web/e2e/playwright-tests/tests/projects.spec.ts
Due: web

ci(migration): update gcloud auth to use GC_WORKLOAD_IDENTITY_PROVIDER (#1604)
  .github/workflows/run_migration.yml
Due: none

test(web): project tests fix
  web/e2e/playwright-tests/pages/projectsPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/login.spec.ts
  web/e2e/playwright-tests/tests/projects.spec.ts
Due: web

test(web): project tests fix
  .github/workflows/playwright_ui_tests.yml
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
