Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix(server): sort recycle-bin and starred projects by last updated time
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

fix update project alias
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web

feat(web): fetch updatedAt for deleted and starred projects
  web/src/app/features/Dashboard/type.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

refactor(web): pass browser locale to auth0 during login [VIZ-DEV-93] (#2288)
  web/src/services/auth/auth0Auth.ts
Due: web, web-beta

update logics
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
Due: web

fix(server): add length assertions before indexing in ordering tests
  server/internal/infrastructure/mongo/project_test.go
Due: none

refactor(e2e): enable parallel workers for playwright suite
  e2e/playwright.config.ts
Due: none

refactor(e2e): dial back playwright workers from 3 to 2
  e2e/playwright.config.ts
Due: none

refactor(e2e): split flat tests/ directory into feature subfolders
  e2e/tests/account/accountWorkspaceSettings.spec.ts
  e2e/tests/account/members.spec.ts
  e2e/tests/auth/login.spec.ts.Skip
  e2e/tests/dashboard/dashboard.spec.ts
  e2e/tests/dashboard/dashboardFeatures.spec.ts
  e2e/tests/layer/externalLayers.spec.ts
  e2e/tests/layer/layerDeletionReorder.spec.ts
  e2e/tests/layer/multipleStyles.spec.ts
  e2e/tests/layer/page-refresh-on-mutation.spec.ts
  e2e/tests/layer/photoOverlay.spec.ts
  e2e/tests/project/projectSettings.spec.ts
  e2e/tests/project/projects.spec.ts
Due: none

refactor(e2e): add tsconfig path aliases, convert projects.spec.ts
  e2e/tests/project/projects.spec.ts
  e2e/tsconfig.json
Due: none

chore: upgrade zushi to 0.3.0
  web/package.json
  web/yarn.lock
Due: web

fix(server): restore scene permission checks on Style and NLSLayer mutations [VIZ-DEV-98][VIZ-DEV-99] (#2296)
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
Due: server

fix(server): order recycle-bin and starred projects by last updated time [VIZ-DEV-88] (#2297)
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  web/src/app/features/Dashboard/type.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta, server

fix(ci): stop playwright-tests-pr and playwright-tests-e2e-only colliding
  .github/workflows/ci.yml
Due: none

refactor(e2e): remove fragile deriveApiEndpoint/deriveApiBase fallbacks
  e2e/api/config/env.ts
Due: none

improve migration
  server/internal/infrastructure/mongo/migration/260701000000_revert_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260701000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260701000000_set_tile_category_test.go
Due: server

improve notification and ux
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/app/ui/fields/InputField/index.tsx
  web/src/services/api/project/useProjectQueries.ts
  web/src/services/api/scene/useSceneQueries.ts
  web/src/services/api/storytelling/useStoryQueries.ts
  web/src/services/gql/index.ts
  web/src/services/gql/provider/links/taskLink.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(e2e): add missing recordVideo, switch trace to always-on
  e2e/playwright.config.ts
  e2e/utils/iap-auth.ts
Due: none

refactor(e2e): restructure projects.spec.ts to per-test contexts
  e2e/tests/projects.spec.ts
Due: none

fix(ci): let api-setup use browser login instead of blocked ROPC grant
  .github/workflows/playwright_ui_tests.yml
Due: none

fix(e2e): use retain-on-failure instead of always-on trace
  e2e/playwright.config.ts
Due: none

fix(ci): set REEARTH_E2E_API_URL in playwright_api_tests.yml
  .github/workflows/playwright_api_tests.yml
Due: none

fix(e2e): make test:api:local self-contained for REEARTH_E2E_API_URL
  e2e/package.json
Due: none

docs(e2e): fix stale docs claiming REEARTH_E2E_API_URL fallback
  e2e/ONBOARDING.md
  e2e/env.example
Due: none

chore(e2e): point allure report root at latest run instead of dashboard page
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  e2e/dashboard/index.html
Due: none

Potential fix for pull request finding
  .github/workflows/playwright_ui_tests.yml
Due: none

Potential fix for pull request finding
  .github/workflows/playwright_api_tests.yml
Due: none

fix(server): gate split-upload session creation on workspace permission [SCA-03]
  server/e2e/gql_project_import_split_test.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

chore(e2e): point allure report root at latest run instead of dashboard page (#2302)
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  e2e/dashboard/index.html
Due: none

fix(server): address review feedback on split-upload session fix
  server/e2e/gql_project_import_split_test.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

chore: update core package
  web/package.json
  web/yarn.lock
Due: web

refactor(server): trim comments in split-upload session handling
  server/internal/app/file_split_uploader.go
Due: server

docs(server): spell out fd/tmpfs jargon in split-upload comments
  server/internal/app/file_split_uploader.go
Due: server

ci: added video recording for the visualizer tests
  e2e/playwright.config.ts
Due: none

Pass recordVideo on the non-IAP path and centralize the options in a shared RECORD_VIDEO_OPTIONS constant so every context-creation path records video consistently.
  e2e/utils/iap-auth-common.ts
  e2e/utils/iap-auth-id-token.ts
  e2e/utils/iap-auth.ts
Due: none

chore(web): bump up version to 1.0.0-beta.16.13
  web/package.json
Due: web

fix(server): move project import status/log into own projectimport collection [VIZ-DEV-65] (#2286)
  server/internal/infrastructure/mongo/migration/260701120000_move_import_status_to_own_collection.go
  server/internal/infrastructure/mongo/migration/260701120000_move_import_status_to_own_collection_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/project_import.go
  server/internal/infrastructure/mongo/project_metadata.go
  server/internal/infrastructure/mongo/project_metadata_test.go
Due: server

chore(web): bump up version to 1.0.0-beta.16.13 (#2305)
  web/package.json
Due: web

revert changes
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
Due: none

remove unused code
  .github/workflows/playwright_ui_tests.yml
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
