Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

test
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/http/user.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/policy.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/policy/policy.go
Due: server

test
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/http/user.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/grpc.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/user_adapter.go
  server/internal/infrastructure/memory/workspace_adapter.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/user_adapter.go
  server/internal/infrastructure/mongo/workspace_adapter.go
Due: server

lint
  server/internal/app/file_import_common.go
  server/internal/app/grpc.go
  server/internal/infrastructure/mongo/container.go
Due: server

test
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

test
  server/e2e/common.go
  server/e2e/gql_me_test.go
  server/e2e/seeder.go
  server/internal/app/grpc.go
  server/internal/app/repo.go
  server/internal/app/repo_adapter.go
  server/internal/app/server.go
  server/internal/app/usecase.go
Due: server

test
  server/e2e/gql_me_test.go
  server/e2e/gql_user_test.go
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/seeder.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/convert_user_test.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/app/lang_test.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/plugin_upload_test.go
  server/internal/usecase/interactor/project_metadata_test.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/property_test.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/internal/usecase/interactor/storytelling_policy_test.go
  server/internal/usecase/interactor/usecase_test.go
  server/internal/usecase/repo/container_test.go
Due: server

test
  server/e2e/gql_me_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/seeder.go
Due: server

test
  server/e2e/common.go
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/context.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/http/user.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/grpc.go
  server/internal/app/public.go
  server/internal/app/repo.go
  server/internal/app/repo_adapter.go
  server/internal/app/usecase.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/user.go
  server/internal/infrastructure/memory/user_adapter.go
  server/internal/infrastructure/memory/workspace.go
  server/internal/infrastructure/memory/workspace_adapter.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/user.go
  server/internal/infrastructure/mongo/mongodoc/workspace.go
  server/internal/infrastructure/mongo/user.go
  server/internal/infrastructure/mongo/user_adapter.go
  server/internal/infrastructure/mongo/workspace.go
  server/internal/infrastructure/mongo/workspace_adapter.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/repo/container.go
Due: server

migrate package scene
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/list.go
  server/pkg/scene/list_test.go
  server/pkg/scene/scene.go
  server/pkg/scene/scene_test.go
  server/pkg/scene/sceneops/plugin_migrator_test.go
Due: server

migrate package project
  server/pkg/project/builder.go
  server/pkg/project/builder_metadata.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_metadata.go
  server/pkg/project/project_test.go
Due: server

fix(server): update the topic filtering condition from `$in` to `$all` (#1919)
  server/e2e/proto_all_project_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

test
  server/go.mod.bak
  server/go.sum
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/user.go
  server/internal/infrastructure/memory/workspace.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/user.go
  server/internal/infrastructure/mongo/mongodoc/workspace.go
  server/internal/infrastructure/mongo/user.go
  server/internal/infrastructure/mongo/workspace.go
Due: server

chore: set graphql resolution
  web/package.json
  web/yarn.lock
Due: web

chore: upgrade js-yaml to 4.1.1
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade js-yaml and add resolution for graphql (#1933)
  web/package.json
  web/yarn.lock
Due: web

test(web): fixed versions
  e2e/package-lock.json
Due: none

test(web): fixed versions (#1934)
  e2e/package-lock.json
Due: none

chore: use js-yaml v4.1.1
  web/package.json
  web/yarn.lock
Due: web

chore(web): set resolution for js-yaml to v4.1.1 (#1936)
  web/package.json
  web/yarn.lock
Due: web

refactor: control graphql playground by env var
  web/.env.example
  web/src/app/pages/GraphQLPlayground/index.tsx
  web/src/services/config/index.ts
Due: web, web-beta

chore: update env config for docker
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

test: project test extended (#1923)
  e2e/pages/loginPage.ts
  e2e/pages/projectScreenPage.ts
  e2e/tests/projects.spec.ts
Due: none

temp
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/grpc.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/accounts_operator.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
Due: server

test
  go.work.sum
  server/.env.docker
  server/go.mod
  server/go.sum
Due: server

chore(server): refactore otel
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/main.go
  server/internal/app/otel/middleware.go
  server/internal/app/otel/otel.go
  server/internal/app/tracer.go
Due: server

add repogitory
  server/go.mod
  server/go.sum
  server/internal/app/grpc.go
  server/internal/app/usecase.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_policy_test.go
  server/internal/usecase/interfaces/common.go
Due: server

test
  server/internal/app/repo.go
  server/internal/app/server.go
Due: server

switch otel service name
  server/internal/app/app.go
  server/internal/app/otel/otel.go
  server/internal/app/server.go
Due: server

refactor(web): enable graphql playground by env var (#1937)
  web/.env.example
  web/Dockerfile
  web/docker/reearth_config.json.template
  web/src/app/pages/GraphQLPlayground/index.tsx
  web/src/services/config/index.ts
Due: web, web-beta

chore(server): improve the code related to otel (#1938)
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/main.go
  server/internal/app/otel/middleware.go
  server/internal/app/otel/otel.go
  server/internal/app/server.go
  server/internal/app/tracer.go
Due: server

fix(server): fix config tag for otel
  server/internal/app/app.go
  server/internal/app/config/config.go
Due: server

fix(server): fix config tag for otel (#1939)
  server/internal/app/app.go
  server/internal/app/config/config.go
Due: server

fix(server): fix env name for otel
  server/internal/app/app.go
  server/internal/app/config/config.go
Due: server

fix(server): fix env name for otel (#1940)
  server/internal/app/app.go
  server/internal/app/config/config.go
Due: server

fix(server): update go.mod for otel error
  server/go.mod
  server/go.sum
  server/internal/app/main.go
Due: server

fix: nil pointer
  server/internal/app/main.go
Due: server

update go.mod
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

fix(server): update go.mod for otel error (#1941)
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/app/main.go
Due: server

fix(server): init tracer for otel
  server/e2e/common.go
  server/internal/app/main.go
  server/internal/app/server.go
Due: server
