Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

chore(web): bump version to 1.0.0-beta.16.18
  web/package.json
Due: web

fix(server): apply workspace/scene filters to authenticated requests (SEC-01)
  server/e2e/gql_project_workspace_scoping_test.go
  server/internal/app/app.go
  server/internal/app/usecase_test.go
Due: server

chore(web): bump version to 1.0.0-beta.16.18 (#2347)
  web/package.json
Due: web

improve error message
  server/internal/usecase/interactor/project.go
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/errmsg/errmsg_generated.go
Due: server

v1.0.0-beta.16.18
  CHANGELOG.md
Due: none

fix(server): gofmt import ordering in usecase_test.go
  server/internal/app/usecase_test.go
Due: none

chore(server): upgrade Go from 1.26.4 to 1.26.5 (#2338)
  .github/workflows/build_release.yml
  go.work
  server/.tool-versions
  server/Dockerfile
  server/Dockerfile.dev
  server/go.mod
Due: server

chore: split major Go dependency updates into separate Renovate PRs (#2339)
  .github/renovate.json
Due: none

chore(web): update @reearth/core to 0.0.7-alpha.78
  web/package.json
  web/yarn.lock
Due: web

update logics
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/alias/check_test.go
  server/pkg/i18n/locales/entitymsg/en.json
  server/pkg/i18n/locales/entitymsg/ja.json
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
Due: server

fix test faily
  server/internal/usecase/interactor/project_test.go
Due: none

chore(web): update @reearth/core to 0.0.7-alpha.78 (#2350)
  web/package.json
  web/yarn.lock
Due: web

fix(web): send correct language header for bare locale codes
  web/src/services/gql/provider/links/langLink.test.ts
  web/src/services/gql/provider/links/langLink.ts
Due: web, web-beta

update the lower case logic and test
  server/e2e/gql_publish_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/alias/check_test.go
Due: server

refactor(server): improve alias validation error message [VIZ-DEV-152] (#2349)
  server/e2e/gql_publish_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/alias/check_test.go
  server/pkg/i18n/locales/entitymsg/en.json
  server/pkg/i18n/locales/entitymsg/ja.json
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
Due: server

fix(server): verify push-request tokens and filter repos for import routes (SEC-02)
  server/e2e/import_project_auth_test.go
  server/internal/app/config/config.go
  server/internal/app/file_import_common.go
  server/internal/app/pubsub_auth.go
  server/internal/app/pubsub_auth_test.go
  server/internal/app/usecase.go
Due: server

fix(server): make the push token error log name the actual path
  server/internal/app/file_import_common.go
Due: server

refactor(web): improve UI/UX for tiles added by Street View and Google Search Widgets [VIZ-DEV-86] (#2285)
  server/internal/infrastructure/mongo/migration/260701000000_revert_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260701000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260701000000_set_tile_category_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/app/features/Editor/Map/InspectorPanel/hooks/usePropertyDecorations.tsx
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.ts
  web/src/app/features/Editor/common/SystemTileTypeInfo.tsx
  web/src/app/features/Editor/common/index.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/types.ts
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
  web/src/app/ui/fields/ListField/ListItem.tsx
  web/src/app/ui/fields/ListField/index.tsx
  web/src/app/ui/fields/Properties/PropertyField.tsx
  web/src/app/ui/fields/Properties/index.test.tsx
  web/src/app/ui/fields/Properties/index.tsx
  web/src/app/utils/convert-object.ts
  web/src/services/api/property/usePropertyMutations.ts
  web/src/services/api/widget/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/property.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

fix(server): update SetTileCategory migration timestamp
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: update timestamp for related files
  server/internal/infrastructure/mongo/migration/260804000000_revert_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): update SetTileCategory migration timestamp (#2354)
  server/internal/infrastructure/mongo/migration/260804000000_revert_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): handle group-shaped legacy tiles in SetTileCategory migration
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category_test.go
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type.go
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): log per-property detail in RepairSetTileCategoryLegacyTileType
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type.go
Due: server

fix(server): address review feedback on tile category migrations
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type.go
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type_test.go
Due: server

chore(e2e): add CLAUDE.md and story ID annotations to E2E tests
  e2e/CLAUDE.md
  e2e/tests/account/accountWorkspaceSettings.spec.ts
  e2e/tests/account/members.spec.ts
  e2e/tests/dashboard/dashboard.spec.ts
  e2e/tests/dashboard/dashboardFeatures.spec.ts
  e2e/tests/layer/externalLayers.spec.ts
  e2e/tests/layer/layerDeletionReorder.spec.ts
  e2e/tests/layer/multipleStyles.spec.ts
  e2e/tests/layer/photoOverlay.spec.ts
  e2e/tests/project/projectSettings.spec.ts
  e2e/tests/project/projects.spec.ts
Due: none

fix(server): gate widget cleanup on confirmed scene correction
  server/internal/infrastructure/mongo/migration/260804000000_set_tile_category.go
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type.go
  server/internal/infrastructure/mongo/migration/260804013000_repair_set_tile_category_legacy_tile_type_test.go
Due: server

fix(server): dedup export zip assets and cap total export size
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_export_zip_test.go
Due: server

fix: clear modal/popup content on close to reset iframe state
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/ModalContainer/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginInstance.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
  web/src/app/features/Visualizer/Crust/hooks.tsx
Due: web

fix: remain a minimal HTML structure to avoid ResizeObserver errors
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

fix(server): address review feedback on export zip dedup and budget
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_export_zip_test.go
Due: server

fix(server): restore asset URL prefix check in project export
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
Due: server

Potential fix for pull request finding
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
Due: web

refactor: avoid forcing fit-content
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
Due: web

test: add unit test for popup modal close
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
Due: none

improvements
  web/src/app/lib/reearth-ui/components/PopupMenu/index.tsx
Due: web

refactor: fix lint issue
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
Due: none

fix(server): use the correctly-typed operator when filtering accounts container
  server/internal/adapter/context.go
  server/internal/app/usecase.go
  server/internal/app/usecase_test.go
Due: server

fix(server): compare parsed host, not raw string prefix, in asset URL check
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
Due: server

fix: correct the sizing avoid take additional space in WAS area
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
Due: web

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
