Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

next page story block
  web/src/beta/lib/core/StoryPanel/Block/builtin/NextPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/context.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

move onclick to button, not icon
  web/src/beta/lib/core/StoryPanel/Block/builtin/NextPage/index.tsx
Due: web, web-beta

chore(web): fix unsafe builtin widget logic to work well on published page (#845)
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/index.ts
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/unsafeBlocks.ts
  web/src/beta/lib/core/Crust/Infobox/Block/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/unsafeWidgets.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/published.tsx
Due: web, web-beta

fix type error temporarily
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

hide panel settings icon if no panel settings
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
Due: web, web-beta

fix timeline play
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
Due: web, web-beta

refactor: use string label text
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
Due: web, web-beta

chore(web): fix timeline block breaking when time set to current day (#847)
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
Due: web, web-beta

fix block names
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-classic, web-beta

chore(web): next page button story block (#846)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/components/Icon/Icons/nextPageStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/NextPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/context.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-classic, web-beta, server

chore(web): stringify label text (#848)
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
Due: web, web-beta

fix (again) published WAS default padding
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

remove console log
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

chore(web): color bug fix (#843)
  web/src/beta/components/fields/ColorField/hooks.ts
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
Due: web, web-beta

allow map project to be selected in settings
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Due: web, web-beta

fix camera going to current page's cam on tab change
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
Due: web, web-beta

chore(web): fixing a few bugs (#849)
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
Due: web, web-beta

fixes
  web/src/beta/components/RadioGroup/RadioBox/index.tsx
  web/src/beta/components/RadioGroup/index.tsx
  web/src/services/api/projectApi.ts
Due: web, web-beta

refactor: make 0 avaliable
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

refactor: use ??
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

chore(web): fix published WAS area padding (#850)
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

fix(server): serve published metadata of storytelling
  server/internal/usecase/interactor/published.go
Due: server

fix(server): serve published metadata of storytelling (#851)
  server/internal/usecase/interactor/published.go
Due: server

fix(server): cannot find storytelling by public name
  server/internal/infrastructure/mongo/storytelling.go
Due: server

fix asset issue
  web/src/beta/features/Assets/hooks.ts
Due: web, web-beta

fix type error in story
  web/src/beta/components/RadioGroup/RadioBox/index.stories.tsx
Due: none

fix allowing min/max numbers
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
Due: web, web-beta

fix min/max not being used
  web/src/beta/features/Editor/Visualizer/convert-story.ts
Due: web, web-beta

fix story panel's width growing
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

chore(web): fix assets not refetching (#852)
  web/src/beta/components/RadioGroup/RadioBox/index.stories.tsx
  web/src/beta/components/RadioGroup/RadioBox/index.tsx
  web/src/beta/components/RadioGroup/index.tsx
  web/src/beta/features/Assets/hooks.ts
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/services/api/projectApi.ts
Due: web, web-beta

improve click when padding is introduced
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/utils.ts
Due: web, web-beta

imptove timeline UI
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
Due: web, web-beta

add d3 in package.json
  web/package.json
  web/yarn.lock
Due: web

remove random files
  package.json
  yarn.lock
Due: none

fix uploaded plugins not showing until refresh
  web/src/services/api/pluginsApi.ts
Due: web, web-beta

fix map tab's left panel overflowing
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
Due: web, web-beta

fix story tab's layers list ui breaking on text overflow
  web/src/beta/components/CheckboxField/index.tsx
Due: web, web-beta

fix camera field ui breakage
  web/src/beta/components/fields/CameraField/index.tsx
Due: web, web-beta

chore(web): multiple bug fixes (#854)
  web/src/beta/components/CheckboxField/index.tsx
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/components/fields/CameraField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/services/api/pluginsApi.ts
Due: web, web-beta

stop deselection on clicking page/block again
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
