Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

v1.0.0-beta.16.8
  CHANGELOG.md
Due: none

chore: add Backstage catalog-info.yaml
  catalog-info.yaml
Due: none

chore: add Backstage catalog-info.yaml (#2238)
  catalog-info.yaml
Due: none

chore: add tests for story timeline block and field component
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.test.ts
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.test.tsx
Due: none

Potential fix for pull request finding
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.test.tsx
Due: none

test: update test based on code implement
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.test.ts
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.test.tsx
Due: none

Potential fix for pull request finding
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.test.ts
Due: none

chore(server): add 1Password env injection for local development (#2201)
  server/.env.accounts.docker.example
  server/.gitignore
  server/Makefile
  server/README.md
  server/app.accounts.env
  server/app.env
  server/mk/docker.mk
Due: server

chore: update test
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.test.ts
Due: none

chore(web): add tests for story timeline block and field component (#2241)
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.test.ts
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.test.tsx
Due: none

fix(server): batch property schema fetch in ExportPlugins (SCA-05)
  server/internal/usecase/interactor/plugin.go
Due: server

fix(server,web): clean up partial import on failure (REL-04)
  server/internal/app/file_import_common.go
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectImportErrorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

chore(web): add i18n translations for import rollback message
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(web): move sentinel hard-reload fix into sentinel library
  web/public/sw.js
  web/src/services/sentinel/index.ts
Due: web, web-beta

chore(ci): remove redundant post-deploy playwright tests
  .github/workflows/ci.yml
Due: none

perf(ci): use native arm64 runner for release web docker build
  .github/workflows/build_web.yml
Due: none

fix: fix comment by colipot
  web/src/services/sentinel/index.ts
Due: web, web-beta

chore: implement ai-friendly documentation system
  web/CLAUDE.md
  web/STORY_PANEL_IMPROVEMENTS.md
  web/docs/README.md
  web/docs/architecture/overview.md
  web/docs/concepts/feature-flags.md
  web/docs/guides/getting-started.md
  web/docs/index.json
  web/docs/modules/services/config.md
  web/docs/reference/code-conventions.md
  web/docs/reference/commands.md
  web/docs/reference/environment-variables.md
  web/docs/scripts/generate-module-docs.js
  web/docs/scripts/update-index.js
  web/docs/scripts/validate-docs.js
  web/docs/setup/1password-setup.md
  web/docs/setup/custom-providers.md
  web/docs/templates/adr-template.md
  web/docs/templates/concept-guide.md
  web/docs/templates/feature-guide.md
  web/docs/templates/module-guide.md
  web/docs/templates/troubleshooting.md
  web/eslint.config.mjs
  web/package.json
Due: web

Potential fix for pull request finding
  web/docs/README.md
Due: web

Potential fix for pull request finding
  web/docs/architecture/overview.md
Due: web

fix: path
  web/docs/scripts/validate-docs.js
Due: web

chore: correct document scripts
  web/docs/index.json
  web/docs/reference/commands.md
Due: web

Potential fix for pull request finding
  web/docs/scripts/update-index.js
Due: web

docs: re-generate index
  web/docs/index.json
Due: web

docs: update document and validate script
  web/docs/scripts/validate-docs.js
  web/docs/setup/custom-providers.md
Due: web

chore: add checklist item for document
  .github/pull_request_template.md
Due: none

chore(web): implement modular AI-friendly documentation system (#2246)
  .github/pull_request_template.md
  web/CLAUDE.md
  web/STORY_PANEL_IMPROVEMENTS.md
  web/docs/README.md
  web/docs/architecture/overview.md
  web/docs/concepts/feature-flags.md
  web/docs/guides/getting-started.md
  web/docs/index.json
  web/docs/modules/services/config.md
  web/docs/reference/code-conventions.md
  web/docs/reference/commands.md
  web/docs/reference/environment-variables.md
  web/docs/scripts/generate-module-docs.js
  web/docs/scripts/update-index.js
  web/docs/scripts/validate-docs.js
  web/docs/setup/1password-setup.md
  web/docs/setup/custom-providers.md
  web/docs/templates/adr-template.md
  web/docs/templates/concept-guide.md
  web/docs/templates/feature-guide.md
  web/docs/templates/module-guide.md
  web/docs/templates/troubleshooting.md
  web/eslint.config.mjs
  web/package.json
Due: web

fix(server): batch property schema fetch per reader and guard nil plugins
  server/internal/infrastructure/adapter/property_schema.go
  server/internal/usecase/interactor/plugin.go
Due: server

chore: update document for schema driven field rendering
  web/docs/concepts/schema-driven-field-rendering.md
  web/docs/index.json
Due: web

refactor: support slots on field components
  web/src/app/ui/components/Badge/index.tsx
  web/src/app/ui/components/WarningBanner/index.tsx
  web/src/app/ui/components/index.ts
  web/src/app/ui/fields/AssetField/index.test.tsx
  web/src/app/ui/fields/AssetField/index.tsx
  web/src/app/ui/fields/CameraField/index.tsx
  web/src/app/ui/fields/ColorField/index.tsx
  web/src/app/ui/fields/CommonField/index.test.tsx
  web/src/app/ui/fields/CommonField/index.tsx
  web/src/app/ui/fields/InputField/index.tsx
  web/src/app/ui/fields/NumberField/index.tsx
  web/src/app/ui/fields/Properties/PropertyField.tsx
  web/src/app/ui/fields/Properties/index.test.tsx
  web/src/app/ui/fields/RangeField/index.tsx
  web/src/app/ui/fields/SelectField/index.tsx
  web/src/app/ui/fields/SliderField/index.tsx
  web/src/app/ui/fields/SpacingField/index.tsx
  web/src/app/ui/fields/SwitchField/index.tsx
  web/src/app/ui/fields/TextareaField/index.tsx
  web/src/app/ui/fields/TimePeriodField/index.tsx
  web/src/app/ui/fields/TimePointField/index.tsx
  web/src/app/ui/fields/TwinInputField/index.tsx
  web/src/app/ui/fields/ZoomLevelField/index.tsx
  web/src/test/utils.tsx
Due: web

fix(server): align remotePluginClient timeout to LB ceiling (30s)
  server/internal/usecase/interactor/plugin_upload.go
Due: server

fix(server): warn on invalid asset URL during GCS delete
  server/internal/infrastructure/mongo/asset.go
Due: server

chore: update sentinel to 0.1.1
  web/package.json
  web/yarn.lock
Due: web

fix(server): paginate StarredProjects and DeletedProjects GraphQL queries (#2182)
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Due: server

fix(server): batch property schema fetch in ExportPlugins (SCA-05) (#2243)
  server/internal/infrastructure/adapter/property_schema.go
  server/internal/usecase/interactor/plugin.go
Due: server

fix(server): add HTTP client timeouts for marketplace and plugin upload (REL-02, REL-03) (#2186)
  server/internal/infrastructure/marketplace/marketplace.go
  server/internal/usecase/interactor/plugin_upload.go
Due: server
