Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Keys
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

MapWithIDFunc
  server/pkg/list/list.go
Due: server

Clone, List
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
  server/pkg/property/schema_list.go
  server/pkg/property/schema_list_test.go
Due: server

make gql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: none

MapWithIDFunc
  server/pkg/dataset/schema_list.go
  server/pkg/property/schema_list.go
Due: server

go mod tidy実行
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

fix for go mod tidy
  server/e2e/common.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/loader_user.go
  server/internal/app/repo.go
  server/internal/infrastructure/memory/policy.go
Due: server

Deref, Properties
  server/pkg/layer/list.go
  server/pkg/list/list.go
  server/pkg/list/list_test.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/scene/cluster_list.go
  server/pkg/scene/cluster_list_test.go
  server/pkg/tag/list.go
  server/pkg/tag/list_test.go
Due: server

Get
  server/pkg/list/list.go
  server/pkg/list/list_test.go
  server/pkg/scene/cluster_list.go
Due: server

Last, Deref, Map, Add, List, Clone, Remove, Merge
  server/pkg/layer/list.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

list_test.go
  server/pkg/list/list_test.go
Due: none

fix list.go
  server/pkg/list/list.go
Due: server

MapWithIDFunc
  server/pkg/dataset/schema_list.go
  server/pkg/dataset/schema_list_test.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
Due: server

Last
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

IDs
  server/pkg/layer/list.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

List
  server/pkg/dataset/schema_list.go
  server/pkg/dataset/schema_list_test.go
  server/pkg/layer/list.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

ToGenericList, Last
  server/pkg/layer/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

Find
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

TestMap_Add
  server/pkg/layer/list_test.go
Due: none

AddUnique
  server/pkg/layer/list.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

Pick
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

fix map using test
  server/pkg/dataset/schema_list_test.go
  server/pkg/layer/list_test.go
  server/pkg/list/list_test.go
  server/pkg/tag/list_test.go
Due: none

RemoveByIds
  server/pkg/list/list.go
  server/pkg/list/list_test.go
  server/pkg/scene/cluster_list.go
  server/pkg/scene/cluster_list_test.go
Due: server

Has
  server/pkg/list/list.go
  server/pkg/list/list_test.go
  server/pkg/scene/cluster_list.go
Due: server

fiv reearthx and go mod tidy
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

Add
  server/pkg/list/list.go
Due: server

TestMap_List
  server/pkg/layer/list_test.go
Due: none

Last, Deref, Map, Add, List, Clone, Remove, Merge
  server/pkg/layer/list_test.go
Due: none

Pick
  server/pkg/list/list.go
Due: server

fix using util pkg
  server/pkg/dataset/schema_list.go
  server/pkg/id/property_schema_list.go
  server/pkg/layer/list.go
  server/pkg/list/list.go
  server/pkg/list/list_test.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/property/group_list.go
  server/pkg/property/schema_list.go
  server/pkg/scene/cluster_list.go
  server/pkg/storytelling/page_list.go
  server/pkg/tag/list.go
Due: server

ListClone, ListMerge, Contains, RemoveById, Filter, IndexOf
  server/pkg/id/property_schema_list.go
  server/pkg/list/list.go
  server/pkg/list/list_test.go
  server/pkg/property/group_list.go
  server/pkg/storytelling/page_list.go
  server/pkg/tag/list.go
Due: server

list_test
  server/pkg/list/list_test.go
Due: none

ToGenericList
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
Due: server

MapPick
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/list/list.go
  server/pkg/nlslayer/nlslayer_list.go
Due: server

TestMap_Merge
  server/pkg/layer/list_test.go
Due: none

list.go
  server/pkg/list/list.go
Due: server

feat(server): Create List as a generic pkg (#900)
  go.work.sum
  server/e2e/common.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_user.go
  server/internal/app/repo.go
  server/internal/infrastructure/memory/policy.go
  server/pkg/dataset/schema_list.go
  server/pkg/dataset/schema_list_test.go
  server/pkg/id/property_schema_list.go
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/property/group_list.go
  server/pkg/property/schema_list.go
  server/pkg/property/schema_list_test.go
  server/pkg/scene/cluster_list.go
  server/pkg/scene/cluster_list_test.go
  server/pkg/storytelling/page_list.go
  server/pkg/tag/list.go
  server/pkg/tag/list_test.go
Due: server

fix(server): v2.Map is depreciated with mongo driver 2.0
  server/internal/infrastructure/mongo/mongodoc/dataset.go
Due: server

chore(web): mvt provider refactor
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
Due: web, web-beta

chore(web): add colon as reserved word in style evaluator
  web/src/beta/lib/core/mantle/evaluator/simple/expression/runtime.ts
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.test.ts
Due: web, web-beta
