Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix: run translation script
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat: add more translate
  web/src/beta/features/CreateWorkspaceModal/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceModal.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat: add more translate
  server/pkg/builtin/manifest_ja.yml
Due: server

refactor: clean up & updates base on comments
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishOrUpdateSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishedOrUpdatedSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/UnpublishModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/common.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/Editor/Publish/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add more translate
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add more translate
  server/pkg/builtin/manifest_ja.yml
Due: server

refactor: clean up
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/ProjectSettings/hooks.ts
Due: web, web-beta

bug fix
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/scene/builder/scene.go
Due: server

fix test error
  server/pkg/scene/builder/scene_test.go
Due: none

bug fix nlsLayers
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/scene.go
Due: server

fix: revert public logo change
  public/reearth-logo.svg
Due: none

fix: revert changes to text copy
  web/e2e/pom/visualizer/dashboard/ProjectsPage.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): add new logo to screens (#1230)
  web/src/app.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/LogoWrapper.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/NotFound/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/Published/NotFound.tsx
  web/src/beta/features/RootPage/PageWrapper.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LogoWithText.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/logo.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/Loading/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/beta/pages/RootPage/index.tsx
  web/src/beta/ui/assets/defaultBetaProjectImage.png
  web/src/beta/ui/assets/defaultProjectBackgroundImage.png
  web/src/favicon.ico
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/colors.ts
Due: web, web-beta

improve implementation
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/hooks/useTimelineBlock.ts
  web/vite.config.ts
Due: web, web-beta

fix(web): remove `coverImageUrl` from reearth connfig
  web/docker/reearth_config.json.template
Due: web

fix(web): publish scene and story could use the same alias by mistake (#1238)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/hooks.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishOrUpdateSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishedOrUpdatedSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/UnpublishModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/common.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/Editor/Publish/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/services/api/projectApi.ts
  web/src/services/api/publishTypes.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/toGqlStatus.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

tmp file out put
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

fix typo
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
Due: web, web-beta

refactor: replace default project image & update styles
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/ui/assets/defaultProjectBackgroundImage.png
  web/src/beta/ui/assets/defaultProjectBackgroundImage.webp
Due: web, web-beta

refactor: use webp
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
Due: web, web-beta

fixup! fix typo
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix typo
  web/src/beta/features/PluginPlayground/Code/index.tsx
Due: web, web-beta

fix: update button disabled state logic in HTML editor
  web/src/beta/features/PluginPlayground/Code/index.tsx
Due: web, web-beta

refactor: remove node in gql and skip unnecessary request for stories
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/type.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/types.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

fix: workaround: trigger a second fly
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
Due: web, web-beta

fix: update regex pattern for HTML injection to correctly capture quotes
  web/src/beta/features/PluginPlayground/Code/utils.ts
Due: web, web-beta

feat(web): plugin playground/upload file and download plugin (#1216)
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/utils.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

feat: support property placeholder
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Visualizer/processNewProperty.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/hooks.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/property.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

remove not set
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/features/Visualizer/shared/hooks/useTimelineBlock.ts
Due: web, web-beta

refactor: refactor ja
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: fix t error
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(web): remove `coverImageUrl` from Re:Earth connfig (#1244)
  web/docker/reearth_config.json.template
Due: web

refactor: update ja translation
  server/pkg/builtin/manifest_ja.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

feat(web): support property placeholder on infobox blocks (#1243)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Visualizer/processNewProperty.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/hooks.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/property.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

refactor(web): improve load projects on dashboard page (#1241)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/type.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/types.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

refactor(web): improve default project image (#1240)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/ui/assets/defaultProjectBackgroundImage.png
  web/src/beta/ui/assets/defaultProjectBackgroundImage.webp
Due: web, web-beta

removed console
  web/src/beta/features/Visualizer/shared/hooks/useTimelineBlock.ts
Due: web, web-beta

fix(web): zoom to layer could go underground on first trigger (#1242)
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
Due: web, web-beta

fix(web): timeline block speed (#1233)
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/hooks/useTimelineBlock.ts
  web/vite.config.ts
Due: web, web-beta

feat: add unit test and add translate for 'just now'
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
Due: web, web-beta, web-utils

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
