Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

chore(Server): modify update method for config change in NLSLayer
  server/e2e/gql_nlslayer_test.go
  server/pkg/nlslayer/nlslayer.go
Due: server

chore(sever): refactor and fix issue w style
  server/e2e/gql_style_test.go
  server/gql/style.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/adapter/gql/resolver_mutation_style.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/adapter/gql/resolver_style.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/style.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/style.go
  server/internal/infrastructure/mongo/style.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/style.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/style.go
  server/pkg/scene/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/sceneops/style_initializer.go
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
  server/pkg/scene/styles_list.go
Due: server

added - currentCamera - onFlyTo
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

ci fix
  server/internal/adapter/gql/resolver_style.go
  server/internal/infrastructure/memory/container.go
  server/internal/usecase/interactor/style.go
Due: server

chore(server): refactor and fix issue w style (#733)
  server/e2e/gql_style_test.go
  server/gql/style.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/adapter/gql/resolver_mutation_style.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/adapter/gql/resolver_style.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/style.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/style.go
  server/internal/infrastructure/mongo/style.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/style.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/style.go
  server/pkg/scene/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/sceneops/style_initializer.go
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
  server/pkg/scene/styles_list.go
Due: server

chore(server): modify update method for config change in NLSLayer (#732)
  server/e2e/gql_nlslayer_test.go
  server/pkg/nlslayer/nlslayer.go
Due: server

hide/show UI
  web/src/beta/components/ListItem/index.tsx
Due: web, web-beta

translations
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

type error
  web/package.json
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/lib/core/Map/Layers/keys.ts
  web/src/beta/lib/core/mantle/types/index.ts
  web/yarn.lock
Due: web, web-beta

fix package.json
  web/package.json
Due: web

refactors
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/utils/value.ts
  web/yarn.lock
Due: web, web-beta, web-utils

refactors
  web/src/services/api/appearanceApi/index.ts
Due: web, web-beta

improve hide and show layers
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/lib/core/Map/ClusteredLayers/index.tsx
Due: web, web-beta

add height and width
  web/src/beta/components/ListItem/index.tsx
Due: web, web-beta

fix types
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
Due: web, web-beta

remove log
  web/src/beta/lib/core/Map/hooks.ts
Due: web, web-beta

fix condition
  web/src/beta/lib/core/Map/ClusteredLayers/index.tsx
Due: web, web-beta

fix failed test
  web/src/beta/lib/core/Map/ClusteredLayers/index.tsx
  web/src/beta/lib/core/Map/Layers/index.test.tsx
  web/src/beta/lib/core/mantle/types/index.ts
Due: web, web-beta

fix translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

- Added translations
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

- onFlyTo type fix
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

- Placeholder text when there are no items in camera editor
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
Due: web, web-beta

Added translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

remove resource as default param for layer
  web/src/beta/features/Editor/Visualizer/convert.ts
Due: web, web-beta

update appearanceSelector
  web/src/beta/features/Editor/tabs/map/RightPanel/AppearanceSelector.tsx
Due: web, web-beta

improve code redundant
  web/src/beta/features/Editor/Settings/hooks.ts
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
Due: web, web-beta

chore: add idProperty to data (#731)
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/beta/lib/core/mantle/types/index.ts
Due: web, web-beta

chore(ci): update reviewer-lottery.yml
  .github/reviewer-lottery.yml
Due: none

chore(web): add timeline manager (#718)
  web/src/beta/lib/core/Crust/Plugins/Plugin/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/beta/lib/core/Crust/context.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/ref.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/context.ts
  web/src/beta/lib/core/engines/Cesium/core/Clock.tsx
  web/src/beta/lib/core/engines/Cesium/core/Indicator.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/utils/time.ts
Due: web, web-beta, web-utils

chore(web): fix some bugs around feature selection functionality
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/pickMany.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
Due: web, web-beta

improve Ui
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
Due: web, web-beta

rename the layer update
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.stories.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useLeftPanel.tsx
Due: web, web-beta

remove type duplicate
  web/src/beta/lib/core/mantle/types/index.ts
Due: web, web-beta

resolve comments
  web/src/beta/components/CatalogCard/index.stories.tsx
  web/src/beta/components/CatalogCard/index.tsx
  web/src/beta/components/Icon/Icons/addLayerStyleButton.svg
  web/src/beta/components/Icon/Icons/appearance.svg
  web/src/beta/components/Icon/Icons/layerStyle.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/AssetsQueriesHook/hooks.ts
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/appearance.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/layerStyle.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/InspectorTabs.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerStyleSelector.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerStyleValueEditor.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useAppearances.ts
  web/src/beta/features/Editor/useBottomPanel.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Modals/ChooseLayerStyleModal/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/lib/core/Map/Layers/keys.ts
  web/src/beta/lib/core/mantle/types/index.ts
  web/src/services/api/appearanceApi/index.ts
  web/src/services/api/index.ts
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/api/layerStyleApi/utils.ts
  web/src/services/gql/fragments/index.ts
  web/src/services/gql/fragments/layerStyle.ts
  web/src/services/gql/queries/layerStyle.ts
  web/src/services/theme/reearthTheme/common/metrics.ts
Due: web, web-beta

refactors
  web/src/beta/components/fields/URLField/index.stories.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/index.tsx
Due: web, web-beta

- List can preserve a min 1 item
  web/src/beta/components/fields/ListField/index.tsx
Due: web, web-beta

- Min 1 item in camera block - Using listifield for cameras - Can also handle move camera buttons order
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/usePropertyValueUpdate.ts
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
