Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

refactor(server): split Makefile into modular fragments (#2122)
  docker-compose.dev.yml
  docker-compose.yml
  server/.env.accounts.docker.example
  server/.env.docker.example
  server/.env.example
  server/.gitignore
  server/AGENTS.md
  server/Makefile
  server/README.md
  server/dev.bat
  server/mk/docker.mk
  server/mk/local.mk
  server/mk/tools.mk
Due: server

test(server): completed api tests (#2121)
  e2e/api/graphql/client.ts
  e2e/api/graphql/mutations.ts
  e2e/api/tests/geojson-feature.api.spec.ts
  e2e/api/tests/icon-asset.api.spec.ts
  e2e/api/tests/move-story.api.spec.ts
  e2e/api/tests/plugin.api.spec.ts
  e2e/api/tests/rest-assets-download.api.spec.ts
  e2e/api/tests/rest-export-download.api.spec.ts
  e2e/api/tests/rest-ping-health.api.spec.ts
  e2e/api/tests/rest-signup.api.spec.ts
  e2e/api/tests/rest-split-import.api.spec.ts
  e2e/api/tests/test-helpers.ts
Due: none

fix(server): skip Accounts API for Internal API requests (#2110)
  server/internal/app/auth_client.go
Due: server

fix(server): exclude deleted projects from read-only internal API responses
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Due: server

add test case
  server/internal/infrastructure/mongo/project_test.go
Due: none

fix test error
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/proto_project_test.go
Due: none

revert PatchStarCount
  server/internal/adapter/internalapi/server.go
Due: server

add grpc command
  server/Makefile
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/mk/local.mk
  server/schemas/internalapi/docs/schema.md
Due: server

update grpccurl
  docker-compose.yml
  server/Makefile
  server/mk/docker.mk
  server/schemas/internalapi/grpcurl.md
  server/schemas/internalapi/grpcurl.sh
Due: server

update .env.docker
  docker-compose.yml
  server/.env.docker.example
  server/schemas/internalapi/grpcurl.md
Due: server

update
  server/schemas/internalapi/grpcurl.md
Due: server

revert
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
Due: server

delete comand
  server/mk/local.mk
Due: server

delete command help
  server/Makefile
  server/mk/local.mk
Due: server

fix(server): exclude deleted projects from read-only internal API responses (#2123)
  server/.env.docker.example
  server/Makefile
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/proto_project_test.go
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/mk/docker.mk
  server/schemas/internalapi/docs/schema.md
  server/schemas/internalapi/grpcurl.md
  server/schemas/internalapi/grpcurl.sh
Due: server

chore(server): improve dev setup scripts and remove dev.bat
  README.md
  server/Makefile
  server/dev.bat
  server/dev.ps1
  server/mk/docker.mk
  server/mk/tools.mk
  server/ps1/docker.ps1
  server/ps1/local.ps1
  server/ps1/tools.ps1
Due: server

update readme
  README.md
Due: none

remove powershell
  server/dev.ps1
  server/ps1/docker.ps1
  server/ps1/local.ps1
  server/ps1/tools.ps1
Due: server

update readme
  README.md
  server/README.md
Due: server

update readme
  server/README.md
Due: server

update readme
  server/README.md
  server/mk/docker.mk
Due: server

update readme
  server/Makefile
  server/README.md
Due: server

reviwe fix
  README.md
  server/Makefile
  server/README.md
  server/mk/docker.mk
  server/mk/tools.mk
Due: server

feat: add linkInfoboxBetaBlock[VIZ-2417]
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/Link/index.tsx
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/index.ts
  web/src/app/features/Visualizer/Crust/Infobox/constants.ts
Due: web, server

refactor: use css constran from reearthTheme
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/Link/index.tsx
Due: web

chore: bumpup version to 1.0.0-beta.15.5
  web/package.json
Due: web

chore(server): improve dev setup scripts and remove dev.bat (#2124)
  README.md
  server/Makefile
  server/README.md
  server/dev.bat
  server/mk/docker.mk
  server/mk/tools.mk
Due: server

chore: bump up version to 1.0.0-beta.15.5 (#2128)
  web/package.json
Due: web

v1.0.0-beta.15.5
  CHANGELOG.md
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
