Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

test(web): add tests for hooks [VIZ-1559] (#1589)
  web/src/beta/hooks/navigationHooks.test.ts
  web/src/beta/hooks/useAccountSettingsTabs.test.ts
  web/src/beta/hooks/useAccountSettingsTabs.ts
  web/src/beta/hooks/useDoubleClick.test.ts
Due: web, web-beta

feat(server): update alias check [VIZ-1541] (#1587)
  server/e2e/gql_publish_test.go
  server/gql/project.graphql
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/storyloader_gen.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/loader_story.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/story.go
Due: server

fix update mutation
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
Due: web, web-beta

refactor how to handle alias
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/gql/queries/storytelling.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

skip inputs field updated
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/ColorField/index.tsx
  web/src/beta/ui/fields/InputField/index.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update number input field
  web/src/beta/ui/fields/InputField/index.tsx
  web/src/beta/ui/fields/NumberField/index.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
Due: web, web-beta

improve update story alias
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Due: web, web-beta

modify comment
  server/e2e/proto_project_test.go
Due: none

Internal API for Viz
  server/.env.example
  server/Makefile
  server/e2e/common.go
  server/e2e/proto_project_test.go
  server/e2e/seeder.go
  server/go.mod
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/internalapi/internalapimodel/project.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/grpc.go
  server/internal/app/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

test: add tests for hooks
  web/src/beta/hooks/index.test.ts
  web/src/beta/hooks/useLoadMore.test.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/test/utils.tsx
Due: web

port change
  server/.env.example
  server/e2e/common.go
  server/e2e/proto_project_test.go
  server/internal/app/config/config.go
  server/internal/app/server.go
Due: server

test: add tests
  web/src/beta/ui/components/ManagerBase/index.test.tsx
  web/src/beta/ui/fields/Properties/index.test.tsx
Due: none

add util for prefix and xufix
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
Due: web, web-beta

refactor(web): publish project page ui/ux [VIZ-1439] (#1558)
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishOrUpdateSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishedOrUpdatedSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/common.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/gql/queries/storytelling.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

change naming
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
  web/src/beta/ui/fields/InputField/index.tsx
  web/src/beta/ui/fields/NumberField/index.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
Due: web, web-beta

fix(web): skip project mutation update when no change [VIZ-1523] (#1591)
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/ColorField/index.tsx
  web/src/beta/ui/fields/InputField/index.tsx
  web/src/beta/ui/fields/NumberField/index.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
Due: web, web-beta

test(web): import project tests
  web/e2e/playwright-tests/package-lock.json
Due: web

threading the file upload process
  server/internal/app/file_uploader.go
Due: server

fix lint
  server/internal/app/file_uploader.go
Due: server

migrate project/story alias
  server/internal/infrastructure/mongo/migration/250507125156_update_alias.go
  server/internal/infrastructure/mongo/migration/250507125156_update_alias_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

modify p- to c-
  server/internal/infrastructure/mongo/migration/250507125156_update_alias.go
  server/pkg/alias/check.go
Due: server

'p-' to 'c-'
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
Due: server

'p-' to 'c-'
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
Due: server

default project Alias c-SceneID
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
Due: server

fix lint
  server/pkg/project/builder_test.go
Due: none

fix test
  server/e2e/gql_publish_test.go
  server/pkg/project/builder_test.go
Due: none

update migration
  server/internal/infrastructure/mongo/migration/250507125156_update_alias.go
  server/internal/infrastructure/mongo/migration/250507125156_update_alias_test.go
Due: server

'p-' to 'c-'
  server/e2e/gql_publish_test.go
Due: none

test
  server/e2e/gql_publish_test.go
  server/pkg/project/builder_test.go
Due: none

fix(web): remove unnecessary project properties from update calls in GeneralSettings
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web, web-beta

feat: update add csv sample
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
Due: web, web-beta

test
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/scene.go
Due: server

fix(web): remove unnecessary project properties from update calls in project general settings (#1595)
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web, web-beta

fix test
  server/e2e/gql_publish_test.go
Due: none

feat: add photogrammetric 3D model example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
Due: web, web-beta

fix(web): update alias prefix in public settings for consistency
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
Due: web, web-beta

feat: add point cloud example in playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
Due: web, web-beta

refactor: update the text in script
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
Due: web, web-beta
