Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

chore(web): modify zoom level field (#808)
  web/src/beta/components/RangeSlider/index.stories.tsx
  web/src/beta/components/RangeSlider/index.tsx
  web/src/beta/components/fields/Property/PropertyField/index.tsx
  web/src/beta/components/fields/RangeField/index.stories.tsx
  web/src/beta/components/fields/RangeField/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
Due: web, web-beta

fix constants
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/types.ts
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
Due: web, web-beta

chore(web): Improve asset modal (#838)
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/types.ts
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fixes
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/fields/ListField/index.tsx
  web/src/beta/components/fields/Property/PropertyList/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

fix: manage visible in higher level
  web/src/classic/components/molecules/Visualizer/Widget/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/useVisible.ts
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/Area.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/MobileZone.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/index.tsx
  web/src/classic/components/molecules/Visualizer/hooks.ts
  web/src/classic/components/molecules/Visualizer/useWidgetAlignSystem.ts
Due: web, web-classic

refactor: clean up props
  web/src/classic/components/molecules/Visualizer/Widget/Button/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Navigator/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/SplashScreen/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Storytelling/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Timeline/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/useVisible.ts
Due: web, web-classic

fix: WAS of classic NLS
  web/src/classic/core/Crust/Widgets/Widget/Button/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Navigator/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/SplashScreen/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Timeline/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/useVisible.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/utils.ts
  web/src/classic/core/Crust/Widgets/index.tsx
  web/src/classic/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-classic

fix: check outer for WAS of classic classic
  web/src/classic/components/molecules/Visualizer/Widget/useVisible.ts
  web/src/classic/components/molecules/Visualizer/useWidgetAlignSystem.ts
Due: web, web-classic

chore: update WAS of beta
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/useVisible.ts
  web/src/beta/lib/core/Crust/Widgets/index.tsx
  web/src/beta/lib/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-beta

refactor: move visible check to Area
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/useVisible.ts
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/utils.ts
Due: web, web-beta

refactor: use common function
  web/src/beta/lib/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-beta

refactor: move visible to Area for classic NLS WAS
  web/src/classic/core/Crust/Widgets/Widget/Button/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Navigator/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Navigator/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/SplashScreen/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Storytelling/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Timeline/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Timeline/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/useVisible.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/utils.ts
  web/src/classic/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-classic

refactor on classic classic WAS
  web/src/classic/components/molecules/Visualizer/Widget/Button/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Navigator/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/SplashScreen/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Storytelling/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Timeline/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/useVisible.ts
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/Area.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/utils.ts
  web/src/classic/components/molecules/Visualizer/useWidgetAlignSystem.ts
Due: web, web-classic

fix
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Due: web, web-beta

refactor: renaming on classic NLS & beta
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/utils.ts
  web/src/beta/lib/core/Crust/Widgets/useWidgetAlignSystem.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/utils.ts
  web/src/classic/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-classic, web-beta

wip: page indicator name tag
  web/src/beta/lib/core/StoryPanel/PageIndicator/IndicatorSection.tsx
  web/src/beta/lib/core/StoryPanel/PageIndicator/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

fix i18n
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

translations
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

finalize
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/Popover/types.ts
  web/src/beta/lib/core/StoryPanel/PageIndicator/IndicatorSection.tsx
Due: web, web-beta

update translations
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

chore(web): add page name tag to indicator and fix some small bugs (#841)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/Popover/types.ts
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/fields/ListField/index.tsx
  web/src/beta/components/fields/Property/PropertyList/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/lib/core/StoryPanel/PageIndicator/IndicatorSection.tsx
  web/src/beta/lib/core/StoryPanel/PageIndicator/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

chore(web): finalize Japanese translations (#842)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

chore(web): fix title padding changes updating page padding (#840)
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Due: web, web-beta

refactor: remove unnecessary useVisible
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/useVisible.ts
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/constants.ts
  web/src/beta/lib/core/Crust/Widgets/index.tsx
  web/src/beta/lib/core/Crust/Widgets/useWidgetAlignSystem.ts
  web/src/classic/components/molecules/Visualizer/Widget/Button/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Navigator/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/SplashScreen/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Storytelling/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Timeline/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/index.tsx
  web/src/classic/components/molecules/Visualizer/Widget/useVisible.ts
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/Area.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/MobileZone.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/constants.ts
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/index.tsx
  web/src/classic/components/molecules/Visualizer/hooks.ts
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/src/classic/components/molecules/Visualizer/useWidgetAlignSystem.ts
  web/src/classic/core/Crust/Widgets/Widget/Button/MenuButton.tsx
  web/src/classic/core/Crust/Widgets/Widget/Button/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Navigator/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Navigator/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/SplashScreen/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Storytelling/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/Timeline/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Timeline/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/index.tsx
  web/src/classic/core/Crust/Widgets/Widget/useVisible.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/constants.ts
  web/src/classic/core/Crust/Widgets/index.tsx
  web/src/classic/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-classic, web-beta

remove bug cause in color input
  web/src/beta/components/fields/ColorField/hooks.ts
Due: web, web-beta

fix: visiblity for plugin widget & some refactor
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/types.ts
  web/src/beta/lib/core/Crust/Widgets/index.tsx
  web/src/beta/lib/core/Crust/Widgets/useWidgetAlignSystem.ts
  web/src/classic/components/molecules/Visualizer/Widget/index.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/MobileZone.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/Zone.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/index.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/utils.ts
  web/src/classic/components/molecules/Visualizer/hooks.ts
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/src/classic/components/molecules/Visualizer/useWidgetAlignSystem.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/types.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/utils.ts
  web/src/classic/core/Crust/Widgets/index.tsx
  web/src/classic/core/Crust/Widgets/useWidgetAlignSystem.ts
Due: web, web-classic, web-beta

fix page title color settings
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
Due: web, web-beta

refactor: use constants & widgets.some
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/utils.ts
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/utils.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/utils.ts
Due: web, web-classic, web-beta

improve mvt n wms input color
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
Due: web, web-beta

fix input placeholder color
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
Due: web, web-beta

ci(web): update version in package.json
  web/package.json
Due: web

chore(sever): fix story publishing for prod
  server/internal/usecase/interactor/storytelling.go
Due: server

fix lint
  server/internal/usecase/interactor/storytelling.go
Due: server

chore(sever): fix story publishing for prod (#844)
  server/internal/usecase/interactor/storytelling.go
Due: server

chore(web): fix unsafe builtin widget logic to work well on published page
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/unsafeWidgets.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/published.tsx
Due: web, web-beta

add next page button to manifest
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

add next page block icon
  web/src/beta/components/Icon/Icons/nextPageStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
Due: web, web-beta

wip new page block
  web/src/beta/lib/core/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/NextPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/constants.ts
Due: web, web-beta

fix unsafe builtin blocks
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/index.ts
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/unsafeBlocks.ts
  web/src/beta/lib/core/Crust/Infobox/Block/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
