Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

chore(web): implement collapse component
  web/src/beta/lib/reearth-ui/components/Collapse/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
Due: web, web-beta

refactor color input functionalities
  web/src/beta/lib/reearth-ui/components/ColorInput/hooks.ts
  web/src/beta/lib/reearth-ui/components/ColorInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/utils/use-rgb-color.ts
Due: web, web-beta, web-utils

update collapse component
  web/src/beta/lib/reearth-ui/components/Collapse/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
Due: web, web-beta

refactor: font
  web/src/beta/lib/reearth-ui/components/Collapse/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
Due: web, web-beta

refactor: expose
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

chore(web): implement collapse component (#991)
  web/src/beta/lib/reearth-ui/components/Collapse/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

refactor: use constant
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
Due: web, web-beta

refactor date time picker
  web/src/beta/lib/reearth-ui/components/DatePicker/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
Due: web, web-beta

feature: switcher component
  web/src/beta/lib/reearth-ui/components/Switcher/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Switcher/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

refactor: restructure dom & remove width
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
Due: web, web-beta

add apha option
  web/src/beta/lib/reearth-ui/components/ColorInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
Due: web, web-beta

override colorful apha display
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
Due: web, web-beta

refactor: state and style
  web/src/beta/lib/reearth-ui/components/Switcher/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Switcher/index.tsx
Due: web, web-beta

chore(web): switcher component (#994)
  web/src/beta/lib/reearth-ui/components/Switcher/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Switcher/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

chore: rename reearth/reearth repo name to reearth/reearth-visualizer
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  server/README.md
  web/.storybook/theme.ts
  web/README.md
  web/package.json
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/hooks.test.tsx
  web/src/classic/components/molecules/Settings/Project/Plugin/PluginSection/PluginInstall/PublicRepo/hooks.test.tsx
Due: web, server

refactor: logic
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/hooks.ts
  web/src/beta/lib/reearth-ui/components/ColorInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/utils/use-rgb-color.ts
Due: web, web-beta, web-utils

chore: rename story
  web/src/beta/lib/reearth-ui/components/ColorInput/index.stories.tsx
Due: none

fix typo
  server/README.md
Due: server

chore: rename reearth/reearth repo name to reearth/reearth-visualizer (#995)
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  server/README.md
  web/.storybook/theme.ts
  web/README.md
  web/package.json
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/hooks.test.tsx
  web/src/classic/components/molecules/Settings/Project/Plugin/PluginSection/PluginInstall/PublicRepo/hooks.test.tsx
Due: web, server

handle min and max in number input
  web/src/beta/lib/reearth-ui/components/ColorInput/hooks.ts
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

remove React.
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

chore: wip
  web/.eslintignore
  web/.eslintrc.yml
  web/.vscode/extensions.json
  web/.vscode/settings.json
  web/eslint.config.mjs
  web/package.json
  web/yarn.lock
Due: web

refactor: update config
  web/eslint.config.mjs
Due: web

chore: update config
  web/eslint.config.mjs
  web/package.json
  web/yarn.lock
Due: web

feat: migrate to github apps
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
Due: none

fix: `GH_APP_USER` to variables
  .github/workflows/stage.yml
Due: none

refactor modal and modal panel
  web/src/beta/lib/reearth-ui/components/Modal/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
Due: web, web-beta

docs: update join us link in README.md
  README.md
Due: none

refactor each imports on beta
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/hooks.ts
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/PageItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemBody.tsx
  web/src/beta/pages/PublishedPage/index.tsx
Due: web, web-beta

fix: import path
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web, web-beta

fix: defaultBetaProjectImage imports path in beta
  web/src/beta/components/Icon/Icons/defaultBetaProjectImage.png
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web, web-beta

fix: import path on project setting
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web, web-beta

authorization-and-roles-management-service
  docker-compose.yml
  go.work.sum
  policies/derived_roles_common.yaml
  policies/resource_album.yaml
  policies/resource_style.yaml
  server/.env.example
  server/Makefile
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/main.go
  server/internal/app/usecase.go
  server/internal/infrastructure/cerbos/cerbos_adapter.go
  server/internal/usecase/gateway/cerbos.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/style.go
Due: server

chore(web): Remove imports of classic components in beta (#996)
  web/src/beta/components/Icon/Icons/defaultBetaProjectImage.png
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/hooks.ts
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/PageItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemBody.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/pages/PublishedPage/index.tsx
Due: web, web-beta

fix
  server/internal/app/main.go
Due: server

fix
  policies/resource_album.yaml
Due: none

ci: migrate to GitHub Apps from PAT (#999)
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
Due: none

improve handlechange
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

enable % in number-input
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta
