Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

refactor(web)/ add sample polyline data from url
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

fix coderabbitai review
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_project_import_test.go
  server/internal/usecase/interactor/nlslayer.go
Due: server

feat(web)/ add sample marker with inline
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

fix chatgpt review
  server/e2e/common.go
Due: server

assert.Nil(t, err)
  server/e2e/gql_asset_test.go
  server/e2e/gql_project_import_test.go
Due: none

fix coderabbitai
  server/e2e/common.go
Due: server

check permit
  server/internal/usecase/interactor/nlslayer.go
Due: server

ui to extension message plugin first draft
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/uiExtensionMessenger.ts
Due: web, web-beta

remove
  server/internal/usecase/interactor/nlslayer.go
Due: server

refactor/ add sample marker data with url
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

refactor/ fix id name of yaml
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

refactor: realign code and remove repeated styles
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/uiExtensionMessenger.ts
Due: web, web-beta

fix(web): ensure new layer reorders correctly. (#1346)
  web/src/beta/features/Editor/hooks/useLayers.ts
Due: web, web-beta

update packageJson
  web/package.json
Due: web

updatr lock file
  web/yarn.lock
Due: web

refactor/ change geojson to inline and url classification
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

adjust page-gap height
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
Due: web, web-beta

feat: add ability to display html in infobox
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix: add a second infobox
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

chore(server): always set the useLegacyStructure flag to false
  server/internal/app/config/config.go
  server/internal/app/repo.go
Due: server

refactor: remove current height and add comments on code to emphasis the key point
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/uiExtensionMessenger.ts
Due: web, web-beta

feat: add translate for widget
  server/pkg/builtin/manifest_ja.yml
Due: server

fix: fix translate file backend
  server/pkg/builtin/manifest_ja.yml
Due: server

fix: fix transition file
  server/pkg/builtin/manifest_ja.yml
Due: server

fix: refactor code to get infoboxblocks
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
Due: web, web-beta

feat(web): add google map search function and ui (#1318)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/package.json
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/input.tsx
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/tailwind.config.js
  web/yarn.lock
Due: web, web-beta, server

Update package.json
  web/package.json
Due: web

chore(web): update version to 1.0.0-beta.2.0 (#1353)
  web/package.json
Due: web

feat(web): plugin playground presets ui to extension messenger (#1349)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/uiExtensionMessenger.ts
Due: web, web-beta

add default page gap
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/constants.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
Due: web, web-beta

revert changes
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/constants.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
Due: web, web-beta

remove page gape
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
Due: web, web-beta

chore(server): always set the useLegacyStructure flag to false (#1352)
  server/internal/app/config/config.go
  server/internal/app/repo.go
Due: server

feat: remove unused prop
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix: rename files and remove comments and useEffect
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

feat(web): add ability to display infobox in plugin playground (#1351)
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

undo server changes
  server/internal/app/config/config.go
  server/internal/app/repo.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
