Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

add parseZip and refactor fetchShapefile
  web/src/classic/core/mantle/data/shapefile/parseShp.ts
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

add proj4 to package.json
  web/package.json
  web/yarn.lock
Due: web

fix type error
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
Due: web, web-classic

improve popup
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
Due: web, web-beta

remove props
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
Due: web, web-beta

improve storybook codes
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
Due: none

fix typo in storybook codes
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
Due: none

improve panel
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
Due: web, web-beta

refactor: refactor some logic and story
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

use Arraybuffer with DataView instead of buffer
  web/src/classic/core/mantle/data/shapefile/parseDbf.ts
  web/src/classic/core/mantle/data/shapefile/parseShp.ts
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

remove buffer usage
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

handle locally encoded zip files
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

remove empty space
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.stories.tsx
Due: none

chore(web): refactor popup ui (#983)
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

chore(web): implement codeinput beta ui lib
  web/src/beta/lib/reearth-ui/components/CodeInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
Due: web, web-beta

refactor: some updates
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
Due: web, web-beta

refactor: hardcode min width
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
Due: web, web-beta

removed font
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
Due: web, web-beta

updated actions
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
Due: web, web-beta

export component
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

fix: return err
  server/internal/infrastructure/mongo/migration/240515221450_copy_scene_id.go
Due: server

undo handling of text encoded data
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

refactor
  web/src/classic/core/mantle/data/index.ts
  web/src/classic/core/mantle/data/shapefile/index.ts
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
Due: web, web-classic

fix dependency
  web/package.json
Due: web

yarn.lock
  web/yarn.lock
Due: web

fix(web): support shapefile based on esri (#984)
  web/package.json
  web/src/classic/core/mantle/data/shapefile.ts
  web/src/classic/core/mantle/data/shapefile/index.ts
  web/src/classic/core/mantle/data/shapefile/parseDbf.ts
  web/src/classic/core/mantle/data/shapefile/parseShp.ts
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
  web/yarn.lock
Due: web, web-classic

refactor: wip
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useUISelection.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/features/Published/convert.ts
  web/src/beta/features/Published/googleAnalytics/ga.ts
  web/src/beta/features/Published/googleAnalytics/ga4.ts
  web/src/beta/features/Published/googleAnalytics/useGA.ts
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Published/index.tsx
  web/src/beta/features/Published/types.ts
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/pages/PublishedPage/index.tsx
Due: web, web-beta

fix: getInstallableInfoboxBlocks
  web/src/services/api/infoboxApi/blocks.ts
Due: web, web-beta

hexa input rrefactor
  web/src/beta/lib/reearth-ui/components/ColorInput/hooks.ts
  web/src/beta/lib/reearth-ui/components/ColorInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

chore(web): popup panel ui (#986)
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

make ui closer to textarea
  web/src/beta/lib/reearth-ui/components/CodeInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
Due: web, web-beta

docs: add join us
  README.md
Due: none

refactor: wip
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/useLayers.ts
Due: web, web-beta

resolve comments
  web/src/beta/lib/reearth-ui/components/CodeInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
Due: web, web-beta

chore: update core version
  web/package.json
  web/yarn.lock
Due: web

add CodeInput to component
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

chore(web): update core version (#990)
  web/package.json
  web/yarn.lock
Due: web

update button component with box shadow
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
Due: web, web-beta

chore(web): implement codeinput beta ui lib (#987)
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta
