Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

improve google photorealistic
  web/.yarnrc.yml
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Due: web, web-beta

update yarn
  web/.yarnrc.yml
  web/package.json
  web/yarn.lock
Due: web

update the preset add and fontWeight
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/TypographyInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
Due: web, web-beta

update yarn
  web/yarn.lock
Due: web

remove yarnPath: .yarn/releases/yarn-4.4.0.cjs
  web/.yarnrc.yml
Due: web

refactor: refactor according to design and add menu item
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/WorkspaceSetting/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

modify getAuthInfo
  web/src/services/config/authInfo.ts
Due: web, web-beta

Revert "Merge branch 'main' into feat/workspace_setting"
  server/internal/app/file.go
  server/internal/infrastructure/gcs/file.go
Due: server

Revert "Revert "Merge branch 'main' into feat/workspace_setting""
  server/internal/app/file.go
  server/internal/infrastructure/gcs/file.go
Due: server

add all nodes
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/constant.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/threedtiles.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/hooks.tsx
Due: web, web-beta

refactor: fix statement for currentWorkspace
  web/src/beta/features/Navbar/hooks.ts
Due: web, web-beta

added unit test for covert functions
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
Due: web, web-beta

updates some test
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
Due: none

feat(server): Projects Recycle bin (#1169)
  server/e2e/gql_project_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/project.go
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

improve codes and fix typo
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/constant.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
Due: web, web-beta

Some fixes
  server/.env.example
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  web/.env.example
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/mockAuth.ts
  web/src/services/config/authInfo.ts
Due: web, web-beta, server

add mockUser param
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/config/config.go
Due: server

update
  server/.env.example
Due: server

refactor: use props to add borderbottom
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
Due: web, web-beta

refactor: use lazy load to page
  web/src/services/routing/index.tsx
Due: web, web-beta

refactor: add dynamic router for workspace and refactor derectory
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/common.tsx
  web/src/beta/features/AccountSetting/PasswordModal/index.tsx
  web/src/beta/features/AccountSetting/hooks.ts
  web/src/beta/features/AccountSetting/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/WorkspaceSetting/hooks.ts
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspace.tsx
  web/src/beta/pages/AccountSettingsPage/index.tsx
  web/src/beta/pages/WorkspaceSettingPage/index.tsx
  web/src/beta/ui/components/AccountSettingBase/index.tsx
  web/src/services/routing/index.tsx
Due: web, web-beta

refactor: refactor by bot
  web/src/beta/features/WorkspaceSetting/innerPages/Workspace.tsx
Due: web, web-beta

refactor: refactor by bot
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/WorkspacesPage/Workspaces.tsx
Due: web, web-beta

refactor: fix router
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
  web/src/beta/ui/components/AccountSettingBase/index.tsx
Due: web, web-beta

refactor: refactor folder name
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/Workspaces.tsx
Due: web, web-beta

refactor: refactor folder name
  web/src/beta/features/WorkspaceSetting/index.tsx
Due: web, web-beta

save active tab to local storage
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/hooks.tsx
Due: web, web-beta

format files
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/hooks.tsx
Due: web, web-beta

add error check
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
Due: web, web-beta

refactor: update for selectedFeatureColor node & fix remember tab
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/threedtiles.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): new layer style final step (#1175)
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/TypographyInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/constant.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/threedtiles.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

initial implemention of recyle bin
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectDeleteModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

implement not found page and remove unused component
  web/src/beta/components/NotFound/index.stories.tsx
  web/src/beta/components/NotFound/index.tsx
  web/src/beta/components/Popover/context.ts
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Popover/index.stories.tsx
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/Popover/types.ts
  web/src/beta/components/fields/common/NumberInput/index.stories.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/beta/components/fields/common/TextInput/index.stories.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/LayerStyleCard.tsx
  web/src/beta/features/Published/index.tsx
  web/src/beta/lib/reearth-ui/components/NotFound/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/NotFound/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/pages/EditorPage/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/services/routing/index.tsx
Due: web, web-beta

feat(server, web): mock auth server for local
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/config.go
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/mockAuth.ts
  web/src/services/config/authInfo.ts
Due: web, web-beta, server

add test
  server/e2e/mock_test.go
  server/internal/adapter/context.go
  server/internal/adapter/http/user.go
Due: server

Some fixes
  server/.env.example
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/config.go
  web/.env.example
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/mockAuth.ts
  web/src/services/config/authInfo.ts
Due: web, web-beta, server

redirect to root page
  web/src/beta/lib/reearth-ui/components/NotFound/index.tsx
  web/src/beta/pages/NotFound/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/routing/index.tsx
Due: web, web-beta

refactor
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/features/Visualizer/FovSlider/index.tsx
Due: web, web-beta

fix: add prop to indicate version in marketplace extension
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/config/extensions.ts
  web/src/types.ts
Due: web, web-beta
