Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fixess1
  e2e/pages/projectScreenPage.ts
  e2e/tests/layerDeletionReorder.spec.ts
Due: none

failed test update
  e2e/pages/projectScreenPage.ts
  e2e/tests/layerDeletionReorder.spec.ts
Due: none

update
  e2e/pages/cesiumViewerPage.ts
  e2e/pages/projectScreenPage.ts
  e2e/tests/layerDeletionReorder.spec.ts
  e2e/tests/page-refresh-on-mutation.spec.ts
Due: none

udate
  e2e/pages/projectScreenPage.ts
  e2e/tests/page-refresh-on-mutation.spec.ts
Due: none

ci: add harden-runner to GitHub Actions workflows (#2151)
  .github/workflows/build_prepare.yml
  .github/workflows/build_release.yml
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
  .github/workflows/cleanup-pr-revision.yml
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
  .github/workflows/enforce_checklist.yml
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reviewer_lottery.yml
  .github/workflows/run_migration.yml
  .github/workflows/stage.yml
Due: none

update1
  e2e/pages/projectScreenPage.ts
  e2e/utils/project-cleanup.ts
Due: none

uopdate
  e2e/pages/projectScreenPage.ts
Due: none

ci upodate
  .github/workflows/playwright_ui_tests.yml
Due: none

fix(auth): remove PII from auth debug logs
  server/internal/app/auth_client.go
Due: server

feat(logging): add GraphQL operation timing and request context logs
  server/internal/app/auth_client.go
  server/internal/app/tracer.go
Due: server

fix(logging): use route pattern instead of raw path and fix operation timing
  server/internal/app/auth_client.go
Due: server

test(web): test for browser refresh issue (#2150)
  .github/workflows/playwright_ui_tests.yml
  e2e/pages/accountSettingsPage.ts
  e2e/pages/cesiumViewerPage.ts
  e2e/pages/dashBoardPage.ts
  e2e/pages/loginPage.ts
  e2e/pages/membersPage.ts
  e2e/pages/photoOverlayPage.ts
  e2e/pages/projectScreenPage.ts
  e2e/pages/projectSettingsPage.ts
  e2e/pages/projectsPage.ts
  e2e/pages/recycleBinPage.ts
  e2e/pages/workspaceSettingsPage.ts
  e2e/tests/dashboard.spec.ts
  e2e/tests/dashboardFeatures.spec.ts
  e2e/tests/layerDeletionReorder.spec.ts
  e2e/tests/page-refresh-on-mutation.spec.ts
  e2e/tests/photoOverlay.spec.ts
  e2e/tests/projectSettings.spec.ts
  e2e/tests/projects.spec.ts
  e2e/utils/project-cleanup.ts
Due: none

fix(pubsub): return 200 for unrecoverable import errors to stop retry storms
  server/internal/app/file_signature_uploader.go
Due: server

feat(tracing): propagate trace context to accounts API calls
  server/internal/adapter/accounts/auth_transport.go
Due: server

fix(server): remove PII from auth debug logs [VIZ-2421] (#2152)
  server/internal/app/auth_client.go
Due: server

chore(deps): promote otelhttp to direct dependency
  server/go.mod
Due: server

feat(server): add GraphQL operation timing and request context logs [VIZ-2421] (#2153)
  server/internal/app/auth_client.go
  server/internal/app/tracer.go
Due: server

fix(server): improve comment on ImportProject 200 response
  server/internal/app/file_signature_uploader.go
Due: server

fix(server): distinguish corrupt zip from transient I/O errors in UncompressExportZip
  server/internal/app/file_signature_uploader.go
Due: server

fix(server): use native ARM runners instead of QEMU for build_server
  .github/workflows/build_server.yml
Due: none

fix(server): rename merge step to publish-multiarch-image
  .github/workflows/build_server.yml
Due: none

fix(server/web): use native ARM runners instead of QEMU for build_server (#2155)
  .github/workflows/build_server.yml
Due: none

test(web): add tests for layers and styles
  e2e/pages/dataSourceManagerPage.ts
  e2e/pages/layerStylePanelPage.ts
  e2e/tests/externalLayers.spec.ts
  e2e/tests/multipleStyles.spec.ts
Due: none

update
  e2e/pages/layerStylePanelPage.ts
Due: none

update and copilot fixes
  e2e/pages/dataSourceManagerPage.ts
  e2e/pages/layerStylePanelPage.ts
  e2e/tests/externalLayers.spec.ts
Due: none

update
  e2e/pages/dataSourceManagerPage.ts
Due: none

update2
  e2e/pages/dataSourceManagerPage.ts
Due: none

fix(server): stop import retry storms by returning 200 for unrecoverable errors [VIZ-2421] (#2154)
  server/internal/app/file_signature_uploader.go
Due: server

chore(web): bump version to 1.0.0-beta.15.9
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.15.9 (#2158)
  web/package.json
Due: web

v1.0.0-beta.15.9
  CHANGELOG.md
Due: none

feat(server): add server plugin test
  server/e2e/gql_plugin_test.go
Due: none

feat(server,web): add SSO logout tracking with response header (#2142)
  server/go.mod
  server/go.sum
  server/gql/user.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/logout_header_test.go
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/GlobalModal/index.tsx
  web/src/app/features/Navbar/hooks.ts
  web/src/app/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/services/api/user/useMeMutations.ts
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/jwtUtils.test.ts
  web/src/services/auth/jwtUtils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/provider/links/authLink.ts
  web/src/services/gql/provider/links/uploadLink.ts
  web/src/services/gql/queries/user.ts
  web/src/services/state/index.ts
  web/src/test/utils.tsx
Due: web, web-beta, server

fix button padding
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
Due: web

test(server): add e2e tests for plugin GraphQL API (#2159)
  server/e2e/gql_plugin_test.go
Due: none

fix(server): prevent panic during project import with camera/typography/spacing/timeline plugin fields
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/usecase/interactor/plugin.go
Due: server

fix(server): address PR review comments on plugin schema import panic fix
  server/internal/adapter/gql/gqlmodel/convert_value_test.go
  server/internal/usecase/interactor/plugin.go
Due: server

fix(web): use project's workspace for custom domain policy check
  web/src/app/features/ProjectSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Due: web

support list field in plugin-playground
  web/src/app/features/PluginPlayground/ExtensionSettings/hooks.ts
  web/src/app/features/PluginPlayground/ExtensionSettings/index.tsx
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
Due: web
