Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

improve list field
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/ui/fields/CamersField/CapturePanel.tsx
  web/src/beta/ui/fields/CamersField/EditorPanel.tsx
  web/src/beta/ui/fields/ListField.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
  web/src/beta/ui/fields/index.stories.tsx
Due: web, web-beta

fix
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/VectorTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/WmsTiles/index.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/ui/fields/CameraField.tsx
Due: web, web-beta

ci: fix cloud run name and docker image for server
  .github/workflows/build_server.yml
  .github/workflows/deploy_server_nightly.yml
Due: none

fix(server, web): project fetch failing
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta, server

fix(server, web): project fetch failing (#1052)
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta, server

fix type error
  web/src/beta/features/Editor/Map/SharedComponent.tsx
  web/src/beta/ui/fields/CameraField.tsx
Due: web, web-beta

fix overflow
  web/src/beta/features/Editor/Map/SharedComponent.tsx
  web/src/beta/ui/fields/CameraField.tsx
Due: web, web-beta

remove camerafield
  web/src/beta/ui/fields/CameraField.tsx
Due: web, web-beta

refactor: controlled state
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
Due: web, web-beta

ci: fix cloud run name and docker image for server (#1053)
  .github/workflows/build_server.yml
  .github/workflows/deploy_server_nightly.yml
Due: none

fix: remove pages from routing
  web/src/beta/pages/Settings/Account/index.tsx
  web/src/services/routing/index.tsx
Due: web, web-beta

fix: delete classic files
  web/src/classic/components/organisms/Authentication/Login/index.tsx
  web/src/classic/components/organisms/Authentication/PasswordReset/index.tsx
  web/src/classic/components/organisms/Authentication/Signup/index.tsx
  web/src/classic/components/pages/Authentication/LoginPage/index.tsx
  web/src/classic/components/pages/Authentication/PasswordReset/index.tsx
  web/src/classic/components/pages/Authentication/SignupPage/index.tsx
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/classic/components/pages/Dashboard/index.tsx
  web/src/classic/components/pages/EarthEditor/hooks.ts
  web/src/classic/components/pages/EarthEditor/index.tsx
  web/src/classic/components/pages/PluginEditor/index.tsx
  web/src/classic/components/pages/Preview/index.tsx
  web/src/classic/components/pages/Published/index.tsx
  web/src/classic/components/pages/Settings/Project/Dataset/index.tsx
  web/src/classic/components/pages/Settings/Project/Plugin/index.tsx
  web/src/classic/components/pages/Settings/Project/Public/index.tsx
  web/src/classic/components/pages/Settings/Project/index.tsx
  web/src/classic/components/pages/Settings/ProjectList/index.tsx
  web/src/classic/components/pages/Settings/Workspace/Asset/index.tsx
  web/src/classic/components/pages/Settings/Workspace/index.tsx
Due: web, web-classic

fix: delete classic files
  web/.yarn/install-state.gz
  web/.yarnrc.yml
  web/src/beta/molecules/Common/AssetModal/AssetCard/index.stories.tsx
  web/src/beta/molecules/Common/AssetModal/AssetCard/index.tsx
  web/src/beta/molecules/Common/AssetModal/AssetContainer/hooks.ts
  web/src/beta/molecules/Common/AssetModal/AssetContainer/index.tsx
  web/src/beta/molecules/Common/AssetModal/AssetDeleteModal/index.tsx
  web/src/beta/molecules/Common/AssetModal/AssetListItem/index.stories.tsx
  web/src/beta/molecules/Common/AssetModal/AssetListItem/index.tsx
  web/src/beta/molecules/Common/AssetModal/AssetSelect/index.stories.tsx
  web/src/beta/molecules/Common/AssetModal/AssetSelect/index.tsx
  web/src/beta/molecules/Common/AssetModal/index.tsx
  web/src/beta/molecules/Common/BrowserWidthWarning/index.tsx
  web/src/beta/molecules/Common/Header/index.stories.tsx
  web/src/beta/molecules/Common/Header/index.tsx
  web/src/beta/molecules/Common/Header/profile.tsx
  web/src/beta/molecules/Common/Header/types.ts
  web/src/beta/molecules/Common/MenuList/index.tsx
  web/src/beta/molecules/Common/Policy/index.tsx
  web/src/beta/molecules/Common/ProjectCreationModal/index.stories.tsx
  web/src/beta/molecules/Common/ProjectCreationModal/index.tsx
  web/src/beta/molecules/Common/ProjectMenu/index.tsx
  web/src/beta/molecules/Common/ProjectTypeSelectionModal/index.stories.tsx
  web/src/beta/molecules/Common/ProjectTypeSelectionModal/index.tsx
  web/src/beta/molecules/Common/WorkspaceCreationModal/index.stories.tsx
  web/src/beta/molecules/Common/WorkspaceCreationModal/index.tsx
  web/src/beta/molecules/Common/WorkspaceMenu/index.tsx
  web/src/beta/organisms/Common/AssetContainer/hooks.ts
  web/src/beta/organisms/Common/AssetContainer/index.tsx
  web/src/beta/organisms/Common/AssetModal/index.tsx
  web/src/beta/organisms/Settings/Project/Public/index.tsx
  web/src/beta/organisms/Settings/Project/index.tsx
  web/src/beta/organisms/Settings/ProjectList/index.tsx
  web/src/beta/organisms/Settings/Workspace/Asset/hooks.ts
  web/src/beta/organisms/Settings/Workspace/Asset/index.tsx
  web/src/classic/components/organisms/Dashboard/index.tsx
  web/src/classic/components/organisms/EarthEditor/PropertyPane/index.tsx
  web/yarn.lock
Due: web, web-classic, web-beta

improve time fields
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
  web/src/beta/ui/fields/MultiSelectInputField.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/SliderField.tsx
  web/src/beta/ui/fields/SpacingField.tsx
  web/src/beta/ui/fields/TimeField.tsx
  web/src/beta/ui/fields/TimePeriodField.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel.tsx
  web/src/beta/ui/fields/TimePointField/hooks.ts
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/zIndex.ts
Due: web, web-beta

fix translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix create layer by value
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/hooks.tsx
Due: web, web-beta

ci: fix gcp image name for nightly server
  .github/workflows/deploy_server_nightly.yml
Due: none

ci: fix update cesium ion token workflow
  .github/workflows/update_cesium_ion_token_nightly.yml
Due: none

ci: use us-central region for gcp image of nightly
  .github/workflows/deploy_server_nightly.yml
Due: none

ci: fix gcp region for nightly cloud run
  .github/workflows/deploy_server_nightly.yml
Due: none

fix listitems
  web/src/beta/ui/fields/CamersField/EditorPanel.tsx
  web/src/beta/ui/fields/CamersField/hooks.ts
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.stories.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/services/i18n/translations/en.yml
Due: web, web-beta

style: update some styles
  server/yarn.lock
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/ui/fields/ListField/index.stories.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
  web/src/beta/ui/fields/index.stories.tsx
Due: web, web-beta, server

chore: unnecessary file change
  server/yarn.lock
Due: server

refactor(web): datasource layer creation (#1050)
  web/src/beta/features/Dashboard/ContentsContainer/CommonHeader.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CSV/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/DelimitedText/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/VectorTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/WmsTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/hooks.ts
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Map/SharedComponent.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/utils.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LightBult.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/zIndex.ts
Due: web, web-beta

remove shadow
  web/src/beta/ui/fields/TimePeriodField/index.tsx
Due: web, web-beta

improve translataion
  web/src/services/i18n/translations/en.yml
Due: web, web-beta

refactor(web): new field components (#1017)
  web/src/beta/components/fields/CameraField/EditPanel/hooks.ts
  web/src/beta/components/fields/CameraField/types.ts
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/fields/AssetField.tsx
  web/src/beta/ui/fields/CamersField/CapturePanel.tsx
  web/src/beta/ui/fields/CamersField/EditorPanel.tsx
  web/src/beta/ui/fields/CamersField/hooks.ts
  web/src/beta/ui/fields/CamersField/index.tsx
  web/src/beta/ui/fields/CodeField.tsx
  web/src/beta/ui/fields/ColorField.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/fields/InputField.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.stories.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/SelectField.tsx
  web/src/beta/ui/fields/SpacingField.tsx
  web/src/beta/ui/fields/SwitchField.tsx
  web/src/beta/ui/fields/TextareaField.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel.tsx
  web/src/beta/ui/fields/TimePointField/hooks.ts
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: type & process
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Published/types.ts
  web/src/services/api/layersApi/utils.ts
Due: web, web-beta

revert yarn update
  web/.yarn/install-state.gz
  web/.yarnrc.yml
Due: web

revert yarn.lock file changes
  web/yarn.lock
Due: web

move rootpage to beta
  web/src/beta/features/RootPage/PageWrapper/index.tsx
  web/src/beta/features/RootPage/hooks.ts
  web/src/beta/features/RootPage/index.tsx
  web/src/beta/pages/RootPage/index.tsx
  web/src/services/routing/index.tsx
  web/src/services/theme/reearthTheme/types.ts
Due: web, web-beta

fix: revert theme change
  web/src/services/theme/reearthTheme/types.ts
Due: web, web-beta

implement sort and favaoute
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
