Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

docs(server): note accepted tradeoff for in-memory export zip assembly (SCA-07) (#2400)
  server/internal/usecase/interactor/project.go
Due: server

fix(server): retry property value updates on write conflict (#2399)
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_txretry_test.go
  server/internal/usecase/interactor/property.go
Due: server

fix(server): do not panic importing an export that has no story (#2388)
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_import_test.go
Due: server

fix(server): report not found instead of crashing or returning null entries (#2386)
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/adapter/gql/resolver_query.go
Due: server

fix(server): batch ID replacements during project import instead of per-item (SCA-05) (#2369)
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/style.go
Due: server

docs(server): document star count lost-update race in PatchStarCount (REL-04) (#2368)
  server/internal/adapter/internalapi/server.go
Due: server

test(e2e): make the split-import test verify the import it triggers (#2389)
  e2e/api/graphql/queries.ts
  e2e/api/tests/rest-split-import.api.spec.ts
  e2e/api/tests/test-helpers.ts
Due: none

fix(server): batch layer property loads in the scene builder (#2361)
  server/pkg/scene/builder/nlsLayer.go
  server/pkg/scene/builder/nlsLayer_property_batch_test.go
  server/pkg/scene/builder/nlsLayer_test.go
Due: server

fix(server): log expected failures at WARN instead of ERROR (#2384)
  .github/workflows/ci_server.yml
  server/.golangci.yml
  server/internal/adapter/gql/gqlmodel/scalar_id.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/graphql_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_metadata.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/repo/container.go
  server/pkg/apperr/error.go
  server/pkg/apperr/error_test.go
  server/pkg/scene/builder/builder.go
  server/pkg/visualizer/visualizer.go
  server/pkg/visualizer/visualizer_test.go
Due: server

fix(server,web): stop a member search that matches nobody from raising an error (#2390)
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_user_test.go
  web/src/app/features/Dashboard/ContentsContainer/Members/AddMemberModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/AddMemberModal.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

fix(server): record terminal status and distinguish import-claim states (REL-08, REL-09) (#2401)
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/Import_status.go
Due: server

fix(server): log the stack when an import panics
  server/internal/app/file_split_uploader.go
Due: server

test(e2e): searchUser for a missing user returns empty, not an error
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

Bump version to 1.0.0-beta.16.23
  web/package.json
Due: web

test(e2e): searchUser for a missing user returns empty, not an error (#2407)
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

fix(server): log the stack when an import panics (#2406)
  server/internal/app/file_split_uploader.go
Due: server

chore(web): bump version to 1.0.0-beta.16.23 (#2409)
  web/package.json
Due: web

v1.0.0-beta.16.23
  CHANGELOG.md
Due: none

add improvements
  e2e/pages/dashBoardPage.ts
  web/.env.example
  web/src/app/features/Dashboard/LeftSidePanel/Avatar.tsx
  web/src/app/features/Navbar/LeftSection/index.tsx
  web/src/app/features/Navbar/index.tsx
  web/src/app/features/ProductsMenu/index.tsx
  web/src/app/features/UserProfile/index.tsx
  web/src/app/hooks/useAvatarMenuItems.tsx
  web/src/services/config/index.ts
Due: web, web-beta

chore(ci): gate release on the tag instead of per-step idempotency
  .github/workflows/release.yml
Due: none

refactor(web): fixed async ordering and UI state issues in project flows [VIZ-DEV-177] (#2381)
  CLAUDE.md
  docs/ai-review-log.md
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/hooks.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectImportErrorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectImportErrorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectRemoveModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectRemoveModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.test.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.test.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web

improve fetching recycled project
  web/src/services/gql/provider/pagination.test.ts
  web/src/services/gql/provider/pagination.ts
Due: web, web-beta

fix e2e test
  e2e/pages/projectSettingsPage.ts
  e2e/pages/projectsPage.ts
Due: none

chore: update plugin playground preset doc URLs to docs.reearth.io
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-large-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/getCurrentLocation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web

remove the en in url
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-large-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/getCurrentLocation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web

update url in readme
  README.md
Due: none

improve licence ui/ux
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.test.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/common.tsx
  web/src/app/lib/license/hooks.ts
  web/src/app/lib/license/index.ts
  web/src/app/lib/license/licenses.ts
  web/src/app/lib/reearth-ui/components/Selector/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add utm to the plugin url
  CONTRIBUTING.md
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-large-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/getCurrentLocation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web

fix e2e test
  e2e/pages/projectSettingsPage.ts
  e2e/tests/project/projectSettings.spec.ts
Due: none

feat(server): record createdBy and updatedBy on projects
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
Due: server

fix(server): gate published credentials and data behind a gateway token (SEC-01/02/03/04)
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/file.go
  server/internal/app/public.go
  server/internal/app/public_test.go
  server/internal/app/web.go
Due: server

fix(server): use X-Internal-Auth to match reearth-cloud's existing header
  server/internal/app/public.go
Due: server

added data service
  web/src/app/features/ProductsMenu/index.tsx
  web/src/app/lib/reearth-ui/components/Icon/Icons/ArrowUpRightBadge.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/services/config/constants.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

adjust width
  web/src/app/features/ProductsMenu/index.tsx
Due: web

improve text and ixon color
  web/src/app/features/ProductsMenu/index.tsx
  web/src/app/lib/reearth-ui/components/Icon/Icons/Discord.svg
Due: web

chore(web): update plugin playground preset doc URLs to docs.reearth.io (#2410)
  CONTRIBUTING.md
  README.md
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-large-geojson.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/app/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/app/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/app/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/getCurrentLocation.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/app/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Due: web

improve translation on licence summary
  web/src/app/lib/license/hooks.ts
  web/src/app/lib/license/licenses.ts
  web/src/app/lib/license/translations.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): use SignupNoID when signup has no user or workspace id
  e2e/api/tests/rest-signup.api.spec.ts
  server/internal/app/public.go
Due: server

docs: log the signup SignupNoID review session
  docs/ai-review-log.md
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
