Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(server): project name sort bug (#1068)
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/seeder.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Due: server

refactor: remove Title used in entryItem
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
Due: web, web-beta

fix: indicate required and optional env
  web/.env.local
Due: web

update pluging styles
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/ModalContainer/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/PopupContainer/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Markdown/Editor.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/NextPage/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Editor.tsx
Due: web, web-beta

chore(web): refactor pageSettingpane and create checkbox (#1065)
  web/src/beta/features/Editor/Story/PageSettingsPanel/hooks.ts
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/fields/CheckboxField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
Due: web, web-beta

improve popup menu
  web/src/beta/features/Visualizer/shared/components/BlockAddBar/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
Due: web, web-beta

chore: clean up some dependencies
  web/.storybook/main.ts
  web/package.json
  web/src/env.d.ts
  web/vite.config.ts
  web/yarn.lock
Due: web

chore: use fixed version
  web/package.json
  web/yarn.lock
Due: web

chore: add back core-js
  web/package.json
  web/yarn.lock
Due: web

refactor: add back the alias for reearth core for storybook
  web/.storybook/main.ts
Due: none

refactor: correct comment position
  web/.storybook/main.ts
Due: none

chore: upgrade reearth core
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade @reearth/core (#1081)
  web/package.json
  web/yarn.lock
Due: web

chore: upgrade core
  web/package.json
  web/yarn.lock
Due: web

fix icons and layer height
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/components/BlockAddBar/index.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
Due: web, web-beta

chore(web): clean up some dependencies (#1080)
  web/.storybook/main.ts
  web/package.json
  web/src/env.d.ts
  web/vite.config.ts
  web/yarn.lock
Due: web

remove console
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/index.tsx
Due: web, web-beta

fix(web): block icons and layer panel height (#1082)
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/components/BlockAddBar/index.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
Due: web, web-beta

fix e2e for project updatedAt
  server/e2e/gql_nlslayer_test.go
Due: none

fix(server): save project updated_at when features updated (#1076)
  server/e2e/gql_nlslayer_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
Due: server

refactor: amend navbar breadcrum options
  web/src/beta/components/Icon/Icons/switch.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/TabButton/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
Due: web, web-beta

refactor stars fucntionality
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/lib/reearth-ui/components/Breadcrumb/index.tsx
Due: web, web-beta

fix: update the structure of title block property
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/hooks.ts
Due: web, web-beta

fix: process for published story page property
  web/src/beta/features/Published/hooks.ts
Due: web, web-beta

fix: panelSettings of story page
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/hooks.ts
Due: web, web-beta

fix(web): story page property (#1084)
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/hooks.ts
Due: web, web-beta

fix: amend navbar styles
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/switch.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
Due: web, web-beta

add search functionality
  web/src/beta/features/Dashboard/ContentsContainer/CommonHeader.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/lib/reearth-ui/components/Breadcrumb/index.tsx
Due: web, web-beta

fix sort
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
Due: web, web-beta

style: search bar width
  web/src/beta/ui/components/ManagerBase/ManagerHeader.tsx
Due: web, web-beta

refactor: update i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: layout & general page
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetDeleteModal/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
Due: web, web-beta

refactor: remove clear cache
  web/src/beta/features/AssetsManager/hooks.ts
Due: web, web-beta

style: make the type text smaller
  web/src/beta/features/AssetsManager/item/AssetGridItem.tsx
Due: web, web-beta

refactor: add loading
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
Due: web, web-beta

fix: ensure changes to popupmenu don't affect other areas
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/types.ts
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/user.ts
Due: web, web-beta
