Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

chore(web): improve storybook (#952)
  web/.storybook/preview.tsx
  web/src/beta/components/FloatedPanel/index.stories.tsx
  web/src/beta/components/InsertionBar/index.stories.tsx
  web/src/beta/components/Slide/index.stories.tsx
  web/src/beta/features/Editor/SketchLayerManager/index.stories.tsx
  web/vite.config.ts
Due: web

ci: add cesium token cron
  .github/workflows/_upload_cesium_token_txt.yml
  .github/workflows/cron_ion_token.yml
Due: none

fix unnecessary variable
  web/src/beta/lib/core/engines/Cesium/useOverrideGlobeShader.ts
Due: web, web-beta

fix imagery issue
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.tsx
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
Due: web, web-classic, web-beta

refactor: rename file
  .github/workflows/update_esium_ion_token_nightly.yml
Due: none

ci: add cesium token cron (#953)
  .github/workflows/_upload_cesium_token_txt.yml
  .github/workflows/update_esium_ion_token_nightly.yml
Due: none

clean up & fix layout
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/useInfobox.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
Due: web, web-beta

update resium
  web/package.json
  web/yarn.lock
Due: web

refactor: props
  web/src/beta/features/Visualizer/StoryPanel/hooks.ts
  web/src/beta/features/Visualizer/StoryPanel/index.tsx
  web/src/beta/features/Visualizer/index.tsx
Due: web, web-beta

fix: show story on pubished page
  web/src/beta/features/PublishedVisualizer/index.tsx
Due: web, web-beta

refactor: hooks
  web/src/beta/features/Visualizer/Crust/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/Crust/types.ts
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/lib/core/Visualizer/featureFlags.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/Visualizer/interactionMode.ts
Due: web, web-beta

feat(web): update cesium (#951)
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/useDrawClipping.ts
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/labels/JapanGSIOptimalBVmapVectorMapLabel/JapanGSIOptimalBVmapLabelImagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/useOverrideGlobeShader.ts
  web/src/beta/lib/core/engines/Cesium/utils/utils.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/Tileset/index.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Globe.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/presets.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/classic/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/classic/core/engines/Cesium/core/Globe.tsx
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
  web/src/classic/core/engines/Cesium/core/presets.ts
  web/src/classic/core/engines/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/utils.ts
  web/yarn.lock
Due: web, web-classic, web-beta

chore(web): update node version
  web/.nvmrc
  web/package.json
Due: web

chore(web): update node version (#955)
  web/.nvmrc
  web/package.json
Due: web

fix(web): catch error
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/presets.ts
  web/src/classic/core/engines/Cesium/core/presets.ts
Due: web, web-classic, web-beta

fix: infobox
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/features/Visualizer/useInfobox.ts
Due: web, web-beta

feat(server): style in-memory cache support (#947)
  .gitignore
  docker-compose.yml
  go.work.sum
  server/.env.example
  server/Makefile
  server/e2e/common.go
  server/e2e/gql_style_test.go
  server/e2e/ping_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/resolver_mutation_style.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/main.go
  server/internal/app/usecase.go
  server/internal/infrastructure/redis/redis_adapter.go
  server/internal/usecase/gateway/redis.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/style.go
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
Due: server

fix: displayTypeField could be undefined
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/Content.tsx
Due: web, web-beta

chore(web): fix beta infobox content error (#956)
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/Content.tsx
Due: web, web-beta

ci(server): fix server build failed (#950)
  .github/workflows/build_server.yml
  server/.goreleaser.yml
Due: server

ci(server): server build fix goreleaser
  .github/workflows/build_server.yml
Due: none

feat(server): in-memory cache support for style
  server/e2e/gql_style_test.go
  server/internal/infrastructure/redis/redis_adapter.go
  server/internal/usecase/gateway/redis.go
  server/internal/usecase/interactor/style.go
Due: server

improve publish sketch layer
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
Due: web, web-beta

update the type
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
  web/src/beta/lib/core/mantle/types/index.ts
Due: web, web-beta

define publish feature type
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/lib/core/mantle/types/index.ts
Due: web, web-beta

chore(web): fix sketch layer in published page (#958)
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
Due: web, web-beta

setting redis
  server/internal/infrastructure/redis/redis_adapter.go
  server/internal/usecase/gateway/redis.go
  server/internal/usecase/interactor/common.go
Due: server

fix pkg
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
Due: server

fix pkg
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
Due: server

fix pkg
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_collection.go
  server/pkg/nlslayer/geometry.go
  server/pkg/nlslayer/sketch_info.go
Due: server

nlslayer
  server/internal/usecase/interactor/nlslayer.go
Due: server

fix pkg
  server/pkg/nlslayer/geometry_test.go
Due: none

nlslayer test
  server/internal/usecase/interactor/nlslayer_test.go
Due: none

e2e
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
Due: none

update
  docker-compose.yml
  server/gql/layer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_layer.go
  server/internal/app/app.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  web/.eslintrc.yml
  web/.husky/pre-commit
  web/.huskyrc.json
  web/package.json
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/lib/core/engines/Cesium/common.ts
  web/src/beta/lib/core/engines/Cesium/core/GoogleTiles.tsx
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/common.ts
  web/src/classic/components/organisms/EarthEditor/PrimitiveHeader/hooks.ts
  web/src/classic/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/classic/core/engines/Cesium/common.ts
  web/src/classic/core/engines/Cesium/core/GoogleTiles.tsx
  web/src/classic/core/engines/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/utils.ts
  web/src/classic/core/mantle/compat/forward.ts
Due: web, web-classic, web-beta, server

nlslayer duplicate
  server/internal/usecase/interactor/nlslayer.go
Due: server
