Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

remove comment
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_collection.go
  server/pkg/nlslayer/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
Due: server

scene.IDList
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/property.go
  server/internal/infrastructure/mongo/mongodoc/property_schema.go
  server/internal/infrastructure/mongo/mongodoc/style.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/container_test.go
  server/pkg/scene/id.go
Due: server

refactoring id scene
  server/internal/usecase/repo/container.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/loader.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/plugin/id.go
  server/pkg/plugin/manifest/convert.go
  server/pkg/plugin/manifest/convert_test.go
  server/pkg/plugin/manifest/parser.go
  server/pkg/plugin/plugin.go
  server/pkg/plugin/pluginpack/package.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/property/builder.go
  server/pkg/property/builder_test.go
  server/pkg/property/id.go
  server/pkg/property/initializer.go
  server/pkg/property/property.go
  server/pkg/property/schema.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/list_test.go
  server/pkg/scene/scene.go
  server/pkg/scene/sceneops/dataset_migrator.go
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
  server/pkg/storytelling/id.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Due: server

remove comment
  server/pkg/nlslayer/id.go
  server/pkg/plugin/id.go
  server/pkg/project/id.go
  server/pkg/property/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
Due: server

refactoring id scene
  server/internal/usecase/interactor/plugin_upload_test.go
  server/internal/usecase/interactor/scene.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/loader.go
  server/pkg/nlslayer/simple.go
  server/pkg/property/id.go
  server/pkg/property/property.go
  server/pkg/scene/sceneops/dataset_migrator.go
  server/pkg/scene/sceneops/plugin_migrator.go
  server/pkg/storytelling/id.go
Due: server

fix lint
  server/e2e/seeder.go
Due: server

fix lint
  server/e2e/seeder.go
  server/internal/usecase/interactor/scene.go
Due: server

remove rootlayer test
  server/pkg/scene/builder_test.go
Due: none

feat: add ui for dynamic ui
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/schema_field_ui.go
  server/schemas/plugin_manifest.json
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Text/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useSketchCustomProperty.ts
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/InputSelectField.tsx
Due: web, web-beta, server

feat: add ui for image video and markdown
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Image/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
Due: web, web-beta

fix: fix index for go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/i18n/message/errmsg/errmsg_generated.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/property/schema_field_ui.go
Due: server

fix: fix typo
  web/src/beta/ui/fields/InputSelectField.tsx
Due: web, web-beta

Revert "fix: fix index for go"
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/i18n/message/errmsg/errmsg_generated.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/property/schema_field_ui.go
Due: server

update for gql and formate schema_field_ui.go
  server/pkg/property/schema_field_ui.go
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

refactor: formate connvert_property.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
Due: server

refactor: format pkg/property/schema_field_ui.go
  server/pkg/property/schema_field_ui.go
Due: server

refactor: refactor for go file
  server/gql/property.graphql
  server/internal/adapter/gql/gqlmodel/convert_property.go
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
Due: web, web-beta, server

fix: fix models_gen.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: none

debug db access
  server/go.mod
Due: server

remove
  server/go.mod
Due: server

fix: update go mod
  server/go.mod
  server/go.sum
Due: server

modify
  server/go.mod
  server/go.sum
Due: server

update
  server/go.sum
Due: server

associate project asset
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
Due: server

revert code
  server/internal/app/app.go
  server/internal/app/auth_client.go
Due: server

fix permmision error
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
Due: server

associate project asset
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/mock_test.go
  server/e2e/ping_test.go
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interfaces/story.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Due: server

feat(server): associate project asset (#1410)
  server/internal/app/app.go
  server/internal/app/auth_client.go
Due: server

associate project asset
  server/internal/app/app.go
  server/internal/app/auth_client.go
Due: server

fix test error
  server/pkg/property/property_test.go
  server/pkg/scene/sceneops/plugin_migrator_test.go
Due: none

web lint error
  web/src/services/gql/fragments/index.ts
Due: web, web-beta

feat(server): storytelling ga support [VIZ-1180] (#1425)
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/mock_test.go
  server/e2e/ping_test.go
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interfaces/story.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Due: server

remove comment
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/queries/property.ts
Due: web, web-beta

fix: wrapper ref
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
