Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

widget-align-system
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/services/theme/reearthTheme/common/colors.ts
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
Due: web, web-beta

fix(web):create workspace modal design
  web/src/beta/components/Modal/index.tsx
Due: web, web-beta

fix type issues
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/index.stories.tsx
  web/src/beta/lib/unsafeBuiltinPlugins/.gitignore
  web/src/beta/lib/unsafeBuiltinPlugins/index.ts
Due: web, web-beta

regen i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

remove unnecessary code
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Due: web, web-beta

replace text with i18n
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-classic, web-beta

update readme for unsafeBuiltinPlugins
  web/src/beta/lib/unsafeBuiltinPlugins/README.md
Due: web, web-beta

hide indicator when page is 1 or less
  web/src/beta/features/Editor/tabs/story/StoryPanel/index.tsx
Due: web, web-beta

add/fix type def
  web/src/services/api/storytellingApi.ts
  web/src/services/api/types.ts
Due: web, web-beta

fix function name
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/services/api/storytellingApi.ts
Due: web, web-classic, web-beta

fix wrong refactor
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/services/api/storytellingApi.ts
Due: web, web-classic, web-beta

add icons
  web/src/beta/components/Icon/Icons/folderPlus.svg
  web/src/beta/components/Icon/Icons/storytellingMenu.svg
  web/src/beta/components/Icon/Icons/widgetButton.svg
  web/src/beta/components/Icon/Icons/widgetMenu.svg
  web/src/beta/components/Icon/Icons/widgetNavigator.svg
  web/src/beta/components/Icon/Icons/widgetSplashscreen.svg
  web/src/beta/components/Icon/Icons/widgetStorytelling.svg
  web/src/beta/components/Icon/Icons/widgetsIcon.svg
  web/src/beta/components/Icon/icons.ts
Due: web, web-beta

add actionArea to sidepanel
  web/src/beta/features/Editor/SidePanel/index.tsx
Due: web, web-beta

refactor widgetsapi
  web/src/services/api/widgetsApi/utils.ts
Due: web, web-beta

move installablewidgets and widget add to popover
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/index.tsx
Due: web, web-beta

fix
  server/.env.example
Due: server

pr-fix1
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
Due: web, web-beta

pr-fix2
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
Due: web, web-beta

feat(server): extension system (#584)
  server/.env.example
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/repo.go
  server/internal/infrastructure/adapter/plugin.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/repo/container.go
  server/pkg/plugin/manifest/parser.go
  server/pkg/plugin/manifest/parser_test.go
Due: server

pr-fix3
  web/src/beta/components/TabButton/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/services/theme/reearthTheme/common/colors.ts
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
Due: web, web-beta

fix height
  web/src/beta/features/Editor/tabs/widgets/SidePanel/index.tsx
Due: web, web-beta

pr-fix2
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
Due: web, web-beta

fix(web): create workspace beta modal design (#597)
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
Due: web, web-beta

imp
  server/e2e/gql_layer_test.go
  server/e2e/gql_storytelling_test.go
  server/gql/storytelling.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/gqlmodel/scalar_id.go
  server/internal/adapter/gql/resolver_Storytelling.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/story.go
  server/pkg/builtin/manifest.yml
  server/pkg/storytelling/page.go
  server/pkg/storytelling/page_list.go
  server/pkg/storytelling/page_list_test.go
  server/pkg/storytelling/page_test.go
Due: server

update sidepanelsectionfield, wip getting widget properties to show, etc
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/index.tsx
  web/src/services/api/propertyApi.ts
  web/src/services/api/widgetsApi/utils.ts
Due: web, web-beta

imp
  server/internal/usecase/interactor/storytelling.go
Due: server

fix styles
  web/src/beta/components/Icon/Icons/folderPlus.svg
  web/src/beta/features/Editor/SecondaryNav/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/index.tsx
  web/src/beta/features/Navbar/index.tsx
Due: web, web-beta

fix styles
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/TabButton/index.tsx
Due: web, web-beta

general property component
  web/src/beta/components/properties/index.tsx
Due: web, web-beta

wip: textInput property
  web/src/beta/components/properties/TextInput/index.tsx
Due: web, web-beta

fix styles
  web/src/beta/components/SidePanelSectionField/index.tsx
Due: web, web-beta

add onChange and timeout to textinput
  web/src/beta/components/properties/TextInput/index.tsx
Due: web, web-beta

fix(server): update reearthx
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/context.go
Due: server

add placement to ListItem for action
  web/src/beta/components/ListItem/index.tsx
Due: web, web-beta

add delete action UI to installed widgets
  web/src/beta/components/PopoverMenuContent/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/index.tsx
Due: web, web-beta

wip: display property fields
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
Due: web, web-beta

refactor
  web/src/beta/components/Text/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/Action.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/index.tsx
Due: web, web-beta

fix TextBlock
  web/src/beta/components/properties/TextInput/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
