Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

remove textRef
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

refactor: some UI/UX updates
  web/src/beta/lib/reearth-ui/components/TextArea/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

resolve comments
  web/src/beta/lib/reearth-ui/components/Button/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
Due: web, web-beta

chore(web): implement UI lib TextInput TextArea Typograph (#976)
  web/src/beta/lib/reearth-ui/components/TextArea/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Typography/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Typography/index.tsx
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Due: web, web-beta

update ui/ux
  web/src/beta/lib/reearth-ui/components/NumberInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

remove background when disabled simple appearance
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
Due: web, web-beta

chore: apply fonts on storybook and button
  web/.storybook/preview-head.html
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
Due: web, web-beta

chore(web): implement UI lib Button (#977)
  web/src/beta/lib/reearth-ui/components/Button/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Due: web, web-beta

chore(web): apply font family on storybook and button (#980)
  web/.storybook/preview-head.html
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
Due: web, web-beta

chore(web, server): add migration for ga support
  server/internal/infrastructure/mongo/migration/240515221450_copy_scene_id.go
  server/internal/infrastructure/mongo/migration/240515221450_copy_scene_id_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/project.go
Due: server

improve
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

chore: bind only once
  web/src/beta/features/Visualizer/Crust/Plugins/hooks.ts
Due: web, web-beta

chore(web): bind sketch plugin events (#982)
  web/src/beta/features/Visualizer/Crust/Plugins/hooks.ts
Due: web, web-beta

property pkg
  server/pkg/property/value.go
Due: server

interactor property
  server/internal/usecase/interactor/property.go
Due: server

fix
  server/internal/usecase/interactor/property.go
  server/pkg/value/value.go
Due: server

go.work.sum
  go.work.sum
Due: none

fix
  server/internal/usecase/interactor/property.go
Due: server

fix
  server/internal/usecase/interactor/property.go
  server/pkg/property/field.go
Due: server

fix
  server/internal/usecase/interactor/property.go
  server/pkg/property/value.go
Due: server

updated input type
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

update input
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

remove unused logic
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

refactor popup
  web/src/beta/lib/reearth-ui/components/Popup/hook.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

update props
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
Due: web, web-beta

update story
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
Due: none

chore(web): refactor number input (#979)
  web/src/beta/lib/reearth-ui/components/NumberInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

fix(web): support shapefile based on esri
  web/src/classic/core/mantle/data/index.ts
  web/src/classic/core/mantle/data/shapefile.ts
  web/src/classic/core/mantle/data/shapefile/parseDbf.ts
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

resolve comments
  web/src/beta/lib/reearth-ui/components/Button/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/AToZ.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/CameraFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ClockFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/EditMode.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ExitFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileMDFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ImageFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LayerFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ListDashesFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PencilFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/SToL.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Setting.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/SettingFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Square.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Square2.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/SquareFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/VideoFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/X.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/Icon/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
Due: web, web-beta

change icon names
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Tag.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
Due: web, web-beta

improve popup
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
Due: web, web-beta

change mock name
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
Due: none

remove unused bracket
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
Due: web, web-beta

add flip case
  web/src/beta/lib/reearth-ui/components/Popup/index.stories.tsx
Due: none

change svg names
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LToS.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LineHeight.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Time_Fill.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ZToA.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/index.ts
Due: web, web-beta

Rename if.svg to If.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/If.svg
Due: web, web-beta

refacotor and add parseDbf
  web/src/classic/core/mantle/data/shapefile/parseShp.ts
  web/src/classic/core/mantle/data/shapefile/parseZip.ts
  web/src/classic/core/mantle/data/shapefile/shapefile.ts
Due: web, web-classic

implement popup panel
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
Due: web, web-beta
