Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

test: add unit test for TimePeriodField
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/ui/fields/TimePeriodField/index.test.tsx
  web/src/beta/ui/fields/TimePeriodField/index.tsx
Due: web, web-beta

test: add unit tests for EditPanel sub component
  web/src/beta/ui/fields/TimePeriodField/EditPanel/index.test.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel/index.test.tsx
  web/src/beta/ui/fields/TimePointField/index.test.tsx
Due: none

Adds tests for useTimePeriodField hook
  web/src/beta/ui/fields/TimePeriodField/EditPanel/index.test.tsx
Due: none

Adds unit tests for InputField and refactors file structure
  web/src/beta/ui/fields/InputField/index.test.tsx
  web/src/beta/ui/fields/InputField/index.tsx
Due: web, web-beta

add test for PropertySelectorField component
  web/src/beta/ui/fields/PropertySelectorField/index.test.tsx
  web/src/beta/ui/fields/PropertySelectorField/index.tsx
  web/src/beta/ui/fields/TimePeriodField/EditPanel/index.test.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel/index.test.tsx
  web/src/beta/ui/fields/TimePointField/index.test.tsx
  web/src/test/utils.tsx
Due: web, web-beta

add unit test for QuarertInputField
  web/src/beta/ui/fields/QuartetInputField/index.test.tsx
  web/src/beta/ui/fields/QuartetInputField/index.tsx
Due: web, web-beta

add unit test for RadioGroupField
  web/src/beta/ui/fields/QuartetInputField/index.test.tsx
  web/src/beta/ui/fields/RadioGroupField/index.test.tsx
  web/src/beta/ui/fields/RadioGroupField/index.tsx
Due: web, web-beta

add unit tests for RangeField component
  web/src/beta/ui/fields/RangeField/index.test.tsx
  web/src/beta/ui/fields/RangeField/index.tsx
Due: web, web-beta

add unit test for SelectorField component
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/Properties/index.test.tsx
  web/src/beta/ui/fields/SelectField/index.test.tsx
  web/src/beta/ui/fields/SelectField/index.tsx
Due: web, web-beta

fix: amend warning for unknown props in React
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/SelectField/index.test.tsx
Due: web, web-beta

remove comment
  web/src/services/restful/index.tsx
Due: web, web-beta

add unit test for slider component
  web/src/beta/ui/fields/SliderField/index.test.tsx
  web/src/beta/ui/fields/SliderField/index.tsx
Due: web, web-beta

add /api/
  server/internal/app/file_uploader.go
Due: server

add unit test for SpacingField component
  web/src/beta/ui/fields/SpacingField/index.test.tsx
  web/src/beta/ui/fields/SpacingField/index.tsx
Due: web, web-beta

add unit test for SwitchField component
  web/src/beta/lib/reearth-ui/components/Switcher/index.tsx
  web/src/beta/ui/fields/SwitchField/index.test.tsx
  web/src/beta/ui/fields/SwitchField/index.tsx
Due: web, web-beta

add unit test for TextareaField component
  web/src/beta/ui/fields/TextareaField/index.test.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
Due: web, web-beta

Add public projects support
  server/e2e/gql_asset_test.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/gql_validate_geojson_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
Due: server

add unit test for TripletInputField
  web/src/beta/ui/fields/TripletInputField/index.test.tsx
  web/src/beta/ui/fields/TripletInputField/index.tsx
Due: web, web-beta

add unit test for TwinInputField component
  web/src/beta/ui/fields/TwinInputField/index.test.tsx
  web/src/beta/ui/fields/TwinInputField/index.tsx
Due: web, web-beta

add unit test for utils file
  web/src/beta/ui/fields/utils.test.ts
Due: none

test(web): add unit tests to utility functions [VIZ-1497] (#1552)
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/utils/camera.test.ts
  web/src/beta/utils/camera.ts
  web/src/beta/utils/convert-object.ts
  web/src/beta/utils/events.test.tsx
  web/src/beta/utils/file.test.ts
  web/src/beta/utils/file.ts
  web/src/beta/utils/image.test.ts
  web/src/beta/utils/layer-style.test.ts
  web/src/beta/utils/object.test.ts
  web/src/beta/utils/object.ts
  web/src/beta/utils/sketch.test.ts
  web/src/beta/utils/sketch.ts
  web/src/beta/utils/string.test.ts
  web/src/beta/utils/string.ts
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
  web/src/beta/utils/value.test.ts
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

ci: add golang license checker
  .github/workflows/dependency_check.yml
  .github/workflows/license_checker.yml
Due: none

ci: add golang license checker (#1566)
  .github/workflows/dependency_check.yml
  .github/workflows/license_checker.yml
Due: none

fix: refactor file import and mock
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/ui/fields/AssetField/index.test.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/CameraField/index.test.tsx
  web/src/beta/ui/fields/CameraField/index.tsx
  web/src/beta/ui/fields/CheckBoxField/index.tsx
  web/src/beta/ui/fields/CodeField/index.tsx
  web/src/beta/ui/fields/ColorField/index.tsx
  web/src/beta/ui/fields/InputField/index.tsx
  web/src/beta/ui/fields/ListField/index.test.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/NumberField/index.tsx
  web/src/beta/ui/fields/Properties/index.test.tsx
  web/src/beta/ui/fields/PropertySelectorField/index.tsx
  web/src/beta/ui/fields/QuartetInputField/index.tsx
  web/src/beta/ui/fields/RadioGroupField/index.test.tsx
  web/src/beta/ui/fields/RadioGroupField/index.tsx
  web/src/beta/ui/fields/RangeField/index.tsx
  web/src/beta/ui/fields/SelectField/index.tsx
  web/src/beta/ui/fields/SliderField/index.tsx
  web/src/beta/ui/fields/SpacingField/index.tsx
  web/src/beta/ui/fields/SwitchField/index.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/index.test.tsx
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/ui/fields/TripletInputField/index.tsx
  web/src/beta/ui/fields/TwinInputField/index.tsx
  web/src/beta/ui/fields/ZoomLevelField/index.test.tsx
  web/src/beta/ui/fields/ZoomLevelField/index.tsx
  web/src/test/utils.tsx
Due: web, web-beta

fix: remove comments
  web/src/beta/ui/fields/ListField/index.test.tsx
Due: none

test(web):Added test screen recording
  .github/workflows/playwright_ui_tests.yml
  web/e2e/playwright-tests/.gitignore
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/tests/login.spec.ts
Due: web

test(web): add test screen recording
  web/e2e/playwright-tests/tests/login.spec.ts
  web/e2e/playwright-tests/utils.ts
Due: web

test(web): add test screen recording
  web/eslint.config.mjs
Due: web

test(web): add test screen recording1
  web/eslint.config.mjs
Due: web

test
  go.work.sum
  server/internal/app/file_uploader.go
Due: server

remove don't need
  .gitignore
  server/cmd/reearth-cmd/main.go
Due: server

fix typos
  web/src/beta/ui/fields/QuartetInputField/index.test.tsx
  web/src/beta/ui/fields/QuartetInputField/index.tsx
Due: web, web-beta

fix(eslint): update ignores to include e2e/playwright-tests directory
  web/eslint.config.mjs
Due: web

refactor account and workspace setting
  web/src/beta/features/AccountSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
Due: web, web-beta

fix highlight
  web/src/beta/features/ProjectSettings/hooks.ts
Due: web, web-beta

improve subitem change
  web/src/beta/features/ProjectSettings/hooks.ts
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
