Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(migrate): copy workspace to team (#1734)
  server/internal/infrastructure/mongo/migration/250724145417_copy_workspace_to_team.go
  server/internal/infrastructure/mongo/migration/250724145417_copy_workspace_to_team_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

test
  server/internal/adapter/gql/gqlmodel/scalar_id.go
Due: server

fix(server): migrate projectmetadata id
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id_test.go
Due: server

fix(server): migrate projectmetadata id (#1735)
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id_test.go
Due: server

fix(server): copy team to workspace
  server/internal/infrastructure/mongo/migration/250724191400_copy_team_to_workspace.go
  server/internal/infrastructure/mongo/migration/250724191400_copy_team_to_workspace_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): copy team to workspace (#1736)
  server/internal/infrastructure/mongo/migration/250724191400_copy_team_to_workspace.go
  server/internal/infrastructure/mongo/migration/250724191400_copy_team_to_workspace_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

update publish setting
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Due: web

add semicolon
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
Due: web

Project Data Maintenance
  server/internal/infrastructure/mongo/migration/250725111952_add_project_alias_2.go
  server/internal/infrastructure/mongo/migration/250725111952_add_project_alias_2_test.go
  server/internal/infrastructure/mongo/migration/250725112722_metadata_update.go
  server/internal/infrastructure/mongo/migration/250725112722_metadata_update_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

lint fix
  server/internal/infrastructure/mongo/migration/250725112722_metadata_update_test.go
Due: none

feat(server): Project Data Maintenance (#1739)
  server/internal/infrastructure/mongo/migration/250725111952_add_project_alias_2.go
  server/internal/infrastructure/mongo/migration/250725111952_add_project_alias_2_test.go
  server/internal/infrastructure/mongo/migration/250725112722_metadata_update.go
  server/internal/infrastructure/mongo/migration/250725112722_metadata_update_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

chore(server): add empty project alias migration
  server/internal/infrastructure/mongo/migration/250725113421_conver_empty_project_alias.go
  server/internal/infrastructure/mongo/migration/250725113421_conver_empty_project_alias_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix typo
  server/internal/infrastructure/mongo/migration/250725113421_convert_empty_project_alias.go
  server/internal/infrastructure/mongo/migration/250725113421_convert_empty_project_alias_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix import error
  server/e2e/gql_project_test.go
  server/internal/usecase/interactor/project.go
Due: server

fix(server): fix import error (#1730)
  server/e2e/gql_project_test.go
  server/internal/usecase/interactor/project.go
Due: server

Set PhotoOverlay
  server/internal/infrastructure/mongo/migration/250725133631_set_photo_overlay_default.go
  server/internal/infrastructure/mongo/migration/250725133631_set_photo_overlay_default_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/usecase/interactor/nlslayer.go
Due: server

duplicate
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

feat(server): Set PhotoOverlay (#1737)
  server/internal/infrastructure/mongo/migration/250725133631_set_photo_overlay_default.go
  server/internal/infrastructure/mongo/migration/250725133631_set_photo_overlay_default_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/usecase/interactor/nlslayer.go
Due: server

chore(server): added non valid project alias migration
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/migration/250725145932_convert_non_valid_project_aliases.go
  server/internal/infrastructure/mongo/migration/250725145932_convert_non_valid_project_aliases_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

update non-valid project alias migration to use p-{id} format
  server/internal/infrastructure/mongo/migration/250725145932_convert_non_valid_project_aliases.go
  server/internal/infrastructure/mongo/migration/250725145932_convert_non_valid_project_aliases_test.go
Due: server

fix go.mod
  server/go.mod
Due: server

policy checker
  server/.env.example
  server/internal/app/config/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/policy/http_checker.go
  server/internal/infrastructure/policy/http_checker_test.go
  server/internal/infrastructure/policy/permissive_checker.go
  server/internal/infrastructure/policy/permissive_checker_test.go
  server/internal/usecase/gateway/container.go
  server/internal/usecase/gateway/policy_checker.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/project.go
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

fix(events): allow ignoring existing event callbacks in getEventCallback
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web

chore(server): added non valid project alias migration (#1742)
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/migration/250725145932_convert_non_valid_project_aliases.go
  server/internal/infrastructure/mongo/migration/250725145932_convert_non_valid_project_aliases_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(web): allow ignoring existing event callbacks in getEventCallback (#1743)
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web

feat: add license options and types for data licensing agreements
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/content.ts
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.tsx
  web/src/app/lib/license/content.ts
  web/src/app/lib/license/index.ts
Due: web

refactor(web): update license list (#1744)
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/content.ts
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.tsx
  web/src/app/lib/license/content.ts
  web/src/app/lib/license/index.ts
Due: web

refactor(web): use scene alias on publish scene (#1738)
  web/src/app/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/gql/queries/scene.ts
Due: web, web-beta

refactor(web): enhance event callback management with fingerprint support
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web

refactor(web): simplify variable naming in event management functions
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web

refactor(web): enhance event callback management with fingerprint support (#1745)
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web

test
  server/internal/infrastructure/policy/http_checker.go
  server/internal/infrastructure/policy/http_checker_test.go
  server/internal/infrastructure/policy/permissive_checker.go
  server/internal/infrastructure/policy/permissive_checker_test.go
  server/internal/usecase/gateway/policy_checker.go
Due: server

add error debug
  server/internal/infrastructure/mongo/project.go
Due: server

Cannot access a workspace
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): Cannot access a workspace (#1748)
  server/internal/infrastructure/mongo/project.go
Due: server

fix filtering bug
  server/e2e/gql_asset_test.go
  server/e2e/gql_scene_test.go
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/proto_project_user_test.go
  server/e2e/seeder.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/scene.go
Due: server

test error fix
  server/e2e/proto_project_test.go
Due: none

test
  server/e2e/proto_project_test.go
Due: none
