Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix(server): answer an already-registered email with 400
  server/internal/app/signup_error.go
  server/internal/app/signup_error_test.go
Due: server

Revert "refactor(web): revert improve license UI/UX for the for ecosystem con…"
  e2e/pages/projectSettingsPage.ts
  e2e/tests/project/projectSettings.spec.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.test.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/common.tsx
  web/src/app/lib/license/hooks.ts
  web/src/app/lib/license/index.ts
  web/src/app/lib/license/licenses.ts
  web/src/app/lib/license/translations.ts
  web/src/app/lib/reearth-ui/components/Selector/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): keep the other statuses as they were
  server/internal/app/signup_error.go
Due: server

fix(e2e): send the gateway token when testing published_data directly
  .github/workflows/playwright_api_tests.yml
  e2e/api/config/env.ts
  e2e/api/tests/published-endpoints.api.spec.ts
Due: none

fix(server): run policy checks before opening the Mongo transaction
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_remove_test.go
Due: server

refactor(web): re-revert improve license UI/UX for the for ecosystem consistency [VIZ-DEV-224] (#2426)
  e2e/pages/projectSettingsPage.ts
  e2e/tests/project/projectSettings.spec.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.test.tsx
  web/src/app/features/ProjectSettings/innerPages/LicenseSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/common.tsx
  web/src/app/lib/license/hooks.ts
  web/src/app/lib/license/index.ts
  web/src/app/lib/license/licenses.ts
  web/src/app/lib/license/translations.ts
  web/src/app/lib/reearth-ui/components/Selector/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Revert "refactor(web): revert align licence content with the design (#2420)"
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/lib/license/content.ts
  web/src/app/lib/license/licenses.ts
  web/src/app/lib/license/translations.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor(web): re-revert align licence content with the design (#2428)
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/lib/license/content.ts
  web/src/app/lib/license/licenses.ts
  web/src/app/lib/license/translations.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(server): log expected accounts failures at WARN (#2417)
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

debug(e2e): log whether the gateway token secret is actually wired in CI
  e2e/api/tests/published-endpoints.api.spec.ts
Due: none

Revert "debug(e2e): log whether the gateway token secret is actually wired in CI"
  e2e/api/tests/published-endpoints.api.spec.ts
Due: none

fix(server): answer a signup rejection with the status it deserves (#2416)
  e2e/api/tests/rest-signup.api.spec.ts
  server/internal/app/public.go
  server/internal/app/signup_error.go
  server/internal/app/signup_error_test.go
  server/pkg/apperr/error.go
Due: server

fix(ci): scope e2e-api-test to the dev environment for its secret
  .github/workflows/playwright_api_tests.yml
Due: none

fix(server): batch property-import field writes into a single Save (SCA-06)
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/decoder_property_update_test.go
Due: server

fix(server): commit the transaction in Storytelling.Remove
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_remove_test.go
Due: server

fix(server): preserve prior updates on error and strengthen SCA-06 batching tests
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/decoder_property_update_test.go
Due: server

style(server): drop redundant comment on PropertyUpdate's error-handling loop
  server/pkg/scene/builder/decoder.go
Due: server

docs(e2e): document REEARTH_PUBLISHED_GATEWAY_TOKEN in env.example
  e2e/env.example
Due: none

fix(e2e): send the gateway token when testing published_data directly (#2427)
  .github/workflows/playwright_api_tests.yml
  e2e/api/config/env.ts
  e2e/api/tests/published-endpoints.api.spec.ts
  e2e/env.example
Due: none

ci: run e2e-only tests against fresh preview instead of shared server
  .github/workflows/ci.yml
Due: none

fix(ci): make the release job safe to re-run (#2397)
  .github/workflows/release.yml
Due: none

fix(web): pass the CMS URL through to reearth_config.json
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

fix(web): point Re:Earth Home at platformUrl/home
  web/src/app/features/ProductsMenu/index.tsx
  web/src/services/config/index.ts
Due: web, web-beta

Bump version to 1.0.0-beta.16.25
  web/package.json
Due: web

fix(web): make the CMS and Re:Earth Home links in the products menu work (#2432)
  web/Dockerfile
  web/docker/reearth_config.json.template
  web/src/app/features/ProductsMenu/index.tsx
  web/src/services/config/index.ts
Due: web, web-beta

fix: correct members link config and menu icon
  web/src/app/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/hooks/useWorkspaceManagementMenu.ts
  web/src/ee/featureConfig.ts
  web/src/services/config/appFeatureConfig.ts
Due: web, web-beta

fix(server): answer a wrongly sized split-import chunk with 400
  e2e/api/tests/rest-split-import.api.spec.ts
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

Rename membersManagementOnDashboard to membersManagement and hide Members menu for personal workspaces
  e2e/CLAUDE.md
  web/CLAUDE.md
  web/docs/concepts/feature-flags.md
  web/docs/modules/services/config.md
  web/docs/reference/environment-variables.md
  web/src/app/features/Dashboard/ContentsContainer/Members/index.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/app/features/UserProfile/index.tsx
  web/src/app/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/app/hooks/useWorkspaceManagementMenu.ts
Due: web

fix(server): propagate commit errors from Storytelling.Remove
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_remove_test.go
Due: server

Set personal field for myWorkspace on entry path to fix Members menu visibility
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/RootPage/hooks.ts
Due: web

test(e2e): add shared plugin zip setup for plugin API e2e tests (#2398)
  .github/workflows/ci.yml
  .github/workflows/playwright_ui_tests.yml
  e2e/.gitignore
  e2e/fixtures/plugins/reearth-api-test.zip
  e2e/fixtures/plugins/reearth-api-test/build-plugin.js
  e2e/fixtures/plugins/reearth-api-test/camera-test.js
  e2e/fixtures/plugins/reearth-api-test/reearth-api-test.js
  e2e/fixtures/plugins/reearth-api-test/reearth.yml
  e2e/package.json
  e2e/pages/cameraAssertions.ts
  e2e/pages/cesiumVisualAssertions.ts
  e2e/pages/pluginFixturePage.ts
  e2e/playwright.config.ts
  e2e/tests/plugin-api/README.md
  e2e/tests/plugin-api/_setup.ts
  e2e/tests/plugin-api/_teardown.ts
  e2e/tests/plugin-api/camera.semantic.spec.ts
  e2e/tests/plugin-api/camera.visual.spec.ts
  e2e/tests/plugin-api/camera.visual.spec.ts-snapshots/camera-sydney-chromium-visual-darwin.png
  e2e/tests/plugin-api/camera.visual.spec.ts-snapshots/camera-tokyo-chromium-visual-darwin.png
  e2e/tests/plugin-api/camera.visual.spec.ts-snapshots/camera-zoom-in-chromium-visual-darwin.png
Due: none

fix(server): keep rejected split-import chunks out of ERROR logs
  server/internal/app/file_import_common.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

fix(server): answer a wrongly sized split-import chunk with 400 (#2435)
  e2e/api/tests/rest-split-import.api.spec.ts
  server/internal/app/file_import_common.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

fix(web): correct members link config and menu icon (#2434)
  e2e/CLAUDE.md
  web/CLAUDE.md
  web/docs/concepts/feature-flags.md
  web/docs/modules/services/config.md
  web/docs/reference/environment-variables.md
  web/src/app/features/Dashboard/ContentsContainer/Members/index.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/RootPage/hooks.ts
  web/src/app/features/UserProfile/index.tsx
  web/src/app/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/app/hooks/useWorkspaceManagementMenu.ts
  web/src/ee/featureConfig.ts
  web/src/services/config/appFeatureConfig.ts
Due: web, web-beta

fix(server): commit the transaction in Storytelling.Remove (#2431)
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_remove_test.go
Due: server

chore(web): bump version to 1.0.0-beta.16.25 (#2433)
  web/package.json
Due: web

fix(server): batch property-import field writes into a single Save (SCA-06) (#2430)
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/decoder_property_update_test.go
Due: server

add navara product and improve ui
  web/src/app/features/ProductsMenu/index.tsx
  web/src/app/lib/reearth-ui/components/Icon/Icons/NavaraLogo.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/services/config/constants.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix styles
  web/src/app/features/ProductsMenu/index.tsx
Due: web

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
