Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

revert: keep arena dispose
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
Due: web

Update web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
Due: web

refactor: return void
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
Due: web

refactor(web): improve error handling around plugin dispose [VIZ-2313] (#1871)
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web

test(web): update workflow to fix pipeline issues
  .github/workflows/playwright_ui_tests.yml
Due: none

test(web): update workflow to fix pipeline issues (#1872)
  .github/workflows/playwright_ui_tests.yml
Due: none

ci: updated ci.yml to run e2e tests on PRs
  .github/workflows/ci.yml
Due: none

ci: updated ci.yml to run e2e tests on PRs (#1873)
  .github/workflows/ci.yml
Due: none

ci: skip IAP for E2E tests
  .github/workflows/playwright_ui_tests.yml
Due: none

fix: revert topics to string from array
  server/internal/infrastructure/mongo/migration/251022100000_convert_topics_to_string.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): revert topics to string from array in projectmetadata (#1875)
  server/internal/infrastructure/mongo/migration/251022100000_convert_topics_to_string.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): rollback migration for was
  server/internal/infrastructure/mongo/migration/251022122300_rollback_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/251022122300_rollback_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: revert topic to string change
  server/internal/infrastructure/mongo/migration/251022100000_convert_topics_to_string.go
  server/internal/infrastructure/mongo/migration/251022100000_update_project_metadata_fields.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: update migration timestamp
  server/internal/infrastructure/mongo/migration/251022100100_update_project_metadata_fields.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: remove unused migration
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): Skip attachOpMiddleware for /api routes
  server/internal/app/app.go
Due: server

Update server/internal/app/app.go
  server/internal/app/app.go
Due: server

fix(server): revert topic to string change (#1877)
  server/internal/infrastructure/mongo/migration/251022100000_convert_topics_to_string.go
  server/internal/infrastructure/mongo/migration/251022100100_update_project_metadata_fields.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): Skip attachOpMiddleware for /api routes (#1878)
  server/internal/app/app.go
Due: server

fix(server): migration for topics
  server/internal/infrastructure/mongo/migration/251022133500_update_project_metadata_fields.go
  server/internal/infrastructure/mongo/migration/251022133500_update_project_metadata_fields_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): migration for topics (#1879)
  server/internal/infrastructure/mongo/migration/251022133500_update_project_metadata_fields.go
  server/internal/infrastructure/mongo/migration/251022133500_update_project_metadata_fields_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): fix migration for UpdateProjectMetadataFields
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): fix migration for UpdateProjectMetadataFields (#1881)
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: adding deleted migration file to allow running of migrations
  server/internal/infrastructure/mongo/migration/251022100000_convert_topics_to_string.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

Fixes metadata update logic and renames migration function
  server/internal/infrastructure/mongo/migration/251022100100_update_project_metadata_fields.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

chore(web): bump up version to v1.0.0-beta.12.0
  web/package.json
Due: web

chore(web): bump up version to v1.0.0-beta.12.0 (#1883)
  web/package.json
Due: web

update
  server/internal/usecase/interactor/dataset.go
  server/pkg/dataset/csvparser.go
  server/pkg/dataset/dataset.go
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks_dataset.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/index.tsx
Due: web, server

v1.0.0-beta.12.0
  CHANGELOG.md
Due: none

feat: replace search field enum with topics filter in project queries
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

fix: format file
  server/internal/infrastructure/mongo/project_test.go
Due: none

Add topic-based filtering and enhance project test data
  server/e2e/proto_all_project_test.go
  server/internal/infrastructure/mongo/project_test.go
Due: none

fix
  server/.env.example
Due: server

modify sampler setting
  server/internal/app/app.go
  server/internal/app/auth_server.go
  server/internal/app/graphql.go
  server/internal/app/tracer.go
  server/internal/app/web.go
Due: server

lint
  server/internal/app/graphql.go
Due: server

test
  server/internal/app/app.go
Due: server

lint
  server/go.mod
Due: server

reviwe fix
  server/.air.toml
  server/.env.example
  server/Makefile
  server/cmd/reearth/main.go
  server/internal/adapter/middleware/rest_tracer.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/graphql.go
  server/internal/app/main.go
  server/internal/app/tracer.go
Due: server

fix: add topics to project filter
  server/internal/usecase/repo/project.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
