Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

Basic property updating working
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/index.tsx
  web/src/services/api/index.ts
  web/src/services/api/propertyApi/index.ts
  web/src/services/api/propertyApi/utils.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/property.ts
  web/src/services/state/index.ts
Due: web, web-beta

fix input issue
  web/src/beta/components/properties/TextInput/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
Due: web, web-beta

fix styles
  web/src/beta/features/Editor/SidePanel/index.tsx
Due: web, web-beta

regen i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add widget remove gql mutation
  web/src/services/api/widgetsApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/widget.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add widget remove functionality
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/index.tsx
Due: web, web-beta

fix styles
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Manager/index.tsx
Due: web, web-beta

fix more styles
  web/src/beta/features/Editor/SidePanel/index.tsx
Due: web, web-beta

disable WAS editor on tab change
  web/src/beta/features/Editor/hooks.ts
Due: web, web-beta

add missing icons
  web/src/beta/components/Icon/Icons/compass.svg
  web/src/beta/components/Icon/Icons/compassFocus.svg
  web/src/beta/components/Icon/Icons/house.svg
  web/src/beta/components/Icon/Icons/minus.svg
  web/src/beta/components/Icon/Icons/navigatorAngle.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Resizable/index.tsx
Due: web, web-beta

update textinput UX
  web/src/beta/components/properties/TextInput/index.tsx
Due: web, web-beta

fixes
  web/src/beta/components/properties/TextInput/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
Due: web, web-beta

remove console log
  web/src/services/api/propertyApi/utils.ts
Due: web, web-beta

chore(web): enable visualizer explicit rendering (#583)
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/Map/Layers/index.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Box/hooks/box.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/context.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

add plugin icon
  web/src/beta/components/Icon/Icons/plugin.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
  web/src/services/api/widgetsApi/utils.ts
Due: web, web-beta

add widget update func
  web/src/beta/features/Editor/Visualizer/CanvasArea/hooks.ts
  web/src/services/api/widgetsApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/widget.ts
Due: web, web-beta

widget align system update func
  web/src/beta/features/Editor/Visualizer/CanvasArea/hooks.ts
  web/src/services/api/widgetsApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/widget.ts
Due: web, web-beta

fix(web): build ci failling
  web/vite.config.ts
Due: web

chore(web): add widget and align system update functionality (#604)
  web/src/beta/components/Icon/Icons/plugin.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Editor/Visualizer/CanvasArea/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
  web/src/services/api/widgetsApi/index.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/widget.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

wip: publish tab
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
  web/src/beta/features/Editor/useSecondaryNavbar.tsx
Due: web, web-beta

basic publish status ui
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
Due: web, web-beta

handle parseFloat giving NaN value
  web/src/beta/lib/core/mantle/data/gpx.ts
  web/src/classic/core/mantle/data/gpx.ts
Due: web, web-classic, web-beta

merge conflicts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta

Update web/src/beta/lib/core/mantle/data/gpx.ts
  web/src/beta/lib/core/mantle/data/gpx.ts
Due: web, web-beta

Update gpx.ts
  web/src/beta/lib/core/mantle/data/gpx.ts
Due: web, web-beta

Update gpx.ts in classic
  web/src/classic/core/mantle/data/gpx.ts
Due: web, web-classic

chore(web): hook up with story page API (#592)
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/PageIndicator/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentPage/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentStory/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/PageItemWrapper/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/PageItemWrapper/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/story/StoryPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/pages/EditorPage/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/services/api/sceneApi.ts
  web/src/services/api/storytellingApi.ts
  web/src/services/api/types.ts
  web/src/services/gql/__gen__/fragmentMatcher.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
  web/src/services/gql/fragments/storyPage.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/gql/queries/storytelling.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-classic, web-beta

wip: publish dropdown
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
Due: web, web-beta

fix type ci
  web/src/beta/lib/core/mantle/data/gpx.ts
  web/src/classic/core/mantle/data/gpx.ts
Due: web, web-classic, web-beta

revert Update gpx.ts
  web/src/beta/lib/core/mantle/data/gpx.ts
Due: web, web-beta

Update gpx.ts: remove comments
  web/src/beta/lib/core/mantle/data/gpx.ts
Due: web, web-beta

basic publishing func
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
  web/src/beta/features/Editor/useSecondaryNavbar.tsx
  web/src/services/api/projectApi.ts
Due: web, web-beta

imp
  server/e2e/gql_storytelling_test.go
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/gqlmodel/scalar_id.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/story.go
  server/pkg/builtin/manifest.yml
  server/pkg/storytelling/block_builder.go
  server/pkg/storytelling/block_builder_test.go
Due: server

fix
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/resolver_Storytelling.go
Due: server

remove comments
  web/src/classic/core/mantle/data/gpx.ts
Due: web, web-classic

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
