Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

feat(web): add google search funtion to editor[VIZ-2352] (#1965)
  web/src/app/features/Editor/Map/MapGoogleSearch/hooks.ts
  web/src/app/features/Editor/Map/MapGoogleSearch/index.tsx
  web/src/app/features/Editor/Map/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: server test
  server/e2e/gql_storytelling_test.go
Due: none

remove timeline
  server/internal/infrastructure/mongo/migration/251216142332_remove_timeline.go
  server/internal/infrastructure/mongo/migration/251216142332_remove_timeline_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix test
  server/internal/infrastructure/mongo/migration/251216142332_remove_timeline_test.go
Due: none

refactor: improve selector visibility
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
Due: web

refactor: mark builtin timeline widget as oss only
  web/src/ee/featureConfig.ts
  web/src/services/api/widget/utils.ts
  web/src/services/config/appFeatureConfig.ts
Due: web, web-beta

style: improve selector style
  web/src/app/lib/reearth-widget-ui/components/ui/select.tsx
Due: web

refactor: improve dnd on edge of start time
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/usePanel.ts
Due: web

fix: correct style & rename component
  web/src/app/features/Editor/Map/SketchToolsPanel/index.tsx
  web/src/app/features/Editor/Map/index.tsx
Due: web

skip policy check flag
  server/.env.docker
  server/.env.example
  server/internal/app/config/config.go
  server/internal/app/repo.go
Due: server

fix(web): correct sketch tools panel style (#1977)
  web/src/app/features/Editor/Map/SketchToolsPanel/index.tsx
  web/src/app/features/Editor/Map/index.tsx
Due: web

fix(web): wasm mime type error on dev server (#1962)
  web/vite.config.ts
Due: web

chore(web): bump up version to 1.0.0-beta.13.4 (#1963)
  web/package.json
Due: web

fix(server): fix go version to 1.25.5 on Dockerfile (#1964)
  server/Dockerfile
Due: server

v1.0.0-beta.13.4
  CHANGELOG.md
Due: none

feat(server): remove authserv (#1966)
  .github/workflows/build_release.yml
  go.work.sum
  server/.env.example
  server/Dockerfile.dev
  server/e2e/common.go
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/config/auth_server.go
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/public.go
  server/internal/app/public_test.go
  server/internal/app/web.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/repo/container.go
Due: server

fix(server): fix internal api for GetProjectByWorkspaceAliasAndProjectAlias (#1972)
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Due: server

feat(server): add internal alias api (#1970)
  server/e2e/gql_me_test.go
  server/e2e/proto_project_workspace_alias_test.go
  server/e2e/seeder.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

chore(server): bump up version to 1.0.0-beta.13.5 (#1973)
  web/package.json
Due: web

v1.0.0-beta.13.5
  CHANGELOG.md
Due: none

fix(server): delete unused function and update patch start count (#1974)
  server/e2e/proto_project_alias_test.go
  server/e2e/proto_project_test.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/grpc.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/docs/schema.md
  server/schemas/internalapi/v1/schema.proto
Due: server

Migrating from reerthx to reearth-accounts
  go.work.sum
  server/e2e/proto_project_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Due: server

git commit hash update
  server/go.mod
  server/go.sum
Due: server

refactor: refactor description and VALIDATION_DEBOUNCE_MS to 600
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
Due: web

update t
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor(web): debounce validation on new project alias (#1975)
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(server): remove timeline (#1976)
  server/internal/infrastructure/mongo/migration/251216142332_remove_timeline.go
  server/internal/infrastructure/mongo/migration/251216142332_remove_timeline_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: avoid crash by missing role
  web/src/app/features/Dashboard/ContentsContainer/Members/PermissionService.ts
Due: web

fix(web): avoid members page crash when missing role (#1978)
  web/src/app/features/Dashboard/ContentsContainer/Members/PermissionService.ts
Due: web

fix(server): role converter check value as lower case
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
Due: server

feat: bump up visualizer version
  web/package.json
Due: web

feat: bump up version to 1.0.0-beta.13.6 (#1980)
  web/package.json
Due: web

v1.0.0-beta.13.6
  CHANGELOG.md
Due: none

fix: add method to readonly
  server/internal/app/grpc.go
Due: server

Add visibility check for unauthenticated project access
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Due: server

fix: amend test
  server/internal/usecase/interactor/project_test.go
Due: none

fix(server): add GetProjectByWorkspaceAliasAndProjectAlias to read-only methods (#1981)
  server/internal/app/grpc.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
