Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

undo server changes
  server/internal/app/repo.go
Due: server

feat: add story panel to plugin-playground
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix: refactor default value for layerIds
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

refactor: revert changes on server
  server/internal/app/config/config.go
Due: server

format config file
  server/internal/app/config/config.go
Due: server

fix: refactor return object for story block
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

enable edit panet to set initial camera
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/CameraField/hooks.ts
Due: web, web-beta

fix: refactor id name of story block extension
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
Due: web, web-beta

fix: review
  server/Makefile
  server/internal/app/app.go
  server/internal/app/graphql.go
  server/internal/app/graphql_test.go
  server/internal/app/locales/error.en.json
  server/internal/app/locales/error.ja.json
  server/internal/app/locales/erroren_gen.go
  server/internal/app/locales/errorja_gen.go
  server/internal/app/locales/errorkey_gen.go
  server/internal/app/locales/locales.go
  server/internal/infrastructure/mongo/project.go
  server/internal/locales/cache.go
  server/internal/locales/cache_test.go
  server/internal/locales/en/error.json
  server/internal/locales/errorkeys.go
  server/internal/locales/errorkeys_gen.go
  server/internal/locales/gen/errorkeys/generate.go
  server/internal/locales/ja/error.json
  server/internal/locales/locales.go
  server/internal/locales/locales_test.go
  server/internal/usecase/repo/container.go
  server/pkg/apperror/error.go
  server/pkg/apperror/error_test.go
  server/pkg/locales/error.en.json
  server/pkg/locales/error.ja.json
  server/pkg/locales/erroren_gen.go
  server/pkg/locales/errorja_gen.go
  server/pkg/locales/errorkey_gen.go
  server/pkg/locales/gen/error/generate.go
  server/pkg/locales/locales.go
  server/pkg/plugin/manifest/parser.go
  server/pkg/plugin/manifest/parser_translation.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/project/project.go
  server/pkg/property/initializer.go
  server/pkg/property/initializer_gen.go
  server/pkg/verror/verror.go
  server/pkg/verror/verror_test.go
Due: server

refactor: update code
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

refactor: update category title
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

fix: coderabbitai
  server/pkg/verror/verror_test.go
Due: none

feat(web): add story panel to plugin-playground (#1355)
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix: coderabbitai
  server/Makefile
Due: server

feat(web): plugin playground preset plugin add geojson (#1344)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

fix: rename script for demo story block
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
Due: web, web-beta

fix(web): rename script for demo story block (#1357)
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
Due: web, web-beta

Delete irrelevant changes
  server/Makefile
  server/go.mod
  server/pkg/plugin/manifest/parser.go
  server/pkg/plugin/manifest/parser_translation.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/property/initializer.go
  server/pkg/property/initializer_gen.go
  server/tools.go
Due: server

Delete irrelevant changes
  server/go.mod
  server/go.sum
  server/pkg/property/initializer.go
Due: server

refactor/add czml example file
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
Due: web, web-beta

refactor/add ui of czml example in layers
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

feat/ meke a czml example code
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
Due: web, web-beta

feat/ add a kml example file
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
Due: web, web-beta

feat/ add ui a kml example in layers
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

refactor/ change variable name
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
Due: web, web-beta

refactor: update preset plugin panel
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
Due: web, web-beta

refactor/delete no needed space
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
Due: web, web-beta

style: add padding top
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

feat/add a kml example
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
Due: web, web-beta

refactor/fix the comment
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
Due: web, web-beta

refactor/fix a comment
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
Due: web, web-beta

refactor/fix kml data file path
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
Due: web, web-beta

feat/create a sample 3D Tiles example
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
Due: web, web-beta

feat/create ui a sample 3D Tiles example in layers
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

feat/add example code of 3D Tiles
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
Due: web, web-beta

refactor/add comment
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
Due: web, web-beta

feat/create example of csv
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
Due: web, web-beta

feat/ add csv sample in layers
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

refactor/edit csv url
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
Due: web, web-beta

refactor(web): update plugin playground preset plugin list (#1358)
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
