Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

ci: update oss bucket name in playwright ui tests workflow
  .github/workflows/playwright_ui_tests.yml
Due: none

remove continue on error
  .github/workflows/playwright_ui_tests.yml
Due: none

update-oss-bucket
  .github/workflows/playwright_ui_tests.yml
Due: none

chnage
  .github/workflows/playwright_ui_tests.yml
Due: none

runner update
  .github/workflows/playwright_ui_tests.yml
Due: none

Bumps package version to 1.0.0-beta.14.5
  web/package.json
Due: web

update SA
  .github/workflows/playwright_ui_tests.yml
Due: none

update
  .github/workflows/playwright_ui_tests.yml
Due: none

feat(web): bumps package version to 1.0.0-beta.14.5 (#2058)
  web/package.json
Due: web

dev bucket
  .github/workflows/playwright_ui_tests.yml
Due: none

v1.0.0-beta.14.5
  CHANGELOG.md
Due: none

change to oss
  .github/workflows/playwright_ui_tests.yml
Due: none

update ui/ux
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/StreetViewContent.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useEvents.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/utils.ts
  web/src/app/lib/reearth-ui/components/Icon/Icons/Pegman.svg
  web/src/app/lib/reearth-widget-ui/icons/Pegman.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(server): street view definition (#2053)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

ci: allure report upload to GCS
  .github/workflows/playwright_ui_tests.yml
Due: none

update github workflow for allure report
  .github/workflows/playwright_ui_tests.yml
Due: none

update1
  .github/workflows/playwright_ui_tests.yml
  e2e/package-lock.json
  e2e/package.json
Due: none

ci: update Playwright UI tests workflow for allure report
  .github/workflows/playwright_ui_tests.yml
Due: none

feat(web): add preset styles for plateau data (#2046)
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/basicGeometry.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/default.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/geojson.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/building.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/highTideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/inlandFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landslideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landuse.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/riverFloodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/tsunamiRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/professional.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/types.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/utils.ts
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/utils/layer-style.test.ts
  web/src/app/utils/layer-style.ts
Due: web

update core version
  web/package.json
  web/yarn.lock
Due: web

update oss bucket
  .github/workflows/playwright_ui_tests.yml
Due: none

update the visualizer's Playwright config to match
  e2e/package.json
  e2e/playwright.config.ts
Due: none

fix: ci_server
  .github/workflows/ci_server.yml
Due: none
