Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

refactor: fix ui ux
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

test update
  server/e2e/gql_project_import_test.go
  server/e2e/gql_scene_test.go
Due: none

feat(server): Support reorder layer (#1321)
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_layer_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_scene_test.go
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/layer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/layer/layer.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/scene/builder/nlsLayer.go
Due: server

refactor: update ui
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

update pkg
  go.work.sum
  server/e2e/common.go
  server/e2e/dataset_export_test.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/mock_test.go
  server/e2e/ping_test.go
  server/go.mod
  server/go.sum
  server/internal/app/web_test.go
Due: server

fix test error
  go.work.sum
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_storytelling_test.go
Due: none

down grade
  go.work.sum
  server/go.mod
Due: server

fix: fix optionIcon padding issue
  web/src/beta/features/Visualizer/shared/components/ActionPanel/index.tsx
Due: web, web-beta

update pkg v1.22
  .github/workflows/build_release.yml
  .github/workflows/ci_server.yml
  go.work
  go.work.sum
  server/Makefile
  server/customassert/customassert.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_storytelling_test.go
  server/go.mod
  server/go.sum
  server/golangci.yml
  server/internal/app/cache.go
  server/internal/app/graphql.go
  server/internal/app/web_test.go
  server/internal/infrastructure/memory/policy_test.go
  server/pkg/dataset/value_optional_test.go
  server/pkg/i18n/string_test.go
  server/pkg/id/plugin_test.go
  server/pkg/id/property_schema_list_test.go
  server/pkg/id/property_schema_test.go
  server/pkg/layer/initializer_test.go
  server/pkg/layer/tag_test.go
  server/pkg/plugin/plugin_test.go
  server/pkg/policy/policy_test.go
  server/pkg/property/field_test.go
  server/pkg/property/group_list_test.go
  server/pkg/property/initializer_test.go
  server/pkg/property/value_camera_test.go
  server/pkg/property/value_optional_test.go
  server/pkg/property/value_spacing_test.go
  server/pkg/property/value_typography_test.go
  server/pkg/scene/plugin_test.go
  server/pkg/scene/widget_test.go
  server/pkg/storytelling/block_test.go
  server/pkg/storytelling/page_test.go
  server/pkg/value/latlng_test.go
  server/pkg/value/latlngheight_test.go
  server/pkg/value/optional_test.go
Due: server

fix toolchain
  server/go.mod
Due: server

fix lint error
  .github/workflows/ci_server.yml
  server/internal/app/graphql.go
Due: server

fix: add missing "extended" prop to plugin
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

update: using place api(new) to search place
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

refactor: remove external img link and change section to center
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
Due: web, web-beta

refactor: add safe type
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

mongo update 7
  .github/workflows/ci_server.yml
  docker-compose.yml
  mongo-init.js
Due: none

remove replica
  .github/workflows/ci_server.yml
  docker-compose.yml
  mongo-init.js
Due: none

fix(web): add missing "extended" prop to plugin (#1325)
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

feat: add language setting and fix reload function
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

feat: add language setting and fix reload function
  server/pkg/builtin/manifest.yml
Due: server

fix(web): layer style boolean selector field doesn't work properly with string value (#1322)
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/BooleanSelectorInput.tsx
Due: web, web-beta

modify user search query response
  server/internal/adapter/gql/loader_user.go
Due: server

test refactoring
  server/e2e/common.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
Due: server

add not exist check
  server/e2e/gql_user_test.go
Due: none

remove return
  server/e2e/common.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
Due: server

remove commented out tests
  server/e2e/gql_user_test.go
Due: none

feat(server): modify query response (#1327)
  server/e2e/common.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/internal/adapter/gql/loader_user.go
Due: server

feat: add sample layers to plugin playground
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/LayerList/LayerItem.tsx
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

fix: remove unused code
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

refactor: flyTo
  web/src/beta/features/PluginPlayground/LayerList/LayerItem.tsx
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

feat: add ability to show, hide and select a layer in plugin playground
  web/src/beta/features/PluginPlayground/LayerList/LayerItem.tsx
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

feat: refactor layers panel
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

feat: support spatial id
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useSpatialId.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/constaint.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/reearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/spatialId.ts
  web/src/beta/features/Visualizer/Crust/Plugins/types.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
Due: web, web-beta

fix(server): Fix makefile command that did not work
  server/Makefile
  server/pkg/plugin/manifest/parser_translation_test.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/plugin/manifest/schema_translation.go
  server/pkg/plugin/manifest/schema_translation_i18n.go
  server/pkg/plugin/manifest/schema_translation_test.go
  server/schemas/plugin_manifest_translation.json
Due: server

fix: remove unused style props
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
Due: web, web-beta

fix: amend padding to layers panel
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

update core version
  web/package.json
  web/yarn.lock
Due: web

fix: dataloaden
  server/Makefile
Due: server

chore(web): update core version (#1334)
  web/package.json
  web/yarn.lock
Due: web
