Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

v1.0.0-beta.14.4
  CHANGELOG.md
Due: none

feat: add preset styles (wip)
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/area.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/bridge.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/floodingRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landSlideRisk.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/landuse.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/traffic.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/urbanPlanning.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/vegetation.ts
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/utils/layer-style.ts
Due: web

initial refactor
  web/package.json
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/MouseMoveCircle.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useEvents.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useMotionPotion.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useStreetView.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/utils.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/app/lib/reearth-widget-ui/icons/Close.tsx
  web/src/app/lib/reearth-widget-ui/icons/Pedman.tsx
  web/src/app/lib/reearth-widget-ui/icons/index.ts
  web/yarn.lock
Due: web

update yarn lock
  web/package.json
  web/yarn.lock
Due: web

sychronise layer with street view
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/MouseMoveCircle.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/StreetViewContent.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useEvents.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useMotionPotion.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaHeadingPitchChange.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaLocationChange.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaZoomChange.ts
Due: web

chore: fix lint error
  web/src/services/gql/provider/links/taskLink.ts
  web/src/services/plateau/graphql/hooks/catalog/base.ts
Due: web, web-beta

fix(web): fix import emotion css at globalStyles file issue
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
Due: web, web-beta

chore(web): fix import emotion css issue for local dev (#2050)
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
Due: web, web-beta

fix(ci): separate Cloud Run deploy and traffic routing to avoid stale revision errors
  .github/workflows/deploy_web_nightly.yml
Due: none

fix: copilot review
  .github/workflows/deploy_web_nightly.yml
Due: none

fix(ci): separate Cloud Run deploy and traffic routing to avoid stale revision errors (#2051)
  .github/workflows/deploy_web_nightly.yml
Due: none

fix: remove floating widgets
  web/src/app/features/Published/hooks.ts
Due: web

fix(web): incorrect collect of floating widget (#2052)
  web/src/app/features/Published/hooks.ts
Due: web

refactor: version of package.json don't need change
  web/package.json
Due: web

enable sychronization
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/StreetViewContent.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useEvents.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaLocationChange.ts
Due: web

remove unused package
  web/package.json
  web/yarn.lock
Due: web

fix fromcomments
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/StreetViewContent.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/constant.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useEvents.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaHeadingPitchChange.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaLocationChange.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/usePanoramaZoomChange.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/useStreetView.ts
  web/src/app/lib/reearth-widget-ui/icons/Pegman.tsx
  web/src/app/lib/reearth-widget-ui/icons/index.ts
  web/yarn.lock
Due: web

added street view
  server/pkg/builtin/manifest.yml
Due: server

defined street view
  server/pkg/builtin/manifest.yml
Due: server

reset manifest file
  server/pkg/builtin/manifest.yml
Due: server

fix
  server/pkg/builtin/manifest.yml
  web/yarn.lock
Due: web, server

fix ci
  web/yarn.lock
Due: web

translate to ja
  server/pkg/builtin/manifest_ja.yml
Due: server

modfy ci
  .github/workflows/ci_server.yml
Due: none

readme
  README.md
Due: none

docs: improve documentation and fix mockuser command
  README.md
  server/Makefile
  server/README.md
Due: server

docs: update Windows setup instructions and align dev.bat with Makefile
  README.md
  server/dev.bat
Due: server

docs: rewrite server README with accurate command reference
  server/README.md
Due: server

readme
  server/dev.bat
Due: server

docs: remove local file system from storage options
  server/README.md
Due: server

build: synchronize Makefile and dev.bat commands
  server/Makefile
  server/dev.bat
Due: server

docs: update README with synchronized commands and correct auth config
  server/README.md
Due: server

fix: go mod
  server/go.mod
  server/go.sum
Due: server

fix(server): refactor reearthx to reearth accounts
  server/e2e/common.go
  server/e2e/gql_me_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/seeder.go
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/adapter/gql/resolver.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/http/user.go
  server/internal/app/auth_client.go
  server/internal/app/graphql.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/plugin_upload_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_metadata_test.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/property_test.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/usecase_test.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
Due: server

fix test
  server/e2e/gql_me_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/proto_project_sort_pagination_test.go
Due: none

feat: add Docker environment configuration with security improvements
  .gitignore
  README.md
  server/.env.docker
  server/.env.docker.example
  server/.gitignore
  server/internal/app/health.go
  server/internal/app/web.go
Due: server
