Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

v1.0.0-beta.16.21
  CHANGELOG.md
Due: none

fix(server): check workspace membership for private project access (SEC-03) (#2359)
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Due: server

fix(server): fail closed on basic-auth metadata lookup errors for published pages (REL-02) (#2372)
  server/internal/app/public.go
  server/internal/app/public_test.go
Due: server

fix(server): address Copilot comments on REL-03 scene lock fix
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
Due: server

test(server): insert decoy documents before asserting on the query plan
  server/internal/infrastructure/mongo/project_test.go
Due: none

improve logics and add some more test
  docs/ai-review-log.md
  web/src/app/features/Dashboard/ContentsContainer/Members/AddMemberModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/DeleteMemberWarningModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/DeleteMemberWarningModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/UpdateRoleModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/UpdateRoleModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/index.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/ProjectDeleteModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/ProjectDeleteModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/hooks.test.ts
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/services/api/project/useProjectQueries.ts
Due: web, web-beta

update test logic
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
Due: web

fix(server): close pipe reader to prevent goroutine leak on publish upload failure (SCA-04) (#2366)
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/storytelling.go
Due: server

fix(web): only touch the system tile when its widget mutation succeeds (#2379)
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.test.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
Due: web

fix(server): record a terminal import status when setup fails after the claim
  server/internal/app/file_signature_uploader.go
Due: server

fix(server): reject initial field values that disagree with the schema type
  server/internal/usecase/interactor/property.go
  server/internal/usecase/interactor/property_test.go
Due: server

fix(server): apply the workspace filter to import claims
  server/internal/infrastructure/memory/project_metadata.go
  server/internal/infrastructure/mongo/project_metadata.go
Due: server

fix(server): authorize import claims against the project's workspace
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
  server/internal/infrastructure/memory/project_metadata.go
  server/internal/infrastructure/mongo/project_metadata.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
Due: server

fix(server): stop scene lock release from getting stuck on a canceled context (REL-03) (#2371)
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
Due: server

fix(server): finish REL-04 import status cutover, add duplicate-import guard [VIZ-DEV-65] (#2335)
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
  server/internal/infrastructure/memory/project_metadata.go
  server/internal/infrastructure/mongo/migration/260805000000_remove_legacy_import_status_fields.go
  server/internal/infrastructure/mongo/migration/260805000000_remove_legacy_import_status_fields_test.go
  server/internal/infrastructure/mongo/migration/260805000000_revert_remove_legacy_import_status_fields.go
  server/internal/infrastructure/mongo/migration/260805000000_revert_remove_legacy_import_status_fields_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/project_metadata.go
  server/internal/infrastructure/mongo/project_metadata.go
  server/internal/infrastructure/mongo/project_metadata_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project_metadata.go
Due: server

fix(server): drop unused domains.domain branch from public project lookup (SCA-03) (#2363)
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

fix(server,web): create the system tile's fields atomically with the item (REL-07) (#2380)
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/usecase/interactor/property.go
  server/internal/usecase/interactor/property_test.go
  server/internal/usecase/interfaces/property.go
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.test.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.ts
  web/src/services/api/property/usePropertyMutations.test.ts
  web/src/services/api/property/usePropertyMutations.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/property.ts
Due: web, web-beta, server

docs(server): note both causes of the per-layer property loads (SCA-02)
  server/pkg/scene/builder/nlsLayer.go
Due: server

docs(server): drop the wrong issue number from the SCA-02 note
  server/pkg/scene/builder/nlsLayer.go
Due: server

fix(server): report not found instead of crashing or returning null entries
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/adapter/gql/resolver_query.go
Due: server

fix(server): log expected failures at WARN instead of ERROR (VIZ-DEV-81)
  .github/workflows/ci_server.yml
  server/.golangci.yml
  server/internal/adapter/gql/gqlmodel/scalar_id.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_import_common.go
  server/internal/app/graphql.go
  server/internal/app/graphql_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_metadata.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/repo/container.go
  server/pkg/apperr/apperr.go
  server/pkg/apperr/apperr_test.go
  server/pkg/scene/builder/builder.go
  server/pkg/visualizer/visualizer.go
  server/pkg/visualizer/visualizer_test.go
Due: server

improve update property and system tile handling
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.test.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.ts
  web/src/services/api/property/usePropertyMutations.test.ts
  web/src/services/api/property/usePropertyMutations.ts
  web/src/services/api/widget/useWidgetMutations.ts
Due: web, web-beta

fix(server): do not panic importing an export that has no story
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_import_test.go
Due: server

test(e2e): make the split-import test verify the import it triggers
  e2e/api/graphql/queries.ts
  e2e/api/tests/rest-split-import.api.spec.ts
  e2e/api/tests/test-helpers.ts
Due: none

fix(server): return an empty result when a user search matches nobody
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_user_test.go
Due: server

fix(web): say the member search matches an alias and disable Add until it hits
  web/src/app/features/Dashboard/ContentsContainer/Members/AddMemberModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Members/AddMemberModal.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

docs(server): name the accounts error package unambiguously
  server/internal/adapter/gql/loader_user.go
Due: server

test(e2e): report only the import failure reason, not the whole result log
  e2e/api/tests/test-helpers.ts
Due: none

fix(server): scope story lookup to the authorized scene in page mutations
  server/internal/infrastructure/mongo/storytelling.go
  server/internal/infrastructure/mongo/storytelling_authz_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_authz_test.go
Due: server

fix(server): require the internal token before trusting the gRPC user-id (SEC-03)
  server/internal/app/grpc.go
  server/internal/app/grpc_auth_test.go
Due: server

fix(server): reject an empty internal token when trusting the gRPC user-id
  server/internal/app/grpc.go
  server/internal/app/grpc_auth_test.go
Due: server

fix(server): remove terrainWaterMask from unused cesium schema group
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

feat(web,server): allow users to toggle water mask rendering on terrain (#2373)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/package.json
  web/src/app/types/sceneProperty.ts
  web/src/app/utils/convert-object.ts
  web/yarn.lock
Due: web, server

add improvements
  web/.env.example
  web/src/app/features/Dashboard/LeftSidePanel/index.tsx
  web/src/app/features/Navbar/LeftSection/index.tsx
  web/src/app/features/ProductsMenu/index.tsx
  web/src/services/config/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): require the internal token before trusting the gRPC user-id (SEC-03) (#2392)
  server/internal/app/grpc.go
  server/internal/app/grpc_auth_test.go
Due: server

fix(server): scope story lookup to the authorized scene in page mutations (#2391)
  server/internal/infrastructure/mongo/storytelling.go
  server/internal/infrastructure/mongo/storytelling_authz_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_authz_test.go
Due: server

fix(server): set no-cache headers on private project export downloads (SEC-04) (#2360)
  server/internal/app/export.go
  server/internal/app/export_test.go
Due: server

refactor: remove unused visualizerUrl config
  web/.env.example
  web/src/app/features/ProductsMenu/index.tsx
  web/src/services/config/index.ts
Due: web, web-beta

chore(web): bump version to 1.0.0-beta.16.22
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.22 (#2393)
  web/package.json
Due: web

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
