Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix: add translation to plugin categories, and plugin names
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: remove unnecessary translation function
  web/src/beta/features/PluginPlayground/LayerList/LayerItem.tsx
Due: web, web-beta

refactor: set geoid server on viewer property
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useViewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/storybook.tsx
Due: web, web-beta

max geojson size 10MB
  server/e2e/gql_validate_geojson_test.go
  server/internal/usecase/interactor/nlslayer.go
Due: server

fix permmision error
  server/internal/usecase/interactor/scene.go
Due: server

conflict mage miss
  server/pkg/scene/builder_test.go
Due: none

fix: add translation for cancel button
  web/src/beta/features/PluginPlayground/Code/HtmlEditModal.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/services/i18n/i18n.ts
  web/src/services/i18n/index.tsx
Due: web, web-beta

chore: update core version
  web/package.json
  web/yarn.lock
Due: web

feat(web): plugin API: support geoid server (#1442)
  web/package.json
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useViewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/common.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/storybook.tsx
  web/yarn.lock
Due: web, web-beta

Update package.json
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.3.4 (#1446)
  web/package.json
Due: web

v1.0.0-beta.3.4
  CHANGELOG.md
Due: none

update translation
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

change icon
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Video_Camera.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/ui/fields/ZoomLevelField/EditPanel.tsx
Due: web, web-beta

refactor: remove location names and show coordinates only
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/mouseEvent.ts
Due: web, web-beta

fix permmision error
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
Due: server

modify base path
  server/internal/infrastructure/fs/file.go
Due: server

refactor: remove layer and show coordinates only
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/mouseEvent.ts
Due: web, web-beta

feat: add modal window example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
Due: web, web-beta

refactor: fix typo
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
Due: web, web-beta

update translation
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): Support popup tip on Icon (#1437)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldItem.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/ToolsPanel/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerHeader.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): plugin playground presets - create viewer mouse events example (#1445)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/mouseEvent.ts
Due: web, web-beta

refactor(web): update tiles' zoom level range
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

refactor(web): update tiles' zoom level range (#1448)
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

fix: add translation for mouse event title
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

enable ubpdate name and url in inspector
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/EditPanel.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): add modal window preset plugin to plugin playground (#1447)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
Due: web, web-beta

fix: rename function to get preset plugin titles
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: remove title from preset plugins
  web/src/beta/features/PluginPlayground/ExtensionSettings/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/dataStorage/themeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/extension/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/featureStyle3dmodel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/styleWithCondition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/takeScreenshot.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
Due: web, web-beta

fix: refactor function name to get layer titles
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta
