Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

refactor: route ui msg through zushi's builtin surface message events
  web/docs/modules/features/plugin-system.md
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

fix(terrain): default terrainWaterMask to false
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

fix(terrain): add availableIf to terrainWaterMask in legacy cesium schema
  server/pkg/builtin/manifest.yml
Due: server

improve logics and add test in project component
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/hooks.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectImportErrorModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectImportErrorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectRemoveModal.test.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectModals/ProjectRemoveModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.test.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.test.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web

added documents foe what changed
  CLAUDE.md
  docs/ai-review-log.md
Due: none

refactor(web): route plugin UI msg through zushi's builtin surface message events (#2374)
  web/docs/modules/features/plugin-system.md
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

fix(server): make basic-auth failure mode consistent when metadata lookup fails
  server/internal/app/public.go
  server/internal/app/public_test.go
Due: server

Bump version to 1.0.0-beta.16.20
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.20 (#2378)
  web/package.json
Due: web

v1.0.0-beta.16.20
  CHANGELOG.md
Due: none

added common product navigator
  web/src/app/features/Dashboard/LeftSidePanel/index.tsx
  web/src/app/features/Navbar/LeftSection/index.tsx
  web/src/app/features/ProductsMenu/index.tsx
  web/src/app/lib/reearth-ui/components/Icon/Icons/CmsLogo.svg
  web/src/app/lib/reearth-ui/components/Icon/Icons/flowLogo.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/services/config/index.ts
Due: web, web-beta

add flow logocorrectly
  web/src/app/lib/reearth-ui/components/Icon/Icons/FlowLogo.svg
Due: web

improve translation error
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

test(e2e): address review feedback from airslice
  e2e/api/tests/plugin.api.spec.ts
  e2e/tests/project/projects.spec.ts
Due: none

refactor(web): improve popup menu component (#2342)
  web/src/app/lib/reearth-ui/components/PopupMenu/index.tsx
Due: web

fix(server): apply workspace/scene filters to authenticated requests (SEC-01) (#2348)
  server/e2e/gql_project_workspace_scoping_test.go
  server/internal/app/app.go
  server/internal/app/usecase_test.go
Due: server

fix(e2e): restore two skipped UI tests and replace fixme plugin test (#2365)
  e2e/api/tests/plugin.api.spec.ts
  e2e/pages/projectScreenPage.ts
  e2e/tests/project/projects.spec.ts
Due: none

fix(server): fail closed instead of silently disabling push token verification
  server/.env.docker.example
  server/e2e/common.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/pubsub_auth.go
  server/internal/app/pubsub_auth_test.go
Due: server

test(server): add integration-style regression test for budgetedWriter wiring in AddZipAsset
  server/internal/usecase/interactor/project_export_zip_test.go
Due: none

docs(server): clarify wording in REL-01 transaction-tradeoff comment
  server/internal/usecase/interactor/common.go
Due: server

fix(server): gofmt comment alignment in export zip test
  server/internal/usecase/interactor/project_export_zip_test.go
Due: none

docs(server): note accepted tradeoff for storage deletes inside project delete transaction (REL-01) (#2370)
  server/internal/usecase/interactor/common.go
Due: server

fix(server): verify push-request tokens and filter repos for import routes (SEC-02) (#2353)
  server/.env.docker.example
  server/e2e/common.go
  server/e2e/import_project_auth_test.go
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/file_import_common.go
  server/internal/app/pubsub_auth.go
  server/internal/app/pubsub_auth_test.go
  server/internal/app/usecase.go
  server/internal/app/usecase_test.go
Due: server

fix(server): dedup export zip assets and cap total export size (SCA-01) (#2356)
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_export_zip_test.go
Due: server

chore(web): update @reearth/core to 0.0.7-alpha.79
  web/package.json
  web/yarn.lock
Due: web

fix(server,web): create the system tile's fields atomically with the item (REL-07)
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/usecase/interactor/property.go
  server/internal/usecase/interactor/property_test.go
  server/internal/usecase/interfaces/property.go
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.test.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/useSystemTile.ts
  web/src/services/api/property/usePropertyMutations.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/property.ts
Due: web, web-beta, server

fix(web): check widget mutation result before touching the system tile
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.test.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
Due: web

fix(server): let AddZipAsset be the single check for asset references
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_export_zip_test.go
Due: server

fix(server,web): address review comments on atomic system tile creation
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/usecase/interactor/property.go
  server/internal/usecase/interactor/property_test.go
  web/src/services/api/property/usePropertyMutations.test.ts
  web/src/services/api/property/usePropertyMutations.ts
Due: web, web-beta, server

improve the document
  docs/ai-review-log.md
Due: none

fix(server): require a trailing slash on the rooted /assets path check
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
Due: server

fix(server): require the /assets/ path prefix on same-host asset URLs too
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
Due: server

fix(server): restore asset URL prefix check in project export (#2358)
  CHANGELOG.md
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_export_zip_test.go
Due: server

chore: ignore scan
  .github/workflows/reviewer_lottery.yml
Due: none

chore: add --immutable flag
  .github/workflows/build_web.yml
  .github/workflows/ci_web.yml
Due: none

chore(web): add immutable flag to yarn install workflows and allow pull request target (#2382)
  .github/workflows/build_web.yml
  .github/workflows/ci_web.yml
  .github/workflows/reviewer_lottery.yml
Due: none

Bump version to 1.0.0-beta.16.21
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.21 (#2383)
  web/package.json
Due: web

v1.0.0-beta.16.21
  CHANGELOG.md
Due: none
