Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

docs: update README with synchronized commands and correct auth config
  server/README.md
Due: server

Adds `dataSourceName` field to NLSLayer types
  server/gql/newlayer.graphql
Due: server

Add `dataSourceName` field to NLSLayer types
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: none

fix(server): Adds dataSourceName field to NLSLayer types (#2003)
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: server

Adds DataSourceName to NLSLayer models
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
Due: server

Adds support for DataSourceName in NLSLayer
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
Due: server

fix: on group
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
Due: server

fix(server): Add DataSourceName to NLSLayer Models (#2004)
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
Due: server

feat: support builtin data source
  web/src/app/features/Editor/Map/PlateauAssetLayerCreator/hooks.ts
  web/src/app/features/Editor/hooks/useLayers.ts
  web/src/app/features/Published/convert-nls-layers.ts
  web/src/app/features/Published/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/index.tsx
  web/src/app/features/Visualizer/Crust/context.ts
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/services/api/layer/types.ts
  web/src/services/api/layer/utils.ts
  web/src/services/dataSource/builtin.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/layer.ts
Due: web, web-beta

feat(web): support option of enable auto update time for czml layer (#1995)
  web/package.json
  web/src/app/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/app/features/Editor/Map/DataSourceLayerCreator/CZML/index.tsx
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/types/timeline.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Due: web, web-beta

fix: pin zip.js version
  web/package.json
  web/yarn.lock
Due: web

fix(web): incompatible zip package version (#2005)
  web/package.json
  web/yarn.lock
Due: web

refactor: update layer credits
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/app/utils/value.ts
  web/src/services/dataSource/builtin.ts
Due: web, web-beta

refactor: avoid using word data source on layer info panel
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
Due: web

refactor: update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): refactor reearthx to reearth accounts
  server/e2e/common.go
  server/e2e/gql_me_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/seeder.go
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/adapter/gql/resolver.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/http/user.go
  server/internal/app/auth_client.go
  server/internal/app/graphql.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/plugin_upload_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_metadata_test.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/property_test.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/usecase_test.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
Due: server

fix: go mod
  server/go.mod
  server/go.sum
Due: server

fix test
  server/e2e/gql_me_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/proto_project_sort_pagination_test.go
Due: none

add migration command
  server/Makefile
Due: server

fix reviwe
  server/Makefile
Due: server

refactor: re-order credits
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
Due: web

feat(server): add migration command (#2000)
  server/Makefile
Due: server

refactor: enable builtin timeline widget for ee
  web/src/ee/featureConfig.ts
Due: web

refactor(web): enable builtin timeline widget for ee (#2007)
  web/src/ee/featureConfig.ts
Due: web

chore: upgrade react-router
  web/package.json
  web/src/app/features/CreateWorkspaceModal/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/Editor/Map/shared/SharedComponent.tsx
  web/src/app/features/Navbar/LeftSection/index.tsx
  web/src/app/features/Navbar/hooks.ts
  web/src/app/features/NotFound/index.stories.tsx
  web/src/app/features/NotFound/index.tsx
  web/src/app/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/app/features/ProjectSettings/hooks.ts
  web/src/app/features/RootPage/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/app/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceModal.tsx
  web/src/app/hooks/navigationHooks.test.ts
  web/src/app/hooks/navigationHooks.ts
  web/src/app/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/app/hooks/useWorkspaceManagementMenu.ts
  web/src/app/lib/reearth-ui/components/PopupMenu/index.stories.tsx
  web/src/app/lib/reearth-ui/components/PopupMenu/index.test.tsx
  web/src/app/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/app/pages/Dashboard/index.tsx
  web/src/app/pages/EditorPage/index.tsx
  web/src/app/pages/GraphQLPlayground/index.tsx
  web/src/app/pages/ProjectSettingsPage/index.tsx
  web/src/app/pages/WorkspaceSettingPage/index.tsx
  web/src/app/ui/components/Sidebar/index.test.tsx
  web/src/app/ui/components/Sidebar/index.tsx
  web/src/services/routing/index.tsx
  web/yarn.lock
Due: web, web-beta

refactor: revert unnecessary reorder
  web/package.json
Due: web

chore(web): upgrade react-router to v7 (#2008)
  web/package.json
  web/src/app/features/CreateWorkspaceModal/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/Editor/Map/shared/SharedComponent.tsx
  web/src/app/features/Navbar/LeftSection/index.tsx
  web/src/app/features/Navbar/hooks.ts
  web/src/app/features/NotFound/index.stories.tsx
  web/src/app/features/NotFound/index.tsx
  web/src/app/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/app/features/ProjectSettings/hooks.ts
  web/src/app/features/RootPage/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/app/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceModal.tsx
  web/src/app/hooks/navigationHooks.test.ts
  web/src/app/hooks/navigationHooks.ts
  web/src/app/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/app/hooks/useWorkspaceManagementMenu.ts
  web/src/app/lib/reearth-ui/components/PopupMenu/index.stories.tsx
  web/src/app/lib/reearth-ui/components/PopupMenu/index.test.tsx
  web/src/app/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/app/pages/Dashboard/index.tsx
  web/src/app/pages/EditorPage/index.tsx
  web/src/app/pages/GraphQLPlayground/index.tsx
  web/src/app/pages/ProjectSettingsPage/index.tsx
  web/src/app/pages/WorkspaceSettingPage/index.tsx
  web/src/app/ui/components/Sidebar/index.test.tsx
  web/src/app/ui/components/Sidebar/index.tsx
  web/src/services/routing/index.tsx
  web/yarn.lock
Due: web, web-beta

Adds DataSourceName to nlsLayerJSON structure
  server/pkg/scene/builder/nlsLayer.go
Due: server

fix: add small test
  server/pkg/scene/builder/nlsLayer_test.go
Due: none

fix: update title
  server/pkg/scene/builder/nlsLayer_test.go
Due: none

feat(server): Adds DataSourceName to nlsLayerJSON structure [VIZ-2370] (#2009)
  server/pkg/scene/builder/nlsLayer.go
  server/pkg/scene/builder/nlsLayer_test.go
Due: server

fix(server): add debug for policy check
  server/internal/infrastructure/policy/http_checker.go
Due: server

fix(server): add debug for policy check (#2010)
  server/internal/infrastructure/policy/http_checker.go
Due: server

modfy ci
  .github/workflows/ci_server.yml
Due: none

test
  .github/workflows/ci_server.yml
Due: none

readme
  README.md
Due: none

docs: improve documentation and fix mockuser command
  README.md
  server/Makefile
  server/README.md
Due: server

docs: rewrite server README with accurate command reference
  server/README.md
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
