Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Updates package version to 1.0.0-beta.16.0
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.16.0 (#2165)
  web/package.json
Due: web

vv1.0.0
  CHANGELOG.md
Due: none

v1.0.0-beta.16.0
  CHANGELOG.md
Due: none

refactor
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
Due: web

refactor
  web/src/app/features/PluginPlayground/ExtensionSettings/hooks.ts
  web/src/app/features/PluginPlayground/ExtensionSettings/index.tsx
Due: web

fix: update reearth-accounts-api image to latest
  docker-compose.yml
Due: none

fix(server): prevent panic during project import with plugin schema field types (#2162)
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/adapter/gql/gqlmodel/convert_value_test.go
  server/internal/usecase/interactor/plugin.go
Due: server

fix: update reearth-accounts-api image to latest
  server/README.md
Due: server

chore: add readme for services and app lib
  web/src/app/lib/README.md
  web/src/services/README.md
  web/src/services/api/README.md
  web/src/services/auth/README.md
  web/src/services/config/README.md
  web/src/services/dataSource/README.md
  web/src/services/gql/README.md
  web/src/services/i18n/README.md
  web/src/services/plateau/README.md
  web/src/services/restful/README.md
  web/src/services/routing/README.md
  web/src/services/state/README.md
  web/src/services/theme/README.md
Due: web, web-beta

fix(server): update reearth-accounts-api image to latest (#2168)
  docker-compose.yml
  server/README.md
Due: server

chore(web): add readme for services and app lib (#2170)
  web/src/app/lib/README.md
  web/src/services/README.md
  web/src/services/api/README.md
  web/src/services/auth/README.md
  web/src/services/config/README.md
  web/src/services/dataSource/README.md
  web/src/services/gql/README.md
  web/src/services/i18n/README.md
  web/src/services/plateau/README.md
  web/src/services/restful/README.md
  web/src/services/routing/README.md
  web/src/services/state/README.md
  web/src/services/theme/README.md
Due: web, web-beta

update logics
  web/src/app/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/app/features/PluginPlayground/ExtensionSettings/hooks.ts
  web/src/app/features/PluginPlayground/ExtensionSettings/index.tsx
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
Due: web

update widget
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
Due: web

fix: serialize list groups as arrays in generatePropertyand add list support to infobox-block
  web/src/app/features/PluginPlayground/Code/hook.ts
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
Due: web

chore: add comment to generateProperty list group handling
  web/src/app/features/PluginPlayground/Code/hook.ts
Due: web

addstyle
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
Due: web

update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): bump version to 1.0.0-beta.16.1
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.1 (#2173)
  web/package.json
Due: web

v1.0.0-beta.16.1
  CHANGELOG.md
Due: none

update
  web/src/app/features/PluginPlayground/ExtensionSettings/hooks.ts
Due: web

feat(web): support list field in plugin-playground (#2164)
  web/src/app/features/PluginPlayground/Code/hook.ts
  web/src/app/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/app/features/PluginPlayground/ExtensionSettings/hooks.ts
  web/src/app/features/PluginPlayground/ExtensionSettings/index.tsx
  web/src/app/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): address review comments on activeUploads race fix
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

fix(server): hold RLock when reading activeUploads in handleChunkedUpload
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

chore: ignore aidlc workflow files
  .gitignore
Due: none

fix(server): batch User and Workspace DataLoader fetches via FindByIDs
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_user_test.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/loader_workspace_test.go
Due: server

fix(server): align DataLoader Fetch results to input ID order
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/loader_user_test.go
  server/internal/adapter/gql/loader_workspace.go
  server/internal/adapter/gql/loader_workspace_test.go
Due: server

fix: format file
  server/internal/adapter/gql/loader_user_test.go
Due: none

fix: amend lint issue
  server/internal/adapter/gql/loader_workspace_test.go
Due: none

chore(server): promote go.uber.org/mock to direct dependency
  server/go.mod
Due: server

fix(server): fix publishProject/Story WriteConflict by moving GCS upload outside transaction
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/publish_race_test.go
  server/internal/usecase/interactor/storytelling.go
Due: server

chore(server): remove publish race test file
  server/internal/usecase/interactor/publish_race_test.go
Due: none

refactor share plugin url
  web/src/app/features/PluginPlayground/Plugins/index.tsx
  web/src/app/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/app/features/PluginPlayground/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): enforce workspace/scene ownership in GraphQL node/nodes Fetch
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/fetch_authz_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/property.go
  server/internal/usecase/interactor/scene.go
Due: server

test(server): rename fetch_authz_test.go to tenant_isolation_test.go
  server/internal/usecase/interactor/tenant_isolation_test.go
Due: none

improvements
  web/src/app/features/PluginPlayground/Plugins/constants.ts
  web/src/app/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/app/features/PluginPlayground/hooks.tsx
Due: web
