Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

move copy current frags to classic
  web/src/classic/gql/fragments/alignsystem.ts
  web/src/classic/gql/fragments/dataset.ts
  web/src/classic/gql/fragments/index.ts
  web/src/classic/gql/fragments/infobox.ts
  web/src/classic/gql/fragments/layer.ts
  web/src/classic/gql/fragments/plugin.ts
  web/src/classic/gql/fragments/project.ts
  web/src/classic/gql/fragments/property.ts
Due: web, web-classic

fix fragment import path
  web/src/classic/gql/fragments/index.ts
  web/src/classic/gql/queries/cluster.ts
  web/src/classic/gql/queries/dataset.ts
  web/src/classic/gql/queries/infobox.ts
  web/src/classic/gql/queries/layer.ts
  web/src/classic/gql/queries/project.ts
  web/src/classic/gql/queries/property.ts
  web/src/classic/gql/queries/scene.ts
  web/src/classic/gql/queries/widget.ts
Due: web, web-classic

copy current generated graphql schema json
  web/src/classic/gql/graphql.schema.json
Due: web, web-classic

copy current gragmentMatcher
  web/src/classic/gql/fragmentMatcher.json
Due: web, web-classic

copy current graphql client api
  web/src/classic/gql/graphql-client-api.tsx
Due: web, web-classic

classic components imports import classic gql
  web/src/classic/components/molecules/Settings/WorkspaceList/WorkspaceList/index.tsx
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/Common/AssetContainer/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DataSourcePane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/convert.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/OutlinePane/hooks.tsx
  web/src/classic/components/organisms/EarthEditor/PrimitiveHeader/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/convert.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks-queries.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/TagPane/commonHooks.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/classic/components/organisms/Settings/Account/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Plugin/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Public/hooks.ts
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/classic/components/pages/EarthEditor/hooks.ts
  web/src/classic/gql/index.ts
Due: web, web-classic

regen services/ gql
  web/src/services/gql/graphql-client-api.tsx
Due: web, web-beta

fix gql use
  web/src/classic/util/use-core.ts
Due: web, web-classic

new beta specific queries/muts: project user
  web/src/services/gql/queries/project.ts
  web/src/services/gql/queries/user.ts
  web/src/services/i18n/provider.tsx
  web/src/services/theme/provider.tsx
Due: web, web-beta

fix(server): add schema field ID to dataset REST API
  server/e2e/dataset_export_test.go
  server/e2e/seeder.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_field.go
  server/pkg/dataset/value.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/url.go
Due: server

fix
  server/pkg/dataset/schema_test.go
Due: none

fix
  server/pkg/value/type_test.go
Due: none

fix(server): add schema field ID to dataset REST API (#547)
  server/e2e/dataset_export_test.go
  server/e2e/seeder.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_field.go
  server/pkg/dataset/schema_test.go
  server/pkg/dataset/value.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/type_test.go
  server/pkg/value/url.go
Due: server

feat(server): add dataset IDs and schema to dataset API (#539)
  server/e2e/dataset_export_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/app/app.go
  server/internal/usecase/interactor/dataset.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_field.go
  server/pkg/dataset/schema_test.go
  server/pkg/dataset/value.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/type_test.go
  server/pkg/value/url.go
Due: server

feat(server): implement go scene filter
  server/internal/infrastructure/mongo/property.go
Due: server

fix(server): filter properties in property.FindByIDs (#548)
  server/internal/infrastructure/mongo/property.go
Due: server

wip
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/fragments/property.ts
  web/src/services/gql/graphql-client-api.tsx
Due: web, web-classic, web-beta

impl new processLayer
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/graphql-client-api.tsx
Due: web, web-classic, web-beta

add extractDatasetSchemas
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
Due: web, web-classic

fetch datasets
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks_dataset.ts
Due: web, web-classic

remove merged
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/queries/infobox.ts
Due: web, web-beta

update core
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
Due: web, web-classic

fix type
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
Due: web, web-classic

perf(web): speed up fetching layers with datasets (#544)
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks_dataset.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/convert.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/fragments/property.ts
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/queries/infobox.ts
Due: web, web-classic, web-beta

chore(server): go mod tidy
  server/go.mod
Due: server

chore(web): reduce useless console.log on dataset load
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks_dataset.ts
Due: web, web-classic

fix(web): add id to property group list
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
Due: web, web-classic

chore(web): Update style desctiptions
  web/src/beta/components/SceneSectionField/item.tsx
Due: web, web-beta

chore(web): Update to stop click event propagateion
  web/src/beta/components/SceneSectionField/item.tsx
Due: web, web-beta

fix: published page missing global on local
  web/published.html
Due: web

chore(web): Rename event handler
  web/src/beta/components/SceneSectionField/index.tsx
  web/src/beta/components/SceneSectionField/item.tsx
Due: web, web-beta

fix: selection event on publish page
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Due: web, web-classic

chore(web): Update icon color
  web/src/beta/components/Icon/Icons/checkOnVisibility.svg
Due: web, web-beta

chore(web): Update style desctiptions
  web/src/beta/components/LayerSectionField/item.tsx
Due: web, web-beta

chore(web): Update to stop click event propagateion
  web/src/beta/components/LayerSectionField/item.tsx
Due: web, web-beta
