Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix: fix ja time
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
Due: web, web-beta, web-utils

fix: fix typo
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
Due: web, web-beta, web-utils

fix(web): Check UI and fix language issue (#1237)
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/AssetsManager/AssetsSelector.tsx
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/CreateWorkspaceModal/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectRemoveModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/LayerStyle/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/LayerStyleItem.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Editor/Story/PagesPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/hooks.ts
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceModal.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/CameraField/CapturePanel.tsx
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/TimePeriodField/EditPanel/index.tsx
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel/index.tsx
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, web-utils, server

refactor: use lang at api hooks
  web/src/beta/features/Editor/hooks/useScene.ts
  web/src/services/api/infoboxApi/blocks.ts
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/sceneApi.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/widgetsApi/index.ts
Due: web, web-beta

fix custom property delete and display
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/Content.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
Due: web, web-beta

feat(web): add missing `multiTenant` property in reearth config
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

feat(web): add missing `multiTenant` property in Re:Earth config (#1249)
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

refactor(web): use lang at api hooks (#1247)
  web/src/beta/features/Editor/hooks/useScene.ts
  web/src/services/api/infoboxApi/blocks.ts
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/sceneApi.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/widgetsApi/index.ts
Due: web, web-beta

refactor: ui & logic fix
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StylePanel.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Player.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/features/Visualizer/shared/components/SelectableArea/ActionPanel/hooks.ts
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

refactor: update base on comment
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
Due: web, web-beta

fix: type
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
Due: web, web-beta

feat(server): export/import project bug fix (#1239)
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/scene_test.go
Due: server

refactor: improve code
  web/src/beta/ui/fields/RangeField.tsx
Due: web, web-beta

refactor: improve code
  web/src/beta/features/AssetsManager/constants.ts
Due: web, web-beta

fix(web): several UI fix (#1250)
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StylePanel.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Player.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/features/Visualizer/shared/components/SelectableArea/ActionPanel/hooks.ts
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

fix: remove useEffect to update currentCamera value with initalCamera value
  web/src/beta/features/Editor/Visualizer/hooks.ts
Due: web, web-beta

feat(server): query filter of core support (#1231)
  server/e2e/gql_project_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Due: server

fix: use boolean as condition in useEffect
  web/src/beta/features/Editor/Visualizer/hooks.ts
Due: web, web-beta

fix(web): camera returning to initial camera position after scene settings change (#1251)
  web/src/beta/features/Editor/Visualizer/hooks.ts
Due: web, web-beta

fix: update on blur
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
Due: web, web-beta

refactor: clean up utils
  web/src/beta/features/AccountSetting/PasswordModal/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/hooks.ts
  web/src/beta/hooks/useDoubleClick.ts
  web/src/beta/hooks/useManageSwitchState/hooks.test.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/ui/widgetui/Flex/index.stories.tsx
  web/src/beta/ui/widgetui/Flex/index.tsx
  web/src/beta/utils/aria.ts
  web/src/beta/utils/deepFind.test.ts
  web/src/beta/utils/deepFind.ts
  web/src/beta/utils/localstorage.ts
  web/src/beta/utils/metrics.ts
  web/src/beta/utils/raf.test.ts
  web/src/beta/utils/raf.ts
  web/src/beta/utils/string.ts
  web/src/beta/utils/use-buffered.ts
  web/src/beta/utils/use-dnd/drag.ts
  web/src/beta/utils/use-dnd/drop.ts
  web/src/beta/utils/use-dnd/index.tsx
  web/src/beta/utils/use-dnd/types.ts
  web/src/beta/utils/util.test.ts
  web/src/beta/utils/util.ts
  web/src/publishedapp.tsx
Due: web, web-beta, web-utils

refactor: remove dnd provider
  web/.storybook/preview.tsx
Due: none

fix(web): number input been interrupted during the input on layer style editor (#1252)
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
Due: web, web-beta

Revert "feat(server): query filter of core support (#1231)"
  server/e2e/gql_project_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Due: server

chore(server): revert query filter of core support (#1255)
  server/e2e/gql_project_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Due: server

refactor(web): clean up utils (#1254)
  web/.storybook/preview.tsx
  web/src/beta/features/AccountSetting/PasswordModal/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/hooks.ts
  web/src/beta/hooks/useDoubleClick.ts
  web/src/beta/hooks/useManageSwitchState/hooks.test.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/ui/widgetui/Flex/index.stories.tsx
  web/src/beta/ui/widgetui/Flex/index.tsx
  web/src/beta/utils/aria.ts
  web/src/beta/utils/deepFind.test.ts
  web/src/beta/utils/deepFind.ts
  web/src/beta/utils/localstorage.ts
  web/src/beta/utils/metrics.ts
  web/src/beta/utils/raf.test.ts
  web/src/beta/utils/raf.ts
  web/src/beta/utils/string.ts
  web/src/beta/utils/use-buffered.ts
  web/src/beta/utils/use-dnd/drag.ts
  web/src/beta/utils/use-dnd/drop.ts
  web/src/beta/utils/use-dnd/index.tsx
  web/src/beta/utils/use-dnd/types.ts
  web/src/beta/utils/util.test.ts
  web/src/beta/utils/util.ts
  web/src/publishedapp.tsx
Due: web, web-beta, web-utils

add comments
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
Due: web, web-beta

improve implementation
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
Due: web, web-beta

chore: test husky command update
  web/.husky/pre-commit
  web/src/beta/features/AssetsManager/AssetsSelector.tsx
  web/src/beta/features/Editor/Visualizer/testfile.ts
Due: web, web-beta

fix: test i18n pre-commit command
  web/.husky/pre-commit
  web/src/beta/features/AssetsManager/AssetsSelector.tsx
Due: web, web-beta

fix: testing pre-commit command
  web/src/beta/features/Editor/Visualizer/testfile.ts
Due: web, web-beta

fix: remove i18n step from pre-commit
  web/.husky/pre-commit
Due: web

add file output state
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix lint error
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

add error not found extensions
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

add console capture
  web/src/beta/features/PluginPlayground/Code/hook.ts
Due: web, web-beta

support enter key to submit
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

fix: use --cwd for pre-commit command
  web/.husky/pre-commit
Due: web

add enter submit in number input
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
