Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

feat(server): remove authserv (#1966)
  .github/workflows/build_release.yml
  go.work.sum
  server/.env.example
  server/Dockerfile.dev
  server/e2e/common.go
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/config/auth_server.go
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/public.go
  server/internal/app/public_test.go
  server/internal/app/web.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/repo/container.go
Due: server

skip policy check flag
  server/.env.docker
  server/.env.example
  server/internal/app/config/config.go
  server/internal/app/repo.go
Due: server

feat: implement ui/ux and functionality
  server/pkg/builtin/manifest.yml
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/Channel.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/Label.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/Tick.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/utils.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/useChannels.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/useIndicator.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/usePanel.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/utils.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/types.ts
  web/src/app/lib/reearth-widget-ui/components/ui/button.tsx
  web/src/app/lib/reearth-widget-ui/hooks/useSystemTheme.ts
  web/src/app/lib/reearth-widget-ui/icons/Eye.tsx
  web/src/app/lib/reearth-widget-ui/icons/EyeSlash.tsx
  web/src/app/lib/reearth-widget-ui/icons/Play.tsx
  web/src/app/lib/reearth-widget-ui/icons/Repeat.tsx
  web/src/app/lib/reearth-widget-ui/icons/RepeatOnce.tsx
  web/src/app/lib/reearth-widget-ui/icons/SkipBack.tsx
  web/src/app/lib/reearth-widget-ui/icons/SkipForward.tsx
  web/src/app/lib/reearth-widget-ui/icons/index.ts
  web/src/app/lib/reearth-widget-ui/styles/globals.css
  web/src/app/ui/fields/ListField/ListItem.tsx
Due: web, server

fix: test
  web/src/app/ui/fields/ListField/index.test.tsx
Due: none

refactor: update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(server): add workspace id proto
  server/schemas/internalapi/v1/schema.proto
Due: server

fix typo
  server/schemas/internalapi/v1/schema.proto
Due: server

add internal alias api
  server/e2e/proto_project_workspace_alias_test.go
  server/e2e/seeder.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

fix misplaced workspace_id
  server/schemas/internalapi/v1/schema.proto
Due: server

lint
  server/e2e/gql_me_test.go
Due: none

chore(server): proto file for Project by workspace alias and project alias
  server/schemas/internalapi/v1/schema.proto
Due: server

fix: test
  server/e2e/seeder.go
Due: server

feat(server): add internal alias api (#1970)
  server/e2e/gql_me_test.go
  server/e2e/proto_project_workspace_alias_test.go
  server/e2e/seeder.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

fix(server): fix internal api for GetProjectByProjectAliasAndWorkspaceAlias
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Due: server

chore(server): bump up version to 1.0.0-beta.13.5
  web/package.json
Due: web

fix(server): fix internal api for GetProjectByWorkspaceAliasAndProjectAlias (#1972)
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Due: server

chore(server): bump up version to 1.0.0-beta.13.5 (#1973)
  web/package.json
Due: web

v1.0.0-beta.13.5
  CHANGELOG.md
Due: none

refactor: update menifest for builtin widgets
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

fix initial time and styles, handle committer change
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/Channel.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/useChannels.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/useIndicator.ts
Due: web

chore: use fixed package version
  web/package.json
  web/yarn.lock
Due: web

refactor: use light as the default
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web

fix(server): delete unused function and update pathc start count
  server/e2e/proto_project_alias_test.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

fix: remove tailwind.config.js for docker
  web/.dockerignore
  web/Dockerfile
  web/components.json
  web/src/services/theme/reearthTheme/common/zIndex.ts
Due: web, web-beta

refactor: remove initial time
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
Due: web, server

refactor: location tick and label on top & fix default timezone offset
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/Label.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/TicksBar/Tick.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
Due: web

feat: support play speed control
  web/package.json
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/app/lib/reearth-widget-ui/components/ui/select.tsx
  web/yarn.lock
Due: web

refactor: adjust style and fix the theme on selector content
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/app/lib/reearth-widget-ui/components/ui/select.tsx
  web/src/app/lib/reearth-widget-ui/styles/globals.css
Due: web

refactor: remove old timeline widget implement
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/ScaleList.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/types.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/utils.test.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/UI/utils.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline_todel/index.tsx
Due: web

delete unused function
  server/e2e/proto_project_alias_test.go
  server/e2e/proto_project_test.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/grpc.go
  server/internal/infrastructure/mongo/project.go
  server/schemas/internalapi/docs/schema.md
  server/schemas/internalapi/v1/schema.proto
Due: server

fix: test
  server/e2e/proto_project_test.go
Due: none

fix(server): delete unused function and update patch start count (#1974)
  server/e2e/proto_project_alias_test.go
  server/e2e/proto_project_test.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/grpc.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/docs/schema.md
  server/schemas/internalapi/v1/schema.proto
Due: server

refactor: adjust style & move map google search out of tools panel
  web/src/app/features/Editor/Map/MapGoogleSearch/index.tsx
  web/src/app/features/Editor/Map/ToolsPanel/index.tsx
  web/src/app/features/Editor/Map/index.tsx
Due: web

feat: refactor project validation to auto showing
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
Due: web

refactor: use searchBoxRef to calculate resize distance
  web/src/app/features/Editor/Map/MapGoogleSearch/hooks.ts
  web/src/app/features/Editor/Map/MapGoogleSearch/index.tsx
  web/src/app/features/Editor/Map/ToolsPanel/index.tsx
  web/src/app/features/Editor/Map/index.tsx
Due: web

refactor: Area to 30
  web/src/app/features/Editor/Map/index.tsx
Due: web

refactor: revert toolsPanel
  web/src/app/features/Editor/Map/ToolsPanel/index.tsx
Due: web

refactor: uncomment padding
  web/src/app/features/Editor/Map/ToolsPanel/index.tsx
Due: web
