Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

- Long text URL breaks the word as to not disturb the URL length
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
Due: web, web-beta

- Fixed layer select bug on feature select
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta

- minor styling fix
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
Due: web, web-beta

improve block functionalies
  web/src/beta/components/Icon/Icons/set.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useTimelineBlock.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
Due: web, web-beta

chore(web): add height to marker appearance
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Due: web, web-beta

pr comment
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
Due: web, web-beta

chore(web): add height to marker appearance (#790)
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Due: web, web-beta

chore(web): update reearth/web ver
  web/package.json
Due: web

v0.19.0
  CHANGELOG.md
Due: none

fix page name in preview tab
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
Due: web, web-beta

update manifest
  server/pkg/builtin/manifest.yml
Due: server

chore(web): Minor fixes in map editor (#789)
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
Due: web, web-beta

finalize scene property updating viz
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/lib/core/Crust/context.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

chore(web): add scene setting (#755)
  server/pkg/builtin/manifest.yml
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useScene.ts
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/lib/core/Crust/context.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/api/sceneApi.ts
Due: web, web-beta, server

chore(server): add bgColor to story
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/story.go
  server/pkg/storytelling/story.go
Due: server

refactor visualizer clock update
  web/src/beta/components/fields/DateTimeField/EditPanel/hooks.ts
  web/src/beta/components/fields/Property/PropertyField/index.tsx
  web/src/beta/components/fields/Property/PropertyItem/index.tsx
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
Due: web, web-beta

lint fix
  server/internal/usecase/interfaces/story.go
Due: server

chore(server): add bgColor to story (#791)
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/story.go
  server/pkg/storytelling/story.go
Due: server

chore(server): add bgColor to story mutation resolver
  server/internal/adapter/gql/resolver_mutation_storytelling.go
Due: server

add bgColor as well
  server/e2e/gql_storytelling_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Due: server

chore(server): add position, bgColor & title to story & page json respectively for published story (#787)
  server/e2e/gql_storytelling_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Due: server

remove console log
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

allow user select for layer/feature info
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
Due: web, web-beta

chore(server): add bgColor w story in memory, refactors and add test
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/storytelling/story_bulider.go
  server/pkg/storytelling/story_test.go
Due: server

chore(server): remove debug statements
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/usecase/interactor/storytelling.go
Due: server

add 3d tile support
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/services/state/index.ts
Due: web, web-beta

fix geojson
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
Due: web, web-beta

pr-update-bgColor
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Due: web, web-classic, web-beta

translation
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
Due: web, web-beta

playmode functionalities
  web/src/beta/components/fields/TimelineField/EditPanel/hooks.ts
  web/src/beta/components/fields/TimelineField/EditPanel/index.tsx
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
Due: web, web-beta

editormode on doublick selected block
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
Due: web, web-beta

chore(web): 3dtile feature select support in UI (#792)
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/services/state/index.ts
Due: web, web-beta

deselect scene setting
  web/src/beta/features/Editor/useScene.ts
Due: web, web-beta

auto collapse scene settings
  web/src/beta/components/SidePanelSectionField/index.tsx
Due: web, web-beta

map tab single select
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useScene.ts
  web/src/services/state/index.ts
Due: web, web-beta

default padding
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
Due: web, web-beta

chore(web): misc bug fixes improvements (#793)
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useScene.ts
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
  web/src/services/state/index.ts
Due: web, web-beta

fix looping
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
Due: web, web-beta

chore(server): remove background setting from manifest
  server/pkg/builtin/manifest.yml
Due: server
