Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

update
  .github/workflows/playwright_api_tests.yml
  e2e/api/tests/auth-utils.ts
Due: none

fix
  .github/workflows/playwright_api_tests.yml
  e2e/api/tests/auth-utils.ts
Due: none

update
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

updaye .env
  .github/workflows/playwright_api_tests.yml
Due: none

fix(server): skip Accounts API for Internal API requests
  server/internal/app/auth_client.go
Due: server

fix(web): fix markdown bg and text color issue in story pannel
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Markdown/Editor.tsx
Due: web

fix: missing props value
  web/src/app/ui/fields/ColorField/index.tsx
Due: web

fix(web): missing props value on color field (#2112)
  web/src/app/ui/fields/ColorField/index.tsx
Due: web

fix(web): fix markdown bg and text color issue in story panel (#2111)
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Markdown/Editor.tsx
Due: web

fix(server): return 404 for /api/published/ with empty name before auth middleware
  server/internal/app/web.go
  server/internal/app/web_test.go
Due: server

ci: playwright API tests workflow (#2109)
  .github/workflows/playwright_api_tests.yml
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

test(server): tests for style, widget, project-crud-extended, property-schema
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/project-crud-extended.api.spec.ts
  e2e/api/tests/property-schema.api.spec.ts
  e2e/api/tests/style.api.spec.ts
  e2e/api/tests/widget.api.spec.ts
Due: none

copilot fix
  e2e/api/tests/project-crud-extended.api.spec.ts
  e2e/api/tests/property-schema.api.spec.ts
Due: none

update
  e2e/api/graphql/mutations.ts
  e2e/api/tests/project-crud-extended.api.spec.ts
  e2e/api/tests/property-schema.api.spec.ts
Due: none

fixes
  e2e/api/graphql/mutations.ts
  e2e/api/tests/project-crud-extended.api.spec.ts
Due: none

fix(server): return 404 for /api/published/ with empty name before auth middleware (#2114)
  server/internal/app/web.go
  server/internal/app/web_test.go
Due: server

test(server): tests for style, widget, project-crud-extended, property-schema (#2115)
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/project-crud-extended.api.spec.ts
  e2e/api/tests/property-schema.api.spec.ts
  e2e/api/tests/style.api.spec.ts
  e2e/api/tests/widget.api.spec.ts
Due: none

chore: upgrade resolutions and lock file
  web/package.json
  web/yarn.lock
Due: web

fix(web): hide private visibility option when workspace doesn't support it
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectVisibilityModal.tsx
Due: web

chore(web): bump version to v1.0.0-beta.15.4
  web/package.json
Due: web

chore(web): bump version to v1.0.0-beta.15.4 (#2118)
  web/package.json
Due: web

fix: add missing prop for placeholder
  web/src/app/ui/fields/Properties/PropertyField.tsx
Due: web

v1.0.0-beta.15.4
  CHANGELOG.md
Due: none

test: add test for placeholder prop
  web/src/app/ui/fields/Properties/index.test.tsx
Due: none

refactor(web): support placeholder on more property fields (#2119)
  web/src/app/ui/fields/Properties/PropertyField.tsx
  web/src/app/ui/fields/Properties/index.test.tsx
Due: web

chore(web): upgrade the minor version of package
  web/package.json
  web/yarn.lock
Due: web

test(server): completed api tests
  e2e/api/graphql/client.ts
  e2e/api/graphql/mutations.ts
  e2e/api/tests/geojson-feature.api.spec.ts
  e2e/api/tests/icon-asset.api.spec.ts
  e2e/api/tests/move-story.api.spec.ts
  e2e/api/tests/plugin.api.spec.ts
  e2e/api/tests/rest-assets-download.api.spec.ts
  e2e/api/tests/rest-export-download.api.spec.ts
  e2e/api/tests/rest-ping-health.api.spec.ts
  e2e/api/tests/rest-signup.api.spec.ts
  e2e/api/tests/rest-split-import.api.spec.ts
Due: none

copilot update
  e2e/api/tests/move-story.api.spec.ts
  e2e/api/tests/plugin.api.spec.ts
  e2e/api/tests/rest-signup.api.spec.ts
  e2e/api/tests/rest-split-import.api.spec.ts
  e2e/api/tests/test-helpers.ts
Due: none

chore(server): fix env file for docker.dev
  docker-compose.dev.yml
  server/.env.accounts.docker.example
  server/.env.docker.example
  server/.gitignore
Due: server

refactor(server): split Makefile into modular fragments
  server/Makefile
  server/README.md
  server/mk/docker.mk
  server/mk/local.mk
  server/mk/tools.mk
Due: server

chore(server): consolidate docker-compose and improve run-app
  docker-compose.dev.yml
  docker-compose.yml
  server/mk/docker.mk
  server/mk/local.mk
Due: server

refactor(server): update dev.bat to match Makefile changes
  server/dev.bat
Due: server

docs(server): update AGENTS.md with new command names
  server/AGENTS.md
Due: server

chore(server): add run-db alias for backward compatibility
  server/mk/docker.mk
Due: server

feat(server): add run-standalone command
  server/AGENTS.md
  server/README.md
  server/dev.bat
  server/mk/local.mk
Due: server

docs(server): update local accounts development instructions
  server/README.md
Due: server

chore(server): clean up env files and add auto-copy for .env
  server/.env.docker.example
  server/.env.example
  server/dev.bat
  server/mk/local.mk
Due: server

fix(server): address Copilot review feedback
  server/.env.example
  server/Makefile
  server/README.md
  server/dev.bat
  server/mk/docker.mk
  server/mk/local.mk
  server/mk/tools.mk
Due: server

feat(server): add GCS setup to run-app target
  server/mk/local.mk
Due: server
