Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

modify make gql command for generating dataloader and delete make dataloaden
  server/Makefile
Due: server

chore(server): fix handler for gql
  server/internal/app/graphql.go
Due: server

chore(server): include Makefile for local and add Makefile.local on .gitignore
  server/.gitignore
  server/Makefile
Due: server

chore(server): fix makefile command that did not work (#1332)
  server/Makefile
  server/pkg/plugin/manifest/parser_translation_test.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/plugin/manifest/schema_translation.go
  server/pkg/plugin/manifest/schema_translation_i18n.go
  server/pkg/plugin/manifest/schema_translation_test.go
  server/schemas/plugin_manifest_translation.json
Due: server

chore(server): handler for gql has extension loaded twice (#1335)
  server/internal/app/graphql.go
Due: server

refactor: change input color and font size and delete useless function
  web/package.json
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/input.tsx
Due: web, web-beta

update: update lock file
  web/yarn.lock
Due: web

chore(server): install air and add dev command
  server/.air.toml
  server/.gitignore
  server/Makefile
  server/internal/app/app.go
Due: server

delete debug flag
  server/Makefile
Due: server

refactor: add extended feature and adjust code accordingly
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
Due: web, web-beta

fix: coderabbitai comment
  server/Makefile
Due: server

support reorder using gql
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta

chore(server): upgrade go version to 1.23.4
  .github/workflows/build_release.yml
  .github/workflows/ci_server.yml
  go.work
  server/Dockerfile
  server/go.mod
  server/pkg/property/group_list.go
Due: server

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(server): upgrade go version to 1.23.4 (#1339)
  .github/workflows/build_release.yml
  .github/workflows/ci_server.yml
  go.work
  server/Dockerfile
  server/go.mod
  server/pkg/property/group_list.go
Due: server

chore(server): install air and add dev command for hotreload (#1337)
  server/.air.toml
  server/.gitignore
  server/Makefile
  server/internal/app/app.go
Due: server

feat(web): add sample layers to plugin playground (#1330)
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/LayerList/LayerItem.tsx
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

add update layers mutation
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/queries/layer.ts
Due: web, web-beta

rename geometry to GeoJSON
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
Due: web, web-beta

improve handle layer move logic
  web/src/beta/features/Editor/hooks/useLayers.ts
Due: web, web-beta

feat: add sample infobox properties
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/LayerList/index.tsx
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
Due: web, web-beta

fix(web): fix icon button size on block add bar (#1333)
  web/src/beta/features/Visualizer/shared/components/ActionPanel/index.tsx
Due: web, web-beta

fix(web): naming typo on preset layer style category (#1340)
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
Due: web, web-beta

feat(web): support layer reorder (#1338)
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/queries/layer.ts
Due: web, web-beta

set a yaml file
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

refactor: replace header img with text
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
Due: web, web-beta

improve enter key
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

rmove return key
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

feat(web): plugin playground presets header (#1319)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
Due: web, web-beta

refactor: update core & types
  web/package.json
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/storybook.tsx
Due: web, web-beta

chore: update yarn.lock
  web/yarn.lock
Due: web

refactor(server): [BE] Improvement: Detailed error types from BE
  server/.air.toml
  server/internal/adapter/context.go
  server/internal/adapter/gql/context.go
  server/internal/app/app.go
  server/internal/app/graphql.go
  server/internal/infrastructure/mongo/project.go
  server/internal/locales/cache.go
  server/internal/locales/en/error.json
  server/internal/locales/ja/error.json
  server/internal/locales/locales.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/repo/container.go
  server/pkg/error/error.go
  server/pkg/project/project.go
Due: server

refactor(web): [FE]Improvement: display error msg with translations on FE
  web/src/beta/features/Notification/hooks.ts
  web/src/sentry.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/provider/links/errorLink.ts
  web/src/services/gql/provider/links/langLink.ts
  web/src/services/state/gqlErrorHandling.ts
  web/src/services/state/index.ts
Due: web, web-beta

change yarn lock
  web/yarn.lock
Due: web

feat(web):describe a yaml setting
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

feat(web): add script that add geojson layer
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

refactor(web): fix a comment out
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

refactor(web): add layers id
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
Due: web, web-beta

chore: update core version
  web/package.json
  web/yarn.lock
Due: web

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
