Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

fix(test): prevent auto-fetch of auth config in TestReadConfig
  server/internal/app/config/config_test.go
Due: none

chore: update reearth-accounts to fix role auto-creation
  server/go.mod
  server/go.sum
Due: server

perf: optimize air build configuration for faster rebuilds
  server/.air.toml
Due: server

fix lint
  server/go.sum
Due: server

refarence reearth-account main branch
  go.work.sum
  server/go.mod
  server/go.sum
Due: server

Change the reference branch of reearth-accounts to main
  .github/workflows/ci_server.yml
Due: none

update README.md
  README.md
  server/Makefile
  server/README.md
  server/dev.bat
Due: server

fix(server): add prop to PolicyCheckPayload for showing custom domain section
  server/gql/workspace.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/gateway/policy_checker.go
  server/internal/usecase/interactor/policy.go
  server/pkg/policy/policy.go
Due: server

fix(server): add prop to PolicyCheckPayload for showing custom domain section (#2036)
  server/gql/workspace.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/gateway/policy_checker.go
  server/internal/usecase/interactor/policy.go
  server/pkg/policy/policy.go
Due: server

refactor: enable custom domain extension base on policy check
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/workspace.ts
Due: web, web-beta

initial widget definition
  server/pkg/builtin/manifest.yml
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleStreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/app/lib/reearth-ui/components/Icon/Icons/Pegman.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/services/api/widget/utils.ts
Due: web, web-beta, server

rename
  server/pkg/builtin/manifest.yml
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleStreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/StreetView/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/services/api/widget/utils.ts
Due: web, web-beta, server

refactor(web): enable custom domain extension base on policy check (#2037)
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/workspace.ts
Due: web, web-beta

fix: fix ci error
  web/src/services/gql/provider/links/uploadLink.ts
Due: web, web-beta

refactor: remove default story names & clean ups
  web/src/app/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/app/features/ProjectSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web

refactor(web): remove default story name from tabs (#2040)
  web/src/app/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/app/features/ProjectSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Due: web

test(web): added tests for incident_s_1765532645
  e2e/pages/photoOverlayPage.ts
  e2e/test-data/testimage.jpg
  e2e/tests/photoOverlay.spec.ts
Due: none

test(web): added tests for incident_s_1765532645
  server/.env.docker
  web/src/app/features/AssetsManager/AssetsSelector.tsx
  web/src/app/features/AssetsManager/item/AssetGridItem.tsx
  web/src/app/features/AssetsManager/item/AssetListItem.tsx
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/PhotoOverlayCollapse.tsx
  web/src/app/features/Editor/Map/PhotoOverlayEditor/index.tsx
Due: web, server

update server/.env.docker
  server/.env.docker
Due: server

updated suggestions based on recent edits.
  e2e/pages/photoOverlayPage.ts
  e2e/tests/photoOverlay.spec.ts
Due: none

workflow update to run tests only on pr previews when weband e2e changes occur
  .github/workflows/ci.yml
Due: none

revert "Revert "Update ci.yml""
  .github/workflows/ci.yml
Due: none

test(web): added tests for photo overlay workflow (#2041)
  e2e/pages/photoOverlayPage.ts
  e2e/test-data/testimage.jpg
  e2e/tests/photoOverlay.spec.ts
  web/src/app/features/AssetsManager/AssetsSelector.tsx
  web/src/app/features/AssetsManager/item/AssetGridItem.tsx
  web/src/app/features/AssetsManager/item/AssetListItem.tsx
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/PhotoOverlayCollapse.tsx
  web/src/app/features/Editor/Map/PhotoOverlayEditor/index.tsx
Due: web

v1.0.0-beta.14.2
  CHANGELOG.md
Due: none

feat: add preset styles for plateau (wip)
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/basicGeometry.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/default.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/geojson.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/buildingColorByHeight.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/buildingColorByUsage.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/road.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/professional.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/types.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/utils.ts
  web/src/app/utils/layer-style.test.ts
  web/src/app/utils/layer-style.ts
Due: web

chore(web): bump up to 1.0.0-beta.14.3
  web/package.json
Due: web

chore(web): bump up to 1.0.0-beta.14.3 (#2043)
  web/package.json
Due: web

refactor: add reset key to useElementOnScreen
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useElementOnScreen.tsx
Due: web

refactor: detect dom change instead of reasetKey
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useElementOnScreen.tsx
Due: web

refactor: revert back to resetkey solution
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useElementOnScreen.tsx
Due: web

v1.0.0-beta.14.3
  CHANGELOG.md
Due: none

fix(web): story panel's scroll event doesn't work after switch editor tabs (#2044)
  web/src/app/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useElementOnScreen.tsx
Due: web

chore(web): downgrade lexical to stable version 0.38.2 (#2039)
  web/package.json
  web/src/app/lib/lexical/RichTextEditor/nodes/index.ts
  web/src/app/lib/lexical/RichTextEditor/plugins/AutoLinkPlugin.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/FloatingLinkEditorPlugin/index.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/LinkPlugin.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/ListMaxIndentLevelPlugin.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/ToolbarPlugin.tsx
  web/src/services/gql/provider/links/uploadLink.ts
Due: web, web-beta

Bumps version to 1.0.0-beta.14.4
  web/package.json
Due: web

chore(web): bump up package version to 1.0.0-beta.14.4 (#2045)
  web/package.json
Due: web

v1.0.0-beta.14.4
  CHANGELOG.md
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
