Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

revert code
  server/internal/app/app.go
  server/internal/app/auth_client.go
Due: server

create popup plugin example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
Due: web, web-beta

fix: refactor japanese translations
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update translation
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update ui and max value
  server/pkg/builtin/manifest.yml
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/beta/ui/fields/ZoomLevelField/EditPanel.tsx
Due: web, web-beta, server

fix: fix role for maintainer
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
Due: web, web-beta

fix permmision error
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
Due: server

modify base path
  server/internal/infrastructure/fs/file.go
Due: server

feat(server): associate project asset (#1410)
  server/internal/app/app.go
  server/internal/app/auth_client.go
Due: server

reset layer name to origin
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/EditPanel.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
Due: web, web-beta

add spacing
  web/src/beta/ui/fields/ZoomLevelField/EditPanel.tsx
Due: web, web-beta

resolve conflict
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
Due: web, web-beta

refactor: remove width from container
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
Due: web, web-beta

refactor: add title to index page
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

fix test error
  server/pkg/property/property_test.go
  server/pkg/scene/sceneops/plugin_migrator_test.go
Due: none

web lint error
  web/src/services/gql/fragments/index.ts
Due: web, web-beta

refactor: fix translation issue
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: test
  server/e2e/gql_scene_test.go
Due: none

feat: support photo overlay basic functions
  web/src/beta/features/Editor/Map/PhotoOverlayEditor/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/Map/index.tsx
  web/src/beta/features/Editor/Map/state.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/index.tsx
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/useCamera.ts
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/useSize.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/constaints.ts
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/ui/fields/CameraField/CapturePanel.tsx
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/CameraField/hooks.ts
  web/src/beta/ui/fields/CameraField/index.tsx
  web/src/beta/utils/camera.ts
  web/src/beta/utils/image.ts
  web/src/beta/utils/sketch.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, web-utils

remove comment
  server/pkg/dataset/id.go
  server/pkg/nlslayer/id.go
  server/pkg/plugin/id.go
  server/pkg/project/id.go
  server/pkg/property/id.go
  server/pkg/scene/id.go
  server/pkg/storytelling/id.go
  server/pkg/tag/id.go
Due: server

refactor: update i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

support input change in assetField
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/EditPanel.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
Due: web, web-beta

refactor(web): update tiles' zoom level range (#1438)
  server/e2e/gql_scene_test.go
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/schema_field_ui.go
  server/schemas/plugin_manifest.json
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Video_Camera.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/beta/ui/fields/Properties/index.tsx
  web/src/beta/ui/fields/ZoomLevelField/EditPanel.tsx
  web/src/beta/ui/fields/ZoomLevelField/index.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

refactor(web): Support update layer’s name and url (#1451)
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/EditPanel.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): plugin playground presets - create popup plugin example (#1453)
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

remove comment
  server/internal/infrastructure/fs/file_test.go
Due: none

add ActualDump
  server/e2e/common.go
Due: server

remove comment
  server/internal/adapter/gql/resolver_mutation_project.go
Due: server

refactor: use widget ui & add close button
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/index.tsx
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/src/services/theme/reearthTheme/common/zIndex.ts
  web/tailwind.config.js
Due: web, web-beta

refactoring id scene
  server/internal/usecase/repo/container.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/loader.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/plugin/id.go
  server/pkg/plugin/manifest/convert.go
  server/pkg/plugin/manifest/convert_test.go
  server/pkg/plugin/manifest/parser.go
  server/pkg/plugin/plugin.go
  server/pkg/plugin/pluginpack/package.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/property/builder.go
  server/pkg/property/builder_test.go
  server/pkg/property/id.go
  server/pkg/property/initializer.go
  server/pkg/property/property.go
  server/pkg/property/schema.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/list_test.go
  server/pkg/scene/scene.go
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
  server/pkg/storytelling/id.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Due: server

refactor: add ja translation
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactoring id project and workspace
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container_test.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/id.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/scene.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
