Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

update ImportNLSLayers
  server/internal/usecase/interactor/nlslayer.go
  server/pkg/scene/builder/decoder.go
Due: server

update test
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/project_test.go
Due: server

add ImportProject test
  server/e2e/gql_import_export_test.go
  server/e2e/test.zip
  server/internal/usecase/interactor/nlslayer.go
Due: server

update test
  server/e2e/gql_import_export_test.go
Due: none

fix: add type gltf
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
Due: web, web-beta

refactor: types
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
Due: web, web-beta

refactor: update types
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
Due: web, web-beta

refactor: file extension check
  web/src/beta/ui/fields/AssetField/index.tsx
Due: web, web-beta

update test
  server/e2e/gql_import_export_test.go
  server/e2e/test.zip
Due: server

split test
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
Due: none

modify value
  server/pkg/scene/builder/decoder.go
Due: server

feat(server): project import export external url (#1205)
  server/e2e/gql_import_export_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/test.zip
  server/internal/adapter/context.go
  server/internal/app/auth_client.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/scene/builder/decoder.go
Due: server

refactor: load when there's no data
  web/src/beta/hooks/useLoadMore.ts
Due: web, web-beta

move common scroll bar to theme
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerContent.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/common/scrollBar.ts
Due: web, web-beta

imrove the scroobar
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerContent.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/common/scrollBar.ts
Due: web, web-beta

separate commonasset for add layer
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CSV/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(web): missing type gltf support for model asset input (#1209)
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
Due: web, web-beta

refactor: update with requestAnimationFrame
  web/src/beta/features/CursorStatus/index.tsx
Due: web, web-beta

fix: fix status of membersSettingPage
  web/src/beta/features/WorkspaceSetting/hooks.ts
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

refactor: delete useless log
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

refactor: update role functionn
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

refactor: refactor variable name
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

refactor(web): improve cursor indicator (#1213)
  web/src/beta/features/CursorStatus/index.tsx
Due: web, web-beta

merge the scroll style
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerContent.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/common/scrollBar.ts
Due: web, web-beta

refactor: add initial ja copy
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/Action.tsx
  web/src/beta/features/Editor/hooks/useScene.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: missing translation
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: correct copy
  web/src/services/api/infoboxApi/blocks.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/pages.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: correct copy
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor(web): add initial ui translations for ja (#1215)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/Action.tsx
  web/src/beta/features/Editor/hooks/useScene.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/api/infoboxApi/blocks.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/pages.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
Due: web, web-beta

feat upload file & refrect editor
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/utils.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix plugin download
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

refactor: refactor useCallback
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
Due: web, web-beta

chore: update README.md (#867)
  README.md
Due: none

fix: exclude czml & kml for the default style
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/utils/layer-style.ts
Due: web, web-beta, web-utils

refactor: check lower case in utils
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/utils/layer-style.ts
Due: web, web-beta, web-utils

fix(web): exclude czml & kml for the default layer style (#1217)
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/utils/layer-style.ts
Due: web, web-beta, web-utils

style(web): move scroll bar styles to theme (#1211)
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerContent.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/common/scrollBar.ts
Due: web, web-beta

fix(web): no project shows up when sort is first created (#1210)
  web/src/beta/hooks/useLoadMore.ts
Due: web, web-beta

docs: Update README.md (#874)
  README.md
Due: none
