Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

refactor: update migraion ignore cases that has no type
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

chore: add missing env var for docker
  web/Dockerfile
  web/docker/reearth_config.json.template
Due: web

refactor: use speed key as select value
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Player.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/app/features/Visualizer/shared/hooks/useTimelineBlock.ts
Due: web

style: remove unnecessary padding bottom
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Player.tsx
Due: web

refactor(web): support config play speed on story timeline block (#2213)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Player.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/app/features/Visualizer/shared/constants.ts
  web/src/app/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/app/features/Visualizer/shared/hooks/useTimelineBlock.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, server

chore: update core version
  web/package.json
Due: web

chore: update yarn lock
  web/yarn.lock
Due: web

chore: ignore sw.js for lint
  web/eslint.config.mjs
Due: web

Potential fix for pull request finding
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
Due: web

Potential fix for pull request finding
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
Due: web

chore: remove task status
  web/docs/custom-providers.md
Due: web

Potential fix for pull request finding
  web/.env.example
Due: web

refactor: add void for async function call
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/auth/mockAuth.ts
Due: web, web-beta

fix(server): align import legacy tile migration with DB migration
  server/internal/app/file_import_common.go
Due: server

fix: append public folder for docker
  web/.dockerignore
Due: web

fix(server): rename migration function to MigrateLegacyTilesToCesiumIon
  server/internal/infrastructure/mongo/migration/260525120000_migrate_tiles_and_terrain_to_cesium.go
  server/internal/infrastructure/mongo/migration/260525120000_migrate_tiles_and_terrain_to_cesium_test.go
  server/internal/infrastructure/mongo/migration/260525120000_revert_migrate_tiles_and_terrain_to_cesium.go
  server/internal/infrastructure/mongo/migration/260525120000_revert_migrate_tiles_and_terrain_to_cesium_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix(server): update import tile migration test to expect cesium_ion
  server/internal/app/file_import_common_test.go
Due: none

fix: tile without type should apply default tile type
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

fix(web): tile without type should apply default tile type (#2220)
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

fix(web): wait for SW controller before mounting app to prevent 401s on first load
  web/src/services/sentinel/index.ts
Due: web, web-beta

Revert "fix(web): wait for SW controller before mounting app to prevent 401s on first load"
  web/src/services/sentinel/index.ts
Due: web, web-beta

fix: set default terrain type as reearth_terrain
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

fix: terrain not rendering on first load in new projects
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
  web/src/app/types/sceneProperty.ts
Due: web

fix(web): set default terrain type as reearth_terrain (#2221)
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

fix: 401 on hard reload
  web/public/sw.js
  web/src/services/sentinel/index.ts
Due: web, web-beta

refactor: fixes based on comments
  web/src/services/sentinel/index.ts
Due: web, web-beta

fix(web): sentinel has 401 error on hard reload (#2223)
  web/public/sw.js
  web/src/services/sentinel/index.ts
Due: web, web-beta

refactor: support override cesium ion token & correct tile migration logic
  web/src/app/features/Editor/Visualizer/type.ts
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

fix: migration map
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

refactor: replace in oprator and improve validation for token
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

refactor(web): support override cesium ion token & correct tile migration map (#2224)
  web/src/app/features/Editor/Visualizer/type.ts
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/tilesMigration.test.ts
  web/src/app/features/Visualizer/utils/tilesMigration.ts
Due: web

chore: update version to 1.0.0-beta.16.5
  web/package.json
Due: web

chore(web): update version to 1.0.0-beta.16.5 (#2227)
  web/package.json
Due: web

v1.0.0-beta.16.5
  CHANGELOG.md
Due: none

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
