Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

add slider ui
  web/src/beta/components/Icon/Icons/slider.svg
  web/src/beta/components/Icon/Icons/timelineStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Timeline.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
Due: web, web-beta

chore(web): fly to layers (#739)
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
Due: web, web-beta

chore(web): hide and show layer (#735)
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.stories.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/lib/core/Map/Layers/index.test.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
Due: web, web-beta

chore(server): add cesium-beta viz support in server (#743)
  server/internal/usecase/interactor/scene.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/visualizer/visualizer.go
Due: server

wip: beta published route/visualizer
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/utils/use-core.ts
Due: web, web-beta, web-utils

wip: basic published project, no layer support
  web/src/beta/features/PublishedVisualizer/ga.ts
  web/src/beta/features/PublishedVisualizer/ga4.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/features/PublishedVisualizer/useGA.ts
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/utils/published.ts
Due: web, web-beta, web-utils

remove tab on layer processing
  web/src/beta/features/PublishedVisualizer/hooks.ts
Due: web, web-beta

fix some styles
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
Due: web, web-beta

ui tweak
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
Due: web, web-beta

chore: refactor style for some beta components
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/Assets/AssetCard/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
Due: web, web-beta

chore(web): improve performance of flyTo
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
Due: web, web-beta

chore(web): improve performance of flyTo (#746)
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
Due: web, web-beta

readd duration to story page
  server/pkg/builtin/manifest.yml
Due: server

redirect to settings in publish dropdown
  web/src/beta/features/Editor/tabs/publish/Nav/hooks.ts
  web/src/beta/hooks/index.ts
  web/src/beta/hooks/navigationHooks.ts
Due: web, web-beta

fix(server): check project count to ensure policy on project republication
  server/internal/usecase/interactor/project.go
Due: server

fix(server): check project count to ensure policy on project republication (#742)
  server/internal/usecase/interactor/project.go
Due: server

update publish modal UI
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
Due: web, web-beta

update ui
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
Due: web, web-beta

fixes
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
Due: web, web-beta

fix secondary button style
  web/src/beta/components/Button/index.tsx
  web/src/services/theme/reearthTheme/darkTheme/index.ts
Due: web, web-beta

update more ui
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
Due: web, web-beta

chore(web): fix visible state
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
Due: web, web-beta

chore(web): fix visible state (#747)
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
Due: web, web-beta

add publishmentstatus to story fragment
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/hooks.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Due: web, web-beta

update comments
  web/src/beta/components/Icon/Icons/layerInspector.svg
  web/src/beta/components/fields/URLField/hooks.ts
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/AssetsQueriesHook/hooks.ts
  web/src/beta/features/Assets/useManageAssets/hooks.ts
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/index.tsx
  web/src/beta/features/LayerStyle/hooks.ts
  web/src/beta/features/Modals/ChooseLayerStyleModal/index.tsx
  web/src/beta/utils/value.ts
  web/src/services/api/layerStyleApi/index.ts
Due: web, web-beta, web-utils

translations
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(server): update manifest and plugin_schema to support collection in schemaGroup
  server/pkg/builtin/manifest.yml
  server/schemas/plugin_manifest.json
Due: server

chore(server): update manifest and plugin_schema to support collection in schemaGroup (#748)
  server/pkg/builtin/manifest.yml
  server/schemas/plugin_manifest.json
Due: server

add newlayers and story to publishdata type
  web/src/beta/components/NotFound/index.tsx
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/services/api/storytellingApi/index.ts
Due: web, web-beta

type error
  web/src/beta/components/Icon/Icons/layerInspector.svg
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/URLField/index.stories.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerStyleSelector.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
Due: web, web-beta

implement intial time for time block
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Timeline.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/hooks/useTimelineBlock.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
Due: web, web-beta

update layerStyle Add button
  web/src/beta/components/AdjustableButton/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/layerStyle.tsx
Due: web, web-beta

feat(web,server): support maintainer role for reearth
  server/gql/team.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/auth_client.go
  server/internal/usecase/operator.go
  web/src/classic/components/molecules/Settings/Workspace/MemberListItem/index.tsx
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-classic, web-beta, server

fix translations
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix
  .vscode/settings.json
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

rename layerStyle.tsx to LayerStyle.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyle.tsx
Due: web, web-beta

implement commit methods
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Timeline.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useTimelineBlock.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
Due: web, web-beta

layerStyle was acting weird
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyle.tsx
Due: web, web-beta
