Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

chore: update code owners (#2204)
  .github/CODEOWNERS
Due: none

perf(server): move new project indexes into a tracked migration
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_metadata.go
Due: server

perf(server): use pipeline-form \$lookup for topics filter
  server/internal/infrastructure/mongo/project.go
Due: server

chore(server): update README with run-app docs and Auth0 notes
  server/README.md
Due: server

chore(server): simplify OSS env setup instructions in README
  server/README.md
Due: server

feat: add Sentinel Service Worker
  web/package.json
  web/public/sw.js
  web/src/main.tsx
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/sentinel/index.ts
Due: web, web-beta

fix(server): propagate index creation errors in migration
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
Due: server

fix(server): bound $facet data pipeline and harden migration
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): harden aggregation pagination and migration idempotency
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): clamp aggregation limits and unset facet payload
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): propagate pagination errors and warn on facet truncation
  server/internal/infrastructure/mongo/project.go
Due: server

refactor: update options of tiles and terrain
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

refactor(server): drop warnFacetTruncation
  server/internal/infrastructure/mongo/project.go
Due: server

chore: add migration
  server/internal/infrastructure/mongo/migration/260519180130_migrate_tiles_to_cesium_ion.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

perf(server): unset metadata before $sort and document key-order check
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/project.go
Due: server

style(server): apply gofmt -s simplification
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): match collation on project index and warn on cursor positioning
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/project.go
Due: server

perf(server): optimize InternalAPI GetAllProjects query path (#2202)
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/project.go
Due: server

perf(server): metadata-first aggregation for starcount sort
  server/internal/infrastructure/mongo/migration/260520220637_add_projectmetadata_starcount_index.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/project.go
Due: server

docs(server): correct index-scan wording in migration comment
  server/internal/infrastructure/mongo/migration/260520220637_add_projectmetadata_starcount_index.go
Due: server

add speed tranzlation
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/constants.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/app/features/Visualizer/shared/hooks/useTimelineBlock.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(server): backfill projectmetadata.starcount in migration
  server/internal/infrastructure/mongo/migration/260520220637_add_projectmetadata_starcount_index.go
Due: server

fix(server): tiebreak by project, defensive log, naming fixes
  server/internal/infrastructure/mongo/migration/260520220637_add_project_metadata_starcount_index.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/project.go
Due: server

test(server): cover backfill paths for starcount migration
  server/internal/infrastructure/mongo/migration/260520220637_add_project_metadata_starcount_index_test.go
Due: none

refactor(server): clarify lookup output and migration names in logs
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/migration/260520220637_add_project_metadata_starcount_index.go
  server/internal/infrastructure/mongo/project.go
Due: server

perf(server): short-circuit starcount sort when skip >= totalCount
  server/internal/infrastructure/mongo/project.go
Due: server

perf(server): metadata-first aggregation for most_starred sort (#2206)
  server/internal/infrastructure/mongo/migration/260518143901_add_project_visibility_and_topics_indexes.go
  server/internal/infrastructure/mongo/migration/260520220637_add_project_metadata_starcount_index.go
  server/internal/infrastructure/mongo/migration/260520220637_add_project_metadata_starcount_index_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/project.go
Due: server

chore(server): bump version to 1.0.0-beta.16.4
  web/package.json
Due: web

chore(server): bump version to 1.0.0-beta.16.4 (#2207)
  web/package.json
Due: web

chore: update migration script to handle empty field case
  server/internal/infrastructure/mongo/migration/260519180130_migrate_tiles_to_cesium_ion.go
Due: server

chore: update document
  web/docs/custom-providers.md
Due: web

refactor: support custom providers
  web/.env.example
  web/docker/reearth_config.json.template
  web/src/app/features/Visualizer/index.tsx
  web/src/services/config/index.ts
Due: web, web-beta

refactor: handle tile type changes, migrations and fallbacks
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/ui/fields/Properties/PropertyField.tsx
  web/src/app/ui/fields/Properties/index.tsx
  web/src/ee/constants.ts
  web/src/ee/featureConfig.ts
  web/src/services/config/appFeatureConfig.ts
  web/src/services/config/constants.ts
Due: web, web-beta

test(server): fix E2ETestChange field indices after adding cesium_ion_asset_id
  server/pkg/builtin/main.go
Due: server

fix: type
  web/src/app/ui/fields/Properties/index.tsx
Due: web

feat(web): support custom providers and handle tile / terrain option changes (#2208)
  server/internal/infrastructure/mongo/migration/260519180130_migrate_tiles_to_cesium_ion.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/.env.example
  web/docker/reearth_config.json.template
  web/docs/custom-providers.md
  web/src/app/features/Visualizer/hooks.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/ui/fields/Properties/PropertyField.tsx
  web/src/app/ui/fields/Properties/index.tsx
  web/src/ee/constants.ts
  web/src/ee/featureConfig.ts
  web/src/services/config/appFeatureConfig.ts
  web/src/services/config/constants.ts
  web/src/services/config/index.ts
Due: web, web-beta, server

chore: fix package version and provide updated lock file
  web/package.json
  web/yarn.lock
Due: web

refactor: clear sentinel token on mock auth logout
  web/src/services/auth/mockAuth.ts
Due: web, web-beta

chore: include public folder on docker image
  web/Dockerfile
Due: web

chore: clean up comments
  web/src/services/sentinel/index.ts
Due: web, web-beta
