Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

Fix(web): changed color theme
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web, web-beta

Fix(web): changed color theme
  web/src/beta/components/InsertionButton/index.tsx
Due: web, web-beta

Fix(web): changed color theme
  web/src/beta/components/ActionItem/index.tsx
Due: web, web-beta

Fix(web): changed color theme
  web/src/beta/components/PublishStateSwitchField/index.tsx
Due: web, web-beta

Fix(web): changed color theme
  web/src/beta/components/SettingsButtons/index.tsx
Due: web, web-beta

Fix(web): changed color theme
  web/src/beta/components/SwitchButtonList/index.tsx
Due: web, web-beta

fix(web): Update color and font order for new theme
  web/src/beta/components/SidePanelSectionField/index.stories.tsx
  web/src/beta/components/SidePanelSectionField/index.tsx
Due: web, web-beta

feat(web): add aws cognito support in auth (#449)
  web/e2e/utils/config.ts
  web/index.html
  web/package.json
  web/src/app.tsx
  web/src/main.tsx
  web/src/services/auth/authHook.ts
  web/src/services/auth/authOAuth.ts
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/cognitoAuth.ts
  web/src/services/auth/index.tsx
  web/src/services/auth/provider.tsx
  web/src/services/auth/useAuth.ts
  web/src/services/config/aws.config.ts
  web/src/services/config/index.ts
  web/yarn.lock
Due: web, web-beta

feat(web): interaction mode on beta (#507)
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/featureFlags.ts
  web/src/beta/lib/core/Crust/index.stories.tsx
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/Crust/types.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

remove unused code
  .github/workflows/deploiy_aws.yml
Due: none

Fix(web): modification max-height
  web/src/beta/components/Blocks/VideoBlock/index.tsx
Due: web, web-beta

Fix(web): modification by feedback
  web/src/beta/components/SwitchButtonList/index.tsx
Due: web, web-beta

Fix(web): modification by feedback
  web/src/beta/components/Icon/Icons/audio.svg
  web/src/beta/components/Icon/Icons/buttonBlock.svg
  web/src/beta/components/Icon/Icons/camera.svg
  web/src/beta/components/Icon/Icons/clock.svg
  web/src/beta/components/Icon/Icons/editIcon.svg
  web/src/beta/components/Icon/Icons/mdFile.svg
  web/src/beta/components/Icon/Icons/settings.svg
  web/src/beta/components/Icon/Icons/video.svg
  web/src/beta/components/SettingsButtons/index.stories.tsx
  web/src/beta/components/SettingsButtons/index.tsx
Due: web, web-beta

Fix(web): wrapper added to icon
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web, web-beta

ref-teamId
  web/src/classic/components/molecules/EarthEditor/Header/index.tsx
  web/src/classic/components/organisms/EarthEditor/Header/index.tsx
Due: web, web-classic

Update web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
Due: web, web-classic

ws-condition
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
Due: web, web-classic

fix(web): support with Authentication function support for cognito backend
  web/package.json
  web/src/classic/components/pages/EarthEditor/index.tsx
  web/src/classic/components/pages/Preview/index.tsx
  web/src/classic/components/pages/Settings/Project/Plugin/index.tsx
  web/src/classic/components/pages/Settings/ProjectList/index.tsx
  web/src/services/auth/index.tsx
  web/yarn.lock
Due: web, web-classic, web-beta

fix version in pacakge.json
  web/package.json
Due: web

Fix(web): Modification by feedback
  web/src/beta/components/SettingsButtons/index.tsx
Due: web, web-beta

fix type
  web/src/services/auth/index.tsx
Due: web, web-beta

Fix(web): modification directory
  web/src/beta/components/SwitchButtonList/index.tsx
Due: web, web-beta

Fix(web): modification directory
  web/src/beta/components/SettingsButtons/index.tsx
Due: web, web-beta

chore(server): go mod tidy
  server/go.mod
Due: server

ci: update renovate.json
  .github/renovate.json
Due: none

fix(web): published page infobox issue with selection
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Due: web, web-classic

feat: image-based lighting
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

fix(web): Update CheckboxField component
  web/src/beta/components/CheckboxField/index.tsx
Due: web, web-beta

fix(web): Update SubTabButtonList component
  web/src/beta/components/SubTabButtonList/index.stories.tsx
  web/src/beta/components/SubTabButtonList/index.tsx
Due: web, web-beta

chore(web): Add SidePanelSectionField component (#505)
  web/src/beta/components/Icon/Icons/arrowToggle.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/SidePanelSectionField/index.stories.tsx
  web/src/beta/components/SidePanelSectionField/index.tsx
Due: web, web-beta

feat(web): add option to disable default PBR to 3dtiles and model features in NLS
  web/src/beta/lib/core/engines/Cesium/CustomShaders/NonPBRLightingShader.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Due: web, web-beta

Chore(web): Add StorytellingPageSectionItem (#495)
  web/src/beta/components/Icon/Icons/square.svg
  web/src/beta/components/Icon/Icons/two-rectangle.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/StorytellingPageSectionItem/index.stories.tsx
  web/src/beta/components/StorytellingPageSectionItem/index.tsx
Due: web, web-beta

chore(web):fix typing for window in beta
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
Due: web, web-beta

fix
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
Due: web, web-beta

fix(web): wrong workspace when sharing link (#506)
  web/src/beta/features/Navbar/hooks.ts
  web/src/classic/components/molecules/EarthEditor/Header/index.tsx
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/index.tsx
Due: web, web-classic, web-beta

Fix(web): Modification by feedback
  web/src/beta/components/InsertionButton/index.tsx
Due: web, web-beta

Fix(web): Modification by feedback
  web/src/beta/components/SwitchButtonList/index.tsx
Due: web, web-beta

fix(web): typing for window in beta (#518)
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
Due: web, web-beta

feat(web): add an option to disable default PBR to 3dtiles and model features in NLS (#517)
  web/src/beta/lib/core/engines/Cesium/CustomShaders/NonPBRLightingShader.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Due: web, web-beta
