Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

web changes
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-classic, web-beta

value type update
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

type fix
  web/src/beta/lib/core/mantle/types/value.ts
Due: web, web-beta

fix
  server/pkg/plugin/manifest/convert.go
  server/pkg/plugin/manifest/schema_gen.go
Due: server

chore(server, web): add collection to property schemaGroup (#764)
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/plugin/manifest/convert.go
  server/pkg/plugin/manifest/convert_test.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/plugin/manifest/schema_translation.go
  server/pkg/property/schema_group.go
  server/pkg/property/schema_group_builder.go
  server/pkg/property/schema_group_test.go
  server/schemas/plugin_manifest.json
  web/src/beta/lib/core/mantle/types/value.ts
  web/src/beta/utils/value.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/property.ts
Due: web, web-classic, web-beta, web-utils, server

fix add layer name behaviour for wms and mvt
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/hooks.ts
Due: web, web-beta

chore: fix delete last page doesn't refresh the right panel (#771)
  web/src/beta/features/Editor/Settings/hooks.ts
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
Due: web, web-beta

comment fix
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
Due: web, web-beta

beta normal publishing
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/utils/use-core.ts
Due: web, web-beta, web-utils

chore(server): add layerStyles to publishing
  server/e2e/gql_storytelling_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/layerStyle.go
  server/pkg/scene/builder/scene.go
Due: server

chore(web): update layer title default value in beta and update add layerName behaviour for mvt & wms (#706)
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/hooks.ts
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
Due: web, web-beta

pr-fix4
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/utils/util.ts
Due: web, web-beta, web-utils

chore: fix page title empty string (#762)
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/utils/util.ts
Due: web, web-beta, web-utils

chore(server): add layerStyles to publishing (#772)
  server/e2e/gql_storytelling_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/layerStyle.go
  server/pkg/scene/builder/scene.go
Due: server

add layerStyle support
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
Due: web, web-beta

add story position support
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/beta/lib/core/Visualizer/index.tsx
Due: web, web-beta

fix layer deletion
  web/src/beta/features/Editor/useLayers.ts
Due: web, web-beta

fix layer selecting when changing visibiliity
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
Due: web, web-beta

regen i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

asset modal buttons wrong order
  web/src/beta/features/Modals/AssetModal/index.tsx
Due: web, web-beta

chore(web): beta publishing (#744)
  server/pkg/builtin/manifest.yml
  web/src/beta/components/Button/index.tsx
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/components/NotFound/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/features/PublishedVisualizer/ga.ts
  web/src/beta/features/PublishedVisualizer/ga4.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/features/PublishedVisualizer/useGA.ts
  web/src/beta/hooks/index.ts
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/utils/published.ts
  web/src/beta/utils/use-core.ts
  web/src/publishedapp.tsx
  web/src/services/api/storytellingApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/darkTheme/index.ts
Due: web, web-beta, web-utils, server

- No map
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/utils/value.ts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, web-utils

pr-fix2
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta

chore(server): add play mode to timeline setting in manifest
  server/pkg/builtin/manifest.yml
Due: server

chore(server): add play mode to timeline setting in manifest (#773)
  server/pkg/builtin/manifest.yml
Due: server

pr-final
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useScene.ts
  web/src/services/api/propertyApi/utils.ts
Due: web, web-beta

remove clickaway and add double click in block
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Due: web, web-beta

wip storytelling publishing
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
  web/src/beta/features/Editor/useSecondaryNavbar.tsx
  web/src/services/api/storytellingApi/utils.ts
Due: web, web-beta

chore-backend:Add story background setting
  server/pkg/builtin/manifest.yml
Due: server

chore-FE:Add story background setting
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
Due: web, web-beta

improve the translation
  web/src/beta/components/fields/TimelineField/EditPanel/index.tsx
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): Timeline field (#768)
  web/src/beta/components/fields/TimelineField/EditPanel/hooks.ts
  web/src/beta/components/fields/TimelineField/EditPanel/index.tsx
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): fix mvt layer behaviour
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
Due: web, web-beta

pr- fix1
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
Due: web, web-beta

pr-fix2
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
Due: web, web-beta

chore(web): czml and kml local not working
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
Due: web, web-beta

chore(web): fix local name is random when added through asset
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
Due: web, web-beta

chore(web): add consistency to react imports
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Portal/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/lib/lexical/RichTextEditor/ui/DropDown.tsx
Due: web, web-beta

chore(web): add consistency to react imports (#778)
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Portal/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/lib/lexical/RichTextEditor/ui/DropDown.tsx
Due: web, web-beta

chore(web): fix mvt layer behaviour (#780)
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
