Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

feat(web): add manage layer example (#1362)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
Due: web, web-beta

Update package.json
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.2.1 (#1363)
  web/package.json
Due: web

review fix
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
Due: web, web-beta

v1.0.0-beta.2.1
  CHANGELOG.md
Due: none

add functionalities
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/hideFlyToDeleteLayer.ts
Due: web, web-beta

feat(web): update story custom domain extension (#1361)
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/config/extensions.ts
Due: web, web-beta

feat: reset visualizer when plugin is executed
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

fix: refactor function to reset visualizer
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

refactor: reset camera
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
Due: web, web-beta

improve layer ui rendering
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
Due: web, web-beta

feat(web): reset visualizer when plugin is executed (#1364)
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

create file and structure
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

test
  go.work.sum
  server/go.mod
  server/go.sum
  server/pkg/layer/decoding/geojson.go
  server/pkg/layer/encoding/geojson.go
  server/pkg/layer/encoding/geojson_test.go
Due: server

feat: add example of google photorealistic 3d tiles
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

test
  server/go.mod
  server/go.sum
  server/pkg/layer/decoding/geojson.go
  server/pkg/layer/encoding/geojson.go
  server/pkg/layer/encoding/geojson_test.go
Due: server

feat: add google photorealistic 3d tiles example code
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

refactor: edit a comment
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

refactor: delete no needed space
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

test
  server/go.mod
  server/go.sum
  server/pkg/layer/encoding/geojson_test.go
Due: server

fix: review from piyush
  server/internal/app/graphql.go
  server/pkg/verror/verror.go
Due: server

create first draft
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
Due: web, web-beta

fix: delete comment
  server/internal/app/graphql.go
  server/internal/app/lang.go
  server/pkg/verror/verror.go
Due: server

refactor(server): return detailed error by lang (#1342)
  server/.air.toml
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_workspace_test.go
  server/internal/adapter/context.go
  server/internal/adapter/context_test.go
  server/internal/app/app.go
  server/internal/app/graphql.go
  server/internal/app/graphql_test.go
  server/internal/app/i18n/locales/errmsg/en.json
  server/internal/app/i18n/locales/errmsg/ja.json
  server/internal/app/i18n/message/errmsg/errmsg_generated.go
  server/internal/app/i18n/message/messageg.go
  server/internal/app/lang.go
  server/internal/app/lang_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/container_errkey_test.go
  server/pkg/i18n/gen/entitymsg/gen.go
  server/pkg/i18n/gen/errmsg/gen.go
  server/pkg/i18n/locales.go
  server/pkg/i18n/locales/entitymsg/en.json
  server/pkg/i18n/locales/entitymsg/ja.json
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/i18n/message/message.go
  server/pkg/project/project.go
  server/pkg/project/project_errkey_test.go
  server/pkg/verror/verror.go
  server/pkg/verror/verror_test.go
Due: server

fix: review from coderabbitai
  web/src/beta/features/Notification/hooks.ts
  web/src/services/gql/provider/links/langLink.ts
Due: web, web-beta

fix: review from coderabbitai
  web/src/beta/features/Notification/hooks.ts
Due: web, web-beta

fix: extension event & example code
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
Due: web, web-beta

refactor(web): display errors msg got from be (#1343)
  web/src/beta/features/Notification/hooks.ts
  web/src/sentry.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/provider/links/errorLink.ts
  web/src/services/gql/provider/links/langLink.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/gqlErrorHandling.ts
  web/src/services/state/index.ts
Due: web, web-beta

reset changes
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
Due: web, web-beta

improve functionality to avoid warnings
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/ui/fields/CameraField/hooks.ts
Due: web, web-beta

improvements
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
Due: web, web-beta

fix: correct var name
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
Due: web, web-beta

refactor: layerid param & plugin title
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
Due: web, web-beta

refactor: format code
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
Due: web, web-beta

feat(web): add hide flyto and delete layer plugin example (#1365)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
Due: web, web-beta

refactor: change camera location
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

update reearth/orb
  server/go.mod
  server/go.sum
  server/pkg/layer/decoding/geojson.go
  server/pkg/layer/encoding/geojson.go
Due: server

remove unused
  go.work.sum
  server/pkg/layer/encoding/geojson.go
Due: server

fix coderabbitai
  server/pkg/layer/decoding/geojson.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
