Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

refactor: add description to ui2Ext plugin, change namings for ext2ext plugin
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/uiExtensionMessenger.ts
Due: web, web-beta

chore(web): support create initial camera with Edit panel (#1356)
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/CameraField/hooks.ts
Due: web, web-beta

refactor: edit id name
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

refactor: add comma
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Due: web, web-beta

refactor: update code per review
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
Due: web, web-beta

fix custom domain
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/config/extensions.ts
Due: web, web-beta

refactor(web): improve exit story block edit mode (#1347)
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
Due: web, web-beta

feat(web): add playground example google 3d tiles (#1368)
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
Due: web, web-beta

feat: add example of show selected features info
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

Update README.md
  README.md
Due: none

fix(web): custom domain form (#1369)
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/config/extensions.ts
Due: web, web-beta

feat(web): plugin playground presets extension to extension messenger (#1367)
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
Due: web, web-beta

add valid logic
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/pkg/layer/decoding/geojson.go
  server/pkg/layer/decoding/geojson_test.go
Due: server

add test case
  server/pkg/layer/decoding/geojson_test.go
Due: none

add Feature
  server/pkg/layer/decoding/geojson.go
  server/pkg/layer/decoding/geojson_test.go
Due: server

fix lint
  server/pkg/layer/decoding/geojson.go
Due: server

fix lint
  server/internal/usecase/interactor/nlslayer_test.go
Due: none

move ValidateGeoJSONFeatureCollection
  server/internal/usecase/interactor/nlslayer.go
  server/pkg/layer/decoding/geojson.go
Due: server

feat: add example code
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

move to e2e
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_validate_geojson_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/pkg/layer/decoding/geojson_test.go
Due: server

fix test error
  server/e2e/gql_validate_geojson_test.go
Due: none

remove comment
  server/e2e/gql_validate_geojson_test.go
Due: none

remove comment
  server/e2e/common.go
Due: server

feat(server): addlayer geojson validate (#1371)
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_validate_geojson_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
Due: server

change paulmach/go.geojson -> github.com/reearth/orb
  server/internal/usecase/interactor/nlslayer.go
Due: server

chore(server): fack gcs server for local development
  docker-compose.yml
  server/.env.example
  server/Makefile
  server/README.md
Due: server

fix: review
  server/.env.example
Due: server

fix test error
  server/e2e/gql_validate_geojson_test.go
  server/internal/usecase/interactor/nlslayer.go
Due: server

refactor: create UI
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

chore: upgrade reearth core
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade reearth core to 0.0.7-alpha.27 (#1373)
  web/package.json
  web/yarn.lock
Due: web

Update package.json
  web/package.json
Due: web

chore(web): update package version to 1.0.0-beta.2.2 (#1374)
  web/package.json
Due: web

refactor: add script
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

refactor: fix UI desgin
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

refactor: add help comment in script
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

feat(server): update geojson custom library (#1366)
  go.work.sum
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_validate_geojson_test.go
  server/go.mod
  server/go.sum
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/pkg/layer/decoding/geojson.go
  server/pkg/layer/encoding/geojson.go
  server/pkg/layer/encoding/geojson_test.go
Due: server

add MultiLineString Valid
  server/internal/usecase/interactor/nlslayer.go
Due: server

refactor: delete widgetLayout due to not to use location info in this example
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
