Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

test
  go.work.sum
  server/internal/app/file_uploader.go
Due: server

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(web): update code owner of e2e (#1561)
  .github/CODEOWNERS
Due: none

chore(web): QA Automation Framework (#1559)
  .github/workflows/dev-test-run.yml
  web/e2e/playwright-tests/.gitignore
  web/e2e/playwright-tests/README.md
  web/e2e/playwright-tests/env.example
  web/e2e/playwright-tests/package-lock.json
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/pages/dashBoardPage.ts
  web/e2e/playwright-tests/pages/loginPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/login.spec.ts
  web/e2e/playwright-tests/tsconfig.json
  web/e2e/playwright-tests/utils.ts
  web/eslint.config.mjs
  web/tsconfig.json
Due: web

chore(qa-web): fixing qa pipeline
  web/e2e/playwright-tests/playwright.config.ts
Due: web

chore(qa-web): fixing qa pipeline
  .github/workflows/dev-test-run.yml
Due: none

chore(qa-web): fixing qa pipeline (#1562)
  .github/workflows/dev-test-run.yml
  web/e2e/playwright-tests/playwright.config.ts
Due: web

chore(qa-web):Update dev-test-run.yml
  .github/workflows/dev-test-run.yml
Due: none

chore(qa-web): add missing dependecies
  .github/workflows/dev-test-run.yml
Due: none

chore(qa-web): add missing dependecies
  .github/workflows/dev-test-run.yml
  web/e2e/playwright-tests/tests/login.spec.ts
Due: web

chore(qa-web): update dev-test-run.yml (#1563)
  .github/workflows/dev-test-run.yml
  web/e2e/playwright-tests/tests/login.spec.ts
Due: web

update alias clean
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(web): auth session persistence after logout when using browser back button [VIZ-1486] (#1554)
  web/src/services/auth/auth0Auth.ts
Due: web, web-beta

test: add tests for AssetField and CameraField
  web/src/beta/ui/fields/AssetField/index.test.tsx
  web/src/beta/ui/fields/CameraField/index.test.tsx
Due: none

Add public projects support
  server/e2e/gql_asset_test.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/gql_validate_geojson_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
Due: server

fix(server): revert sort logic [VIZ-1423] (#1528)
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_property_schema_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/infrastructure/mongo/migration/221028204300_move_terrain_properties_test.go
  server/pkg/builtin/main.go
  server/pkg/property/group.go
  server/pkg/property/property_test.go
  server/pkg/property/schema_group.go
Due: server

check validtion
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
Due: web, web-beta

make comment improvement
  web/src/beta/features/Editor/Publish/PublishToolsPanel/common.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(server): add windows batch [VIZ-1468] (#1544)
  README.md
  server/Makefile
  server/dev.bat
Due: server

remove unused logic
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
Due: web, web-beta

fix: amend props leading to react warnings
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Due: web, web-beta

fix(server): use epsilon comparison [VIZ-1488] (#1548)
  server/internal/usecase/interactor/nlslayer.go
Due: server

fix: add test for list item and fix issue with unknown props
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/fields/ListField/index.test.tsx
Due: web, web-beta

fix: amend test case for AssetField and useForwardRef error
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/ui/fields/AssetField/index.test.tsx
Due: web, web-beta

fix: add test for Properties component
  web/src/beta/ui/fields/Properties/index.test.tsx
Due: none

fix: amend warning on Properties unit test
  web/src/beta/ui/fields/Properties/index.test.tsx
Due: none

fix: add test for TimePointField component
  web/src/beta/ui/fields/TimePointField/index.test.tsx
Due: none

test: add test for ZoomLevelField component
  web/src/beta/ui/fields/ZoomLevelField/index.test.tsx
Due: none

test: add CheckBoxField unit test
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.tsx
  web/src/beta/ui/fields/CheckBoxField/index.test.tsx
  web/src/beta/ui/fields/CheckBoxField/index.tsx
  web/src/beta/ui/fields/index.ts
Due: web, web-beta

improve import project
  web/src/app.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/utils/file.ts
  web/src/services/restful/index.tsx
Due: web, web-beta, web-utils

improve translation
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

change check alias validit query
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/services/api/projectApi.ts
Due: web, web-beta

improve trnaslation and logics
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

test: add test for CodeField component
  web/src/beta/ui/fields/CodeField/index.test.tsx
  web/src/beta/ui/fields/CodeField/index.tsx
Due: web, web-beta

fix: type issue
  web/src/beta/ui/fields/CodeField/index.test.tsx
Due: none

test: add unit test for ColorField component
  web/src/beta/ui/fields/ColorField/index.test.tsx
  web/src/beta/ui/fields/ColorField/index.tsx
Due: web, web-beta

test: add unit test for CommonField component
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/index.tsx
  web/src/beta/ui/fields/CommonField/index.test.tsx
  web/src/beta/ui/fields/CommonField/index.tsx
  web/src/beta/ui/fields/ZoomLevelField/index.tsx
Due: web, web-beta

test: add unit test for NumberField
  web/src/beta/ui/fields/NumberField/index.test.tsx
  web/src/beta/ui/fields/NumberField/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
