Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

v1.0.0-beta.13.0
  CHANGELOG.md
Due: none

refactring auth logic
  go.work.sum
  server/.env.docker
  server/Makefile
  server/README.md
  server/go.mod
  server/go.sum
  server/gql/user.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/auth_client_test.go
  server/internal/app/auth_server.go
  server/internal/app/auth_server_test.go
  server/internal/app/public.go
Due: server

reeart x fix
  server/e2e/common.go
  server/internal/app/auth_client.go
Due: server

test fix
  server/e2e/gql_user_test.go
Due: none

Ensures consistent secondary sort by `_id` across queries
  server/internal/infrastructure/mongo/project.go
Due: server

fix: add test
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

Fix inconsistent sort order handling in MongoDB queries
  server/internal/infrastructure/mongo/project.go
Due: server

fix: amend sort issue
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

fix: fix test
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

fix: add more thorough tests
  server/internal/infrastructure/mongo/project_test.go
Due: none

Add tests for project sorting by star count and updated timestamps
  server/internal/infrastructure/mongo/project_test.go
Due: none

fix: format test file
  server/internal/infrastructure/mongo/project_test.go
Due: none

Improves pagination logic and test coverage
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

Refines pagination logic and simplifies tests
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

Removes extraneous whitespace in test assertions
  server/internal/infrastructure/mongo/project_test.go
Due: none

fix: amend test
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

feat(server): refactoring auth logic (#1924)
  go.work.sum
  server/.env.docker
  server/Makefile
  server/README.md
  server/e2e/common.go
  server/e2e/gql_user_test.go
  server/go.mod
  server/go.sum
  server/gql/user.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/auth_client_test.go
  server/internal/app/auth_server.go
  server/internal/app/auth_server_test.go
  server/internal/app/public.go
Due: server

fix(server): add secondary sort by `_id` across query for GetAllProjects (#1925)
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Due: server

chore(ci): add enforce checklist ci
  .github/pull_request_template.md
  .github/workflows/enforce_checklist.yml
Due: none

Update .github/workflows/enforce_checklist.yml
  .github/workflows/enforce_checklist.yml
Due: none

fix: ci script
  .github/workflows/enforce_checklist.yml
Due: none

refactor: keep interface and previous behavior regarding tablet
  web/src/app/utils/device.ts
Due: web

refactor(web): replace ua-parser-js with bowser (#1927)
  web/package.json
  web/src/app/utils/device.ts
  web/yarn.lock
Due: web

chore(ci): add enforce checklist ci (#1926)
  .github/pull_request_template.md
  .github/workflows/enforce_checklist.yml
Due: none

set mongo replica
  docker-compose.dev.yml
  mongo-init.js
  server/Makefile
Due: server

test
  docker-compose.dev.yml
Due: none

test
  server/e2e/common.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/http/user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/grpc.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interfaces/common.go
Due: server

test
  go.work.sum
  server/.env.docker
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/internal/adapter/http/user.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/grpc.go
  server/internal/app/public.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/infrastructure/memory/accounts_user.go
  server/internal/usecase/interfaces/common.go
Due: server

chore(web): bump up version to 1.0.0-beta.13.1
  web/package.json
Due: web

chore(web): bump up version to 1.0.0-beta.13.1 (#1929)
  web/package.json
Due: web

test
  mongo-init.js
  server/.env.docker
Due: server

v1.0.0-beta.13.1
  CHANGELOG.md
Due: none

directc onnection true
  docker-compose.dev.yml
  mongo-init.js
  server/.env.docker
  server/Makefile
Due: server

chore(server): change mogo replica setting (#1930)
  docker-compose.dev.yml
  mongo-init.js
  server/.env.docker
  server/Makefile
Due: server

test
  server/.env.docker
  server/e2e/common.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/internal/adapter/http/user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/grpc.go
  server/internal/app/public.go
  server/internal/app/repo.go
  server/internal/app/server.go
  server/internal/app/usecase.go
  server/internal/infrastructure/memory/accounts_user.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interfaces/common.go
Due: server

test
  server/go.mod
  server/go.sum
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/testutil/factory/user.go
  server/internal/testutil/factory/workspace.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/policy.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/container.go
Due: server
