Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

feat(server): Add Public Projects Support[VIZ-1481] [VIZ-1480] (#1573)
  server/e2e/gql_asset_test.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_property_schema_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/gql_validate_geojson_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
Due: server

Internal API for Viz
  server/.env.example
  server/Makefile
  server/e2e/common.go
  server/e2e/proto_project_test.go
  server/e2e/seeder.go
  server/go.mod
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/internalapi/internalapimodel/project.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/grpc.go
  server/internal/app/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/v1/schema.proto
Due: server

modify comment
  server/e2e/proto_project_test.go
Due: none

add unit test for import project
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/utils/file.ts
  web/src/services/api/projectApi/index.test.tsx
  web/src/services/api/projectApi/index.ts
Due: web, web-beta, web-utils

update test cases
  web/src/services/api/projectApi/index.test.tsx
Due: none

change success msg
  web/src/services/api/projectApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

chore(web): implement breadrumb
  web/src/beta/lib/reearth-ui/components/Breadcrumb/index.tsx
Due: web, web-beta

test: add unit test to CodeInput component
  web/src/beta/lib/reearth-ui/components/CodeInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/test/utils.tsx
Due: web, web-beta

test: refactor test to CodeInput
  web/src/beta/lib/reearth-ui/components/CodeInput/index.test.tsx
Due: none

test: add test for collapse component
  web/src/beta/lib/reearth-ui/components/Collapse/index.test.tsx
Due: none

test: add unit tests to color component
  web/src/beta/lib/reearth-ui/components/ColorInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/test/utils.tsx
Due: web, web-beta

test: add unit test to date picker component
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.test.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
Due: web, web-beta

add unit test for DragAndDropList component
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.test.tsx
Due: none

test: add unit test for icon component
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.test.tsx
Due: none

test: add unit test for icon button component
  web/src/beta/lib/reearth-ui/components/IconButton/index.test.tsx
Due: none

chore(web): implement checkbox
  web/src/beta/lib/reearth-ui/components/CheckBox/index.tsx
Due: web, web-beta

chore(web): implement button
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
Due: web, web-beta

update naming
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/api/projectApi/index.test.tsx
  web/src/services/api/projectApi/index.ts
Due: web, web-beta

fix: add unit test for loading component
  web/src/beta/lib/reearth-ui/components/Loading/index.test.tsx
Due: none

test: update ListField tests to use ThemeProvider with darkTheme
  web/src/beta/ui/fields/ListField/index.test.tsx
Due: none

test: add unit test for Markdown component
  web/src/beta/lib/reearth-ui/components/Markdown/index.test.tsx
Due: none

update alias validation
  server/Makefile
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/storytelling.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/storytelling.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/project.go
  server/internal/usecase/repo/storytelling.go
  server/pkg/alias/check.go
  server/pkg/i18n/locales/entitymsg/en.json
  server/pkg/i18n/locales/entitymsg/ja.json
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_errkey_test.go
  server/pkg/project/project_test.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Due: server

test
  server/internal/usecase/interactor/project_test.go
Due: none

test: remove mocked styled function and use ThemeProvider
  web/src/beta/ui/fields/CameraField/index.test.tsx
  web/src/beta/ui/fields/RadioGroupField/index.test.tsx
  web/src/beta/ui/fields/RangeField/index.test.tsx
  web/src/beta/ui/fields/TimePointField/index.test.tsx
  web/src/beta/ui/fields/TwinInputField/index.test.tsx
  web/src/beta/ui/fields/ZoomLevelField/index.test.tsx
Due: none

refactor: Rename GQL task hooks to API task hooks and update related logic
  web/src/beta/features/CursorStatus/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/projectApi/index.test.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/restful/index.tsx
  web/src/services/state/index.ts
Due: web, web-beta

feat(web): support restful api for split import project [VIZ-1508] (#1570)
  web/src/app.tsx
  web/src/beta/features/CursorStatus/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/api/projectApi/index.test.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/restful/index.tsx
  web/src/services/state/index.ts
Due: web, web-beta

test: fix warning when running tests
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.test.tsx
  web/src/beta/ui/fields/SelectField/index.test.tsx
Due: web, web-beta

test: add unit test for modal component
  web/src/beta/lib/reearth-ui/components/Modal/index.test.tsx
Due: none

test: add unit test for modal panel component
  web/src/beta/lib/reearth-ui/components/ModalPanel/ModalPanel.test.tsx
Due: none

test: add unit test for number input component
  web/src/beta/lib/reearth-ui/components/NumberInput/index.test.tsx
Due: none

chore: remove comments
  web/src/beta/lib/reearth-ui/components/CodeInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.test.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.test.tsx
  web/src/test/utils.tsx
Due: web

refactor: remove default values
  web/src/beta/lib/reearth-ui/components/Breadcrumb/index.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.tsx
Due: web, web-beta

test: add test for panel component
  web/src/beta/lib/reearth-ui/components/Panel/index.test.tsx
Due: none

test: add test for popup component
  web/src/beta/lib/reearth-ui/components/Popup/index.test.tsx
Due: none

test: add test for popup menu component
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.test.tsx
Due: none

test: add test for popup panel component
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.test.tsx
Due: none

test: add test for radio component
  web/src/beta/lib/reearth-ui/components/Radio/index.test.tsx
Due: none

test: add test for radio group component
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.test.tsx
Due: none

test: add test for range slider component
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.test.tsx
Due: none
