Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

refactor: rename property name
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/schema_field_ui.go
  server/schemas/plugin_manifest.json
Due: server

test
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/seeder.go
Due: server

refactor: refactor inputselectfield props
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/InputSelectField.tsx
Due: web, web-beta

improve upload files
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/state/index.ts
Due: web, web-beta

update translation
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): support photooverlay basic functions [VIZ-553] (#1454)
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/PhotoOverlayCollapse.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/PhotoOverlayEditor/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/Map/index.tsx
  web/src/beta/features/Editor/Map/state.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/index.tsx
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/useCamera.ts
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/useSize.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/constaints.ts
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/Panel/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/src/beta/ui/fields/CameraField/CapturePanel.tsx
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/CameraField/hooks.ts
  web/src/beta/ui/fields/CameraField/index.tsx
  web/src/beta/ui/fields/RadioGroupField.tsx
  web/src/beta/ui/fields/index.ts
  web/src/beta/ui/layout/Area/index.tsx
  web/src/beta/utils/camera.ts
  web/src/beta/utils/image.ts
  web/src/beta/utils/sketch.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/zIndex.ts
  web/tailwind.config.js
Due: web, web-beta, web-utils

refactor: use value in field
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/ui/fields/PropertySelectorField.tsx
  web/src/beta/ui/fields/index.ts
Due: web, web-beta

add photooverlay property
  server/e2e/common.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/seeder.go
  server/go.mod
  server/go.sum
  server/gql/_shared.graphql
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/value.go
  server/pkg/property/value_photooverlay.go
  server/schemas/plugin_manifest.json
Due: server

improvements
  web/src/beta/features/AssetsManager/item/AssetGridItem.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/state/index.ts
Due: web, web-beta

refactor(web): connect story GA settings [VIZ-1348] (#1461)
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Due: web, web-beta

fix test error
  server/e2e/gql_workspace_test.go
  server/go.mod
  server/go.sum
  server/pkg/property/value_photooverlay.go
Due: server

feat(web): integrate assets into project [VIZ-540] (#1460)
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/item/AssetGridItem.tsx
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSetting/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileCSV.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileCSV.svg?react
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileCzml.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileGeoJSON.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileKml.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/api/assetsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/asset.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
Due: web, web-beta

revert e2e test
  go.work.sum
  server/e2e/gql_workspace_test.go
  server/go.mod
  server/go.sum
Due: server

feat(web,server): support dropdown to select a property on builtin infobox blocks [VIZ-560] (#1457)
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/schema_field_ui.go
  server/schemas/plugin_manifest.json
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Image/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Text/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useSketchCustomPropertyNames.ts
  web/src/beta/features/Visualizer/Crust/Infobox/index.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/features/Visualizer/shared/types.ts
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/PropertySelectorField.tsx
  web/src/beta/ui/fields/index.ts
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

make header icons sticky to top
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

update t
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: add additional filter for assets on workspace
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
Due: web, web-beta

refactor(web): Update actions base on role & remove inner settings page[VIZ-544] (#1424)
  web/src/beta/features/Dashboard/ContentsContainer/Members/AddMemberModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/DeleteMemberWarningModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/UpdateRoleModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
  web/src/beta/hooks/useAccountSettingsTabs.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/routing/index.tsx
Due: web, web-beta

refactor(web): hide assets with projectId on workspace asset page [VIZ-1356] (#1464)
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
Due: web, web-beta

fix: disable scroll on iframe
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
Due: web, web-beta

refactor: clean up
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.test.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/useIFrame.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.ts
Due: web, web-beta

make header icons sticky to top, set scroll to left column
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

fix(web): plugin iframe resize issue [VIZ-451] (#1466)
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.test.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/useIFrame.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
Due: web, web-beta

fix overflow x and title overflow issue
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
Due: web, web-beta

update
  server/go.mod
Due: server

fix: map empty tab to general
  web/src/beta/pages/ProjectSettingsPage/index.tsx
Due: web, web-beta

refactor: add assets page link to menu
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: add export project to menu
  web/src/beta/features/Navbar/LeftSection/index.tsx
Due: web, web-beta

fix(web): project general settings page missing (#1467)
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add min width to viewer area
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
Due: web, web-beta

bug fix
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/property_schema.go
  server/internal/usecase/interactor/storytelling.go
Due: server

fix layer bug
  server/internal/usecase/interactor/storytelling.go
Due: server

test
  aaa.json
Due: none

ccc
  aaa.json
Due: none

fix: add min-width to viewer in plugin playground
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
Due: web, web-beta

bug fix
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/property_schema.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/style.go
Due: server

change icon button style
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
