Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

feat(web): support display workspace avatar [VIZ-2311] (#1904)
  web/src/app/features/Dashboard/LeftSidePanel/Profile.tsx
  web/src/app/features/Dashboard/LeftSidePanel/index.tsx
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/Dashboard/index.tsx
  web/src/app/features/Dashboard/type.ts
  web/src/app/features/Navbar/LeftSection/Profile/index.tsx
  web/src/app/features/Navbar/types.ts
  web/src/app/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/app/utils/url.test.ts
  web/src/app/utils/url.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/user.ts
Due: web, web-beta

WIP: 7f18db29 Merge branch 'main' into feat/handle-topic-deletion
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project_metadata.go
  server/internal/usecase/interfaces/project_metadata.go
Due: server

add workspace check
  server/internal/adapter/internalapi/server.go
Due: server

fix: amend test
  server/internal/usecase/interactor/project_metadata_test.go
Due: none

chore: upgrade reearth/core to 0.0.7-alpha.47
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade reearth/core to 0.0.7-alpha.47 (#1906)
  web/package.json
  web/yarn.lock
Due: web

Refactors project metadata methods for consistency and clarity
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project_metadata.go
  server/internal/usecase/interactor/project_metadata_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/project_metadata.go
Due: server

remove unrequired logic
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project_metadata.go
  server/internal/usecase/interactor/project_metadata_test.go
  server/internal/usecase/interfaces/project_metadata.go
Due: server

fix: remove comment
  server/internal/usecase/interactor/project_metadata_test.go
Due: none

fix(server): allow user to star project belonging to another user (#1905)
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project_metadata.go
  server/internal/usecase/interactor/project_metadata_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/project_metadata.go
Due: server

allow storage event. api
  server/internal/app/file_import_common.go
Due: server

feat(server): allow storage event. api (#1907)
  server/internal/app/file_import_common.go
Due: server

chore(server): Add license scan report and status (#1647)
  README.md
Due: none

chore: upgrade reearth core to 0.0.7-alpha.48
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade reearth/core to 0.0.7-alpha.48 (#1908)
  web/package.json
  web/yarn.lock
Due: web

skip authentication for pubsub
  server/internal/app/app.go
Due: server

chore(server): update reearth-accounts pkg to get correct workspace photoURL
  server/go.mod
  server/go.sum
Due: server

chore(server): update reearth-accounts pkg to get correct workspace p… (#1910)
  server/go.mod
  server/go.sum
Due: server

feat(server): skip authentication for pubsub (#1909)
  server/internal/app/app.go
Due: server

chore: upgrade dependencies
  web/package.json
  web/src/app/lib/lexical/RichTextEditor/index.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/FloatingLinkEditorPlugin/index.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/ToolbarPlugin.tsx
  web/src/app/lib/reearth-ui/components/CodeInput/index.test.tsx
  web/src/app/lib/reearth-ui/components/DatePicker/index.test.tsx
  web/src/app/lib/reearth-ui/components/IconButton/index.test.tsx
  web/src/app/lib/reearth-ui/components/TimePicker/index.test.tsx
  web/src/app/ui/fields/ListField/index.test.tsx
  web/src/app/utils/file.test.ts
  web/src/app/utils/image.test.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/config/aws.ts
  web/src/test/setup.ts
  web/vite.config.ts
  web/yarn.lock
Due: web, web-beta

fix: lint issues
  web/src/app/lib/reearth-ui/components/DatePicker/index.test.tsx
  web/src/services/api/widget/useWidgetQueries.ts
  web/src/services/auth/cognitoAuth.ts
Due: web, web-beta

remove incorrect config
  web/vite.config.ts
Due: web

Update web/src/services/config/aws.ts
  web/src/services/config/aws.ts
Due: web, web-beta

chore: remove duplicate mock definition
  web/src/app/ui/fields/ListField/index.test.tsx
Due: none

refactor: add back region
  web/src/services/config/aws.ts
Due: web, web-beta

chore(web): upgrade dependencies (#1911)
  web/package.json
  web/src/app/lib/lexical/RichTextEditor/index.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/FloatingLinkEditorPlugin/index.tsx
  web/src/app/lib/lexical/RichTextEditor/plugins/ToolbarPlugin.tsx
  web/src/app/lib/reearth-ui/components/CodeInput/index.test.tsx
  web/src/app/lib/reearth-ui/components/DatePicker/index.test.tsx
  web/src/app/lib/reearth-ui/components/IconButton/index.test.tsx
  web/src/app/lib/reearth-ui/components/TimePicker/index.test.tsx
  web/src/app/ui/fields/ListField/index.test.tsx
  web/src/app/utils/file.test.ts
  web/src/app/utils/image.test.ts
  web/src/services/api/widget/useWidgetQueries.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/config/aws.ts
  web/src/test/setup.ts
  web/vite.config.ts
  web/yarn.lock
Due: web, web-beta

test: fixes
  e2e/global-setup.ts
  e2e/pages/loginPage.ts
  e2e/pages/projectScreenPage.ts
  e2e/playwright.config.ts
  e2e/tests/projects.spec.ts
Due: none

fix: persist updated_at when project is starred
  server/internal/usecase/interactor/project_metadata.go
Due: server

updated gitignore
  e2e/.gitignore
Due: none

removed networkidle
  e2e/global-setup.ts
Due: none

reverted back to webkit
  e2e/global-setup.ts
  e2e/playwright.config.ts
Due: none

fix networkidel issue with webkit
  e2e/tests/dashboard.spec.ts
  e2e/tests/projects.spec.ts
Due: none

google IAP set to false for visualizer
  e2e/global-setup.ts
Due: none

google IAP set to false for visualizer
  .github/workflows/playwright_ui_tests.yml
Due: none

fix1google IAP set to false for visualizer
  e2e/global-setup.ts
Due: none

fixes login flow when IAP is disabled
  .github/workflows/playwright_ui_tests.yml
  e2e/pages/loginPage.ts
Due: none

fix(server): preserve updated_at when project is starred (#1912)
  server/internal/usecase/interactor/project_metadata.go
Due: server

Disable IAP authentication for UI tests
  .github/workflows/playwright_ui_tests.yml
Due: none

storage space fix and disable Google IAP auth for E2E tests
  .github/workflows/playwright_ui_tests.yml
  e2e/.gitignore
  e2e/global-setup.ts
Due: none

chore(server): add service name on accounts request header
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/adapter/accounts/auth_transport.go
  server/pkg/property/initializer_gen.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
