Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

chore: format ignore i18n
  web/.prettierignore
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

delete and refactor componenta
  web/src/beta/components/CatalogCard/index.stories.tsx
  web/src/beta/components/CatalogCard/index.tsx
  web/src/beta/components/ContentPicker/README.md
  web/src/beta/components/ContentPicker/index.stories.tsx
  web/src/beta/components/ContentPicker/index.tsx
  web/src/beta/components/Divider/index.stories.tsx
  web/src/beta/components/Divider/index.tsx
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/DragAndDropList/index.stories.tsx
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/DragAndDropList/scrollItem.tsx
  web/src/beta/components/Filled/index.ts
  web/src/beta/components/InsertionButton/index.stories.tsx
  web/src/beta/components/InsertionButton/index.tsx
  web/src/beta/components/ListItem/index.stories.tsx
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/Modal/index.stories.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/components/PopoverMenuContent/index.stories.tsx
  web/src/beta/components/PopoverMenuContent/index.tsx
  web/src/beta/components/fields/TextField/index.stories.tsx
  web/src/beta/components/fields/TextField/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.stories.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/beta/components/fields/common/PanelCommon.tsx
  web/src/beta/features/Editor/Story/TempContentStory/Action/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/Action/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/PageItemWrapper/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/PageItemWrapper/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/index.tsx
  web/src/beta/features/Editor/Visualizer/type.ts
  web/src/beta/features/Modals/LayerStyleModal/hooks.ts
  web/src/beta/features/Modals/LayerStyleModal/index.tsx
  web/src/beta/features/Notification/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginInstallCardButton.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/ScaleList.tsx
  web/src/beta/pages/AccountSettingsPage/index.tsx
  web/src/beta/pages/GraphQLPlayground/index.tsx
Due: web, web-beta

ci: remove slack notification job for e2e (#1060)
  .github/workflows/e2e.yml
Due: none

sorting of update is not working
  server/internal/adapter/gql/gqlmodel/convert_project.go
Due: server

add test code
  server/e2e/gql_project_test.go
Due: none

fix(server): sorting of update is not working (#1114)
  server/e2e/gql_project_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
Due: server

add Enforce function
  server/Makefile
  server/gql/workspace.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/memory/nlslayer.go
  server/internal/infrastructure/mongo/migration/240822180133_update_policy_enforcement.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/config.go
  server/internal/infrastructure/mongo/mongodoc/policy.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/nlslayer.go
  server/pkg/config/config.go
  server/pkg/policy/policy.go
  server/pkg/policy/policy_test.go
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, server

refactor: remove dev mode & add default url in local .env
  web/.env.local
  web/e2e/utils/config.ts
  web/src/services/config/index.ts
Due: web, web-beta

chore: add back the ion token url
  web/.env.local
Due: web

chore: update readme
  web/README.md
Due: web

feat: add builtin infobox video and markdown block
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  server/schemas/plugin_manifest.json
  web/package.json
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useExpressionEval.ts
  web/src/beta/features/Visualizer/Crust/Infobox/constants.ts
  web/yarn.lock
Due: web, web-beta, server

refactor: add ja translation
  server/pkg/builtin/manifest_ja.yml
Due: server

refactor: better readability
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useExpressionEval.ts
Due: web, web-beta

refactor: component style
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
Due: web, web-beta

magration was not needed
  server/internal/infrastructure/mongo/migration/240822180133_update_policy_enforcement.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

chore(web): update web README.md and local env (#1078)
  web/.env.local
  web/.gitignore
  web/README.md
  web/e2e/utils/config.ts
  web/src/services/config/index.ts
Due: web, web-beta

fix typo
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/ScaleList.tsx
Due: web, web-beta

translatin
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

add starred project query
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

fix: avoid using .env.local as the filename
  web/.env.example
Due: web

chore(web): avoid using .env.local as the filename for example .env (#1119)
  web/.env.example
Due: web

improve project in dashboard
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

fix text wraper
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
Due: web, web-beta

fix transalation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

remove temporary coding
  server/internal/app/auth_client.go
Due: server

fix: revert trigger update on each render
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useExpressionEval.ts
Due: web, web-beta

feat(web): builtin infobox video and markdown block (#1117)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  server/schemas/plugin_manifest.json
  web/package.json
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/fields/CameraField/CapturePanel/index.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Image/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useExpressionEval.ts
  web/src/beta/features/Visualizer/Crust/Infobox/constants.ts
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.stories.tsx
  web/src/beta/pages/Dashboard/index.tsx
  web/src/beta/pages/EditorPage/index.tsx
  web/src/beta/pages/PluginPlaygroundPage/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/yarn.lock
Due: web, web-beta, server

refactor: remove clear cache
  web/src/services/api/projectApi.ts
Due: web, web-beta

updated UI
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerEmptyContent.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
Due: web, web-beta

fix translation
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix padding
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
Due: web, web-beta

refactor(web): dashboard's starred project (#1120)
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/CaretDoubleUp.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Lock.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Notebook.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/plugin.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/switch.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/components/ManagerBase/ManagerEmptyContent.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: loading ui & do format
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/fields/CameraField/CapturePanel/index.tsx
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useExpressionEval.ts
  web/src/beta/features/Visualizer/Crust/Infobox/constants.ts
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.stories.tsx
  web/src/beta/pages/Dashboard/index.tsx
  web/src/beta/pages/EditorPage/index.tsx
  web/src/beta/pages/PluginPlaygroundPage/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerEmptyContent.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

refactor: check for null
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/services/api/projectApi.ts
Due: web, web-beta

refactor: loading ui
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
Due: web, web-beta

chore: format
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/services/api/projectApi.ts
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
