Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix(deps): update @reearth/core to version 0.0.7-alpha.40
  web/package.json
  web/yarn.lock
Due: web

fix(web): 3dtiles feature color update incorrectly when apply new style on selected feature (#1762)
  web/package.json
  web/yarn.lock
Due: web

feat(server): adjust visibility handling [VIZ-2110] (#1757)
  server/e2e/gql_project_test.go
  server/e2e/proto_project_user_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_uploader.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
Due: server

fix: use query to check private project can be created for given workspace
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/user.ts
  web/src/services/gql/queries/workspace.ts
  web/src/services/state/index.ts
Due: web, web-beta

Improve private project creation handling and visibility checks
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectVisibilityModal.tsx
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Due: web

Fixes disabled button logic for project visibility changes
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectVisibilityModal.tsx
Due: web

Refactors workspace policy check to use custom hook
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectVisibilityModal.tsx
  web/src/services/api/workspacesApi.ts
Due: web, web-beta

Multiple WidgetAlignSystems
  server/e2e/common.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_widget_align_system_test.go
  server/e2e/seeder.go
  server/gql/scene.graphql
  server/gql/was.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_scene_align.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/210730175108_add_scene_align_system.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id_test.go
  server/internal/infrastructure/mongo/migration/250808113845_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250808113845_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene_align.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/widget_align_system.go
  server/pkg/scene/widgets.go
Due: server

test
  server/e2e/gql_storytelling_test.go
Due: none

Fix: correct data attribution
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/hooks.ts
  web/src/app/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
Due: web

feat: add device handling and viewport management for responsive design
  web/package.json
  web/src/app/features/Editor/Visualizer/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/Devices.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/Devices/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/context.tsx
  web/src/app/features/Editor/Widgets/index.tsx
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/hooks/index.ts
  web/src/app/features/Editor/hooks/useEditorVisualizer.ts
  web/src/app/features/Editor/hooks/useUI.ts
  web/src/app/features/Editor/index.tsx
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/features/Visualizer/hooks/useViewport.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/device.ts
  web/src/app/lib/reearth-ui/components/Icon/Icons/Mobile.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/app/lib/reearth-ui/components/Tabs/index.tsx
  web/src/app/pages/EditorPage/index.tsx
  web/yarn.lock
Due: web

update backend and packageJson
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/package.json
  web/yarn.lock
Due: web, server

Add a migration to change to the default
  server/internal/infrastructure/mongo/migration/250820113009_change_esri_to_default.go
  server/internal/infrastructure/mongo/migration/250820113009_change_esri_to_default_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

refactor: mobile WAS & Radio Button comp
  web/src/app/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Editor/hooks/useEditorVisualizer.ts
  web/src/app/features/Editor/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/device.ts
  web/src/app/lib/reearth-ui/components/CLAUDE.md
  web/src/app/lib/reearth-ui/components/RadioButton/index.stories.tsx
  web/src/app/lib/reearth-ui/components/RadioButton/index.tsx
  web/src/app/lib/reearth-ui/components/index.ts
Due: web

update
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

feat(server): Multiple WidgetAlignSystems [VIZ-2135] (#1761)
  server/e2e/common.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_widget_align_system_test.go
  server/e2e/seeder.go
  server/gql/scene.graphql
  server/gql/was.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_scene_align.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/210730175108_add_scene_align_system.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id_test.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene_align.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/widget_align_system.go
  server/pkg/scene/widgets.go
Due: server

Revert "feat(server): Multiple WidgetAlignSystems [VIZ-2135] (#1761)"
  server/e2e/common.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_widget_align_system_test.go
  server/e2e/seeder.go
  server/gql/scene.graphql
  server/gql/was.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_scene_align.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/210730175108_add_scene_align_system.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id_test.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene_align.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/widget_align_system.go
  server/pkg/scene/widgets.go
Due: server

fix(server): revert Multiple WidgetAlignSystems [VIZ-2135] (#1766)
  server/e2e/common.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_widget_align_system_test.go
  server/e2e/seeder.go
  server/gql/scene.graphql
  server/gql/was.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_scene_align.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/210730175108_add_scene_align_system.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_projectmetadata_id_test.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene_align.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/widget_align_system.go
  server/pkg/scene/widgets.go
Due: server

feat(server): Multiple WidgetAlignSystems [VIZ-2135] (#1767)
  server/e2e/common.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_widget_align_system_test.go
  server/e2e/seeder.go
  server/gql/scene.graphql
  server/gql/was.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_scene_align.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/210730175108_add_scene_align_system.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id_test.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene_align.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/widget_align_system.go
  server/pkg/scene/widgets.go
Due: server

refactor: update translation
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): support device switch on widget and publish view, detect device by UA (#1769)
  web/package.json
  web/src/app/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/app/features/Editor/Visualizer/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/Devices/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/context.tsx
  web/src/app/features/Editor/Widgets/index.tsx
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Editor/hooks/index.ts
  web/src/app/features/Editor/hooks/useEditorVisualizer.ts
  web/src/app/features/Editor/hooks/useUI.ts
  web/src/app/features/Editor/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/features/Visualizer/hooks/useViewport.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/device.ts
  web/src/app/lib/reearth-ui/components/CLAUDE.md
  web/src/app/lib/reearth-ui/components/Icon/Icons/Mobile.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/app/lib/reearth-ui/components/RadioButton/index.stories.tsx
  web/src/app/lib/reearth-ui/components/RadioButton/index.tsx
  web/src/app/lib/reearth-ui/components/Tabs/index.tsx
  web/src/app/lib/reearth-ui/components/index.ts
  web/src/app/pages/EditorPage/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Due: web, web-beta

feat: enhance widget alignment system with desktop and mobile support
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/features/Editor/Visualizer/index.tsx
  web/src/app/features/Editor/Widgets/ContainerSettingsPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/WidgetInspectorPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Published/hooks.ts
  web/src/app/features/Published/index.tsx
  web/src/app/features/Published/types.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/index.tsx
  web/src/app/features/Visualizer/hooks/useViewport.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/utils/device.ts
  web/src/app/utils/value.ts
  web/src/services/api/widgetsApi/index.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/gql/queries/widget.ts
Due: web, web-beta

refactor(web): apply new data structure of widget align system (#1771)
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/features/Editor/Visualizer/index.tsx
  web/src/app/features/Editor/Widgets/ContainerSettingsPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/WidgetInspectorPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Published/hooks.ts
  web/src/app/features/Published/index.tsx
  web/src/app/features/Published/types.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/index.tsx
  web/src/app/features/Visualizer/hooks/useViewport.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/utils/device.ts
  web/src/app/utils/value.ts
  web/src/services/api/widgetsApi/index.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/gql/queries/widget.ts
Due: web, web-beta

change prject filter
  server/e2e/common.go
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/proto_project_test.go
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/repo/project.go
Due: server

fix: status while checking alias & ui updates on recycle bin
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/app/features/Dashboard/type.ts
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Due: web, web-beta

check app feature for display project visibility
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
Due: web

refactor(web): forbidden remove data attribution widget
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
Due: web

feat(server): change project filter [VIZ-2160] (#1770)
  server/e2e/common.go
  server/e2e/proto_project_sort_pagination_test.go
  server/e2e/proto_project_test.go
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/repo/project.go
Due: server

fix(server): fix policy check enum
  server/internal/infrastructure/policy/permissive_checker_test.go
  server/internal/usecase/gateway/policy_checker.go
Due: server

fix: review
  server/internal/infrastructure/policy/permissive_checker_test.go
Due: none

fix(server): policy check enum (#1774)
  server/internal/infrastructure/policy/permissive_checker_test.go
  server/internal/usecase/gateway/policy_checker.go
Due: server

Update Japanese translations for project visibility terminology
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Standardizes "Markdown Text" terminology in manifests
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

add default dataAttribution for mobile
  server/e2e/gql_scene_test.go
  server/e2e/gql_widget_align_system_test.go
  server/internal/usecase/interactor/scene.go
Due: server

fix: fix id to extensionId
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
Due: web

delete useless console
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
Due: web

Update web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
Due: web

refactor: kebab don't show when DataAttribution
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
Due: web

fix(server): fix bug that visibility become empty when project import
  server/internal/app/file_uploader.go
  server/internal/usecase/interactor/project.go
Due: server

fix(server): fix bug that visibility become empty when project import (#1777)
  server/internal/app/file_uploader.go
  server/internal/usecase/interactor/project.go
Due: server
