Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

fix transition speed
  web/src/beta/components/Popover/index.tsx
Due: web, web-beta

add popover contents to page items
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/Item/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
Due: web, web-beta

adjust story area in LefPanel
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentStory/index.tsx
  web/src/beta/features/Editor/tabs/story/SidePanel/Item/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix popover style
  web/src/beta/components/PopoverContent/index.tsx
Due: web, web-beta

fix story
  web/src/beta/features/Editor/tabs/story/SidePanel/Item/index.stories.tsx
Due: none

rename component
  web/src/beta/components/PopoverMenuContent/index.stories.tsx
  web/src/beta/components/PopoverMenuContent/index.tsx
Due: web, web-beta

fix name
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentPage/index.tsx
Due: web, web-beta

add missing required prop
  web/src/beta/features/Editor/tabs/story/SidePanel/ContentPage/index.tsx
Due: web, web-beta

remove-log
  web/src/beta/components/Resizable/index.tsx
Due: web, web-beta

ci: increase old-space-size for Node in build-web
  .github/workflows/build_web.yml
Due: none

chore: temporarily activate build-web action for PRs
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

revert back test changes
  .github/workflows/ci.yml
Due: none

ci(web): increase old-space-size for Node in build-web (#582)
  .github/workflows/build_web.yml
Due: none

refactor/fix dropdown in nav
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/components/properties/Toggle/index.tsx
  web/src/beta/features/Editor/tabs/widgets/Nav/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/Menus/MenuList/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/Navbar/Menus/WorkspaceMenu/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
Due: web, web-beta

remove-resizingSize
  web/src/beta/components/Resizable/hooks.ts
Due: web, web-beta

feat: enable requestRenderMode
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/Map/Layers/index.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

chore(web): add image-based lighting (#519)
  web/src/beta/lib/core/Map/Layer/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/utils.tsx
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/beta/lib/core/mantle/types/appearance.ts
Due: web, web-beta

refactor: requestingRender
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web, web-beta

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix functionality
  web/src/beta/components/Resizable/hooks.ts
  web/src/beta/components/Resizable/index.tsx
Due: web, web-beta

wip: dnd
  web/src/beta/components/DragAndDropList/ItemWrapper.tsx
  web/src/beta/components/DragAndDropList/Readme.md
  web/src/beta/components/DragAndDropList/index.stories.tsx
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/DragAndDropList/itemTypes.ts
Due: web, web-beta

refactor: usePostUpdate
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web, web-beta

wip2
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/DragAndDropList/index.stories.tsx
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/DragAndDropList/itemTypes.ts
Due: web, web-beta

modification1
  web/src/beta/components/Divider/index.stories.tsx
  web/src/beta/components/Divider/index.tsx
  web/src/beta/components/Modal/index.tsx
Due: web, web-beta

small fixes
  web/src/beta/components/Popover/context.ts
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Popover/index.stories.tsx
  web/src/beta/components/Popover/types.ts
Due: web, web-beta

update style to sync with design
  web/src/beta/components/PopoverMenuContent/index.tsx
Due: web, web-beta

fix
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/helpers/sphericalHaromic.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/useOverrideGlobeShader.ts
Due: web, web-beta

fix
  web/src/beta/lib/core/Map/types/index.ts
Due: web, web-beta

chore(web): panel resize functionality improvements (#572)
  web/src/beta/components/Resizable/hooks.ts
  web/src/beta/components/Resizable/index.stories.tsx
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/services/theme/reearthTheme/common/metrics.ts
Due: web, web-beta

test
  web/src/beta/lib/core/engines/Cesium/helpers/sphericalHaromic.test.ts
Due: none

fix deps
  web/package.json
  web/yarn.lock
Due: web

fix
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/DragAndDropList/index.stories.tsx
  web/src/beta/components/DragAndDropList/index.tsx
Due: web, web-beta

feat(web): support IBL for terrain (#529)
  web/package.json
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/engines/Cesium/Shaders/CustomShaders/NonPBRLightingShader.ts
  web/src/beta/lib/core/engines/Cesium/Shaders/OverriddenShaders/GlobeFS/Customs.glsl
  web/src/beta/lib/core/engines/Cesium/Shaders/OverriddenShaders/GlobeFS/Definitions.glsl
  web/src/beta/lib/core/engines/Cesium/Shaders/OverriddenShaders/README.md
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/helpers/sphericalHaromic.test.ts
  web/src/beta/lib/core/engines/Cesium/helpers/sphericalHaromic.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/type.d.ts
  web/src/beta/lib/core/engines/Cesium/types.ts
  web/src/beta/lib/core/engines/Cesium/useOverrideGlobeShader.ts
  web/src/beta/lib/core/hooks/useRefFunction.ts
  web/src/beta/lib/core/utils/StringMatcher.test.ts
  web/src/beta/lib/core/utils/StringMatcher.ts
  web/yarn.lock
Due: web, web-beta

chore(web): Add popover and basic content components (#580)
  web/package.json
  web/src/beta/components/Icon/Icons/copy.svg
  web/src/beta/components/Icon/Icons/gearSix.svg
  web/src/beta/components/Icon/Icons/pencilSimple.svg
  web/src/beta/components/Icon/Icons/trash.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Popover/context.ts
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Popover/index.stories.tsx
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/Popover/types.ts
  web/src/beta/components/PopoverMenuContent/index.stories.tsx
  web/src/beta/components/PopoverMenuContent/index.tsx
  web/yarn.lock
Due: web, web-beta

refactor: debug
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
