Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

lint
  server/e2e/gql_project_import_split_test.go
Due: none

feat(server): add split-import test (#1842)
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_signature_test.go
  server/e2e/gql_project_import_split_test.go
  server/pkg/file/zip.go
Due: server

feat(profile): add user photo error handling in Profile component
  web/src/app/features/Dashboard/LeftSidePanel/profile.tsx
Due: web

refactor: clean up
  web/src/app/features/Dashboard/LeftSidePanel/profile.tsx
Due: web

refactor(web): hide user photo when loading failed (#1844)
  web/src/app/features/Dashboard/LeftSidePanel/profile.tsx
Due: web

fix: amend pagination to GetAllProjects
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
Due: server

add test
  server/e2e/gql_project_export_test.go
Due: none

add export data version
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/pkg/file/zip.go
Due: server

feat(server): add export data version [VIZ-2295] (#1843)
  server/e2e/gql_project_export_test.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/pkg/file/zip.go
Due: server

Revert "fix: amend pagination to GetAllProjects"
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
Due: server

Fixes topic handling logic in project metadata conversion
  server/internal/adapter/gql/gqlmodel/convert_project.go
Due: server

Fix nil handling for Topics field in project metadata
  server/internal/adapter/internalapi/internalapimodel/project.go
  server/internal/adapter/internalapi/server.go
Due: server

Fix nil handling for Topics in project metadata conversions
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/internalapi/internalapimodel/project.go
  server/internal/adapter/internalapi/server.go
Due: server

Removes unnecessary blank lines for improved code readability
  server/internal/adapter/internalapi/server.go
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): debug for calling policy check
  server/internal/usecase/interactor/project.go
Due: server

fix(server): debug for calling policy check (#1846)
  server/internal/usecase/interactor/project.go
Due: server

fix(server): debug log
  server/internal/usecase/interactor/project.go
Due: server

fix(server): debug log (#1848)
  server/internal/usecase/interactor/project.go
Due: server

add log
  server/internal/adapter/context.go
  server/internal/app/auth_client.go
Due: server

fix lint
  server/internal/app/auth_client.go
Due: server

fix(server): fix debug code
  server/internal/usecase/interactor/project.go
Due: server

fix(server): fix debug code (#1849)
  server/internal/usecase/interactor/project.go
Due: server

fix: apply max limit for limit field in GetAllProjects
  server/internal/adapter/internalapi/server.go
Due: server

fix: clean iss param
  web/src/services/auth/useAuth.ts
Due: web, web-beta

fix(web): clean up iss param (#1850)
  web/src/services/auth/useAuth.ts
Due: web, web-beta

Adds default sort by star count in FindAll method
  server/internal/infrastructure/mongo/project.go
Due: server

readme
  server/README.md
Due: server

fix(server): delete debug code
  server/internal/usecase/interactor/project.go
Due: server

chore(web): bump up to 1.0.0-beta.11.0
  web/package.json
Due: web

fix(server): delete debug code (#1852)
  server/internal/usecase/interactor/project.go
Due: server

chore(web): bump up to 1.0.0-beta.11.0 (#1853)
  web/package.json
Due: web

vv1.0.0-beta.11.0
  CHANGELOG.md
Due: none

chore(server): writing import project readme (#1851)
  server/README.md
Due: server

chore: upgrade core to 0.0.7-alpha.46
  web/package.json
  web/yarn.lock
Due: web

chore(web): upgrade core to 0.0.7-alpha.46 (#1854)
  web/package.json
  web/yarn.lock
Due: web

fix: add delay to wait for alias validation
  e2e/pages/projectsPage.ts
Due: none

refactor: use expect instead of a hardcoded timeout
  e2e/pages/projectsPage.ts
Due: none

refactor: use fallback value
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
Due: web
