Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

feat(web): fetcher functions intro
  web/src/beta/features/Navbar/hooks.ts
  web/src/services/api/index.ts
  web/src/services/api/projectApi.ts
  web/src/services/api/teamsApi.ts
Due: web, web-beta

chore(web): Update field name in color theme
  web/src/beta/components/BlockSettings/ColorField/index.tsx
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Due: web, web-beta

doc: fix
  web/src/beta/lib/core/engines/Cesium/Shaders/OverriddenShaders/README.md
Due: web, web-beta

refactor(web): handle cesium private property of shadow map (#531)
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web, web-beta

refactor export
  server/e2e/dataset_export_test.go
  server/internal/adapter/http/dataset.go
  server/internal/adapter/http/export.go
  server/internal/infrastructure/memory/dataset.go
  server/internal/infrastructure/mongo/dataset.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interfaces/dataset.go
  server/internal/usecase/repo/dataset.go
  server/pkg/dataset/dataset.go
Due: server

refactor
  server/internal/usecase/interactor/dataset.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
Due: server

split latlng
  server/e2e/dataset_export_test.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
Due: server

add test
  server/e2e/dataset_export_test.go
Due: none

fix data race
  server/internal/adapter/http/dataset.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interfaces/dataset.go
Due: server

update web
  server/gql/scene.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  web/codegen.yml
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/graphql.schema.json
Due: web, web-beta, server

feat(server): dataset REST API (#537)
  server/e2e/dataset_export_test.go
  server/e2e/seeder.go
  server/go.sum
  server/gql/dataset.graphql
  server/gql/scene.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_dataset.go
  server/internal/adapter/gql/resolver_mutation_dataset.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/http/dataset.go
  server/internal/adapter/http/export.go
  server/internal/infrastructure/memory/dataset.go
  server/internal/infrastructure/memory/dataset_schema.go
  server/internal/infrastructure/mongo/dataset.go
  server/internal/infrastructure/mongo/dataset_schema.go
  server/internal/infrastructure/mongo/mongodoc/dataset_schema.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interfaces/dataset.go
  server/internal/usecase/repo/dataset.go
  server/internal/usecase/repo/dataset_schema.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_builder.go
  web/codegen.yml
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/graphql.schema.json
Due: web, web-beta, server

ci: fix release pipeline bug
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
Due: none

chore(web): Update to not handle click event when the popup is closed
  web/src/beta/components/Popup/index.stories.tsx
  web/src/beta/components/Popup/index.tsx
Due: web, web-beta

add each dataset id to dataset API
  server/e2e/dataset_export_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
Due: server

remove console log
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
Due: web, web-classic

remove as much as possible ref to teams
  web/src/beta/features/Navbar/hooks.ts
  web/src/services/api/index.ts
  web/src/services/api/workspacesApi.ts
Due: web, web-beta

ci: fix release pipeline bug (#538)
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
Due: none

add schema to dataset API
  server/e2e/dataset_export_test.go
  server/internal/usecase/interactor/dataset.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_field.go
  server/pkg/dataset/schema_test.go
  server/pkg/dataset/value.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/type_test.go
  server/pkg/value/url.go
Due: server

enable gzip
  server/internal/app/app.go
Due: server

fix test
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
Due: server

ci(server): update action dependencies version
  .github/workflows/build_server.yml
Due: none

chore(web): Update to allow control of behavior when clicking outside the area
  web/src/beta/components/Popup/index.stories.tsx
  web/src/beta/components/Popup/index.tsx
Due: web, web-beta

feat(server): add dataset IDs and schema to dataset API (#539)
  server/e2e/dataset_export_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/app/app.go
  server/internal/usecase/interactor/dataset.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_field.go
  server/pkg/dataset/schema_test.go
  server/pkg/dataset/value.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/type_test.go
  server/pkg/value/url.go
Due: server

ci(server): replace --rm-dist with --clean due to depreciation.
  .github/workflows/build_server.yml
Due: none

fix(web): workspace or userId being undefined (#527)
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
Due: web, web-classic

ci: fix redundant building jobs execution.
  .github/workflows/ci.yml
Due: none

fix(server): update goreleaser.yml, remove depreciated methods
  server/.goreleaser.yml
Due: server

ci(server): update goreleaser.yml, remove depreciated methods (#540)
  server/.goreleaser.yml
Due: server

Update server/.env.example
  server/.env.example
Due: server

chore(server): Add REEARTH_ASSETBASEURL to /server/.env.example (#433)
  server/.env.example
Due: server

add test for processLayer
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
Due: web, web-classic

use default export
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta

add story page indicator
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPageIndicator/index.stories.tsx
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPageIndicator/index.tsx
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta

add processProperty
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.test.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/convert.ts
Due: web, web-classic

codegen.yml -> codegen.ts
  web/codegen.ts
  web/codegen.yml
  web/package.json
Due: web

refactor gql provider
  web/src/services/gql/provider.tsx
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/provider/links/authLink.ts
  web/src/services/gql/provider/links/errorLink.ts
  web/src/services/gql/provider/links/index.ts
  web/src/services/gql/provider/links/sentryLink.ts
  web/src/services/gql/provider/links/uploadLink.ts
  web/src/services/gql/provider/pagination.ts
Due: web, web-beta

add readQuery function
  web/src/services/gql/readQuery.ts
Due: web, web-beta

move old queries back to classic
  web/src/classic/gql/queries/asset.ts
  web/src/classic/gql/queries/cluster.ts
  web/src/classic/gql/queries/dataset.ts
  web/src/classic/gql/queries/index.ts
  web/src/classic/gql/queries/infobox.ts
  web/src/classic/gql/queries/layer.ts
  web/src/classic/gql/queries/plugin.ts
  web/src/classic/gql/queries/project.ts
  web/src/classic/gql/queries/property.ts
  web/src/classic/gql/queries/scene.ts
  web/src/classic/gql/queries/tag.ts
  web/src/classic/gql/queries/user.ts
  web/src/classic/gql/queries/widget.ts
  web/src/classic/gql/queries/workspace.ts
Due: web, web-classic
