Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

refactor, update NotFound, etc
  web/src/beta/components/Icon/Icons/reearthLogo.svg
  web/src/beta/components/Icon/Icons/reearthLogoColorful.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/NotFound/index.tsx
  web/src/beta/components/Text/index.tsx
  web/src/beta/pages/EditorPage/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/services/auth/index.tsx
Due: web, web-beta

fix(web): pass ion token to each layer
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/vite.config.ts
Due: web, web-classic

Update web/vite.config.ts
  web/vite.config.ts
Due: web

fix(web): pass ion token to each layer (#558)
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/vite.config.ts
Due: web, web-classic

chore: fix to fetch the ion token from test env's config
  web/vite.config.ts
Due: web

refactor: remove find imagery layer feature
  web/src/classic/core/engines/Cesium/hooks.ts
Due: web, web-classic

refactor: remove mvt from ImageryLayerDataTypes
  web/src/classic/core/engines/Cesium/hooks.ts
Due: web, web-classic

refactor: revert select
  web/src/classic/core/engines/Cesium/hooks.ts
Due: web, web-classic

refactor: allow empty string as layer id
  web/src/classic/core/Map/Layers/hooks.ts
Due: web, web-classic

fix styles
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
Due: web, web-beta

refactor: add layer id to published default layer
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/core/Map/Layers/hooks.ts
Due: web, web-classic

merge classic gql gen files
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
Due: web, web-classic

refactor: update beta core as well
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web, web-beta

fix(web): selection event for published page (#549)
  web/published.html
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Due: web, web-classic

fix review
  web/vite.config.ts
Due: web

refactor
  web/vite.config.ts
Due: web

ci: add an action to update ion token
  .github/workflows/cron_ion_token_test.yml
Due: none

test
  .github/workflows/cron_ion_token_test.yml
Due: none

remove test
  .github/workflows/cron_ion_token_test.yml
Due: none

ci(web): add an action to update ion token (#561)
  .github/workflows/cron_ion_token_test.yml
Due: none

perf(server): improve dataset index
  server/internal/infrastructure/mongo/dataset.go
Due: server

perf(server): add group.linkeddatasetschema index
  server/internal/infrastructure/mongo/layer.go
Due: server

fix type error in vite config
  web/vite.config.ts
  web/vitest.config.ts
Due: web

update eslintignore
  web/.eslintignore
Due: web

fix navbar dropdown
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/features/Navbar/Menus/WorkspaceMenu/index.tsx
Due: web, web-beta

regen i18n
  web/src/classic/components/atoms/NotFound/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-classic, web-beta

chore(web): allow reearth_config.json to be set remotely for local development (#559)
  web/vite.config.ts
Due: web

Remove unneeded readQuery
  web/src/services/gql/readQuery.ts
Due: web, web-beta

add default fetch policy
  web/src/services/gql/provider/index.tsx
Due: web, web-beta

setup api standard and fix errors
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/pages/Page.tsx
  web/src/services/api/index.ts
  web/src/services/api/meApi.ts
  web/src/services/api/projectApi.ts
  web/src/services/api/sceneApi.ts
  web/src/services/api/types.ts
  web/src/services/api/workspacesApi.ts
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/queries/scene.ts
Due: web, web-beta

fix vitest and fix type error
  web/vite.config.ts
  web/vitest.config.ts
Due: web

fix(ci): manual docker push
  .github/workflows/ci_docker_build_push.yml
Due: none

Update web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Due: web, web-beta

fix(web): show OSM buildings
  web/src/classic/components/molecules/Visualizer/index.tsx
  web/vite.config.ts
Due: web, web-classic

chore(web): add empty StoryPanel (#541)
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/types.ts
Due: web, web-beta

fix(web): unexpect select undefined when select mvt layer (#560)
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/core/engines/Cesium/hooks.ts
Due: web, web-classic, web-beta

chore(web): add story page indicator (#543)
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPageIndicator/index.stories.tsx
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPageIndicator/index.tsx
  web/src/beta/features/Editor/Tabs/Storytelling/StoryPanel/index.tsx
Due: web, web-beta

fix editor layout style
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta
