Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-classic:
        target: auto
        threshold: 0%
        flags:
          - web-classic
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-classic:
    paths:
      - web/src/classic
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

refactor: migarte plugin queries
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/hooks.ts
  web/src/services/api/pluginsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/plugin.ts
Due: web, web-beta

Page title support
  web/src/beta/components/Icon/index.tsx
  web/src/beta/features/Editor/StoryPanel/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Block/builtin/index.ts
  web/src/beta/features/Editor/StoryPanel/Block/builtin/utils.ts
  web/src/beta/features/Editor/StoryPanel/Page/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
Due: web, web-beta

page title support cont'd
  web/src/beta/features/Editor/StoryPanel/index.tsx
Due: web, web-beta

set-min-max-width
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
Due: web, web-beta

add-to-property-field
  web/src/beta/components/fields/PropertyFields/index.tsx
Due: web, web-beta

- Minor styling fixes and added jump button
  web/src/beta/components/fields/Camera/index.tsx
Due: web, web-beta

chore(server): add e2e test for nlscrud
  server/e2e/gql_nlslayer_test.go
Due: none

fix
  server/internal/usecase/interactor/storytelling.go
Due: server

init
  web/src/beta/components/Radio/index.stories.tsx
  web/src/beta/components/Radio/index.tsx
  web/src/beta/components/fields/RadioField/index.tsx
Due: web, web-beta

refactor: migarte gql of asset
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetDeleteModal/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/hooks.ts
  web/src/services/api/assetsApi.ts
  web/src/services/api/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/asset.ts
Due: web, web-beta

chore(server): add min/max to spacing fields (#646)
  server/e2e/gql_property_test.go
  server/pkg/builtin/manifest.yml
Due: server

refactor: remove asset reset select
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/hooks.ts
  web/src/services/api/assetsApi.ts
Due: web, web-beta

propertyField-min-max
  web/src/beta/components/fields/PropertyFields/index.tsx
Due: web, web-beta

radio-group
  web/src/beta/components/Radio/index.stories.tsx
  web/src/beta/components/Radio/index.tsx
  web/src/beta/components/RadioGroup/index.stories.tsx
  web/src/beta/components/RadioGroup/index.tsx
Due: web, web-beta

refactor: use config
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/index.tsx
Due: web, web-beta

refactor: update modal size & button order
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/deleteModal.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
Due: web, web-beta

refactor: use scene query for plugin
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/services/api/pluginsApi.ts
  web/src/services/gql/__gen__/fragmentMatcher.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/plugin.ts
Due: web, web-beta

chore(server): add debug log to parsefromurl
  server/pkg/plugin/manifest/parser.go
Due: server

wip page settings
  web/src/beta/components/Icon/Icons/storyPage.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Editor/StoryPanel/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Block/index.tsx
  web/src/beta/features/Editor/StoryPanel/ClickAwayListener.tsx
  web/src/beta/features/Editor/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/features/Editor/StoryPanel/SelectableArea/index.tsx
  web/src/beta/features/Editor/StoryPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/utils.ts
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
Due: web, web-beta

- Majorly done - Minor fixes in stories left
  web/src/beta/components/fields/Toggle/index.stories.tsx
  web/src/beta/components/fields/Toggle/index.tsx
Due: web, web-beta

refactor: icon & text
  web/src/beta/components/Icon/Icons/uploadSimple.svg
  web/src/services/api/pluginsApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: svg
  web/src/beta/components/Icon/Icons/search.svg
Due: web, web-beta

chore(server): revert changes made for debuggin in manifest parser
  server/pkg/plugin/manifest/parser.go
Due: server

- Removed size param - Some story styling fixes
  web/src/beta/components/fields/Toggle/index.stories.tsx
  web/src/beta/components/fields/Toggle/index.tsx
Due: web, web-beta

- Fixed some minor things
  web/src/beta/components/fields/Toggle/index.stories.tsx
  web/src/beta/components/fields/Toggle/index.tsx
Due: web, web-beta

working hover and selection of page and block settings
  web/src/beta/features/Editor/StoryPanel/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/features/Editor/StoryPanel/SelectableArea/index.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/index.tsx
Due: web, web-beta

regen i18n
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Hide swipe page creation
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
Due: web, web-beta

refactor
  web/src/beta/components/fields/ColorField/index.tsx
  web/src/beta/features/Editor/StoryPanel/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/utils/events.ts
Due: web, web-beta, web-utils

refactor
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/index.tsx
Due: web, web-beta

chore(server): update parser.go
  server/pkg/plugin/manifest/parser.go
Due: server

Panel-Setting
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
Due: web, web-beta

- Toggle and Toggle field are separate components
  web/src/beta/components/Toggle/index.stories.tsx
  web/src/beta/components/Toggle/index.tsx
  web/src/beta/components/fields/ToggleField/index.stories.tsx
  web/src/beta/components/fields/ToggleField/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
  web/src/beta/features/Editor/tabs/widgets/Nav/index.tsx
Due: web, web-beta

height
  web/src/beta/components/fields/SpacingInput/index.tsx
Due: web, web-beta

- Integrated toggleField as property field
  web/src/beta/components/fields/PropertyFields/index.tsx
Due: web, web-beta

radio group field
  web/src/beta/components/RadioGroup/index.stories.tsx
  web/src/beta/components/RadioGroup/index.tsx
  web/src/beta/components/fields/RadioField/index.tsx
  web/src/beta/components/fields/RadioGroupField/index.stories.tsx
  web/src/beta/components/fields/RadioGroupField/index.tsx
Due: web, web-beta

story
  web/src/beta/components/fields/RadioGroupField/index.stories.tsx
Due: none

add test
  server/e2e/common.go
  server/e2e/gql_storytelling_test.go
Due: server

page settings
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
Due: web, web-beta
