Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

refactor: include all ts tsx files
  web/tailwind.config.js
Due: web

fix(web): tailwind class not included on build (#1313)
  web/tailwind.config.js
Due: web

docker: mount tailwind and post css config files
  web/.dockerignore
  web/Dockerfile
Due: web

chore: add bind mounts tailwind and postcss config on docker build for web (#1314)
  web/.dockerignore
  web/Dockerfile
Due: web

fix the special charactor bug
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

fix onBlur NAN
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

refactor: add key to list item
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

sidebar plugin: create first draft
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
Due: web, web-beta

feat(web): plugin playground presets sidebar (#1315)
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
Due: web, web-beta

fix: add dependency to useEffect
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
Due: web, web-beta

fix: only have one shared-plugin
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

feat: add icons to plugin list
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/AddFile.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Export.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Import.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
Due: web, web-beta

update customize property infobox block
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/hooks.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
Due: web, web-beta

feat: add drop-down to preset plugins
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

improve based on comment
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

feat: refactor re-usable logic
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

fix: add missing key id to re-usable component
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

feat: add googleMapSearch
  web/package.json
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/yarn.lock
Due: web, web-beta

fix(web): number input logics (#1316)
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Due: web, web-beta

fix: remove unused size prop
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

feat: add flyto function and add some comment
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

refactor(web): infobox's customized property list. (#1317)
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/hooks.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
Due: web, web-beta

debug config
  docker-compose.yml
  server/internal/app/app.go
  web/vite.config.ts
Due: web, server

update
  server/internal/app/app.go
Due: server

create header plugin
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
Due: web, web-beta

adjust code alignment in sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
Due: web, web-beta

feat: add flytofunction and layer
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

feat: add functionality to icons
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/AddFile.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Export.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Import.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
Due: web, web-beta

fix: add null check
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

fix: add 'flex' to 'Wrapper' div
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Due: web, web-beta

fix: fix ui problem
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

fix(web): refactor UI to plugin list in plugin playground page (#1307)
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/AddFile.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Export.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Import.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
Due: web, web-beta

ci: remove cesium ion access token cron workflow
  .github/workflows/_upload_cesium_token_txt.yml
  .github/workflows/update_cesium_ion_token_nightly.yml
Due: none

ci: remove Cesium Ion access token cron updator (#1320)
  .github/workflows/_upload_cesium_token_txt.yml
  .github/workflows/update_cesium_ion_token_nightly.yml
Due: none

fix: fix dark mode
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
Due: web, web-beta

style: add css var for hover bg color
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/tailwind.config.js
Due: web, web-beta

refactor: remove unecessary z-index
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
Due: web, web-beta

Support reorder layer
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_layer_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_property_test.go
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/layer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/layer/layer.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/scene/builder/nlsLayer.go
Due: server

fix: check value in type of string
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/BooleanSelectorInput.tsx
Due: web, web-beta

refactor: use lowercase
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/BooleanSelectorInput.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
