Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix tests
  server/internal/usecase/interactor/scene_plugin_test.go
Due: none

fix ling
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/property.go
Due: server

fix test
  server/internal/usecase/interactor/scene_plugin_test.go
Due: none

fix ci
  .github/workflows/ci_server.yml
Due: none

add scene e2e
  server/e2e/gql_scene_test.go
Due: none

fix scene e2e
  server/e2e/gql_scene_test.go
Due: none

refactor: use collapse for property groups
  web/src/beta/features/Editor/Map/InspectorPanel/SceneSettings/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
Due: web, web-beta

style: fields wrapper gap
  web/src/beta/ui/fields/Properties/index.tsx
Due: web, web-beta

style: collapse size small
  web/src/beta/features/Editor/Map/InspectorPanel/SceneSettings/index.tsx
Due: web, web-beta

fix for unused lint
  server/internal/adapter/gql/context.go
Due: server

change to on blur
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
Due: web, web-beta

refactor: api & events
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useCamera.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useCommonEvents.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useDeprecated.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useSketch.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useTimeline.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useViewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/constaint.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/exposedReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/camera.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/deprecated.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/events.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/extension.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/layers.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/modal.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/popup.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/reearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/sketch.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/timeline.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/ui.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/storybook.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/utils/events.ts
Due: web, web-beta

refactor(web): scene settings inspector (#1058)
  web/src/beta/components/Text/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/SceneSettings/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/RootPage/PageWrapper/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/NumberField.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/Properties/hooks.ts
  web/src/beta/ui/fields/Properties/index.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
  web/src/beta/ui/fields/utils.ts
  web/src/services/api/teams/index.ts
  web/src/services/gql/queries/teams.ts
  web/src/services/theme/emotion.d.ts
  web/src/services/theme/publishedAppProvider.tsx
Due: web, web-beta

refactor: update api
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useCamera.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useDeprecated.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useSketch.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useTimeline.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useViewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/camera.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/events.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/extension.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/layers.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/modal.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/popup.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/sketch.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/timeline.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/ui.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/storybook.tsx
  web/src/beta/utils/value.ts
Due: web, web-beta, web-utils

refactor data source layer inspector
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Pallete.svg
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
Due: web, web-beta

feat: support dev plugins
  web/src/beta/features/Navbar/useDevPlugins.ts
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PluginInstall.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PluginUpdate.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/utils/file.ts
  web/src/services/api/pluginsApi.ts
  web/src/services/config/index.ts
  web/src/services/state/devPlugins.ts
  web/src/services/state/index.ts
Due: web, web-beta, web-utils

ci: fix slack notification for e2e
  .github/workflows/e2e.yml
Due: none

remove slack notification job
  .github/workflows/e2e.yml
Due: none

feat(web): support dev plugins (#1059)
  web/src/beta/features/Navbar/useDevPlugins.ts
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PluginInstall.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PluginUpdate.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/utils/file.ts
  web/src/services/api/pluginsApi.ts
  web/src/services/config/index.ts
  web/src/services/state/devPlugins.ts
  web/src/services/state/index.ts
Due: web, web-beta, web-utils

refactor infobox
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/index.tsx
Due: web, web-beta

chore: upgrade yarn to 4.3.1
  web/.gitignore
  web/.yarnrc.yml
  web/package.json
  web/yarn.lock
Due: web

fix translation issue
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: test cache@v4 for yarn upgrade
  .github/workflows/ci_web.yml
Due: none

fix: enable corepack and revert actions/cache@4 change
  .github/workflows/ci_web.yml
Due: none

fix: add command line for corepack
  .github/workflows/ci_web.yml
Due: none

fix: test running ci-web without corepack command
  .github/workflows/ci_web.yml
Due: none

Revert "fix: test running ci-web without corepack command"
  .github/workflows/ci_web.yml
Due: none

feat: Add README.md
  web/.env.local
  web/.gitignore
  web/README.md
Due: web

fix: fix typo in layer style notifications
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix: amend typo in notification
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Migrated Jotai To Version 2
  web/package.json
  web/yarn.lock
Due: web

update styles
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
Due: web, web-beta

fix fields gap
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
Due: web, web-beta

add title in layer style
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/LayerStyle/index.tsx
Due: web, web-beta

refactor widget
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WASToolsPanel/Devices/index.tsx
  web/src/beta/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetInspectorPanel/hooks.ts
  web/src/beta/features/Editor/Widgets/WidgetInspectorPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/Action.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/index.tsx
Due: web, web-beta

update dependecy
  web/package.json
  web/yarn.lock
Due: web

chore(web): Migrate Jotai to v2 (#1064)
  web/package.json
  web/yarn.lock
Due: web

refactor: use field components
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/LayerStyle/index.tsx
  web/src/beta/ui/fields/InputField.tsx
Due: web, web-beta
