Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

lint
  server/internal/adapter/gql/resolver_mutation_workspace.go
Due: server

v1.0.0-beta.15.0
  CHANGELOG.md
Due: none

test(server): added test for workspace management API
  e2e/api/config/env.ts
  e2e/api/graphql/client.ts
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/project-lifecycle.api.spec.ts
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

fixes for the copilot suggestions
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

refactor: set notifyOnNetworkStatusChange to false
  web/src/services/gql/provider/index.tsx
Due: web, web-beta

refactor: turn off on projects hook
  web/src/services/api/project/useProjectQueries.ts
Due: web, web-beta

refactor: revert the config on projects hook
  web/src/services/api/project/useProjectQueries.ts
Due: web, web-beta

fix(web): components got rerendered after mutations (#2090)
  web/src/services/gql/provider/index.tsx
Due: web, web-beta

chore: update package version to 1.0.0-beta.15.1
  web/package.json
Due: web

fix(server): return 429 instead of 500 for rate limit errors from accounts API
  server/internal/app/auth_client.go
Due: server

chore(web): update package version to 1.0.0-beta.15.1 (#2091)
  web/package.json
Due: web

v1.0.0-beta.15.1
  CHANGELOG.md
Due: none

fix: use specific pattern for rate limit detection
  server/internal/app/auth_client.go
Due: server

fix(server): make plugin export resilient to missing JS files
  server/internal/usecase/interactor/plugin.go
Due: server

refactor: use project split import on oss
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/ee/featureConfig.ts
  web/src/services/config/appFeatureConfig.ts
Due: web, web-beta

fix(server): remove workspace sync that overwrites integration members
  server/internal/app/auth_client.go
Due: server

fix(server): remove workspace sync that overwrites integration members (#2094)
  server/internal/app/auth_client.go
Due: server

feat(server): route interactor write operations through accounts API
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/user_account.go
  server/internal/usecase/interactor/workspace_account.go
Due: server

Update web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
Due: web

refactor: check error from status value
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
Due: web

refactor(web): use project split import on oss (#2093)
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/ee/featureConfig.ts
  web/src/services/config/appFeatureConfig.ts
Due: web, web-beta

update version
  web/package.json
  web/yarn.lock
Due: web

chore(web): update core version (#2095)
  web/package.json
  web/yarn.lock
Due: web

chore(web): bump version to 1.0.0-beta.15.2
  web/package.json
Due: web

test(server): add api tests for property operations, published endpoints, and workspace management
  .gitignore
  e2e/api/config/env.ts
  e2e/api/graphql/mutations.ts
  e2e/api/graphql/queries.ts
  e2e/api/tests/property-operations.api.spec.ts
  e2e/api/tests/published-endpoints.api.spec.ts
  e2e/api/tests/workspace-management.api.spec.ts
Due: none

chore(web): bump version to 1.0.0-beta.15.2 (#2096)
  web/package.json
Due: web

copilot update
  e2e/api/graphql/queries.ts
  e2e/api/tests/property-operations.api.spec.ts
  e2e/api/tests/published-endpoints.api.spec.ts
  e2e/api/tests/workspace-management.api.spec.ts
  e2e/tests/accountWorkspaceSettings.spec.ts
  e2e/tests/photoOverlay.spec.ts
Due: none

path update
  e2e/playwright.config.ts
Due: none

update
  e2e/playwright.config.ts
Due: none

update
  e2e/tests/accountWorkspaceSettings.spec.ts
Due: none

vv1.0.0
  CHANGELOG.md
Due: none

v1.0.0-beta.15.2
  CHANGELOG.md
Due: none

update
  .gitignore
  CLAUDE.md
Due: none

update
  CHANGELOG.md
Due: none
