Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

docs: add design doc README and update CLAUDE.md
  CLAUDE.md
  docs/README.md
Due: none

docs: document session isolation per browser/device
  docs/design-doc/20260327_001_sso_logout.md
Due: none

docs: update SSO logout design doc to reflect actual implementation
  docs/design-doc/20260327_001_sso_logout.md
Due: none

docs: add refresh token limitation to SSO logout design doc
  docs/design-doc/20260327_001_sso_logout.md
Due: none

feat(server): integrate logout tracking into visualizer
  server/gql/user.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
Due: server

feat(server): update reearth-accounts dependency for server-side logout tracking
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/resolver_mutation_workspace.go
Due: server

feat(web): bypass Auth0 token cache when SSO logout detected
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/logoutTimestamp.ts
  web/src/services/gql/provider/links/uploadLink.ts
Due: web, web-beta

feat(web): call logout mutation before Auth0 logout
  web/src/services/auth/auth0Auth.ts
Due: web, web-beta

docs: add verification results for SSO logout behavior
  docs/design-doc/20260327_001_sso_logout.md
Due: none

docs: address Copilot review feedback
  docs/design-doc-template.md
  docs/design-doc/20260327_001_sso_logout.md
Due: none

chore(web): pin and update dependency versions (#2140)
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  e2e/package-lock.json
  e2e/package.json
Due: none

docs: add SSO logout design doc and design doc template (#2141)
  CLAUDE.md
  docs/README.md
  docs/design-doc-template.md
  docs/design-doc/20260327_001_sso_logout.md
Due: none

chore: add unpinned dependency check script and CI job
  .github/workflows/ci.yml
  script/check-unpinned-deps.sh
Due: none

fix: address Copilot review feedback on check-unpinned-deps
  script/check-unpinned-deps.sh
Due: none

chore(web): bump up version to 1.0.0-beta.15.7
  web/package.json
Due: web

chore(web): bump up version to 1.0.0-beta.15.7 (#2144)
  web/package.json
Due: web

refactor(web): use Apollo Client for logout mutation
  web/src/app/features/Dashboard/hooks.ts
  web/src/app/features/GlobalModal/index.tsx
  web/src/app/features/Navbar/hooks.ts
  web/src/services/api/user/useMeMutations.ts
  web/src/services/auth/auth0Auth.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/user.ts
Due: web, web-beta

v1.0.0-beta.15.7
  CHANGELOG.md
Due: none

refactor(web): use Jotai atom for latestLogoutAt state management
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/logoutTimestamp.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/provider/links/authLink.ts
  web/src/services/gql/provider/links/uploadLink.ts
  web/src/services/state/index.ts
Due: web, web-beta

fix(web): use base64url decode for JWT and add tests
  server/internal/app/app.go
  server/internal/app/logout_header_test.go
  web/src/services/auth/auth0Auth.test.ts
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/jwtUtils.ts
Due: web, web-beta, server

fix(web): add useLatestLogoutAt to test mocks
  web/src/app/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/test/utils.tsx
Due: web

refactor(web): rename test file and clarify timestamp unit
  web/src/services/auth/jwtUtils.test.ts
  web/src/services/state/index.ts
Due: web, web-beta

chore(server): update reearth-accounts to main after PR #212 merge
  server/go.mod
  server/go.sum
Due: server

feat(web): add linkInfoboxBetaBlock[VIZ-2417] (#2127)
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/Link/index.tsx
  web/src/app/features/Visualizer/Crust/Infobox/Block/builtin/index.ts
  web/src/app/features/Visualizer/Crust/Infobox/constants.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/utils.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/app/utils/url.test.ts
  web/src/app/utils/url.ts
Due: web

chore: update core version to 0.0.7-alpha.62
  web/package.json
  web/yarn.lock
Due: web

chore(web): update core version to 0.0.7-alpha.62 (#2146)
  web/package.json
  web/yarn.lock
Due: web

Bump version to 1.0.0-beta.15.8
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.15.8 (#2147)
  web/package.json
Due: web

vv1.0.0
  CHANGELOG.md
Due: none

v1.0.0-beta.15.8
  CHANGELOG.md
Due: none

test(web): test for browser refresh issue
  e2e/pages/accountSettingsPage.ts
  e2e/pages/cesiumViewerPage.ts
  e2e/pages/dashBoardPage.ts
  e2e/pages/loginPage.ts
  e2e/pages/membersPage.ts
  e2e/pages/photoOverlayPage.ts
  e2e/pages/projectScreenPage.ts
  e2e/pages/projectSettingsPage.ts
  e2e/pages/projectsPage.ts
  e2e/pages/recycleBinPage.ts
  e2e/pages/workspaceSettingsPage.ts
  e2e/tests/dashboard.spec.ts
  e2e/tests/dashboardFeatures.spec.ts
  e2e/tests/page-refresh-on-mutation.spec.ts
  e2e/tests/photoOverlay.spec.ts
  e2e/tests/projectSettings.spec.ts
  e2e/tests/projects.spec.ts
  e2e/utils/project-cleanup.ts
Due: none

update
  e2e/pages/cesiumViewerPage.ts
Due: none

ci: add harden-runner to GitHub Actions workflows
  .github/workflows/build_prepare.yml
  .github/workflows/build_release.yml
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
  .github/workflows/cleanup-pr-revision.yml
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
  .github/workflows/enforce_checklist.yml
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reviewer_lottery.yml
  .github/workflows/run_migration.yml
  .github/workflows/stage.yml
Due: none

copilot update
  e2e/tests/page-refresh-on-mutation.spec.ts
  e2e/utils/project-cleanup.ts
Due: none

failed test update
  e2e/pages/projectScreenPage.ts
Due: none

layer deletion tests
  e2e/pages/projectScreenPage.ts
  e2e/tests/layerDeletionReorder.spec.ts
  e2e/tests/page-refresh-on-mutation.spec.ts
Due: none

fixes
  e2e/pages/projectScreenPage.ts
  e2e/tests/layerDeletionReorder.spec.ts
Due: none
