Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-classic, web-beta, web-utils, server

- Added i18n fix
  web/src/beta/features/Editor/tabs/map/SidePanel/GroupField/index.tsx
Due: web, web-beta

feat: wip part3
  web/src/beta/components/Icon/Icons/scene.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
  web/src/services/gql/queries/scene.ts
Due: web, web-beta

feat(web): add spacing input field
  web/src/beta/components/properties/SpacingInput/index.stories.tsx
  web/src/beta/components/properties/SpacingInput/index.tsx
Due: web, web-beta

add click-away logic
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/click-away.tsx
Due: web, web-beta

refactor and add click-away to block wrapper
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/types.ts
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/services/api/storytellingApi/blocks.ts
Due: web, web-beta

fix ux
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/hooks.ts
Due: web, web-beta

fix type error
  web/src/beta/lib/core/Crust/Infobox/Block/index.tsx
Due: web, web-beta

pr-fix
  web/src/beta/components/fields/ColorField/hooks.ts
  web/src/beta/components/fields/ColorField/index.tsx
  web/src/beta/components/fields/ColorField/styles.css
  web/src/beta/components/fields/ColorField/types.ts
  web/src/beta/components/fields/ColorField/utils.ts
Due: web, web-beta

feat(web): add color field component (#627)
  web/src/beta/components/fields/ColorField/hooks.ts
  web/src/beta/components/fields/ColorField/index.stories.tsx
  web/src/beta/components/fields/ColorField/index.tsx
  web/src/beta/components/fields/ColorField/types.ts
  web/src/beta/components/fields/ColorField/utils.ts
  web/src/beta/components/fields/TextInput/index.tsx
  web/src/beta/components/fields/Toggle/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
  web/src/beta/features/Editor/tabs/widgets/Nav/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/ContainerSettings/index.tsx
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat(web): Left Panel shows scene.propery.groups titles (#634)
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/SidePanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/SidePanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
Due: web, web-beta

feat: wip
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/services/api/storytellingApi/index.ts
Due: web, web-beta

chore(web): add property update support to story blocks (#629)
  web/src/beta/components/fields/PropertyFields/hooks.ts
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/Template.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/click-away.tsx
  web/src/beta/features/Editor/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Block/builtin/utils.ts
  web/src/beta/features/Editor/StoryPanel/Block/index.tsx
  web/src/beta/features/Editor/StoryPanel/Block/types.ts
  web/src/beta/features/Editor/StoryPanel/Page/hooks.ts
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/SidePanel/Settings/index.tsx
  web/src/beta/lib/core/Crust/Infobox/Block/index.tsx
  web/src/beta/utils/value.ts
  web/src/services/api/propertyApi/utils.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/gql/__gen__/graphql.ts
Due: web, web-beta, web-utils

refactor for consistent naming
  web/src/beta/features/Editor/StoryPanel/PageIndicator/index.stories.tsx
  web/src/beta/features/Editor/StoryPanel/PageIndicator/index.tsx
  web/src/beta/features/Editor/StoryPanel/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/Action/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/Action/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentStory/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentStory/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/PageItemWrapper/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/PageItemWrapper/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/ContainerSettings/index.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/Manager/Action.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/Manager/index.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/Settings/index.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/hooks.ts
  web/src/beta/features/Editor/tabs/widgets/RightPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
Due: web, web-beta

create boiler panel components
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
Due: web, web-beta

update graphql
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Due: web, web-beta

send selectedPage to right panel component
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
Due: web, web-beta

resolve comments and refactor schema
  server/e2e/gql_nlslayer_test.go
  server/go.mod
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/adapter/gql/resolver_nlslayer.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/nlslayer.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/repo/container.go
  server/pkg/id/id.go
  server/pkg/layer/infobox.go
  server/pkg/layer/infobox_field.go
  server/pkg/nlslayer/apperance.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/cloner.go
  server/pkg/nlslayer/config.go
  server/pkg/nlslayer/data.go
  server/pkg/nlslayer/data_csv.go
  server/pkg/nlslayer/data_time.go
  server/pkg/nlslayer/defines.go
  server/pkg/nlslayer/events.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/layer_type.go
  server/pkg/nlslayer/loader.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/nlslayer/properties.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
Due: server

update test
  server/e2e/gql_nlslayer_test.go
Due: none

fix property was not saved
  server/internal/usecase/interactor/storytelling.go
Due: server

fix-styles
  web/src/beta/components/fields/SpacingInput/index.stories.tsx
  web/src/beta/components/fields/SpacingInput/index.tsx
Due: web, web-beta

fix-type
  web/src/beta/components/fields/SpacingInput/index.tsx
Due: web, web-beta

fix(web): allow mouse event on WAS
  web/src/beta/utils/use-dnd/index.tsx
Due: web, web-beta, web-utils

fix(server): disable transaction for accountmongo in local
  server/internal/app/repo.go
Due: server

feat(server): add env var to specify account database
  server/e2e/common.go
  server/internal/app/config/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interactor/layer.go
  server/internal/usecase/repo/container.go
Due: server

feat(server): add env var to specify account database (#640)
  server/e2e/common.go
  server/internal/app/config/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interactor/layer.go
  server/internal/usecase/repo/container.go
Due: server

feat: wip
  web/src/beta/components/Icon/Icons/marketplace.svg
  web/src/beta/components/Icon/Icons/publicGitHubRepo.svg
  web/src/beta/components/Icon/Icons/uploadZipPlugin.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/deleteModal.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemBody.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemHeader.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/index.stories.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/MarketplacePublish/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginInstallCardButton.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PrivateRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/hooks.test.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/ZipUpload/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings.tsx
Due: web, web-beta

fix(server): story/story page properties were not saved (#637)
  server/internal/usecase/interactor/storytelling.go
Due: server

chore: revert cesium and resium
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/core/Imagery.test.ts
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/Tileset/index.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Globe.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.test.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/Imagery.tsx
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/core/presets.ts
  web/src/classic/components/molecules/Visualizer/Engine/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/classic/core/engines/Cesium/core/Globe.tsx
  web/src/classic/core/engines/Cesium/core/Imagery.test.ts
  web/src/classic/core/engines/Cesium/core/Imagery.tsx
  web/src/classic/core/engines/Cesium/core/presets.ts
  web/src/classic/core/engines/Cesium/index.tsx
  web/src/classic/core/engines/Cesium/utils.ts
  web/yarn.lock
Due: web, web-classic, web-beta

map left panel refactor and select functionality
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/SceneSettings/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/SceneSettings/item.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/map/SidePanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/types.ts
  web/src/beta/features/Editor/useLeftPanel.tsx
Due: web, web-beta

refactor
  web/src/beta/features/Editor/tabs/map/LeftPanel/SceneSettings/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
Due: web, web-beta

basic ui for page property (right panel)
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/Settings/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
Due: web, web-beta

feat: wip
  web/src/beta/features/ProjectSettings/MenuList/index.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/ZipUpload/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/services/theme/reearthTheme/common/fonts.ts
Due: web, web-beta

fix(server): fix signup panic error
  server/internal/adapter/http/user.go
Due: server

remove styleList from scene schema
  server/gql/scene.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
Due: server

fix(web): include single selection to the selection mode
  web/src/beta/lib/core/Crust/interactionMode.ts
Due: web, web-beta

chore(server): support apperance in server
  server/go.mod
  server/go.sum
  server/gql/scene.graphql
  server/gql/style.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/id/id.go
  server/pkg/scene/builder.go
  server/pkg/scene/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/style.go
  server/pkg/scene/style_value.go
  server/pkg/scene/styles_list.go
Due: server

change back go ver
  server/go.mod
Due: server

lint error
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/id/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/style.go
Due: server

update mongodoc
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
Due: server

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-classic: any of: web/src/classic, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
