Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

fix: add initialize step for sentinel
  web/src/published.tsx
Due: web

fix(web): missing initialize step for sentinel on published page (#2229)
  web/src/published.tsx
Due: web

chore: clean up config of token
  web/Dockerfile
  web/docker/reearth_config.json.template
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/features/PluginPlayground/Viewer/hooks.ts
  web/src/app/features/Published/hooks.ts
  web/src/services/config/index.ts
Due: web, web-beta

Potential fix for pull request finding
  web/src/services/config/index.ts
Due: web, web-beta

chore: remove unused import
  web/src/app/features/Editor/Visualizer/hooks.ts
Due: web

chore(web): clean up config of token (#2230)
  web/Dockerfile
  web/docker/reearth_config.json.template
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/features/PluginPlayground/Viewer/hooks.ts
  web/src/app/features/Published/hooks.ts
  web/src/services/config/index.ts
Due: web, web-beta

refactor: add default provider value
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
Due: web

refactor: support fallback logic on plugin api layers
  web/src/app/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/types.ts
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/layersMigration.ts
Due: web

fix: avoid fallback got skipped when call from plugin api due to partical params
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/app/features/Visualizer/utils/layersMigration.ts
Due: web

refactor: improve check for token and provider
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
Due: web

refactor(web): add default value for google photorealistic 3dtiles provider & support layer fallback on plugin api (#2231)
  web/src/app/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/types.ts
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/layersMigration.ts
Due: web

Bump version to 1.0.0-beta.16.6
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.6 (#2232)
  web/package.json
Due: web

fix(web): silence sentinel SW console.log outside of debug mode
  web/public/sw.js
Due: web

fix(web): remove errant backslash from __debug in sw.js
  web/public/sw.js
Due: web

ci: pin Node version to 24 in ci_web and build_web workflows
  .github/workflows/build_web.yml
  .github/workflows/ci_web.yml
Due: none

Revert "ci: pin Node version to 24 in ci_web and build_web workflows"
  .github/workflows/build_web.yml
  .github/workflows/ci_web.yml
Due: none

v1.0.0-beta.16.6
  CHANGELOG.md
Due: none

fix(web): prevent infinite plugin re-initialization loop in plugin playground
  web/src/app/features/PluginPlayground/Viewer/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
Due: web

fix: make dep more granular
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
Due: web

fix(web): use environment-aware default tile type in plugin playground viewer
  web/src/app/features/PluginPlayground/Viewer/hooks.ts
Due: web

fix(web): prevent infinite plugin re-initialization loop in plugin playground (#2234)
  web/src/app/features/PluginPlayground/Viewer/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
Due: web

fix(server): always delete DB row on GCS failure to prevent infinite loop
  server/internal/infrastructure/mongo/asset.go
Due: server

fix(server): gofmt import grouping in asset.go
  server/internal/infrastructure/mongo/asset.go
Due: server

chore(web): update core package to 0.0.7-alpha.66
  web/package.json
  web/yarn.lock
Due: web

chore(web): update core package to 0.0.7-alpha.66 (#2235)
  web/package.json
  web/yarn.lock
Due: web

Bump version to 1.0.0-beta.16.7
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.7 (#2236)
  web/package.json
Due: web

v1.0.0-beta.16.7
  CHANGELOG.md
Due: none

chore: bump core version to 0.0.7-alpha.67
  web/package.json
Due: web

chore: update lock file
  web/yarn.lock
Due: web

chore(web): bump core version to 0.0.7-alpha.67 (#2237)
  web/package.json
  web/yarn.lock
Due: web

chore: bump core version to 0.0.7-alpha.68
  web/package.json
  web/yarn.lock
Due: web

chore(web): bump core version to 0.0.7-alpha.68 (#2239)
  web/package.json
  web/yarn.lock
Due: web

Bump version to 1.0.0-beta.16.8
  web/package.json
Due: web

chore(web): bump version to 1.0.0-beta.16.8 (#2240)
  web/package.json
Due: web
