Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

codecov.yml:

coverage:
  status:
    project:
      web-beta:
        target: auto
        threshold: 10%
        flags:
          - web-beta
      web-utils:
        target: 80%
        flags:
          - web-utils
      server:
        target: auto
        flags:
          - server
    patch: off
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
ignore:
  - server/**/*_gen.go
  - server/**/*_test.go
  - server/**/doc.go
  - server/**/testdata
  - server/internal/adapter/gql/generated.go
  - server/main.go
  - server/tools
  - server/tools.go
  - web/**/*.test.ts
  - web/**/*.test.tsx
  - web/**/*.stories.ts
  - web/**/*.stories.tsx
  - web/.storybook
  - web/bin
  - web/src/gql/graphql-client-api.tsx

flags:
  web:
    paths:
      - web
    carryforward: true
  web-beta:
    paths:
      - web/src/beta
      - web/src/services
    carryforward: true
    ignore:
      - web/src/beta/utils
  web-utils:
    paths:
      - web/src/beta/utils
    carryforward: true
  server:
    paths:
      - server
    carryforward: true

validate alias on input change
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
Due: web

pass browser lang when login
  web/src/services/auth/auth0Auth.ts
Due: web, web-beta

improvements
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
Due: web

fix(server): clarify index error messages to name the collection
  server/internal/infrastructure/mongo/migration/260701120000_move_import_status_to_own_collection.go
Due: server

test: improve e2e test for scroll page list to triger load more (#2279)
  e2e/pages/projectsPage.ts
  e2e/pages/recycleBinPage.ts
  e2e/utils.ts
  e2e/utils/constants.ts
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/index.tsx
Due: web

refactor: migrate to zushi
  web/docs/README.md
  web/docs/modules/features/plugin-system.md
  web/package.json
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/index.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/useIFrame.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/utils.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/utils.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/hooks.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.stories.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.test.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/exposedReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
  web/yarn.lock
Due: web

fix: stable the plugin extension
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/index.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/context.tsx
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useExtension.ts
  web/src/app/features/Visualizer/Crust/Plugins/usePluginInstances.ts
Due: web

chore: bump Node.js to 24.18.0 and nginx to 1.30-alpine
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  web/.nvmrc
  web/Dockerfile
Due: web

type: fix type issue
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.test.ts
Due: none

feat(web): show Cesium-ion logo only when Ion assets are in use
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/cesiumIonDetection.ts
  web/src/app/features/Visualizer/utils/index.ts
Due: web

fix(web): address Copilot review comments on cesiumIonDetection
  web/src/app/features/Visualizer/utils/cesiumIonDetection.test.ts
  web/src/app/features/Visualizer/utils/cesiumIonDetection.ts
Due: web

add translation
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/basicGeometry.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/default.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/geojson.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/plateau/index.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/professional.ts
  web/src/app/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presets/types.ts
Due: web

fix(server): validate chunk 0 arrived before completing split upload [REL-01]
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

refactor: optimize the code organization
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

refactor: revert the changes around size control
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
Due: web

refactor(server): rewrite split-upload as offset-write session with encapsulated locking [REL-02, SCA-02]
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

fix(server): guard nil ImportStatus in addMetadatas
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Due: server

fix: register iframe
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/hooks.tsx
Due: web

fix: remove key-based block memoization to prevent coupling plugins & add necessary comments, update docs
  web/docs/modules/features/plugin-system.md
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/index.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/context.tsx
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useExtension.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

fix: modal update
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

fix: reuse collectIframeWindows
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
Due: web

fix: wrap for handle async apis
  web/docs/modules/features/plugin-system.md
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

refactor: refactor based on comments & update docs
  web/docs/modules/features/plugin-system.md
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginAPI.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/hooks/usePluginInstance.ts
  web/src/app/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/index.tsx
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/PluginFrame/useZushiPlugin.ts
  web/src/app/features/Visualizer/Crust/Plugins/hooks/useExtension.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/exposedReearth.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.test.ts
  web/src/app/features/Visualizer/Crust/Plugins/pluginAPI/zushiAdapter.ts
Due: web

fix(server): address review findings on split-upload rewrite
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

docs(server): note SCA-01 deferral rationale on FindAll keyword regex
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): clarify SCA-01 comment does not define the index inline
  server/internal/infrastructure/mongo/project.go
Due: server

docs(server): use real trace data in SCA-01 comment
  server/internal/infrastructure/mongo/project.go
Due: server

fix(web): add allure dashboard landing page to fix 404 at report root
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  e2e/dashboard/index.html
Due: none

fix: update comment
  server/internal/infrastructure/mongo/project.go
Due: server

chore(server): Explain why SCA-01 search fix is delayed [VIZ-DEV-100] (#2292)
  server/internal/infrastructure/mongo/project.go
Due: server

fix(server): enforce chunk size boundaries in writeChunk
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
Due: server

chore: bump up version to 1.0.0-beta.16.12
  web/package.json
Due: web

fix(server): rewrite split-upload session handling [REL-01, REL-02, SCA-02] (#2291)
  server/internal/app/file_split_uploader.go
  server/internal/app/file_split_uploader_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Due: server

fix(e2e): add allure dashboard landing page to fix 404 at report root (#2294)
  .github/workflows/playwright_api_tests.yml
  .github/workflows/playwright_ui_tests.yml
  e2e/dashboard/index.html
Due: none

chore(web): bump up version to 1.0.0-beta.16.12 (#2295)
  web/package.json
Due: web

v1.0.0-beta.16.12
  CHANGELOG.md
Due: none

fix(server): restore scene-permission checks on Style and NLSLayer mutations
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
Due: server

refactor: remove Cesium Ion detection from visualizer side
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/cesiumIonDetection.test.ts
  web/src/app/features/Visualizer/utils/cesiumIonDetection.ts
  web/src/app/features/Visualizer/utils/index.ts
Due: web
