Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

feat(web): Initially hidden the two preset layers in playground (#1615)
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Due: web, web-beta

temp: support delete me
  web/src/beta/features/AccountSetting/index.tsx
Due: web, web-beta

add ProjectImportStatus
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_scene_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/app/file_uploader.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/projectmetadata.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
  server/pkg/id/id.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
  server/pkg/projectmetadata/builder.go
  server/pkg/projectmetadata/projectmetadata.go
  server/pkg/status/Import_status.go
Due: server

update core version
  web/package.json
  web/yarn.lock
Due: web

feat(web): support height for 3d model [VIZ-1597] (#1631)
  web/package.json
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/yarn.lock
Due: web, web-beta

feat: [P-57] Refactor and clean up code across multiple components
  server/pkg/builtin/manifest.yml
  web/src/classic/components/atoms/TreeView/Item.tsx
  web/src/classic/components/atoms/TreeView/Items.tsx
  web/src/classic/components/molecules/EarthEditor/LayerTreeViewItem/Layer/index.tsx
  web/src/classic/components/molecules/EarthEditor/LayerTreeViewItem/index.tsx
  web/src/classic/components/molecules/EarthEditor/OutlinePane/hooks.tsx
  web/src/classic/components/molecules/Visualizer/Widget/Layer/LayerTreeView/hooks.ts
  web/src/classic/components/molecules/Visualizer/Widget/Layer/hooks.ts
  web/src/classic/components/molecules/Visualizer/Widget/Layer/index.tsx
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/classic/components/organisms/Published/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Layer/LayerTreeView/hooks.ts
Due: web, server

update
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/projectmetadataloader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/loader_projectmetadata.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/migration/250529134852_project_metadata.go
  server/internal/infrastructure/mongo/migration/250529134852_project_metadata_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/project_metadata.go
  server/internal/infrastructure/mongo/mongodoc/projectmetadata.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/infrastructure/mongo/projectmetadata.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/projectmetadata.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/project_metadata.go
  server/pkg/project/builder.go
  server/pkg/project/builder_metadata.go
  server/pkg/project/project.go
  server/pkg/project/project_metadata.go
  server/pkg/projectmetadata/builder.go
  server/pkg/projectmetadata/projectmetadata.go
Due: server

applyWorkspaceFilter applyTeamFilter
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/projectmetadata.go
  server/internal/infrastructure/mongo/scene.go
Due: server

xxx
  server/internal/infrastructure/mongo/migration/250529134852_project_metadata.go
  server/internal/infrastructure/mongo/migration/250529134852_project_metadata_test.go
  server/internal/infrastructure/mongo/migration/250530154721_add_project_metadata.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

chore: clean up ref url
  web/vite.config.ts
Due: web

chore(web): clean up ref url (#1632)
  web/vite.config.ts
Due: web

ci: fix remove-revision-tags missing permissions
  .github/workflows/cleanup_feature_revision.yml
Due: none

ci: fix remove-revision-tags missing permissions (#1633)
  .github/workflows/cleanup_feature_revision.yml
Due: none

ci: fix remove-revision-tag triggers
  .github/workflows/ci.yml
Due: none

ci: fix remove-revision-tag triggers (#1634)
  .github/workflows/ci.yml
Due: none

ci: refactor pr-revision tag removal
  .github/workflows/ci.yml
  .github/workflows/cleanup-cloudrun-tag.yml
  .github/workflows/cleanup-pr-revision.yml
Due: none

ci: refactor pr-revision tag removal (#1635)
  .github/workflows/ci.yml
  .github/workflows/cleanup-cloudrun-tag.yml
  .github/workflows/cleanup-pr-revision.yml
Due: none

ci: refactor pr-revision tag removal
  .github/workflows/cleanup-pr-revision.yml
Due: none

ci: refactor pr-revision tag removal (#1636)
  .github/workflows/cleanup-pr-revision.yml
Due: none

ci: refactor pr-revision tag removal (#1637)
  .github/workflows/cleanup-pr-revision.yml
Due: none

hide GA setting
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor get credit
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.tsx
  web/src/beta/utils/value.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta, web-utils

update core version to 0.0.7-alpha.37
  web/package.json
Due: web

chore: update yarn.lock
  web/yarn.lock
Due: web

chore(web): update core version to 0.0.7-alpha.37 (#1639)
  web/package.json
  web/yarn.lock
Due: web

revert implementation
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

feat: enhance Layer component with improved property handling and visibility updates
  web/src/classic/components/molecules/Visualizer/Widget/Layer/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Layer/hooks.ts
  web/src/classic/core/Crust/Widgets/Widget/Layer/index.tsx
Due: web

refactor(web): hide GA settings on project [VIZ-1722] (#1638)
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update package
  web/package.json
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/yarn.lock
Due: web, web-beta

chore(server): adjust to latest reearthx
  go.work
  go.work.sum
  server/e2e/common.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_user_test.go
  server/e2e/seeder.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/auth_server.go
  server/internal/app/auth_server_test.go
  server/internal/app/lang.go
  server/internal/app/lang_test.go
Due: server

ci: utilize reearth/actions/remove-cloud-run-tag
  .github/workflows/build_prepare.yml
  .github/workflows/build_release.yml
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
  .github/workflows/cleanup-cloudrun-tag.yml
  .github/workflows/cleanup-pr-revision.yml
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
  .github/workflows/e2e.yml
  .github/workflows/license_checker.yml
  .github/workflows/playwright_ui_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/reviewer_lottery.yml
  .github/workflows/run_migration.yml
  .github/workflows/stage.yml
Due: none

ci: utilize reearth/actions/remove-cloud-run-tag (#1643)
  .github/workflows/build_prepare.yml
  .github/workflows/build_release.yml
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
  .github/workflows/cleanup-cloudrun-tag.yml
  .github/workflows/cleanup-pr-revision.yml
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
  .github/workflows/e2e.yml
  .github/workflows/license_checker.yml
  .github/workflows/playwright_ui_tests.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/reviewer_lottery.yml
  .github/workflows/run_migration.yml
  .github/workflows/stage.yml
Due: none

ci(web): refactor deploy using tag for PR
  .github/workflows/ci.yml
  .github/workflows/deploy_web_nightly.yml
Due: none

fix: add url outputs
  .github/workflows/ci.yml
Due: none

ci(web): refactor deploy using tag for PR (#1644)
  .github/workflows/ci.yml
  .github/workflows/deploy_web_nightly.yml
Due: none

ci: fix typo in service name
  .github/workflows/cleanup-pr-revision.yml
Due: none

ci: fix typo in service name (#1645)
  .github/workflows/cleanup-pr-revision.yml
Due: none

add output type
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/hooks.ts
Due: web, web-beta

fixed update workspace name
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
