Repository reearth/reearth-visualizer: changes, and which Codecov flags are due for each by the changed paths.
All: web, web-beta, web-utils, server

add debounce and improve functionalities
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/beta/ui/fields/RangeSliderField.tsx
  web/src/beta/ui/fields/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix type issue
  web/src/beta/ui/fields/index.stories.tsx
Due: none

chore: ignore files that dont need type check and remove unused types
  web/e2e/utils/index.ts
  web/eslint.config.mjs
  web/src/types.ts
Due: web

chore: fix typo on screen when no asset appears
  web/src/beta/features/AssetsManager/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

update camera description
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

chore: add prettier package to organize imports
  web/.prettierrc
  web/package.json
  web/yarn.lock
Due: web

fix translation
  server/pkg/builtin/manifest_ja.yml
Due: server

chore: remove any types in files
  web/src/beta/pages/GraphQLPlayground/index.tsx
  web/src/beta/types/sceneProperty.ts
  web/src/beta/utils/value.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/gql/provider/pagination.ts
  web/src/services/i18n/provider.tsx
  web/src/services/theme/provider.tsx
  web/src/services/theme/reearthTheme/common/fonts.ts
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
  web/src/test/utils.tsx
  web/vite.config.ts
Due: web, web-beta, web-utils

refactor: update camera fov and simplify slider component
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
Due: web, web-beta

refactor: remove null
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
Due: web, web-beta

migrate rename CoreSupport to Core
  server/internal/infrastructure/mongo/migration/241122131410_change_core_support.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

fix: clean up camera when unmount
  web/src/beta/features/Visualizer/hooks.ts
Due: web, web-beta

refactor(server): update camera description (#1270)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Due: server

revert migration
  server/internal/infrastructure/mongo/migration/241122131410_change_core_support.go
  server/internal/infrastructure/mongo/migration/migrations.go
Due: server

refactor(web): Add Slider and use in settings (#1266)
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/SliderField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
Due: web, web-beta, server

core to core
  server/e2e/gql_asset_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_storytelling_test.go
  server/gql/asset.graphql
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/published.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/scene.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
  server/pkg/storytelling/story_bulider_test.go
Due: server

feat(server): Add coreSupport to Asset (#1246)
  server/e2e/gql_asset_test.go
  server/e2e/test.csv
  server/e2e/test.png
  server/gql/asset.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
Due: server

fix: amend typo on dropdown
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

refactor: update gql and api hooks for assets coreSupport
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/api/assetsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/asset.ts
Due: web, web-beta

feat(server): query filter coresupport (#1265)
  docker-compose.yml
  server/e2e/gql_project_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/loader_user.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
Due: web, web-beta, server

fix(web): add key prop to fileOutputs mapping in Console component
  web/src/beta/features/PluginPlayground/Console/index.tsx
Due: web, web-beta

refactor(web): fix typo on screen when no asset appears and in settings dropdown (#1269)
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

fix(web): assets query not updated for coreSupport (#1273)
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/api/assetsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/asset.ts
Due: web, web-beta

update links
  README.md
Due: none

update getting started
  README.md
Due: none

fix typo
  README.md
Due: none

fix: fix plugin resize bug
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/useIFrame.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
  web/src/services/state/index.ts
Due: web, web-beta

fix filter bug
  server/internal/infrastructure/mongo/asset.go
Due: server

test
  server/e2e/gql_asset_test.go
Due: none

fix(server): fix filter bug (#1276)
  server/e2e/gql_asset_test.go
  server/internal/infrastructure/mongo/asset.go
Due: server

fix: fix plugin resize bug
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
Due: web, web-beta

updated translation
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

updated translation
  server/pkg/builtin/manifest_ja.yml
Due: server

fix: reset 3d tile styles
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
Due: web, web-beta

ci: remove no need comment for artifact in build-docker-image-step for web
  .github/workflows/build_web.yml
Due: none

ci: remove comment for artifact fetching on Docker web build (#1278)
  .github/workflows/build_web.yml
Due: none

fix(web): rename with visualizer for environment variables
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
  web/docker/reearth_config.json.template
Due: web

feat(web): add onMount handler to CodeInput for cursor position tracking
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
Due: web, web-beta

remove translation
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Due: web, web-beta

Path conditions:
  web: any of: web, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-beta: any of: web/src/beta, web/src/services, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  web-utils: any of: web/src/beta/utils, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
  server: any of: server, but not: server/**/*_gen.go, server/**/*_test.go, server/**/doc.go, server/**/testdata, server/internal/adapter/gql/generated.go, server/main.go, server/tools, server/tools.go, web/**/*.test.ts, web/**/*.test.tsx, web/**/*.stories.ts, web/**/*.stories.tsx, web/.storybook, web/bin, web/src/gql/graphql-client-api.tsx
